[2017-01-12 01:37] grosu opened #1 "`imports => import` and white spaces"
I am playing with the KORE parser.  Specifically, trying to parse the imp.kore at https://github.com/grosu/kore-in-maude/blob/master/imp.kore.

First issue.  I get a parsing error for "import":
[code]
Your syntax seems to be `imports`.  To me, `import` sounds more like a command than `imports`, so I would go with `import`.  If you have reasons for `imports`, please let me know and I will change th

[2017-01-12 02:08] grosu opened #2 "performance"
After a few slight changes to the regex (for example, adding `.` to the symbol syntax), I managed to parse the exact imp.kore that was generated by Maude.  Nice!

I didn't look deep into it, but here is a first comment regarding the performance.  It takes 0.7s to parse an empty definition, while 0.9s to parse a 25,000 lines definition!  Here is how I measured:
[code]

Not bad at all.  I hope we ca

[2017-01-12 02:30] grosu commented on #2
Found the culprit:
[code]
takes 0.5s even for an empty `file`.  This is ridiculously much.  We should find some other ways to read the file.  I'll look into this, because it is fun :)

[2017-01-12 03:14] daejunpark commented on #1
The current (full) K syntax has `imports`, which is only reason why I'm using it. I completely agree that `import` is much better. I can change if you have no concern about the incompatibility with full K.

[2017-01-12 03:15] daejunpark commented on #1
Regarding the parsing white spaces, yes you're right. I'm just ignoring any white spaces. But I guess I need to be more careful when reading keywords or names. I'll fix it.

[2017-01-12 03:23] daejunpark commented on #2
Hmm, that's interesting. You might also want to try to use another Scanner using directly Java. That is, you can use:
[code]
instead of:
[code]

[2017-01-12 04:50] daejunpark commented on #2
Could you push your changes? I guess my fix of white spaces could be conflict to your change.

[2017-01-12 04:59] grosu commented on #2
ok, just pushed them.  nothing major.

[2017-01-12 05:11] grosu commented on #2
That does not seem to make a difference.

[2017-01-18 00:11] daejunpark commented on #1
I close this since the bug was fixed. You can re-open it if you want.

[2017-01-18 00:11] #1 closed

[2017-02-24 19:39] cos opened #11 "Typing for AST interface"
Moving here the discussion about the type constraints on the AST interface as it's easier to track (and code is easier to read).

### 1. The current solution

[code]

Advantages:
 + good separation of concerns (separates AST-related functionality from Pattern-related functionality, allowing AST to be tested separately without "seeing" the Pattern interface)
 + good compatibility with Java (these S

[2017-02-24 19:42] cos commented on #11
@grosu wrote:

I mean what you said in the previous message. It is option 3 above.

[2017-02-24 19:46] cos commented on #11
@grosu wrote:

In terms of Java compatibility, options 1 and 3 are the same, while option 2 has a problem. And yes, option 3 is simpler.

[2017-02-24 22:24] grosu commented on #11
@cos, thanks for doing this.

So, compatibility with Java is critical, because we are not going to rewrite the backend any time soon.  From that point of view, approach 2 falls.  Also, the generality of AST and separation of concerns related to Patterns are really not a big issue here.  Everybody knows that AST can be general and there are libraries for them, etc., but the whole point of our KORE

[2017-02-25 02:01] cos commented on #11
I'm reordering the questions to narrow down the crux of the argument.

Yes, it will be for free if you need it.

Yes, but just in principle -- the the last question.

No, they will not need to add code.

I mean uglier from the perspective of separation of concerns. For analogy, let's consider functions. Their main use (aside from recursive algorithms) is to separate code dealing with a specific is

[2017-04-04 23:07] daejunpark opened #16 "Delete `MiniToTextToMini.scala`"
The `assertequal` method is the only one used by others (`./kernel/src/main/java/org/kframework/kompile/KompileFrontEnd.java` in K),
which can be moved there.

[2017-04-04 23:10] daejunpark commented on #16
@msaxena2 Could you help with this? The thing is that I have no good idea how to implement the Scala's structural equality (`==`) in Java. Or, we can simply put the structural equality operator between Definitions in some util file, and make K depend on it.

[2017-04-14 23:02] cos opened #17 "Doing without `.build` methods"
As we have the `Builders` interface(s), we can easily do without the `.build` methods on `Pattern`s. The purpose of the methods was to facilitate traversals, etc., but we can do that using the `.build` methods directly. So, using Grigore's example for implicit AST, instead of:

[code]

we can use the `Builders` interface like so:
[code]

Regarding the AST view of things, if we are going with impli

[2017-04-18 18:34] grosu opened #18 "Please check the KORE language syntax asap"
There were some inconsistencies in the KORE language syntax that @msaxena2 and I fixed.  We want 100% compliance between the KORE main interface and the KORE language, so we went through both and thus found the inconsistencies in the KORE language.  Please check: https://github.com/kframework/kore/wiki/KORE-Language-Syntax.

[2017-04-18 22:32] msaxena2 commented on #18
@grosu Our fixes to inconsistencies may have also introduced some inconsistencies -
We changed
[code]
to
[code]
But now we have
[code]
With no reference to `Variable`. I guess we could have the following
[code]
But that means our quantifiers don't explicitly mention `Variable` anymore.

[2017-04-18 23:24] grosu commented on #18
Actually it was good originally, I don't know why we changed that one ... since the target language (Scala) is order-sorted/typed, it is OK to regard the special productions of just one non-terminal as subsorts.  I'm going to change it back in a minute

[2017-04-18 23:29] cos commented on #18
In that sense, it may be nice to give each production a sort name which will then correspond to the KORE trait/interface name. This way, all information would be there to generate the Scala/Java definition programmatically.

[2017-04-18 23:39] msaxena2 commented on #18
I think we changed it originally to have consistency with
[code]
I think this is better -
[code]

[2017-04-19 00:22] grosu commented on #18
Fine with me.  @msaxena2 , feel free to go ahead and apply this change consistently (i.e., add sorts `And`, etc.)

[2017-04-21 22:50] grosu opened #20 "Please check KORE language wiki"
Please check this out and report any issues that you may find:
https://github.com/kframework/kore/wiki/KORE-Language-Syntax
@msaxena2 we need to add a link to code once we merge #19
@cos please free to change my terminology for Scala notions if inconsistent.

[2017-04-22 00:25] daejunpark commented on #20
A concern regarding the language syntax grammar. The `RegEx3` should represent the Java String (with escaping characters). Note that it should be enclosed by quotes (`"`).

Not sure though whether we should provide the exact regex for the Java strings, or simply say like:
[code]

[2017-04-24 20:35] msaxena2 opened #21 "Modify Syntax of Kore"
@grosu

[2017-04-24 21:06] cos opened #22 "Convert `Iterable` to `Set` in KORE"

[2017-04-24 21:20] grosu commented on #21
Done.  Please check the KORE language syntax page: https://github.com/kframework/kore/wiki/KORE-Language-Syntax.  Just found that I used `p` and `q` instead of `_1` and `_2`.

@msaxena2, please check that I used the right Scala code and add a link to the code once you merge the pull request.

@cos, it would be nice to add some examples with `List{X}` and `Set{X}`.

[2017-05-03 20:42] grosu commented on #21
Haven't heard from anybody, so closing this issue.

[2017-05-03 20:42] #21 closed

[2017-05-03 20:43] grosu commented on #22
We are not going to do this anymore, so closing.

[2017-05-03 20:43] #22 closed

[2017-05-03 20:49] grosu commented on #20
Thanks, @daejunpark .  Fixed and closing.

[2017-05-03 20:49] #20 closed

[2017-05-03 20:51] grosu commented on #18
This is irrelevant now, so closing.

[2017-05-03 20:51] #18 closed

[2017-05-03 20:52] grosu commented on #17
@cos , please check if there is anything still relevant here; if not, please close.

[2017-05-03 20:52] grosu commented on #16
What's the status of this?  Can we close?

[2017-05-03 20:54] grosu commented on #11
@cos , anything still relevant here, or we can close?

[2017-05-03 20:55] grosu opened #23 "remove unnecessary branches"
Guys, once you merge a branch, please delete it.  We now have 10 branches besides the master.  I know it for sure that some of them are not needed anymore.  Can each of you check and remove your branches if they have been merged?

[2017-05-03 20:59] daejunpark commented on #20
@grosu Thanks. I also fixed another relevant part. https://github.com/kframework/kore/wiki/KORE-Language-Syntax/_compare/a8ccf958e8c93518becfdbfed2bd7928c67c79c5...5ed630ba52bc3c10d403ab237168eb26cb9a0acb

[2017-05-03 21:00] daejunpark commented on #16
No, it is still there.

[2017-05-04 15:51] cos commented on #16
I don't fully understand the problem, but Scala's `==` is an alias for the `equals` method in Java.

[2017-05-04 15:54] cos commented on #11
We made a decision so I think we can close.

[2017-05-04 15:54] #11 closed

[2017-05-04 15:56] cos commented on #17
Yes, we got rid of the `.build` methods. Closing.

[2017-05-04 15:56] #17 closed

[2017-05-06 17:19] cos commented on #23
We're losing track of them a bit. [git-flow](http://nvie.com/posts/a-successful-git-branching-model/) might help keep things clean. @msaxena2 and I will try it for a while and see how it goes. There's a `develop` branch that should contain all work in progress, and we'll merge to master on releases.

[2017-05-06 17:27] cos commented on #16
deleted, we can recover the file from history if necessary.

[2017-05-06 17:27] #16 closed

[2017-05-17 18:26] grosu commented on #23
@cos and @msaxena2 : guys, can you please clean this repo up of unnecessary branches?

[2017-05-17 18:42] msaxena2 commented on #23
@ehildenb @lucaspena @daejunpark - Is there any branch that you guys have relevant work in? If not, I think we can safely delete all branches but master and develop. As @cos suggested, we'd like to have 2 branches - develop and master.

[2017-05-18 17:56] grosu commented on #23
@msaxena2 , @cos : please do so.  Also, in general, let us move faster.  There is no reason why this issue has been here for 15 days.

[2017-05-18 18:17] grosu opened #25 "KORE language page - last call"
Can you guys please take one more final look at the https://github.com/kframework/kore/wiki/KORE-Language-Syntax wiki to make sure it is 100% faithful to the actual Scala code?  I cannot see any differences anymore, but maybe also because I looked at it for so long.  @cos and @msaxena2 , especially you two, please.

[2017-05-18 18:51] msaxena2 commented on #23
@cos , Please delete the other branches. I cannot since I don't have administrative privileges for this repo.

[2017-05-18 18:56] msaxena2 commented on #25
lgtm.

[2017-05-19 05:25] msaxena2 commented on #23
![](https://github.trello.services/images/mini-trello-icon.png) [Cleanup Branches In Kore](https://trello.com/c/02wKZsya/14-cleanup-branches-in-kore)

[2017-05-19 20:09] cos commented on #23
Some time ago I cleaned up my own branches and all branches that had their changes merged.

I didn't trim further as the other branches have unmerged work that's not mine and I'm not sure if it's still useful. @msaxena2, two of the branches are yours. Could you look into them by any chance?

[2017-05-19 20:32] cos commented on #25
lgtm as well

[2017-05-23 14:27] grosu commented on #23
Guys, it is now 3 weeks since I posted this issue.  Get in touch with the people who own those branches and clean them up, please.  Please do it now.  @msaxena2, any reason why you didn't answer @cos' message sent 4 days ago?

[2017-05-23 14:32] msaxena2 commented on #23
@cos all the work that I need is in develop. You can delete the rest.

[2017-05-24 22:54] msaxena2 commented on #23
Closing this issue. All branches in Kore except develop and master have been deleted. Just to be on the safer side, I still have a fork with the old branches. If you guys think that some useful work may have been deleted from the main repo, let me know, and we can revive it.

[2017-05-24 22:54] #23 closed

[2017-05-30 14:32] grosu opened #26 "revise KORE language syntax"
As soon as PR #24 is merged, please revise the KORE language syntax wiki and fix the
`(ADD LINK TO CODE)` thing.

[2017-05-30 14:34] grosu commented on #25
@lucaspena , @ehildenb , @hreada : can you please revise this page as well?

[2017-05-30 14:36] grosu commented on #26
![](https://github.trello.services/images/mini-trello-icon.png) [Revise and fix KORE language syntax page once PR #24 is merged.](https://trello.com/c/9fu8xcwS/22-revise-and-fix-kore-language-syntax-page-once-pr-24-is-merged)

[2017-05-30 14:48] ehildenb commented on #25
Looks like it corresponds to the Scala code to me as well.

[2017-05-30 15:02] lucaspena commented on #25
It looks like a 1-1 correspondence to me as well. The only difference I see
is that sometimes in the scala code we use `Seq{X}` whereas in the text we
use `Set{X}`. I remember discussions earlier why we're using sequences in
the scala code, but is there a reason we're not also using sequences in the
same place in the textual core when applicable?

On Tue, May 30, 2017 at 9:48 AM, ehildenb <notific

[2017-05-30 15:05] grosu commented on #25
@lucaspena , the Wiki page contains this text:
[code]
Isn't this a good enough explanation?

[2017-05-30 15:09] grosu opened #27 "Why so many whitelines?"
Is there a specific Scala style where they recommend whitelines between `def` members, like in the code below?
[code]
If not, I would suggest that we get rid of these whitelines, so the code looks more compact and easier to read.

[2017-05-30 15:12] cos commented on #27
There's no standardized convention, afaik. I don't quite like them either, but it's the default style in IntelliJ. We can decide to change it but then we'll have to make sure people contributing code will use the updated format, i.e., configure IntelliJ to load our format file.

[2017-05-30 15:14] lucaspena commented on #25
Ok I missed that when looking over it. That's clear.

On Tue, May 30, 2017 at 10:05 AM, Grigore Rosu <notifications@github.com>
wrote:

--
Lucas Peña
University of Illinois at Urbana-Champaign
lucaspena13@gmail.com
(954) 882-7070

[2017-05-30 17:24] grosu commented on #27
If it is the default IntelliJ style for Scala, then I think we should keep it as is.  But what happens if we remove the whiteline by hand?  Do we get any IntelliJ formatting error or warning?

[2017-05-30 17:28] cos commented on #27
There would be no warnings for formatting. It's just that if anyone automatically reformats the entire file (via a shortcut) it will move many things around. In general, it can be a good idea to keep things automatically formatted so that we have minimal merge issues related to formatting only.

[2017-05-30 17:31] grosu opened #28 "Consistency checks"
We have to implement a consistency checker for KORE definitions.  Let us use this issue as a start of the discussion, to brainstorm a bit for what kind of checks we need.  Once we have enough material here, I will add them to the KORE language page.  Here are a few:
1) never use a symbol that was not declared
2) each symbol must be declared precisely once on any given module import path
3) always

[2017-05-30 17:37] msaxena2 commented on #27
I tend to use intellijs autoformatting quite a bit. If we want to remove
the whitespace, I'd prefer to just put the intellij's settings file under
version control.

On 30 May 2017 12:29 pm, "Cosmin Radoi" <notifications@github.com> wrote:

There would be no warnings for formatting. It's just that if anyone
automatically reformats the entire file (via a shortcut) it will move many
things around. In

[2017-05-30 21:11] grosu commented on #27
I think it is easier to just leave it as is.  People may use other editors, too.  So I'm closing this.

[2017-05-30 21:11] #27 closed

[2017-05-30 21:13] grosu commented on #28
5. Import only defined or pre-defined modules.
6. Use only declared sorts.

[2017-05-31 10:31] radumereuta commented on #28
7. No circularities allowed in subsorts, module imports and priorities.

[2017-05-31 10:34] grosu commented on #28
Thanks, @radumereuta , good points.  I would move the priorities as additional consistency checks for the frontend or for specific backends.  KORE itself is not going to care about syntax.  So:

7. No circularities allowed in subsorts and module imports.
7-x. No circularities allowed in priorities (to be checked by specific frontends/backends)

[2017-05-31 15:45] msaxena2 commented on #28
Do we allow for duplicate module imports? Or does it just follow from each symbol must be declared precisely once on any given module import path that each module can be imported only once?

So if B imports C, and A imports B, then A cannot import C, right?

[2017-05-31 17:50] grosu commented on #28
A can import C, too, no problem, same like in other languages (Maude, for example).  This is not only more general, but also necessary.  For example, suppose that you import both NAT and FLOAT in your module M.  But both NAT and FLOAT will likely import BOOL.  According to rules 2 and 6 above, each symbol / sort can only appear once on any path, so the frontend is expected to qualify symbols with

[2017-06-06 11:43] grosu commented on #28
I want to close this issue by the end of today,

Every member of the K team: please read the above and add your comments, either saying that you cannot think of any other checks or suggest some additional checks based on your experience with K so far.

@daejunpark @cos @msaxena2 @lucaspena @ehildenb @bmmoore

[2017-06-06 17:07] daejunpark commented on #28
The list looks good to me. I cannot think of any other checks.

[2017-06-06 17:24] msaxena2 commented on #28
Lgtm. No other checks come to mind.

[2017-06-07 02:50] grosu commented on #28
@cos , @lucaspena , @ehildenb , @bmmoore , @hreada , @chathhorn : guys, please take a look.  I will close this issue first thing in the morning tomorrow and create tasks to implement checkers for the above.  Then I will assign the tasks to those who answered last.  :)

[2017-06-07 05:19] lucaspena commented on #28
Yea, these all look good to me. I can't think of any others off the top of
my head.

On Tue, Jun 6, 2017 at 9:50 PM, Grigore Rosu <notifications@github.com>
wrote:

--
Lucas Peña
University of Illinois at Urbana-Champaign
lucaspena13@gmail.com
(954) 882-7070

[2017-06-07 06:30] cos commented on #28
Sorry, I will probably have a few things to add to the list, but didn't know we'll close the issue soon and didn't have time to look into it today. If we're aiming for a comprehensive list, I'll have to go through the frontend code and the compiler to see what's missing. Is it ok if we're making the current list into tasks and I'll add a task for myself to look for more?

[2017-06-07 10:50] grosu commented on #28
What you said is important, @cos.  Since several of us are traveling, let us extend this until Thursday at 23:59CST.

[2017-06-07 13:44] ehildenb commented on #28
I can't think of a reason to disallow nested rewrites in general. Once it's switched to ML-next operation (instead of rewrite), it seems that we should allow arbitrarily nested next operations because they are just an added symbol. In models it just becomes a predicate between tuples of states, so at least on the *specification* side (perhaps not as much on the definition side), it makes sense to

[2017-06-16 00:33] cos commented on #28
2. There is an entire set of rules for symbol and sort name qualification -- we'll have to clarify where that happens; does KORE expect names to be qualified? does it qualify names automatically? This is a significant and well-tested part of the frontend, so we I think we should reuse it.
8. Modules have unique names (obvious, but it happens)

[2017-08-06 04:50] derekelkins opened #29 "Incorrect handling of \u breaks Unicode identifiers."
This was using master for kframework/k at commit 3a4eb22149c3a7b2bdfade69109330c463e3f843 (the latest as of now).

If you use Unicode in syntax declaration as in the below example, it will kompile and kast will correctly parse, but when you krun it fails parsing kore.txt. The issue is TextToKore incorrectly parses Unicode escape sequences.

[code]

Example input: `λy.(λx.λy.x y)y`

I changed `Text

[2017-08-10 13:36] nishantjr opened #30 "Version numbers should be monotonic"
The `develop` branch is ahead of `master` by several commit.
`master` is at version `1.0-SNAPSHOT`, but `develop` is at `0.6-SNAPSHOT`.

I think we should correct the version of `develop` to `1.1` or `1.0.1`.

[2017-08-10 13:37] nishantjr commented on #30
@cos @msaxena2

[2017-08-10 14:36] cos commented on #30
yes, and we've been using it for quite a while, so let's merge into master soon.

[2017-08-10 14:40] cos commented on #30
it will be a bit involved as there are quite a few changes, we have to make sure everything is clean, and make sure K is building using it

[2017-08-10 14:41] cos commented on #30
@nishantjr, could you take the lead on this?

[2017-08-11 14:44] nishantjr commented on #30
@cos I don't think that I'm the best person to review changes  because I'm not familiar with the code base. If tests are passing under the CI, wouldn't that be enough?

[2017-08-11 14:57] cos commented on #30
@nishantjr, I meant open a PR and follow through to its merge, making sure the code is clean and all parties are happy with the code. we aim to keep kore minimal and very clean, so all tests passing is not enough.

[2017-08-11 15:31] nishantjr commented on #30
@cos, Could you take a quick look at `njr/cleanup` and let me know if those can be brought into `develop` before I make the PR

[2017-08-15 19:05] ehildenb commented on #30
@nishantjr can this be closed now with the new `develop-rebased` branch?

[2017-09-13 19:04] nishantjr commented on #30
Sorry, didn't see your message @ehildenb

[2017-09-13 19:04] #30 closed

[2018-03-30 16:54] ehildenb opened #81 "Table of contents in semantics of Kore document"
Would be helpful for quickly getting to a section.

[2018-04-19 18:12] hreada commented on #81
This issue is fixed by commit 2de2c24452a8e9694a6aed3d326e390f1c56899f

[2018-04-19 18:12] #81 closed

[2018-04-19 18:14] hreada commented on #28
This issue is closed because it's already outdated.

[2018-04-19 18:14] #28 closed

[2018-04-19 18:27] #2 closed

[2018-04-19 18:27] #25 closed

[2018-04-19 18:27] #26 closed

[2018-04-19 18:27] #29 closed

[2018-04-29 15:04] radumereuta opened #94 "Missing location information from error when unexpected sort"
Input:
[code]
output:
[code]
The problem: `"-15"` was supposed to be `\dv{Int{}}("-15")`, but I had to find out by removing parts of the term and trying to parse.
This example can be minimized further, but I chose to leave it like this so it becomes more clear why we need location information everywhere.

Version used: 0e9818a (latest master)

[2018-05-03 20:38] radumereuta opened #97 "Wrong duplication error?"
Input:
[code]
Output:
[code]
I don't think there should be an error here. The modules are not connected.
Plus, the message is missing location information.
In the java implementation of K, we had a rule - every error message related to the input, had to have location information (line and column).

[2018-05-07 11:02] radumereuta opened #98 "kore-parser should return error codes, and print errors on stderr"
I'm trying to build automatic testing for some examples I'm generating, but I have no way of knowing if parsing passed since the Haskell tool always returns 0, and prints error messages on stdout. It does work for parsing errors when unexpected characters, but for arity errors, it doesn't.
[code]
Output:
[code]

[2018-05-07 15:07] virgil-serbanuta commented on #97
I agree with the missing location information issue, I'll try to fix it. However, that's an actual error, see section (9.1.8 Wellformedness) in
https://github.com/kframework/kore/blob/master/docs/semantics-of-k.pdf:
[code]

The reasoning behind that (or, at least, my guess about it) is that there should be a topmost module which imports everything (directly or not), and the two identical names wil

[2018-05-07 15:09] virgil-serbanuta commented on #97
BTW, please close this issue if the above answers your question.

[2018-05-07 15:47] virgil-serbanuta commented on #98
Could you provide reproduction steps?

It seems to me that the kore parser (the master branch) returns an error code (blank line added for readability):

[code]

Also, error messages are printed on stderr:

[code]

[2018-05-08 11:37] radumereuta commented on #98
You are correct. It was a bug in my code.
Sorry for the noise.

[2018-05-08 11:37] #98 closed

[2018-05-08 18:18] hreada commented on #97
The design principle of Kore is that it should clearly reflect the underlying matching logic theories, so no overloading of anything sorts or symbols. However, this doesn't mean that we apply the same principle on K syntax. Notice that many Kore definitions will be auto-generated from K definitions by K frontends, and frontend should make sure that all overloading is resolved in the generated Kore

[2018-05-11 08:26] radumereuta commented on #94
Input:
[code]
Output:
[code]
Tested with: ac7f469

[2018-05-23 14:49] MrChico opened #108 "Unclear section un definedness in documentation"
I don't know if this is a "user problem", but this section is pretty hard for me to understand:
<img width="746" alt="screen shot 2018-05-23 at 16 44 31" src="https://user-images.githubusercontent.com/8930559/40431896-aa434766-5ea8-11e8-92ad-0998fe15ff58.png">
Am I supposed to just infer how ρ extends for these symbols? Why are there two sorts at play here? Also, later in the section about equalit

[2018-06-05 19:34] radumereuta commented on #94
A kindly reminder that I need this.
I just got an error that looks like this:
[code]

I'm just going to go to bed now :)

[2018-06-15 08:08] virgil-serbanuta commented on #108
Here's my take on it, maybe @hreada will add some of these to the document, if they are not already there:

1. Why two sorts: Because the definedness symbol produces predicates, i.e. things that are either "true" or "false" (assuming that, for a given sort s, you identify the empty set with false and the entire Ms set with true), and it is useful to combine predicates that work with different sort

[2018-06-15 08:21] radumereuta opened #123 "kore-parser needs --version"
This should be fairly easy to add.
Working with multiple versions and switching from one branch to another can get confusing sometimes.
This should allow you to make sure you are working with the correct version.
As a reminder, this is how we used to do it for K:
[code]

[2018-06-15 15:13] ehildenb commented on #108
Here is an example of why you would want two sorts:

The following program (of sort `Stmt`, with logical variable `V0`) has a potetential division by zero error:

[code]

We would like to restrict to cases where division by zero is not possible

[code]

But Matching Logic operator `/\` has to have the same sort on both sides, because it corresponds to set intersection.

So we do `|V0 > 0 == true|_

[2018-06-19 03:59] MrChico commented on #108
Yeah, after Grigores presentation on matching logic the other day, this makes a whole lot more sense. Regarding definedness though, iirc the crucial part necessary to show that \overline\rho(\varphi) is either true or false was the axiom that \overline\rho(x) holds for all variables

[2018-06-26 20:10] njohnwalker commented on #123
This feature is now in the master branch, I made some slight changes to the version string, and the "K framework version _________" does not yet work, but it doesn't seem like we are tracking version changes like that yet anyway.  Let me know what you think

[2018-06-27 08:30] radumereuta commented on #123
[code]
Looks great. #127 did the job. Thanks.

[2018-06-27 08:30] #123 closed

[2018-06-27 12:44] traiansf commented on #94
@radumereuta is this still an issue for you?

[2018-06-27 13:01] radumereuta commented on #94
I find it strange that you attach location information of the parametric sort instead of the actual parameter child.
Anyway, it's better than before. I can close in on errors much easier now.

[2018-07-08 23:08] Didericis opened #138 "How does this compare to MetaMath?"
I’m not sure if you’re aware of [MetaMath](http://us.metamath.org), but it’s a small language for expressing and verifying mathematical proofs. I heard about K on a podcast recently and it sounded similar, but the discussion was about using K for software verification, not pure mathematics. Would it be silly to use K like MetaMath to verify proofs, or is that a valid use case?

I’m very new to thi

[2018-07-12 18:39] ttuegel opened #141 "Missing test coverage"
Jenkins produces a [coverage report](https://office.runtimeverification.com/jenkins/job/kore-pull-request/Coverage_20Report/) for each pull request. Unfortunately, Jenkins also mangles the marked-up source output, so if you need to work on one of these modules you will need to make your own coverage report. The most useful metric is expression coverage. (Top-level definition coverage is artificial

[2018-07-12 19:30] ttuegel opened #142 "Missing language-kore documentation"
These modules and declarations are missing API documentation. I have tagged module maintainers or authors as I found them. Please update your documentation and/or decide if modules and declarations should be exported.

### Data.Kore.AST.MetaOrObject
@traiansf

- [Meta](https://github.com/kframework/kore/blob/55f89f0e5fb51fcecefe80476b7f1a954248e799/src/main/haskell/language-kore/src/Data/Kore/AST/

[2018-07-12 19:39] ttuegel opened #143 "Missing matching-logic documentation"
These modules and declarations are missing API documentation. I have tagged module maintainers or authors as I found them. Please update your documentation and/or decide if modules and declarations should be exported.

### Kore.MatchingLogic.Error
@virgil-serbanuta

- [mlFailWhen](http://github.com/kframework/kore/blob/55f89f0e5fb51fcecefe80476b7f1a954248e799/src/main/haskell/matching-logic/src/Ko

[2018-07-13 16:43] virgil-serbanuta commented on #141
I'd argue that a coverage of 50% for modules with only 14 lines of code might not be that bad, and it will not change the overall coverage, but I'll try to improve it regardless.

[2018-07-16 17:24] ttuegel commented on #141
This was the take-away from my conversation with Brian. Enforcing 100% coverage absolutely is probably not a good idea because it encourages us to write many tests without thinking just to check the "test coverage" box. Instead, we should take a hard look at each piece of code and think about its failure modes. If adding tests to a particular piece of code is not high-value, then make a note of th

[2018-07-27 14:43] ttuegel commented on #141
I am closing this issue; the resolution is that test coverage is an item on the review checklist now, and I will update the team on test coverage at the weekly meeting.

[2018-07-27 14:43] #141 closed

[2018-07-27 16:24] bmmoore opened #163 "PolyKinds shouldn't be on by default"
Apparently I was using the wrong extension, if KindSignatures suffices.
We have enough types with unused type parameters that we shouldn't turn on PolyKinds and silently change their meaning.

[2018-07-27 18:19] ttuegel commented on #163
Actually, the GHC documentation is unclear about this. It seems that `PolyKinds` is required for polymorphism itself and not just inference. Unfortunately, there seems to be no way to have polymorphism and disable inference, so I'm not sure what we want to do.

[2018-07-31 11:00] radumereuta opened #167 "Exponential behavior when parsing shared term"
I have this kore file: https://github.com/radumereuta/k-light/blob/evenLighter/src/test/k/unparametric_examples/imp/imp-rules.kore.info (about 300kB - the result of parsing IMP rules, with lots of sharing in them).
Sometime between June 6 and July 7 there has been a change which makes kore-parser take a HUGE amount of time to run (stopped it after 10 minutes).

[2018-07-31 13:56] virgil-serbanuta commented on #167
1. Did you mean to point to another kore file? imp-rules.kore.info seems to be ~120k (github says `
1638 lines (1625 sloc)  122 KB`).
2. Please provide reproduction steps. Here is what I tried:
[code]

[2018-07-31 14:05] #163 closed

[2018-07-31 15:09] radumereuta commented on #167
1. That is the correct file. I estimated the size wrong. It's 122k
2.  A while back:
Version: ba56dd7 Jun 6
Usage: `kore-parser imp-rules.kore.info > imp-rules.out`
Time: 600 ms
Size of out file: ~8MB

Now:
Version: 9012a89
Usage: `kore-parser imp-rules.kore.info > imp-rules.out2`
Time: stopped it manually after ~5 minutes
Size of out file: ~25MB

Now that I know of the no print option, I guess I

[2018-07-31 15:10] traiansf commented on #167
@u-- @ttuegel could this be due to using the pretty printer?

[2018-07-31 15:57] virgil-serbanuta commented on #167
@dfilaretti It seems that commit 6f5785df0e5ec488d9aed153513653a0ca5746fc introduced the issue.

[2018-07-31 16:41] traiansf commented on #167
I'd bet it might be due to the change from
[code]
to:
[code]
It seems such a benign change, though :-)

[2018-07-31 17:36] njohnwalker commented on #167
Ignore that reference, sleep deprived.  I checked @traiansf 's suggestion; it is the issue.

[2018-07-31 18:38] virgil-serbanuta commented on #167
We should have a performance test that runs the kore-parser tool on several inputs...

[2018-07-31 19:14] bmmoore commented on #167
@traiansf That changes from using Show to using prettyPrintToString. It looks like that just exposed an existing performance problem with prettyPrintToString.

[2018-08-01 13:48] virgil-serbanuta commented on #167
Commenting the last line in `betweenParentheses` changes the run time from 17 min to 4 min (on my computer). To be clear, I was going from this
[code]
to this
[code]

[2018-08-01 13:54] virgil-serbanuta commented on #167
The correct long-term solution is to fix `prettyPrintToString`. Right now the performance is acceptable for small files and we have a fix when processing large files (i.e. to use `--no-print-definition`), so we could leave it as-is until the proper solution is in place.

Does anyone object?

[2018-08-01 13:56] radumereuta commented on #167
I'm already using the no-print option, so I'm ok for now.

[2018-08-01 15:31] bmmoore commented on #167
PR #169 improves my time to parse and print that test file from 10 minutes to 1 second.

[2018-08-01 18:07] #167 closed

[2018-08-10 19:01] bmmoore commented on #143
This issue is obsolete after merging the packages.

[2018-08-10 19:01] #143 closed

[2018-08-10 19:02] bmmoore commented on #142
This issue is obsolete after merging the packages.

[2018-08-10 19:02] #142 closed

[2018-11-15 15:57] traiansf opened #331 "Implement Hook for bitRangeInt"
this is needed by the EVM semantics

[2018-12-06 20:24] ehildenb opened #356 "Unifying map key from a list fails on an all-concrete configuration"
Machine I'm running on:

[code]

Steps to reproduce:

[code]

Output I'm getting (only for the final command invoking `./kevm`): https://gist.github.com/ehildenb/6746556e1b10a7c12544211228beb62f

[2018-12-06 20:34] ttuegel commented on #356
Off the top of my head, we usually see that "Unexpected non-false predicate" error when unification generates a predicate that we don't know how to simplify.

[2018-12-06 22:07] ehildenb commented on #356
Ok, I've narrowed this down to a simpler test-case, here is the K definition:

[code]

Here are 3 test cases (all 3 fail with crashes):

Empty list passed to `finalize`:

[code]

1-element list passed to `finalize`:

[code]

2-element list passed to `finalize`:

[code]

Can either of @ttuegel or @u-- reproduce, and then assign someone to this bug? This is blocking  KEVM from working on the Haskell

[2018-12-06 22:13] ehildenb commented on #356
If you've already copied it down since the last post, I had to make one small change, so re-copy it down. Here is some expected output:

Empty list passed to `finalize`:

[code]

1-element list passed to `finalize`:

[code]

2-element list passed to `finalize`:

[code]

[2018-12-07 17:09] ehildenb commented on #356
@traiansf I've tested on several setups, on Arch with z3 updated or not I get crashes, on Ubuntu with z3 updated or not I get seemingly infinite loops.

Steps (note the use of branch `ehildenb`):

[code]

Note that this command just runs the program, but doesn't compare the output. This is on latest master kore.

[2018-12-10 10:15] dfilaretti opened #364 "Use of `[owise]` in IELE is getting computation stuck"
In particular, this happens with `#parseByteStack` (defined in `data.md`).

The original definition is the following:

[code]

and it appears the `[owise]` in the last rule prevents it from making progress.

As a temporary fix, I replaced `[owise]` with the explicit side-condition (`requires (I =/=Int LEN)`) and this seems to work.

Notice that I observed this behavior indirectly, by first noticin

[2019-01-11 16:39] ttuegel opened #404 "refund_CallA_d0g0v0 test is broken"
The `refund_CallA_d0g0v0` test from [evm-semantics](https://github.com/kframework/evm-semantics) is broken; it seems to enter an infinite loop after `--depth 14`. The output from the Haskell backend at that step is attached, along with the output from the Java backend at the corresponding step.

#### Logs
[haskell.14.log](https://github.com/kframework/kore/files/2750405/haskell.14.log)
[java.13.lo

[2019-01-11 16:43] ttuegel commented on #404
One thing I am very suspicious about is the escape sequences in the Haskell log, which look like `\x0316` compared to `\xce` (from the Java log). It appears that an octal escape sequence is being incorrectly prefixed with `\x`; note that `0o0316 == 0xCE`. We should first rule out that this is a display issue.

[2019-01-14 16:26] ttuegel commented on #404
Replacing the octal-escape in the output from the Haskell backend with a `\u____` escape does fix the output from the frontend. I'm not sure if this is a display bug in the frontend, or an actual logical bug.

[2019-01-14 16:30] ttuegel commented on #404
There must be an actual bug in the handling of octal escapes between the backend and frontend, because replacing the octal output with `\u____` allows the Haskell backend to continue until it fails with
[code]

[2019-01-14 16:32] ttuegel opened #408 "Missing hook: KRYPTO.ecdsaRecover"
Discovered while debugging #404.

See also: [Trello](https://trello.com/c/TQzdoX6w)

[2019-01-14 16:35] ttuegel opened #409 "Mishandled octal escape sequences"
When the backend outputs an octal escape sequence such as `\316`, the front-end displays `\x0316`, which is the escape `\x03` followed by two characters `16`; the correct output is `\xce`. I am not sure if the bug is in the backend or the frontend, but changing the backend to output Unicode escapes (`\u00ce`) avoids the issue entirely. (The Java Language Specification recommends to [avoid octal es

[2019-01-14 16:37] ttuegel commented on #409
@traiansf Should I try to track this bug down so that octal escapes work between the frontend and the backend, or should we just use Unicode escapes? I can also update _The Semantics of K_ to be explicit about the escapes we recognize.

[2019-01-14 16:41] traiansf commented on #409
I think that the decision to use C strings was just picking up something, so I would be ok to using Java strings (I think that we want to support things like \n), or something similar. You should confirm this with Dwight and Xiaohong, though.

[2019-01-14 18:19] dwightguth commented on #409
I'm fine with whatever escape syntax we choose as long as it's one of the ones that the K frontend already supports.

[2019-01-14 21:00] ttuegel commented on #409
@dwightguth @hreada @traiansf
I would like to propose that Kore support only the Java shorthand escapes:
[code]
the UTF-16 escapes `\uhhhh` and UTF-32 escapes `\Uhhhhhhhh`.

I think we should reject the octal escapes because they don't seem to be handled correctly now, and even Java admits they were a bad idea. The Haskell backend also recognizes these escapes from C which are not supported in the

[2019-01-14 21:02] ttuegel commented on #408
Public key recovery is implemented in the Java backend [here](https://github.com/kframework/k/blob/605c1e56f831ed76c98398e9fe544bfbab06c326/java-backend/src/main/java/org/kframework/backend/java/builtins/crypto/ECDSARecover.java#L236). We have the primitives available from the [`cryptonite`](https://www.stackage.org/lts-13.3/package/cryptonite-0.25) library in the Haskell backend, but we will need

[2019-01-14 21:21] ttuegel commented on #408
The decoding of the hooked function's arguments is described [here](https://github.com/kframework/k/blob/605c1e56f831ed76c98398e9fe544bfbab06c326/java-backend/src/main/java/org/kframework/backend/java/builtins/BuiltinCryptoOperations.java#L106).

[2019-01-24 15:03] ttuegel opened #427 "Missing hooks: BOOL.andThen, BOOL.orElse"

[2019-01-24 18:58] #409 closed

[2019-01-24 22:49] #427 closed

[2019-02-12 20:55] #408 closed

[2019-02-12 20:56] #404 closed

[2019-02-21 14:56] traiansf opened #468 "SMT not simplifying predicate with uninterpreted functions."
Steps to reproduce:

On branch https://github.com/kframework/kore/tree/prove-issue-1  (PR #456)

[code]

currently fails with the following output.
[code]

Note that the condition is unsat.  However, the SMT fails to refute it, returning `Nothing`

[2019-02-21 15:43] ttuegel commented on #468
@u-- We have unit tests for `P ∧ ¬P`, but it would be useful to add cases where `P` contains uninterpreted functions.

[2019-02-21 16:05] traiansf commented on #468
Here is not exactly `p /\ ~p` but Presburger arithmetic should render it unsat.

[2019-05-23 20:49] ttuegel opened #665 "Partial function evaluation"
Sometimes the backend gets stuck when a function's definition is partial, even if the ambient constraints would restrict to the cases where the function is defined.

There is an example on [my branch](https://github.com/ttuegel/kore/tree/example-partial-function/src/main/k/working/functions):

`functions.k`:
[code]

`positive-spec.k`:
[code]

The function `positive` is only partially defined, but

[2019-05-23 20:51] ttuegel commented on #665
The reason we do not eagerly expand `partially` is that—absent proof that its definition is complete in context—it tends to blow up.

[2019-05-24 19:58] #108 closed

[2019-05-24 19:58] #94 closed

[2019-05-24 19:59] #97 closed

[2019-05-24 21:35] ttuegel commented on #665
Re-enabling function remainders solves this problem and improves performance by attempting each function evaluation only once. However, disabling function remainders also allows recursive functions like this one to work:
[code]
Now (on my branch) this function loops indefinitely with symbolic input, e.g. in this spec,
`length-spec.k`:
[code]
I think we need to disable eager function evaluation ent

[2019-05-26 19:29] ttuegel opened #672 "Axioms admit more transitions than intended"
The encoding of K rules into Kore axioms admits more transitions than intended.

#### Notation

`∅` is the null `Set`
`{ x₁, x₂, ... }` is the `Set` of elements `x₁`, `x₂`, ...
`_∪_` is the usual `Set` union symbol
`_∈_` is the `Bool`-valued `Set` membership predicate

### Problem

Consider the axiom
[code]
where `φ(S)` is an arbitrary pattern in which `S` occurs free. This axiom is would be gener

[2019-05-27 14:23] virgil-serbanuta commented on #665
That's reasonable, but we must be a bit careful, expanded functions may also be useful to, say, the SMT solver. It might be a good idea to generalize this to "evaluate when needed" (though that might be somewhat harder to implement than ). By-need evaluation might or might not include printing the output at the end of the program (which makes sense for normal execution, maybe also for symbolic exe

[2019-05-27 14:31] virgil-serbanuta commented on #672
I'd have said that the semantics must be changed in order to be compatible with Matching Logic and the `_∪_` semantics, not with the Haskell backend, since the backend just implements ML... Or that the frontend must translate the user intent in proper ML/kore formulas, including the `x ∉ S` precondition, if that makes more sense.

[2019-05-28 13:52] ttuegel commented on #665
You're right, "when needed" is more complicated than just "during unification". I think I would like to work around that for now by adopting a simpler solution for this problem, which I will describe below.

Aside: I've been working on a blog post about lazy evaluation in Haskell, where "when needed" is exactly "during unification (pattern matching)", so I was only thinking about the pattern-match

[2019-05-28 19:19] ttuegel commented on #672
@virgil-serbanuta I agree with your characterization (the user needs to express their intent more logically), but as a practical matter, this is only an issue for the Haskell backend because none of the other backends support non-deterministic unification.

[2019-05-28 20:00] nishantjr opened #677 "Multiple uses of existential/question-mark variables in function definitions do not work as expected"
Minimal example below:

[code]

Expected output is

[code]

[2019-05-29 16:16] virgil-serbanuta commented on #677
Summary: at first sight, it seems to be both a frontend issue (universal quantification instead of existential) and a backend issue (i.e. not renaming conflicting variables). I think that we implicitly assumed existential quantification for new variables in rules (assumption that should go away at some point, I guess), so the main problem should be in the backend.

The `rule foo(N) => ?_:Int : foo

[2019-05-29 16:20] virgil-serbanuta commented on #665
In Haskell, doesn't "when needed" include printing, or is that also done through pattern matching? To be precise, printing a string may involve pattern matching, but it does not seem obvious that transforming an int to a string for printing involves pattern matching.

[2019-05-29 18:16] ttuegel commented on #677
@virgil-serbanuta Ah, I realized what the problem is! One of the first things we do when we apply a rule is rename all the rule's implicitly-quantified variables so they do not conflict with any variables in the configuration. But, when we apply a function rule, we only apply the rule to a sub-term, so we cannot see all the variables in the pattern! One solution would be: any time we introduce a v

[2019-05-29 18:26] ttuegel commented on #665
When you do something like `putStr a` where `a = show (5 :: Integer)`, `putStr` is doing something like, `case a of { x : xs -> putChar x >> print xs; [] -> return ()}`. The runtime system enters the thunk of `a` and executes until it gets to the first constructor in the string (list). `putStr` is probably not a great example because there is going to be some extra interaction with foreign code (t

[2019-05-29 18:47] ttuegel opened #681 "What is a sort injection?"
What is a sort injection?

Given these syntax definitions,
[code]
the sort `A` in Kore contains the constructor `A`, and we have subsort axioms for injections of  `inj{BC, A}(B)` and `inj{BC, A}(C)`.

**Q1(a)**: Are these injections in the image of some constructor, or are they themselves constructor-like?

**Q1(b)**: If the injections are in the image of some constructor, which constructor?

The

[2019-05-29 20:24] ttuegel commented on #665
Following a suggestion by @ehildenb, I also tried modifying function evaluation so that it will not narrow function patterns. This also effectively prevents the infinite recursion. It also breaks a few unit tests that were using narrowing on function definitions to test having multiple function results. If function symbols are supposed to be single-valued, I don't know if we should be returning mu

[2019-05-29 20:29] #331 closed

[2019-05-30 07:33] xc93 commented on #681
These injections are constructor-like. The set of all constructors of sort `A` contains the terminal `A` and the injection `inj{BC, A}`. This means that when stating the (No Junk) axioms, we need to take the injection into account. In addition, these injections are also injective functions.

In terms of (No Confusion), I can see why it is a more tricky issue. Because injections need to satisfy the

[2019-05-30 11:47] virgil-serbanuta commented on #677
I agree with this in principle, but we should be a bit careful: existential quantifiers could become universal when lifting in predicates (in theory, they could become universal in terms, too), we can't change the quantifier order, and we can only remove existential ones at the top. So, in cases where lifting would produce an universal quantifier at the top, it might be better to leave the existen

[2019-05-30 13:06] virgil-serbanuta commented on #665
1. I don't care about functions returning multiple results, but I do care about function evaluation splitting a single result into multiple branches.

2. "we can use matching instead of unification for function rules, which could be much faster" - I keep hearing this and I keep explaining why it's likely not true for our backend (except, perhaps, as some missed optimization case that could be quic

[2019-05-30 13:45] ttuegel commented on #681
This is only easy if there is no overloading! If one of the constructors in the higher sort overloads a constructor in a lower sort, what should be the "no confusion" axiom? Or even worse: what should be the "no confusion" axiom if a constructor in a higher sort overloads one of many constructors in a lower sort?

[2019-05-30 13:50] xc93 commented on #681
Yes. You are right on that. It's only easy, I guess, if there's no overloading; and if there is, then it is only easy if both constructors are normal constructors.

[2019-05-30 13:58] ttuegel commented on #677
I wouldn't want to just lift the quantifiers immediately, but have the simplifier move them up level-by-level, until they can be removed (if desired) at the top level. Does that address your concern about the parity of negation?

[2019-05-30 14:18] grosu commented on #681
Thanks for starting this discussion, @ttuegel .  Yes, it is tricky.  In K, we are talking about constructors modulo axioms like assoc, comm, and inj-triangles.  Constructors modulo assoc and comm are pretty understood from previous languages like OBJ and Maude, but other axioms, like injection triangles, are less well understood.  And later on we should also consider context and their axioms.  I t

[2019-05-30 14:50] ttuegel commented on #681
I agree, but I can't even say using _informal_ language what these things (sort injections and overloads) should mean. Sort injections without overloading are clear now, thanks to @xc93's comments. And while we don't need a complete axiomatization, we should at least be sure that the frontend does not emit *wrong* axioms. It's fine if we have to use built-in reasoning where the axioms are not suff

[2019-05-30 16:01] xc93 commented on #681
As said in @grosu's comments, a lot of these issues with subsort overloading and proper axiomatization will go away in AppML. Let me give an example here. Firstly, the biggest game changer in AppML is that we drop all sorts and, instead, we deal with sorts by using constant symbols that represent their names (such as `Int, Float, Number, Type,...`) and a special symbol `[[_]]`, called _inhabitant

[2019-05-30 17:16] ttuegel commented on #665
Following our discussion in this morning's stand-up meeting, I am going to proceed with option (a) above, "unification without narrowing" for function evaluation.

[2019-05-31 12:54] virgil-serbanuta commented on #677
I meant this: if we have a term `sigma(exists x . phi, not (exists y . psi))`, we can get any of these when lifting quantifiers:
[code]
The first formula seems useless: We can't remove any quantifier present now, and none of the new quantifiers that may show up in the formula.
The second formula seems slightly more useful: we can remove `exists x`, but it will be the last quantifier that we'll eve

[2019-05-31 18:25] ttuegel commented on #677
Right now, I don't think we lift quantifiers around `\not`, so this should not be a problem. I'm assuming we prefer to work with `\exists` whenever possible. We could add simplification cases that lift `\not \forall` into `\exists \not` and lower `\forall \not` into `\not exists`.

[2019-05-31 18:40] virgil-serbanuta commented on #677
Well, IIRC, right now we don't lift any quantifiers at all...

[2019-05-31 19:02] #665 closed

[2019-06-03 08:12] virgil-serbanuta commented on #677
I just merged #684 which fixes the "the resulting pattern is broken" issue. Should we keep this issue open until we lift quantifiers, or should we close it now?

[2019-06-03 21:44] ttuegel commented on #677
Let's close it now. We will discover more and different problems that will require lifting quantifiers.

[2019-06-03 21:44] #677 closed

[2019-06-05 13:58] ttuegel opened #693 "INT.signExtendBitRange not applicable"
The hooked symbol `INT.signExtendBitRange` is not applied to some concrete inputs.

### Instructions

This assumes you have built the Haskell backend from source and have it installed on `PATH`.

[code]

[2019-06-05 14:01] ttuegel opened #694 "Set unification fails substitution coverage check"
### Instructions

[code]

[2019-06-05 14:04] ttuegel opened #695 "INT.add not applicable to declared constructor"
The hooked symbol `INT.add` is not applied to concrete inputs when the user declares constructors in the builtin `Int` sort. We should reject constructors defined in hooked sorts, unless they are hooked to a known constructor symbol.

### Instructions

[code]

[2019-06-06 13:54] vladciobanu commented on #693
As far as I can tell, the `java` backend does not implement these hooks either, since they have rules anyway: https://github.com/kframework/k/blob/master/k-distribution/include/builtin/domains.k#L437 . I tried it out and indeed, commenting out the hook in our code (it's currently just points to `Builtin.notImplemented`) makes these tests pass.

Do we want to implement the hook?

[2019-06-06 15:54] #693 closed

[2019-06-06 16:05] ttuegel opened #699 "Unification with \or patterns"
The Haskell backend has not implemented unification with `\or` patterns.

### Instructions

[code]

[2019-06-06 16:11] ttuegel opened #700 "Unification with evaluated remainders"
We do not currently do unification (even against variables) of evaluated function remainders.

### Instructions

[code]

[2019-06-06 16:14] ttuegel opened #701 "Projections"
The Haskell backend does not recognize the `proj` attribute. This will be needed at least by KEVM.

### Instructions

[code]

[2019-06-06 16:19] ttuegel opened #702 "KREFLECTION hooks"
The Haskell backend does not implement the `KRFLECTION` hooks. These cannot be implemented as symbols in Kore, but they would have to be hooked aliases. Hooked aliases are also not implemented. We should discuss the use cases for `KREFLECTION` to decide if there is a simpler, sounder way to implement the required features.

### Instructions

[code]

[2019-06-06 16:22] ttuegel opened #703 "Failed to apply LblinitGeneratedTopCell"
The `issue-101` regression test is failing because the backend does not apply the `LblinitGeneratedTopCell` function.

### Instructions

[code]

[2019-06-06 16:29] ttuegel opened #704 "Bag cell collections"
The Haskell backend does not support Bag cell collections. Map cell collections are more commonly used, and are supported by the backend. We should either support bags, or modify the test to use maps.

### Instructions

[code]

[2019-06-06 16:29] #138 closed

[2019-06-06 16:29] #356 closed

[2019-06-06 16:29] #364 closed

[2019-06-06 16:29] #468 closed

[2019-06-06 21:30] ttuegel opened #705 "Avoid redundant constraints applying rules that produce one child"
When applying a rule produces only one child pattern, we know that the initial constraint subsumes the constraints on the rule; therefore, it is redundant to add the new constraints.

[2019-06-06 21:30] ttuegel commented on #705
This can be achieved partly by keeping a `MultiAnd` of constraints and removing duplicates.

[2019-06-06 21:35] ttuegel opened #706 "Apply substitutions under predicates during simplification"
During simplification, we can apply predicates under predicates such as `\ceil` to simplify them more completely; for example, the predicate
[code]
can be simplified by taking the substitution under the `\ceil`,
[code]
and applying it to find
[code]

[2019-06-07 11:52] virgil-serbanuta commented on #705
Could you give an example? This is a bit unclear to me, e.g. what do you mean by "initial constraint" and "new constraints"?

[2019-06-07 11:59] virgil-serbanuta commented on #706
There's some chance that I misunderstood the intent.

However, during simplification, we should extract [I=0] as a substitution in both cases, and I think that, in both cases, we won't apply it unless we find a quantifier for `I` (so just moving it under the `ceil` wouldn't be enough). I think that the main problem here is that we don't apply substitutions at the top, where the quantifiers are imp

[2019-06-07 14:30] ttuegel commented on #705
Sure, let
[code]
Starting from a configuration `φ∧P`, we apply a rule
[code]
to get
[code]
or remainders. If the remainders are `⊥`, then we know that
[code]
and therefore `Pre ∧ P = P`, which we can use to simplify the result above. This is useful in bounded model checking because we tend to accumulate new constraints `Pre`s that are less restrictive than the initial constraint `P`.

[2019-06-07 14:36] ttuegel commented on #706
In the specific case I'm seeing, that will help only if we move all the disjunctions to the top, because we have the predicate `I:Int = 0 ∧ ⌈f(1 / I)⌉` in a disjunction with other predicates on `I`.

I don't think having a formula for `⌈f(X)⌉` will help here, either, because we still need to know if `X` is defined.

[2019-06-07 21:49] #695 closed

[2019-06-10 15:02] ttuegel opened #713 "Reject definitions with constructor inconsistencies"
Following #709, we realized there are other misuses of constructors which we should reject. Some of these will also need to be addressed in the frontend.

- [ ] Reject constructors with variable result sorts.
- [ ] Reject axioms with `\equals` between different constructors.

[2019-06-11 09:22] virgil-serbanuta commented on #706
Ah, thanks, I see, I forgot that we don't move disjunctions to the top for predicates. I wonder if it's worth doing that when substitutions are involved... Possibly not, but it's worth keeping in mind. And it wouldn't help with other connectors, unless we transform everything to and/or/not.

So then the proposed rule is "apply substitutions each time we `and` two things", right? I guess that we co

[2019-06-11 15:08] ttuegel opened #714 "All-path reachability claims"
We have [preliminary support](https://github.com/kframework/kore/blob/master/kore/src/Kore/AllPath.hs) for proving all-path reachability claims. This has taken a lower priority for several iterations because the semantics we work with most often are deterministic and proving one-path reachability claims is sufficient. Now we need to finish this feature.

- [x] Connect all-path driver to symbolic e

[2019-06-11 15:16] ttuegel opened #715 "Unifying domain values and constructors"
We need to decide if we will allow domain values and constructor symbols in the same sort. The frontend currently allows this, but there is some question if that is desirable. The options are:

1. Allow domain values and constructor symbols in the same sort. The declared constructors and domain values are disjoint. The backend will be updated to dis-unify domain values and constructors (it's curre

[2019-06-11 15:18] dwightguth commented on #715
For what it's worth, I'm amenable to number 2. It shouldn't be hard to update everything; you just will need to create a new sort for the domain values and introduce injections.

[2019-06-11 15:29] ttuegel opened #716 "Recover SMT model for satisfiable constraints"
We would like to recover the SMT model as a Kore predicate for satisfiable constraints. This is useful (at least) for counterexample generation.

[2019-06-11 15:34] ttuegel opened #717 "Run without an SMT solver"
We would like to have a "null" implementation of the solver interface which does not send queries to an external solver, but reports every constraint as satisfiable. This is still useful for concrete execution. Most of our unit tests also do not require access to the solver.

---

Add an implementation of `MonadSMT` that:
- [x] Reports `unknown` for every query.
- [x] Emits a warning if any query

[2019-06-11 15:42] dwightguth commented on #717
you can hook this up to the K frontend with the --smt none kprove and krun flag.

[2019-06-11 15:43] dwightguth commented on #717
I would think what you actually want though is to report every constraint as unknown.

[2019-06-11 15:46] ttuegel opened #718 "Interface with kprove"
There are a few annoyances surrounding our interface with the frontend's `kprove`:

- [x] `kprove` does not report the backend's exit code.

We use `kprove --dry-run --debug` to get the command line arguments to pass to `kore-repl`, but that combination of flags throws an embarrassing `NullPointerException`.

- [x] Don't throw that exception in the frontend.
- [ ] Support starting `kore-repl` dire

[2019-06-11 16:14] ttuegel opened #719 "Use rule names in the REPL"
It can be rather challenging to find a particular axiom in `kore-repl`. The backend already supports named rules, so it should be easy to address rules that way in the REPL.

[2019-06-11 16:37] ttuegel opened #720 "Print timing information to the log"
By default, `kore-exec` is pretty noisy about printing timing information. This information belongs in the log, and probably should not be displayed at the default log level.

[2019-06-11 16:39] ttuegel opened #721 "REPL test scripts"
Once we can run the REPL through `kprove`, we should write test scripts.

[2019-06-11 16:41] ttuegel opened #722 "REPL may assume the list of claims is non-empty"
If the list of claims is empty, the REPL may exit immediately because there is nothing to prove. This assumption would also simplify the REPL code.

[2019-06-11 16:42] ttuegel opened #723 "Display execution graph on macOS"
The REPL cannot display the execution graph on macOS.

[2019-06-11 17:35] ttuegel opened #724 "Correct application architecture of REPL"
Right now, `kore-repl` has this layered architecture:
[code]
The REPL layer is too high in this stack; it's actually running *inside* the symbolic execution engine! To use an analogy that I just made up, and that has no real basis whatsoever: good application design is like a tall building: the business decisions are made at the top, the user enters through the lobby, and all the _real_ work is do

[2019-06-11 18:42] ttuegel opened #725 "kseq and dotk are constructors"
We can remove the special cases for this in the backend when the frontend is updated.

Waiting for: kframework/k#535

[2019-06-11 20:10] ttuegel opened #727 "Defining constructors for macro symbols"
Our KEVM integration tests [are failing](https://office.runtimeverification.com/jenkins/job/haskell-backend/job/master/155/) because symbols with `macro` rules are incorrectly marked `constructor` (and we reject defined constructors in builtin sorts like `Int` and `Bool`).

After kframework/k#534 is merged, we only need to update the release used for the integration tests.

[2019-06-11 20:25] ttuegel commented on #715
@ehildenb @traiansf Do you both still feel the same way?

[2019-06-11 20:44] ttuegel opened #729 "Use set variables for \ceil simplification rules?"
In the frontend's `domains.k`, we define simplification rules such as:
[code]
This causes an error in the backend in contexts where one of the arguments of `/Int` or `%Int` may, itself, be undefined, for example in the expression `(X /Int Y) /Int Z`. Applying one of these simplification rules generates a remainder because we cannot unconditionally unify `I1:Int` with `X /Int Y`, which may not be d

[2019-06-11 21:12] ttuegel opened #730 "REPL should catch thrown errors"
`kore-repl` will catch a <kbd>Ctrl-C</kbd> interrupt, but not an error thrown from inside the simplifier (for example). This would be very convenient for debugging.

[2019-06-12 19:04] ttuegel opened #734 "Use top-level constraints when applying function rules"
Following a discussion with @yzhang90, @traiansf, and @virgil-serbanuta, we decided that it is safe to try evaluating function rules in the presence of the top-level constraints. Furthermore, if we check that the top-level constraints imply the conditions on the rule, then we do not have to modify the constraints when we apply the rule (see #705). @yzhang90 also suggested that we can try to split

[2019-06-12 19:07] ttuegel opened #735 "Separate internal and external simplification phases"
We need to separate the internal simplification phase from external simplification (Z3) to better control the timing of queries to Z3. Not only is this important for performance, but it will simplify the application architecture.

[2019-06-13 12:53] #727 closed

[2019-06-13 20:02] traiansf commented on #715
I would also much more prefer number 2.

[2019-06-13 20:07] traiansf commented on #729
I think the frontend doesn't currently support a variable name to start with `#`.
Until that restriction is relaxed, we might be able to work around it using an attribute, say `setVariables` which has as argument the  list of variables which should be marked as set variables (or, if no variable is specified, then we could default to all vars being set variables.  Then the frontend could prefix the

[2019-06-14 14:32] traiansf opened #738 "Create REPL aliases to allow filtering REPL configs through kast."
In the latest K version, one can use the command
[code]
 to format a kore term as a K term.

Note that the output of the REPL configurations might need some fiddling as last time I checked it was not valid KORE :-)

[2019-06-14 14:36] vladciobanu commented on #738
Does `kast` work with pipes instead of an input file? Like `cat file.kore | kast -i kore -o pretty -d .`?

[2019-06-15 07:22] traiansf commented on #738
I don't know, but it shouldn't be hard to make it accept input from stdin.

[2019-06-18 12:02] traiansf commented on #718
The https://github.com/kframework/k/pull/553 PR I've just opened in the K repo should fix the second item above; apparently the first one works out of the box (anything output from the haskell-backend which cannot be parsed to `#True` generates an exit code `1`).

[2019-06-18 14:28] #725 closed

[2019-06-18 20:36] #724 closed

[2019-06-20 13:49] ttuegel opened #748 "Simplifying undefined functions"
Some of the KEVM proofs get stuck on patterns of the form
[code]
which we should be able to simplify.

[2019-06-20 13:53] ttuegel opened #749 "Matching builtins"
We need to implement matching on builtins for #733:

- [x] Bool
- [x] Int
- [x] List
- [ ] Set
- [x] Map
- [x] DomainValues

This should be simpler than unification because we need only implement matching against canonical forms.

[2019-06-20 15:15] ttuegel opened #750 "Map concat unification"
We decided that `MAP.concat` would not idempotent, to avoid the problems discussed in #672.

See also: https://runtimeverification.slack.com/archives/CFGK6NJMU/p1560435409027600

[2019-06-20 15:16] ttuegel opened #751 "Start kore-repl from kprove automatically"
Continued from: #718

[2019-06-20 15:16] #718 closed

[2019-06-20 15:24] ttuegel commented on #729
This is one of only a few issues blocking our progress on the KEVM single-opcode proofs, and it seems relatively simple, so I would like to prioritize it for the next iteration.

[2019-06-21 14:02] #719 closed

[2019-06-21 20:08] ttuegel commented on #748
I discussed with @ehildenb and @yzhang90 two ways we might handle this case.

#### Z3

Consider a configuration `φ ∧ P` where `φ` is a term-like pattern and `P` is a predicate. To limit our state space, we want to know if `φ ∧ P` is a pattern matching any elements, so we ask Z3 if `P` is satisfiable. But, if `P` is satisfiable, it is still not guaranteed that `φ ∧ P` is satisfiable! It could be th

[2019-06-21 20:12] ttuegel commented on #729
There is another way we could handle this in the backend which I want to consider. If we have a symbol `f(x₁, …)`, that symbol is only defined if its arguments are defined, i.e.
[code]
The backend could produce the defined-argument conditions `⌈φ₁⌉ ∧ …` itself before applying any simplification rules. This would prevent the formation of the remainders which are causing the error.

[2019-06-21 20:14] ttuegel commented on #729
@ehildenb The EVM opcode proofs which are affected by this are:

- ADDMOD
- BYTE
- LOG
- MLOAD
- MOD
- MSTORE
- MSTORE8
- MULMOD
- SIGNEXTEND
- SMOD

[2019-06-21 20:30] ttuegel opened #752 "Evaluating functions with undefined arguments"
Symbols with ⊥ arguments evaluate to ⊥, but we do not account for this when constructing remainders. For example, given an application pattern
[code]
and an axiom such as
[code]
we will produce
[code]
even though the condition attached to the latter makes the second disjunct ⊥. Consequently, we leave a mess of remainders around whenever partial patterns are involved.

I propose to solve this by ad

[2019-06-21 21:33] vladciobanu opened #754 "Add option to limit the scope of the logger"
Add a command line option for the logging/scope:
- is no scope declared, then show all scopes
- if one or more are defined, then the message is only shown if it's in at least one of the requested scopes

Feature requested by @yzhang90

[2019-06-24 12:11] virgil-serbanuta commented on #748
I also favor the former, since, normally, we would expect `⌈f(x)⌉` to be reduced to simpler stuff (even if we don't do that now, we may do it later). Even if we decide to go with the latter, I would still try to evaluate  `⌈f(x)⌉ ∧ P` instead of searching for `¬⌈f(x)⌉` in `P`, and I would add a special case for `¬Q ∧ Q`, taking associativity and commutativity into account.

[2019-06-24 14:12] virgil-serbanuta opened #756 "Use normalized sets as default representation."

[2019-06-24 16:00] #700 closed

[2019-06-24 22:10] #754 closed

[2019-06-25 15:01] #721 closed

[2019-06-27 14:52] ana-pantilie commented on #738
- [ ] fix kore unparser: https://github.com/kframework/kore/pull/762
- [ ] split repl output
- [ ] use kast with pipe (or workaround from repl)
- [ ] create repl script with aliases

[2019-07-01 14:36] ana-pantilie opened #767 "Conditional datatype doesn't unparse to correct Kore"
`Kore.Internal.Conditional`: unparse instance ignores sorts by replacing them with `_` or `_PREDICATE`

[2019-07-01 14:44] ana-pantilie opened #768 "Labeled claims"
When proving a spec which contains labeled claims (i.e. `rule <k> ... </k> [label(myClaim)]` or `rule [myClaim] : <k> ... </k>`), the backend throws an error.

[2019-07-02 16:05] yzhang90 opened #769 "Differentiate `Not Matching` and `Not implemented` when matching for function rules"
Now matching algorithm will return `bottom` for both cases (not matching and not implemented). We may want to differentiate them and log some information when `Not implemented` case is encountered.

[2019-07-02 16:48] virgil-serbanuta commented on #750
I'm starting to work on this.

[2019-07-02 19:15] ttuegel commented on #769
In `master` "not implemented" is `Left` and "not matching" is `\bottom`. In #733, I first planned to make both `\bottom`, but we decided not to do that; see the discussion on that ticket for all the details.

[2019-07-02 19:21] ttuegel commented on #767
The `Unparse` instance for `Conditional` should be removed; we can only unparse a `Kore.Internal.Pattern.Pattern`, not an arbitrary `Conditional`. The `Predicate` should be assigned the same sort as the `TermLike`, otherwise the frontend will not be happy. Anything sent to the frontend needs to be run through [`Kore.Internal.TermLike.externalizeFreshVariables`](https://github.com/kframework/kore/b

[2019-07-03 14:24] virgil-serbanuta opened #771 "Postpone set unification when it would result in configuration splitting"
It seems that we usually know the set element for which we are searching, so usually it's not worth expanding the unification, it's better to wait until the remainder of unification finishes.

[2019-07-03 14:37] vladciobanu commented on #756
Fixed by #758

[2019-07-03 19:31] vladciobanu opened #772 "Refactor builtin tests to property tests"
There are many cases of unit tests which could be refactored into property tests. I am thinking specifically of the newly added unit tests for builtin matching, but I'm sure there are plenty of other examples.

[2019-07-04 10:58] virgil-serbanuta commented on #772
If we're doing that, I have a few questions and requests:

1. When a property test fails, the diff is usually hard to read, it just says that two long chunks of text (usually a serialized pattern) are different. The non-property tests usually use assertEqualsWithExplanation, which, although it's suboptimal, it allows one to easily see the thing that's actually different. Could we fix this issue fi

[2019-07-04 14:17] #749 closed

[2019-07-08 11:45] #738 closed

[2019-07-11 23:40] grosu commented on #752
@ttuegel This seems pretty reasonable.  In fact, that also happens in separation logic proofs, when people prove that `HeapPattern1 -> HeapPattern2`, then assume `HeapPattern1` defined.

What concerns me, though, is the consistency of function definitions.  For example, if one says that `_/Int_` is a `[function]` and then that `I /Int 0 = \bot`, then we got an inconsistent definition.  Many FOL pr

[2019-07-15 14:07] vladciobanu commented on #750
Fixed by #770

[2019-07-15 14:07] #750 closed

[2019-07-15 14:15] #756 closed

[2019-07-15 14:20] virgil-serbanuta commented on #715
I'll start working on the second solution, rejecting DVs and constructors in the same sort during verification. This may also need frontend changes.

[2019-07-15 16:38] ttuegel commented on #681
@xc93 We (myself with @virgil-serbanuta) have another question, regarding sort injections where there is a diamond relation between sorts, i.e.
[code]
The term `inj{Sub, Super}(φ)` is abiguous: it could refer to `inj{A, Super}(inj{Sub, A}(φ))` or `inj{B, Super}(inj{Sub, B}(φ))`. What is the resolution of this ambiguity? The two patterns cannot be the same if there is a no-confusion-like axiom for

[2019-07-15 19:58] ttuegel commented on #752
In _The Semantics of K_, what you are calling `function` is actually `functional`. `function` indicates a partial function, so I think the definition above is fine.

[2019-07-16 19:11] ttuegel opened #792 "Depth limit should ignore some rules"
We would like for the execution depth limit to (optionally) ignore some types of rules.

CC: @traiansf @yzhang90
See also: https://runtimeverification.slack.com/archives/CH74HA62K/p1563296747002800

[2019-07-16 19:14] ttuegel commented on #792
Currently, the depth limit is encoded by limiting the length of the strategy list. This would not work if some rules are not counted for the depth limit because it forces every branch of the execution graph to be the same length. Instead, we should track the depth limit using the proof state. This would benefit significantly from the changes suggested in #714.

[2019-07-16 19:23] ttuegel commented on #772
The best way to fix this while retaining the benefits of `hedgehog` is to avoid testing equality of large structures. Currently, each test culminates in a single equality check. I think we should prefer to check a sequence of many smaller predicates.

I agree. [This blog series](https://wickstrom.tech/programming/2019/03/02/property-based-testing-in-a-screencast-editor-introduction.html) is a grea

[2019-07-16 19:28] ttuegel commented on #672
This was fixed in: #782, #770, #758, #753, #711, and possibly others.

[2019-07-16 19:28] #672 closed

[2019-07-16 19:37] ttuegel opened #793 "Avoid returning a disjunction during function evaluation"
We should avoid returning a disjunction from function evaluation by rejecting cases in which multiple rules apply or where a remainder would be produced. We can always wait to evaluate functions because we know they return (at most) a single result.

This will break the evaluation of some definedness conditions; we will need to figure out a way around that.

CC: @yzhang90
Depends on: #752, #735

[2019-07-16 19:37] ttuegel commented on #705
See also: #793

[2019-07-17 13:43] #767 closed

[2019-07-17 14:31] vladciobanu commented on #752
Does this still hold if `f` is a `const` function?

[2019-07-17 16:34] ttuegel commented on #752
@vladciobanu Yes, the semantics of symbols are such that `symbol(φ) = ⊥` if `φ = ⊥`.

[2019-07-17 16:41] ttuegel commented on #752
@virgil-serbanuta pointed out during the meeting this morning that the result of applying the axiom for `f(x)` is actually:
[code]
because binding `x = φ` introduces the condition `⌈φ⌉`. I originally suggested to introduce the argument-defined condition _before_ evaluating the function,
[code]
but because it is already introduced in the result, we could as easily introduce it only in the remainder

[2019-07-17 21:53] yzhang90 commented on #752
Given ```axiom f(x) = A```, when evaluating f(φ), when need to check that φ is a functional pattern (which means it evaluates to one and only one element).  Now, what we check is the defineness of φ. Will we miss something?

[2019-07-18 11:35] virgil-serbanuta commented on #772
We already do this in some of our tests, e.g. https://github.com/kframework/kore/blob/master/kore/test/Test/Kore/Builtin/Map.hs#L829 , and it helps, but the structures are still large.

[2019-07-18 13:42] ttuegel opened #798 "Matching #as patterns"
The frontend uses `\and` to generate patterns which match on a function argument and simultaneously introduce a variable assigned to the match, e.g.

[code]

There are two unresolved items:
- [x] We simplify all axioms once before we begin execution; how does that affect this type of rule?
- [ ] Does the matcher for function arguments probably does handle such patterns correctly?

See also: #789

[2019-07-18 13:48] ttuegel commented on #752
I do not think this is correct: the unifier `⌈x ∧ φ⌉` is defined even if φ is not functional. However, that is irrelevant: we only ever apply symbols if their arguments are at least `function`, so being defined on top of that is the same as being `functional`.

[2019-07-18 14:43] ttuegel commented on #734
I discussed this with @yzhang90 again yesterday. We realized there are two possible approaches:

1. Function evaluation can happen at any time during simplification, so carry the top-level constraints with us as we travel down the pattern. (Until now, we have focused exclusively on this option.)
1. Separate function evaluation from other simplifications, i.e. evaluate functions during a separate p

[2019-07-18 15:51] yzhang90 commented on #752
ok. got it. thanks

[2019-07-18 15:58] ttuegel commented on #752
The function evaluator is [`Kore.Step.Axiom.EvaluationStrategy.evaluateWithDefinitionAxioms`](https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Axiom/EvaluationStrategy.hs#L294). The remainders after applying all the rules are [modified](https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Axiom/EvaluationStrategy.hs#L327) so that we do not continually try to evaluate

[2019-07-19 10:19] virgil-serbanuta commented on #734
Option 2 above is a bit confusing for me.

Function evaluation is, in part, defined with axioms, and, in part, defined in Haskell (the builtin stuff).

Ceil is also a mix of axiom-based simplifcation and Haskell code, and I think that, for most pattern types, we could define simplification through axioms if we wanted to (I guess it would make it much easier to generate proofs).

So, is option 2 ab

[2019-07-19 14:19] #720 closed

[2019-07-20 12:55] ttuegel commented on #681
Based on [the response](https://runtimeverification.slack.com/archives/CC360GUTG/p1563609925003000), I think there is nothing more to do here right now.

[2019-07-20 12:55] #681 closed

[2019-07-22 14:23] ttuegel commented on #734
That's a good point, and I agree.

[2019-07-24 13:41] #722 closed

[2019-07-24 13:41] #723 closed

[2019-07-24 13:41] #730 closed

[2019-07-24 13:41] #751 closed

[2019-07-24 13:41] #768 closed

[2019-07-24 13:46] ttuegel opened #812 "Stuck on remainders of abstract cells"
Sometimes an intermediate step of a proof touches a cell which is abstract in the configuration and we are left with a remainder that has the form
[code]
where `C` is the only constructor in its sort (the cell constructor). The constraint is not sent to Z3.

[2019-07-24 13:48] ttuegel commented on #812
Questions:

1. Could we send such a constraint to Z3? It is a predicate, so maybe that would work.
1. Failing that, could we instantiate the configuration at initialization to replace cell variables? For some reason, I have it in my head that the Java backend does this.

[2019-07-24 14:32] #792 closed

[2019-07-24 14:38] ttuegel commented on #792
Instead, we are going to modify the KEVM semantics to include the depth bound.

[2019-07-24 14:40] ttuegel commented on #798
This is handled by `simplifyRulePattern`, verified by unit test in #803.

[2019-07-24 14:40] #798 closed

[2019-07-29 14:07] #735 closed

[2019-07-29 15:19] ttuegel commented on #812
@virgil-serbanuta wrote a document describing how we might deal with `¬ ∃` remainders in general: https://docs.google.com/document/d/1Uo7NdZnb8xBVWlaVW1aoTsI7NzRybgyDU4XOnwQaF-c/edit?usp=sharing

[2019-07-29 15:25] ttuegel commented on #812
@yzhang90 realized that we can prove the required lemma (`∃ S. X = C(S)`) using the constructor axioms. I believe we can already apply this lemma by matching. I think that the most straightforward way to handle this would be to add these single-constructor-sort lemmas to the definition as a separate pass during startup. This solution has several benefits: it takes advantage of features that are al

[2019-07-29 15:50] ttuegel opened #820 "Missing hook KRYPTO.bn128valid"

[2019-07-29 15:53] ttuegel opened #821 "Functions with concrete attribute are symbolically expanded"
Terminating an EVM summary proof early shows that `chop` has been expanded, despite having the `concrete` attribute:
[code]
[code]

CC: @yzhang90

[2019-07-29 16:37] ttuegel commented on #821
Besides making it harder to debug proofs, this is blocking one EVM summary proof.

[2019-07-29 16:40] ttuegel commented on #748
This is blocking:
- `BLOCKHASH-summary-0-spec`
- `CALLDATALOAD-summary-0-spec`
- `SHR-summary-0-spec`
- `SLOAD-summary-0-spec`

[2019-07-29 16:43] ttuegel commented on #752
This is blocking:
- `SWAP-summary-0-spec`
- `DUP-summary-0-spec`

[2019-07-29 16:44] ttuegel commented on #820
This is blocking:
- `AND-summary-0-spec`
- `EVMOR-summary-0-spec`
- `NOT-summary-0-spec`
- `XOR-summary-0-spec`

[2019-07-29 16:46] ttuegel commented on #820
In the [Java backend](https://github.com/kframework/k/blob/91a69ed56a92897677d16bbdb2065841a4446125/java-backend/src/main/java/org/kframework/backend/java/builtins/BuiltinCryptoOperations.java#L164).

[2019-07-29 17:04] ttuegel commented on #820
We should look at the [elliptic-curve](https://github.com/adjoint-io/elliptic-curve) library, which should give us the implementation for "free" as long as we get the correct [parameters](https://github.com/kframework/k/tree/605c1e56f831ed76c98398e9fe544bfbab06c326/java-backend/src/main/java/org/kframework/backend/java/builtins/crypto) from the Java backend.

[2019-07-29 17:57] ttuegel commented on #821
The `concrete` attribute is only checked by `Kore.Step.Axiom.UserDefined.equalityRuleEvaluator` (for simplifications rules) but not by `Kore.Step.Axiom.EvaluationStrategy.evaluateWithDefinitionAxioms` (for function rules). It is likely that this never worked correctly.

We should probably fix this by adding a combinator to `Kore.Step.Axiom.EvaluationStrategy`, so that we don't have to duplicate th

[2019-07-29 20:46] ttuegel opened #823 "Poor performance of some EVM summaries"
These EVM summaries time-out after 5 minutes:

- `SDIV-summary-0-spec`
- `SGT-summary-0-spec`
- `MLOAD-summary-0-spec`
- `MSTORE-summary-0-spec`
- `MSTORE8-summary-0-spec`
- `SLT-summary-0-spec`

We should use [`ghc-events-analyze`](https://hackage.haskell.org/package/ghc-events-analyze) to analyze the performance of these proofs.

[2019-07-30 12:14] #752 closed

[2019-07-30 19:14] ttuegel opened #826 "Normalizing associative-commutative operators"
We will need to flatten (internally) certain associative arithmetic and logical operators, so that simplifications such as
[code]
happen automatically.

Candidate operators are:

- `+Int`
- `*Int`
- `andBool`
- `orBool`

We should also take make the integer operations aware of `-Int` and `/Int`.

See also: https://runtimeverification.slack.com/archives/CC360GUTG/p1564513723167600

CC: @yzhang90

[2019-07-30 19:35] #715 closed

[2019-07-30 19:59] ttuegel commented on #820
We should not need to implement these hooks at this time; it is enough to leave these functions unevaluated. Most likely the hooked functions occur in a branch that should be pruned.

See also: https://runtimeverification.slack.com/archives/CDDCNDUMC/p1564515075132300

[2019-07-30 20:09] #772 closed

[2019-07-31 10:38] virgil-serbanuta commented on #826
FWIW, z3 has a `simplify` command which, as far as I can tell, does something similar to this.

[2019-07-31 13:33] #769 closed

[2019-07-31 14:36] ttuegel opened #828 "Cannot parse set variables in frontend"

[2019-07-31 14:39] ttuegel opened #829 "Keep prelude.kore in sync between frontend and backend"
- [x] Move `prelude.kore` to the backend repository.
- [ ] During our Jenkins job, modify the installed frontend with our `prelude.kore`.

[2019-07-31 16:32] #821 closed

[2019-07-31 17:47] ttuegel commented on #823
The functions to add annotations to the event log are in [`Debug.Trace`](https://www.stackage.org/haddock/lts-13.30/base-4.12.0.0/Debug-Trace.html#g:2). The manual describes how to [enable](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/phases.html?highlight=eventlog#ghc-flag--eventlog) the event log and what [options](https://downloads.haskell.org/~ghc/latest/docs/html/users_guid

[2019-07-31 18:38] ttuegel opened #830 "Fix default logging options"
- [x] The default log level is too high; should be `warning`.
- [x] Most of the log entries at `info` should be at `debug` level.
- [x] The default log output should be `stderr`.
- [x] The log output `stdout` shouldn't exist because it conflicts with `--output`.

[2019-07-31 18:46] ttuegel commented on #820
- [ ] Warn if a hook is missing...
- [ ] ...iff there are no axioms provided for the symbol, but
- [ ] ...iff there are axioms provided for any symbol, and
- [ ] ...only warn once.

[2019-08-01 14:06] virgil-serbanuta opened #832 "Fix Kevm tests broken by function matching instead of unification"
See https://office.runtimeverification.com/jenkins/job/haskell-backend/job/master/219/

[2019-08-01 17:45] virgil-serbanuta commented on #832
Most likely this fails because of #810 or #789, both of which timed out in out build system.

[2019-08-02 06:52] virgil-serbanuta commented on #832
https://github.com/kframework/kore/pull/834 contains a test for this issue. Basically, we are trying to match `f(A|->B M, A)` against `f(1|->1 2|->2, 2)` and we are matching `A|->B` with `1|->1` and `A` with `2` which fails for the obvious reason.

We have two possible fixes:
1. Change matching to work in multiple steps (i.e. allow postponing matches). This can still fail, but it should work for m

[2019-08-02 10:54] ttuegel commented on #832
I am also inclined toward (1). We tried to get unification (2) working for function evaluation for a long time. It's not evident to me that we know how to make progress with (2). On the other hand, it seems like we have a good idea what is needed to make matching (1) work, so that seems less risky.

As far as grading the difficulty of matching candidates, I don't think we need to do anything fancy

[2019-08-05 13:40] vladciobanu opened #837 "Implement MAP.size builtin"
Implement the `MAP.size` builtin, see https://github.com/kframework/kore/wiki/Builtin-symbols for details

[2019-08-05 18:39] #830 closed

[2019-08-06 20:41] ttuegel commented on #832
Fixed by: #835

[2019-08-06 20:41] #832 closed

[2019-08-07 08:47] #837 closed

[2019-08-07 13:37] ttuegel commented on #812
- [ ] Match patterns incrementally
- [ ] Match \equals patterns
- [ ] Match \exists patterns
- [ ] Apply selected simplification axioms
- [ ] Add single-constructor lemmas to definitions

[2019-08-07 14:34] traiansf commented on #705
Question:
Rather than checking that we have no remainder, wouldn't it be better to use Z3 to check that `⌈L ∧ φ⌉ ∧ P -> Pre` and, if so, to not add `Pre` to the predicate.
In addition to making the code simpler, this would also be usable when doing all-path where we don't compute the remainder after applying each rule.

[2019-08-07 14:39] ttuegel commented on #705
Yes, that might be better, if we think that calls to Z3 are not too expensive. Eventually we will need to remove all the calls to Z3, but that gets us moving.

[2019-08-07 18:27] virgil-serbanuta commented on #823
First interesting result: I analyzed the first part of proving a summary that takes between 5 and 10 minutes to run without instrumentation on my computer (`SIGNEXTEND-summary-0-spec`). Equality-based simplification takes 352 seconds, was called ~2M times. Out of that, the SMT solver (z3) took 11s, was called 470 times.

Out of that, equality-based simplification for `Lblsignextend'LParUndsCommUnd

[2019-08-07 18:34] ttuegel opened #846 "Add SET.list2set hook"
@dwightguth needs this hook for [kframework/evm-semantics](https://github.com/kframework/evm-semantics).

[2019-08-08 09:47] traiansf commented on #829
@ttuegel did you get the chance to talk with @dwightguth about this?

[2019-08-08 09:49] traiansf commented on #828
PR opened here: https://github.com/kframework/k/pull/676
Wating for https://github.com/kframework/k/pull/675 to be merged.

[2019-08-08 17:07] virgil-serbanuta commented on #823
Below are the full results for `SIGNEXTEND`. The first column is the thing being measured, the second is the time it took in seconds, the third is the call count. If something calls something with the same tag (e.g. itself), directly or indirectly, only the parent call is used for the time column, but both calls are counted in the call count column.

There are three summary tags: `ExecutionQueueLe

[2019-08-08 19:41] ttuegel commented on #823
Does `equalitySimplification` include recursive calls? I am suspecting that we might recurse into some deep structure there, accounting for the amount of time spent there.

[2019-08-09 07:55] virgil-serbanuta commented on #823
Yes, it includes. I am working on detailing that.

[2019-08-09 19:12] #846 closed

[2019-08-09 21:06] ttuegel opened #852 "Allow "unknown" result from Z3"
The `SDIV` summary spec complains,
[code]
We should not crash if Z3 returns `unknown`; this is a perfectly valid result.

---

- [x] Parse `unknown` result.
- [x] Emit a warning for each `unknown` result, displaying the query in:
    - [x] Kore format
    - [x] SMTLIB2 format
- [x] Display a useful error for unsuccessful commands.

[2019-08-09 21:09] ttuegel opened #853 "MAP.element is injective"
The `SLOAD` spec crashes with a [substitution-coverage error](https://github.com/kframework/kore/files/3488055/SLOAD-summary-0-spec.err.txt) because the backend fails to recognize that, in our new internal representation of Map, `element` is injective.

CC: @virgil-serbanuta

[2019-08-12 15:47] virgil-serbanuta commented on #823
Something weird happens here. The entire simplification takes 876 seconds for 29 `signextend` calls. We can split that into 227 seconds for applying the axiom, 410 seconds for re-simplifying the result after applying the axiom, and 239 for everything else, which, likely, just includes substitution merging after re-simplification.

The term being simplified looks like this:
[code]
so we might try t

[2019-08-12 17:12] #828 closed

[2019-08-12 17:33] virgil-serbanuta commented on #853
I took a look at this error and my first guess would be that it's about a unification case that we don't want to implement, i.e. `concat(elem(x1, x2), x3)` vs `concat(elem(alpha, beta), y3)` where `x1`, `x2`, `x3` and `y3` are variables, while alpha and beta are concrete (the part that prevents us from implementing it is that `x3` and `y3` are Map variables).

If you think that's wrong, I can take

[2019-08-12 17:49] ttuegel commented on #823
I think that is a reasonable thing to do.

[2019-08-12 17:58] ttuegel commented on #853
The case is actually,

[code]

Although everything is symbolic, we know this only has one (inhabited) unifier:

[code]

Should we add a special case for unification with identical symbolic keys?

[2019-08-12 19:36] virgil-serbanuta commented on #823
Yep, marking it as concrete seems to be good enough.

[2019-08-12 19:41] virgil-serbanuta commented on #823
Opened https://github.com/kframework/evm-semantics/pull/434 which fixes SIGNEXTEND, will send for review after fixing all similar performance issues (if any).

[2019-08-12 19:48] virgil-serbanuta commented on #853
We could do that... I wonder if we could make the symbolic part of the representation a map instead of a list.

[2019-08-12 19:54] ttuegel commented on #748
#882 was reverted in #856 due to an extreme performance regression.

[2019-08-12 19:55] #729 closed

[2019-08-13 14:27] ttuegel opened #858 "Unit tests are slow"
The unit tests became suddenly slower at c93f1192a87bec17bb99a8b5aa56ff330d6356fa.

[2019-08-13 16:02] ttuegel opened #859 "Rule priority attribute"
The monitoring tool is going to make use of the `priority` attribute. For one-path proofs, we will just need to sort rules according to their priority. For all-path proofs, we will have to group rules according to their priority, and apply groups in descending order of priority. (This is only incrementally more complicated than the one-path case.)

See also: https://runtimeverification.slack.com/a

[2019-08-13 19:32] ttuegel commented on #859
We will need to recognize the specific form of prioritized rules, `¬ (φ₁ ∨ φ₂ ∨ ...) ∧ ψ => ψ'`. It would be quadratically slow to check each of the φᵢ each time, so we should look at the attribute during execution. That means we need to check that each rule is well-formed with respect to the `priority` attribute before execution.

See also: https://runtimeverification.slack.com/archives/CDDCNDUMC

[2019-08-13 23:43] #705 closed

[2019-08-14 13:42] ttuegel commented on #717
Add an implementation of `MonadSMT` that:
- [ ] Reports `unknown` for every query.
- [ ] Emits a warning if any query is made.
- [ ] Connect with frontend's `--smt none` flag.

[2019-08-14 13:43] ttuegel commented on #852
- [ ] Parse `unknown` result.
- [ ] Emit a warning for each `unknown` result, with the unknown queries in SMTLIB2 and Kore format.

[2019-08-14 13:46] ttuegel commented on #853
- [ ] Make the symbolic part of AC collections into a `Map`, ensuring that duplicate keys give `\bottom`.
- [ ] Perform unambiguous symbolic lookups as above, ensuring that each symbolic Map is defined.
- [ ] Do the same for Sets.

[2019-08-14 13:49] ttuegel commented on #858
It is possible that this is due to contention for the lock on the logger, and therefore is not a problem for the usual execution.

- [ ] Run the unit tests in ThreadScope to find out if locking is an issue.
- [ ] Check that the integration tests are not slower around that commit.

If locking in the unit tests is an issue, we may provide a "null" logging implementation that does not even lock. If i

[2019-08-14 13:52] ttuegel commented on #859
- [ ] Parse the `priority` attribute.
- [ ] Expand constant aliases at startup.
- [ ] Recognize the new `¬(disjunction) ∧ ψ => ψ'` form of rules.
- [ ] Verify (at startup) that all rules have the correct `¬(disjunction)` for their priority.
- [ ] Group and apply rules according to their priority.

[2019-08-16 13:37] vladciobanu commented on #858
Offending commit: c93f1192a
- `stack test`:
- `stack test --test-arguments "-RTS -N1 +RTS":
- `make k-test`:

Commit right before: 10c63c8b0
- `stack test`:
- `stack test --test-arguments "-RTS -N1 +RTS":
- `make k-test`:

[2019-08-16 14:10] ttuegel commented on #859
Summary: https://runtimeverification.slack.com/archives/C7E701MFG/p1565814562236800

[2019-08-16 14:17] ttuegel opened #863 "Expand aliases with pattern arguments"
The frontend will use aliases to control the size of definitions with prioritized rules (#859). The backend will need to expand aliases with pattern arguments, i.e. aliases parameterized over set variables. Aliases with variable meta-variables are outside the scope of this issue. For readability and performance, we should only expand aliases when required by unification.

See also: https://runtime

[2019-08-16 16:35] virgil-serbanuta commented on #853
I don't think it's a good idea to make it a map anymore, it needs to have instances for, say, `Functor`, and having a `Map a a` as a `Functor` of `a` might not actually work.

[2019-08-16 20:58] ttuegel commented on #852
The error is actually not about an `unknown` SAT result, but about some command returning `unknown` (that is indicated by `Expected: success`). The `unknown` SAT result is already handled correctly.

[2019-08-19 11:27] virgil-serbanuta commented on #853
So, I think that we were already treating elements as injective, the problem was that, in some cases, we could easily unify when both opaque lists are not empty, but we didn't.

[2019-08-19 13:44] vladciobanu commented on #858
After running the integration tests a few more times, it seems like the ~10s difference is within the error margin so the difference seems irrelevant. @ttuegel should we just close this for now? Do you want me to investigate further?

[2019-08-19 13:54] ttuegel commented on #858
No, I agree, it's not significant at this time.

[2019-08-19 13:54] #858 closed

[2019-08-19 17:02] #853 closed

[2019-08-19 18:55] #852 closed

[2019-08-19 21:27] ttuegel opened #868 "Reject aliases whose arguments aren't element variables"
The frontend will use aliases to control the size of definitions with prioritized rules (#859). The backend will need to verify aliases with element variable arguments.

Before: #863

---

- [ ] Reject set variables on the left-hand side of alias definitions.
- [ ] Reject any occurrence of an alias where its arguments are not literally element variables.

[2019-08-21 13:58] #717 closed

[2019-08-21 18:26] ttuegel opened #872 "Logging incurs significant performance penalty"
Enabling logging incurs a significant performance penalty (more than 20x slowdown) even if nothing is actually logged.

[2019-08-22 13:17] vladciobanu commented on #868
It seems we already only allow element variables, see https://github.com/kframework/kore/blob/40f56575aaa57ee46176ed24bed354b618183aed/kore/src/Kore/ASTVerifier/PatternVerifier.hs#L248

[2019-08-25 14:02] ttuegel commented on #829
We agreed that it would be fine to move `prelude.kore` to the backend repository.

[2019-08-26 19:39] traiansf commented on #829
Instead of the second task, I modified the maven archive job to take prelude.kore from its submodule location.

[2019-08-27 15:18] #829 closed

[2019-08-27 21:25] ttuegel opened #883 "Automatic upstream integration"
Changes to the Haskell backend are integrated upstream irregularly. This delays finding (and fixing) bugs. We should develop a system to update the frontend after every merge.

[2019-08-27 21:26] ttuegel opened #884 "Overhaul logging"
An overhauled logging interface will improve performance and enable greater flexibility:

[code]

This interface follows the standard `Exception` interface.

Besides this change, we should push log-writing into a different thread.

See also: #872

---

- [x] Interface
- [ ] Threading

[2019-08-28 13:52] ttuegel opened #887 "Iteration 4"
## Iteration 4 agenda

Goals for Iteration 4:

- Recover regression losses
- Process improvements
- Unblock upstream projects:
  - Support aliases
  - Upstream integration with KEVM

### Status updates

(10 min)

### Iteration 3 cleanup

(15 min)

- Performance regression post-mortem
- Remaining tasks

### Iteration 4 planning

(25 min)

- Upstream integration
- Aliases
- Replay #822
- Replay #831

[2019-08-28 14:28] ttuegel opened #888 "Replay #862 - Evaluate requires-clause with SMT"
Revert [6548413966084ad268f5f368013f161067103af1](https://github.com/kframework/kore/pull/885/commits/6548413966084ad268f5f368013f161067103af1) to replay #862.

[code]

[2019-08-28 14:28] ttuegel opened #889 "Replay #847 (Redundant constraints)"
Revert [40bde26e7226a9aaae856f1fa3a2b255613a6235](https://github.com/kframework/kore/pull/885/commits/40bde26e7226a9aaae856f1fa3a2b255613a6235) to replay #847.

[code]

[2019-08-28 14:29] ttuegel opened #890 "Replay #831 - Warn about missing hooks"
Revert [95c1856a807e688d759703f63c415286aac06358](https://github.com/kframework/kore/pull/885/commits/95c1856a807e688d759703f63c415286aac06358) to replay #831.

[code]

[2019-08-28 14:55] #887 closed, assigned to nobody

[2019-08-28 16:25] ttuegel opened #891 "Replay #822 - Add ceils to predicates before SMT"

[2019-08-28 16:37] ttuegel opened #892 "Update backend upstream"
See also: kframework/k#721

[2019-08-28 16:43] ttuegel opened #893 "Verify alias patterns with element or pattern arguments"
See also: #868

[2019-08-28 16:43] ttuegel opened #894 "Allow set variables in alias definitions"
See also: #868

[2019-08-28 16:43] ttuegel opened #895 "Refactor module verification into phases"
See also: #868

[2019-08-28 16:47] ttuegel opened #897 "Recognize prioritized form of rules"
We will need to recognize the specific form of prioritized rules, `¬ (φ₁ ∨ φ₂ ∨ ...) ∧ ψ => ψ'`. It would be quadratically slow to check each of the φᵢ each time, so we should look at the attribute during execution. That means we need to check that each rule is well-formed with respect to the `priority` attribute before execution. Therefore, we would like to keep the `(φ₁ ∨ ...)` clause separate f

[2019-08-28 16:47] ttuegel opened #898 "Verify rule prioritization matches priority attribute"
See also: #859

[2019-08-28 16:47] ttuegel opened #899 "Prove redundancy of rule prioritization check"
See also: #859

[2019-08-28 16:47] ttuegel opened #900 "Group and apply rules according to their priority"
Group semantic rules by their `priority` attribute. Apply the rules in each group using `deriveSeq` or `derivePar` according to the claim type. Apply the groups in sequence.

See also: #859

[2019-08-28 16:53] ttuegel opened #901 "Carry alias definitions in Kore.Internal.Alias.Alias"
See also: #863

[2019-08-28 16:53] ttuegel opened #902 "Implement alias expansion"
See also: #863

[2019-08-28 19:18] #892 closed, assigned to nobody

[2019-08-28 21:29] #883 closed

[2019-08-29 14:39] ttuegel opened #906 "Interface to choose one-path or all-path proofs"
Needs: #937

See also: #714

---

- [x] Module and rule attributes in frontend
- [x] Update frontend for backend integration tests
- [x] Allow all-path to be used in the backend ( initial work in PR #1162 )
  - [x] `Goal` instance for `ReachabilityRule` (https://github.com/kframework/kore/pull/1206)
  - [x] `ReachabilityRule` as `Claim` + Generalize `verifyClaimStep` to `ReachabilityRule` (https:/

[2019-08-29 14:39] ttuegel opened #907 "Connect kore-repl to all-path prover"
Needs: #937

See also: #714

[2019-08-29 14:39] #714 closed

[2019-08-29 15:47] vladciobanu commented on #889
I will keep this updated, but I managed to run each branch once and indeed, there is a 2x slowdown for this PR.

master:
- 474.93user 15.22system 6:44.74elapsed

replay:
- 964.83user 40.00system 13:35.46elapsed

[2019-08-29 18:47] ttuegel commented on #889
@vladciobanu
You should try this after merging #867; if that does not correct the issue, then @yzhang90 and I agree that this is not worth the effort at this time.

[2019-08-29 22:11] vladciobanu commented on #889
@ttuegel I updated the original comment. It seems the 2x slowdown is still happening even after reverting from current master (since #867 is merged). I'll follow your lead and give this up for now.

[2019-08-29 22:11] #889 closed

[2019-08-30 13:00] vladciobanu commented on #891
@ttuegel It seems reverting this has a *huge* performance penalty. Unless I got something horribly wrong (see #914), this doesn't finish in almost 4 times as long (I stopped it after 22 minutes). Should I investigate further?

master:
- 435.24user 14.58system 6:11.20elapsed 121%CPU
- 436.43user 14.31system 6:11.74elapsed 121%CPU
#914 / revert:
- stopped after 22 minutes

[2019-08-30 13:45] ttuegel commented on #891
I need to re-run the single-instruction proofs to see if this is really necessary. I will report back.

[2019-08-30 16:15] #888 closed

[2019-09-01 13:48] ttuegel commented on #891
I re-ran the single-instruction proofs, and I don't think we need to do this now. In fact, I think this only serves to obscure definedness conditions which are missing from the semantics.

[2019-09-01 13:48] #891 closed

[2019-09-05 18:53] ttuegel opened #925 "Missing hook: STRING.token2string"
The relevant entries in [`domains.k`](https://github.com/kframework/k/blob/master/k-distribution/include/builtin/domains.k#L792) are:

[code]

We might as well implement `STRING.string2token` as well.

The `[token]` attribute on `syntax Id` means that `Id` will be a raw domain value, `\dv{SortId{}}("...").

[2019-09-06 02:52] ehildenb commented on #925
By the way, this should work for any domain value, not just sort `Id`. For example, in KWasm we declare:

[code]

To allow parsing the correct tokens of sort `WasmString` but still be able to do string operations over them in the semantics.

[2019-09-06 14:34] #895 closed

[2019-09-09 15:17] ttuegel opened #936 "Missing hooks: BYTES"
The KEVM semantics have been updated to use byte arrays for program storage. This improves concrete execution performance because byte arrays have constant-time access, but symbolic execution performance is severely degraded because byte arrays are implemented as lists with linear-time access. (Previously, maps with log-time access were used for storage in concrete and symbolic backends.)

We will

[2019-09-09 15:23] ttuegel opened #937 "Implement all-path strategy"
All the pieces of the all-path prover seem to be ready, but they need to be assembled into the proof strategy.

[2019-09-09 20:03] ttuegel commented on #859
Refer to the [implementation](https://github.com/kframework/kore/blob/master/kore/src/Kore/Attribute/ProductionID.hs) and [unit tests](https://github.com/kframework/kore/blob/master/kore/test/Test/Kore/Attribute/ProductionID.hs) for the `productionID` attribute. The `productionID` and `priority` attribute are similar in that they both take a string literal argument. The `priority` attribute differ

[2019-09-10 09:20] traiansf opened #940 "Check that the configuration being rewritten is "function-like""
The document proving the correctness of computing remainders upon rule applications requires that the configuration being rewritten is "function-like" (see https://github.com/kframework/kore/blob/master/docs/2018-11-08-Configuration-Splitting-Simplification.md#problem )

However, nobody remembers actually checking this before attempting to apply a rule.

A simple example of how bad this might fail

[2019-09-10 13:43] ttuegel commented on #940
Is the problem here only in the way we construct the remainder expression, or something deeper? As long as we push all the disjunctions to the top during rewriting, will we be OK?

[2019-09-10 13:55] vladciobanu commented on #894
This was completed by #922 , right? Can we close this?

[2019-09-10 13:56] vladciobanu commented on #893
This was also completed by #922, right?

[2019-09-10 14:12] #894 closed

[2019-09-10 14:12] #893 closed

[2019-09-10 14:20] ttuegel commented on #901
Fixed by: #921

[2019-09-10 14:20] #901 closed

[2019-09-10 18:19] traiansf commented on #940
In general, I think yes; otherwise we would have seen erroneous output already.

Same would happen If there were symbols which are not function-like (can evaluate to more than one value), or existential quantifiers.

Also, we should remember this if we ever want to merge disjunct configurations as an optimization; then we would have to devise another method for applying rules.

[2019-09-10 18:44] ttuegel opened #943 "Configuration and substitution unparsing is unreadable"
Configuration and substitution unparsing leans too far to the right due to naive indentation. We should use indentation like this for configurations:

[code]

Likewise, substitutions should not suffer creeping indentation:

[code]

[2019-09-10 20:09] ttuegel opened #944 "Track pattern origin for debugging"
Add a `Creator` pattern attribute,

[code]

and add it to [`Kore.Attribute.Pattern.Pattern`](https://github.com/kframework/kore/blob/master/kore/src/Kore/Attribute/Pattern.hs#L38). In the `TermLike` smart constructors, use [`callStack`](https://hackage.haskell.org/package/base-4.12.0.0/docs/GHC-Stack.html#v:callStack) to populate this field. The smart constructors should pop the top entry off the

[2019-09-10 20:15] ttuegel commented on #823
Only the proof of the `SDIV` instruction continues to have performance problems.

[2019-09-10 20:55] ttuegel opened #945 "Internal representation of `if _ then _ else _`"
It often happens (particularly during function evaluation) that we have `if _ then _ else _` patterns, which are encoded in Kore as

[code]

which evaluates the predicate `P` twice. We would prefer to have something like an alias,

[code]

with some recognition that the predicate `P` need only be evaluated once.
Further, in a chain of conditions,

[code]

if `P = ⊤`, then we never need to consider

[2019-09-11 09:15] #925 closed

[2019-09-11 10:57] ttuegel opened #947 "Syntax documentation is out of date"
_The Semantics of K_ is out-of-date in a number of ways, particularly the sections describing meta-Kore and the syntax of Kore. It is probably not useful to update the sections related to meta-Kore, which has gone away. On the other hand, it is misleading to have a document which is up-to-date in some ways and outdated in others. We should have a separate, up-to-date, and smaller document which gi

[2019-09-11 12:30] virgil-serbanuta commented on #940
I think that we should not just remember it, we should also add an assertion in out code.

[2019-09-11 12:48] virgil-serbanuta commented on #823
Marking things as concrete may help. The main problem is that we shouldn't just mark rules as "concrete", we should also provide an SMT equivalent for them, otherwise we'll have symbols that neither us nor the SMT can handle. (BTW, we already did this for some other evm summary proof, we might want to take another look at https://github.com/kframework/evm-semantics/pull/434).

https://github.com/k

[2019-09-11 16:41] ttuegel opened #950 "Output configuration even if there is an error"
`kore-exec` should output the current configuration (or the disjunction of "live" configurations, if proving) even if there is an error to facilitate debugging. This probably will involve refactoring `kore-exec` so we can `bracket` the execution and collect errors.

[2019-09-11 17:55] virgil-serbanuta commented on #823
BTW, SMOD is the one I still see timing out.

[2019-09-11 18:45] ttuegel opened #953 "Function memoization"

[2019-09-11 22:22] virgil-serbanuta commented on #823
Here are the last stats for SMOD on my laptop:
1. #924 reduces the (intermediate) branch number by ~4x and almost halves the execution time.
(all future times are measured with #924)
2. Almost all the time seems to be spent in `SimplifyRem` (~5-6 sec/step) and `DeriveSeq` (~6 sec/step). For the first steps (I didn't let it run until the end) `SimplifyRem` always takes 5-6 sec, but DeriveSeq also h

[2019-09-12 14:00] #902 closed, assigned to eviefp

[2019-09-13 13:31] virgil-serbanuta commented on #823
Some answers:

1. DeriveSeq removes the destination from the remainder and simplifies the result. https://github.com/kframework/kore/pull/958 makes that explicit.

2. Simplifying a configuration after removing the destination seems to take ~4-6 seconds (depends on the computer on which I run it, not on the step), we do that twice per step, and that's the only time consuming part of a step.

* We s

[2019-09-13 18:50] virgil-serbanuta commented on #823
If we would simplify the RHS we would do it here:
https://github.com/kframework/kore/blob/master/kore/src/Kore/Exec.hs#L254
which goes here:
https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Simplification/Rule.hs#L85
which does not simplify the RHS.

We should try that.

[2019-09-14 09:54] #944 closed

[2019-09-16 15:45] #899 closed

[2019-09-16 18:40] #953 closed

[2019-09-17 09:15] traiansf opened #973 "Support for simplification rules with side conditions"
Performing symbolic execution in the WASM semantics requires being able to apply (simpification) rules of the form
[code]

on configurations where `#chop` is nested down in some cell and `#inUnsignedRange(ITYPE, N)` is part of the "top" condition.

Required features:

- [x] rule simplification algorithm should not fail with hard "error" if there is a remainder upon attempting the rule
- [x] condit

[2019-09-17 13:18] ttuegel commented on #973
This could be another use case for #945.

[2019-09-17 13:30] traiansf commented on #973
maybe, although here, and generally for simplification rules, it's not as clear we have an `if_then_else_` pattern. The other simplification rule for `#chop` is

[code]

and it's not clear you would want this written in an `if_then_else_` pattern because there are values for which both preconditions fail.

[2019-09-17 14:37] ttuegel commented on #973
I was thinking that the result of a simplification rule could be,

[code]

[2019-09-17 17:00] yzhang90 opened #978 "[REPL] `log debug file` command not working"
I'm trying to use `log debug file` command to dump the log during proof debugging in REPL. However, no logging file is created. `log debug stdout` command is not working either.

[2019-09-18 13:03] ana-pantilie commented on #978
I haven't been able to replicate the issue. On what commit are you on?

I'm on the latest `master` (869d470a5a5905e8cd24e8a633cb35a1d38ad48e) and I ran `log debug stdout` and then `step` and the `repl` printed the debugging info to the console output. I then ran `log debug file testingLog.txt` and then `step` and the debugging info was now dumped to `testingLog.txt`. Note that the file is only cre

[2019-09-18 15:51] yzhang90 commented on #978
I find a buggy scenario:
I typed `log debug stdout` first
then `stepf 1`-> nothing is printed
then `step` -> log printed
then `stepf 1` -> log printed

[2019-09-18 16:08] yzhang90 opened #981 "[REPL] support log-scope command in REPL"
`kore-exec` has `--log-scope` flag which can be used to filter out unwanted entries in the log. I would like to have the same functionality implemented in REPL.

[2019-09-18 16:14] yzhang90 opened #982 "[KORE-LOG] dump the internal variable -> SMT variable mapping in the log"
When checking the SMT queries, I always confused by the variables that are used in the SMT queries(e.g., `<0>` `<1>` ...). It will be useful if we dump the mapping between internal variable name and SMT variable name in the log.

[2019-09-19 13:38] ttuegel opened #988 "Integration testing with upstream alias changes"
The frontend changes to use aliases as the left-hand side of rules are at kframework/k#767; we need to run the backend's integration tests with those changes.

[2019-09-19 13:59] ttuegel opened #989 "Replace Test.Kore.Comparators with Kore.Debug"
`Kore.Debug` already derives human-readable output formats for most types, but we will need to extend it to derive human-readable diffs.

[2019-09-20 15:24] #937 closed

[2019-09-20 15:48] yzhang90 opened #994 "Concrete definition rules prevent applying non-concrete rules"
In evm-semantics, there is a rule about `chop`,
[code]
The rule is marked as concrete in the semantics.
During proof, I tried to add a lemma about `chop` (for simplicity reason, i remove the conditions)
[code]
However, the lemma is not applied.
Then I tried the following combination:
remove concrete rules+ add lemma: lemma is applied
keep concrete rule + add simplification att to lemma: lemma is a

[2019-09-20 16:19] #981 closed

[2019-09-20 17:59] virgil-serbanuta commented on #994
If it's not a simplification rule, then it's a function definition rule. If some of the function definition rules are concrete, it may be reasonable to not attempt to evaluate the non-concrete ones "just in case", especially since we expect to have no reminder after applying all definition rules.

In other words, we rely on function definition rules being separate from all the others (which we cal

[2019-09-20 20:56] yzhang90 commented on #994
ok. i agree. I will wait for #973 to be implemented.

[2019-09-20 20:56] #994 closed

[2019-09-23 09:38] traiansf opened #997 "Unfold single constructors in proof goals"
This is currently blocking https://github.com/runtimeverification/polkadot-verification/issues/8

Whenever specifying a goal one usually only writes the cells needed to express the hypothesis and the conclusion. The rest of the cells are abstracted away by variables.

Nevertheless, some of these cells might be needed during the symbolic execution phase. Currently this is not (no longer) supported

[2019-09-23 09:47] traiansf commented on #997
Forgot to mention. Credits for the proposed solution should go to @virgil-serbanuta.

[2019-09-23 13:46] ttuegel commented on #997
I'm definitely in favor of any solution that can be implemented modularly! How will this affect the output of `kprove`?

[2019-09-23 14:00] #973 closed

[2019-09-23 14:17] #823 closed

[2019-09-23 14:28] virgil-serbanuta opened #998 "Predicate not simplified to predicate"
When running the SDIV summary proof, after a long time (10-30 min) we get an error at src/Kore/Step/Simplification/Predicate.hs:148:10, where the predicate is being simplified to a term+predicate pair. The term part seems to actually be a predicate that we haven't been able to identify as such:

[code]

I've attached the predicate being simplified.

[predicate.txt](https://github.com/kframework/ko

[2019-09-23 15:00] #982 closed

[2019-09-23 16:41] #943 closed

[2019-09-24 14:48] yzhang90 opened #1002 "Substitution is not used to simplify existential quantifiers"
I'm attempting to prove the following EVM spec:
[code]
Note that if the `callGas` cell is `_`, the spec can be proved. However, the prover can not prove `_ => _`.
I found that it reaches the configuration where `pc = 21`, however, during `removeDestination` step, it tries to simplify the term of the form `φ(X) ∧ (¬ ∃ Z. ⌈φ(X) ∧ α(Z)⌉)` and results in a predicate like [predicate.txt](https://github

[2019-09-24 14:58] ttuegel commented on #1002
We should try to add unit test(s) for simplifying such a predicate, and see where it breaks down. I will try that later today, time permitting.

[2019-09-24 18:40] ttuegel opened #1004 "KWASM sum-to-n proof"
---

- [ ] Prove the sum-to-n proof in kframework/wasm-semantics#220.
- [ ] Add the proof to our integration test suite.

[2019-09-24 18:47] ttuegel opened #1005 "KWASM simple arithmetic proofs"
See also: [tests/proofs/simple-arithmetic-spec.k](https://github.com/kframework/wasm-semantics/blob/master/tests/proofs/simple-arithmetic-spec.k), kframework/wasm-semantics#221

[2019-09-24 18:48] ttuegel opened #1006 "KWASM local memory proofs"
See also: [tests/proofs/locals-spec.k](https://github.com/kframework/wasm-semantics/blob/master/tests/proofs/locals-spec.k)

[2019-09-24 18:49] ttuegel opened #1007 "KWASM memory proofs"
See also: [tests/proofs/memory-spec.k](https://github.com/kframework/wasm-semantics/blob/master/tests/proofs/memory-spec.k)

[2019-09-25 13:58] ttuegel opened #1013 "Evaluate functions on the left-hand side of claims"
See also: #1000

[2019-09-25 14:49] ttuegel opened #1014 "Integration testing with KEVM semantics and K frontend"

[2019-09-25 14:52] yzhang90 commented on #1014
please use https://github.com/kframework/k/tree/priority-group  this branch

[2019-09-25 14:56] ttuegel commented on #1014
This is actually related to the build failures on `evm-semantics` with the frontend and backend `master`s; that's for #988.

[2019-09-25 14:57] yzhang90 commented on #1014
i see. I'll leave the comment there.

[2019-09-25 14:57] yzhang90 commented on #988
please use https://github.com/kframework/k/tree/priority-group this branch

[2019-09-25 16:21] yzhang90 opened #1015 "Simplification step doesn't keep applying function/simplification rules until the term stabilizes"
When proving the following spec on KWASM semantics:
[code]
I found that in depth 2, after `deriveSeq` step, the top of k cell is `chop(...)`. In the following `simplify` step, the `chop` function gets evaluated to `modInt` and simplification step terminates. However, there is still a simplification rule about `modInt` can be applied. The simplification rule is applied in the next `simplification`

[2019-09-26 14:40] ttuegel opened #1019 "Memoize symbolic application patterns"
At present, the backend will only memoize concrete application patterns because symbolic application patterns often occur with different `variable` type parameters, rendering memoization useless.

Supporting symbolic memoization would likely require changing the unification procedure to make different `variable` types unnecessary.

[2019-09-26 17:00] #1005 closed

[2019-09-26 20:07] yzhang90 opened #1021 "KEVM sum-to-n proof takes long time to finish"
https://github.com/kframework/evm-semantics/blob/master/tests/specs/examples/sum-to-n-spec.k takes around 20 mins to finish

[2019-09-26 20:16] ttuegel opened #1022 "Simplification axioms over builtin symbols are not applied"
The backend does not recognize an `AxiomIdentifier` for patterns with an internal representations of Map, Set, or List.

[2019-09-26 20:54] yzhang90 commented on #1021
I tried to modify the semantics and removed stackoverflow/underflow check.
[code]
By doing this the total run time reduces to ~5 mins. I think this is the best result we can get.
I'm still get confused why overflow/underflow check made such huge difference.
For the `sum-to-n` proof, there at most 10 elements on the stack and there are 17 opcodes in total.

[2019-09-26 20:56] yzhang90 commented on #1021
Answer by @ttuegel :
You hit #sizeWordStack(_) four times (at least) per op code, times the number of branches. Then you hit #sizeWordStack(_, _) up to the depth of the stack, so that's at least 10 * 4 * number of branches.

[2019-09-27 01:26] yzhang90 commented on #1021
I made some simple modification to EVM-semantics to store the result of #sizeWordStack... see https://github.com/kframework/evm-semantics/commit/71de70f5a5dcac99d9a653fbec0f6205e4964cc5.
however, this doesn't improve the performance at all...(even takes longer time)

[2019-09-27 13:37] ttuegel commented on #1021
Are you comparing to kframework/evm-semantics#508? I would expect that you can only beat performance there if the semantics is changed to _never_ calculate the length of a `WordStack`. Recall also that function evaluation has no operational semantics; there is absolutely no guarantee that `#sizeWordStack` will be evaluated before entering `#checkStack`, in which case it may be evaluated multiple t

[2019-09-27 15:19] #989 closed

[2019-09-27 15:30] yzhang90 opened #1027 "Map is not normalized when startup"
I'm debugging the memory-spec.k in WASM. In the very beginning, I print the config of node 0:
[code]
The `ModuleInstCellMap` doesn't put symbolic key value pair before the variable `VarMODULEINSTS`

[2019-09-27 17:05] ttuegel commented on #1027
We internalize the rules from the definition module [at startup](https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Simplification/Data.hs#L207), but we must not do this for the verification module.

[2019-09-27 20:03] ttuegel opened #1032 "Substitutions are inconsistently normalized"

[2019-09-27 20:17] ttuegel opened #1033 "Expansion of non-function symbols"
The axiom registry happily registers axioms for non-function symbols (without the `function` attribute) as function evaluators.

[2019-09-27 20:37] ttuegel opened #1034 "DoNotVerifyAttributes is nonsense"
The backend relies on attributes to perform symbolic execution. Important validity checks are omitted in the test suite by disabling attribute verification.

---

It is important that these are done in order, to ensure smooth refactoring:

- [x] Remove [`DoNotVerifyAttributes`](https://github.com/kframework/kore/blob/master/kore/src/Kore/ASTVerifier/AttributesVerifier.hs#L36) constructor.
- [x] Re

[2019-09-30 11:12] virgil-serbanuta commented on #1033
Why is this a bug?

[2019-09-30 13:39] ttuegel commented on #1033
If the symbol is not a `function` symbol, then the pattern isn't a function pattern, so we cannot apply the simplified remainder logic.

[2019-09-30 14:00] ttuegel opened #1036 "Replace Kore.Step.PatternAttributes with a Synthetic attribute"
A bit of clean-up: `Kore.Step.PatternAttributes` can be replaced with `Synthetic` attributes—in fact, it may already have been, and we just need conformance tests.

---

- [x] Comprehensive unit tests of `Kore.Step.PatternAttributes`
- [ ] Implement new `Synthetic` attributes?
- [ ] Remove uses of `Kore.Step.PatternAttributes`.

[2019-09-30 16:25] ttuegel opened #1037 "Surprising Functor, Traversable instances for OrPattern, OrPredicate"
The `Functor` and `Traversable` instances of `OrPattern` and `OrPredicate` do not preserve non-redundancy (under idempotence) of `\or` given a non-injective map, e.g.

[code]

This is not a _bug_ exactly, just an annoyance, but it is a thoroughly-solvable annoyance which has bitten us multiple times.

---

- [ ] Make `OrPattern` and `OrPredicate` `newtype`s over `MultiOr`.
- [ ] Define [`MonoFunct

[2019-09-30 18:16] ttuegel commented on #1022
Even after #1023, `\ceil` of builtins does not apply user-defined simplification axioms because there is no step to do that in the `Ceil` simplifier.

[2019-09-30 20:19] #1022 closed

[2019-09-30 22:04] virgil-serbanuta commented on #1033
Ah, ok. But what should be done about them? Reject them, or use the new stuff from @andreiburdusa and @traiansf for remainders?

[2019-10-01 00:03] #997 closed

[2019-10-01 10:35] #812 closed

[2019-10-01 13:43] ttuegel commented on #1033
I think we can safely ignore axioms that do not have an attribute tying them to a particular kind of evaluation. For example, select only `function` axioms for function evaluation, only `simplification` axioms for simplification evaluation (we already do that), only `overload` axioms for overloading. Function evaluation can use the checks from @andreiburdusa and @traiansf. I think it is OK to thro

[2019-10-01 13:45] ttuegel opened #1043 "Synchronize with upstream KEVM tests"
Since #1001, we should be able to run the KEVM integration test proofs without manually completing the cells in the configuration.

[2019-10-01 13:52] ttuegel opened #1044 "Allow incomplete intermediate unification results"
We would like to solve the following unification problem:

[code]

There is a unique solution:

[code]

assured by matching the `<key>` cell.

Presently, this unification is not implemented because unifying the `<map>` cells would initially branch between the accepted solution and another which has `KEY |-> VALUE` in `MAP'`. We would like to initially return a unification predicate when the Map un

[2019-10-01 14:55] ttuegel commented on #1032
It's questionable if this is really a bug. It's bug-ish. We also can't fix it right now.

[2019-10-01 14:55] #1032 closed

[2019-10-01 16:06] yzhang90 commented on #1044
https://github.com/kframework/kore/blob/master/docs/2019-05-23-Unification-Modulo-Equations.md
I think this issue can be a nice application of this article by @virgil-serbanuta.
For unification of two maps and the other <key> cell, we can only generate predicates like `ceil(K -> V M /\ K' -> V' M')` and `K =K'`. after we apply the substitution, we get `ceil(K -> V M /\ K -> V' M')`.
Then we start

[2019-10-01 16:19] ttuegel opened #1045 "Apply user-defined Ceil simplification rules over builtins"
We do not presently apply user-defined Ceil simplification rules (definedness rules) if the argument of Ceil is a builtin pattern.

---

- [x] Identify Ceil-builtin patterns by their symbols (#1023)
- [x] ~Improve matching on builtin Map and Set (#1028)~ (#1183)
- [ ] Apply axioms during Ceil simplification with [builtin arguments](https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/

[2019-10-01 16:55] yzhang90 commented on #1043
I've tested the #1001 on the sum-to-n spec that removes the unnecessary `<static>` cell in the spec.
The spec finished in 12 mins

Here are some findings (I copied an intermediate config in the Appendix):
1. The fix doesn't work with kore-repl. It works on kore-exec ( we need to think about a way to call repl so that changes to kore-exec will automatically work on kore-repl?)
2. There are some use

[2019-10-01 16:58] ttuegel commented on #998
This is the only case where we use `mkImplies` in the simplifier, I'm almost sure this is the problem:
https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Simplification/Implies.hs#L150-L160

[2019-10-01 16:59] ttuegel commented on #1043
I don't think that substitutions involving claim variables are useless, at least not from the perspective of display in the frontend. @virgil-serbanuta can probably say more.

[2019-10-01 17:00] ttuegel commented on #1043
The way to do this is to remove all the code from the executables to the libraries.

[2019-10-01 17:02] ttuegel commented on #998
There is a check above that block to see if the children of `\implies` are `\top` (i.e. simplified to pure predicates). If that check fails, then the actual problem must be in the `\or` or `\equals` simplifier not returning a predicate.

[2019-10-01 18:20] virgil-serbanuta opened #1049 "Crashing on missing smtlib expression when merging rules"
Steps to reproduce:
[code]

Error:
[code]

Also see:
https://github.com/runtimeverification/polkadot-verification/issues/39

[2019-10-01 18:21] virgil-serbanuta commented on #1049
[definition.txt](https://github.com/kframework/kore/files/3677925/definition.txt)

[2019-10-01 19:02] virgil-serbanuta commented on #1043
1. This should fix the replProve vs prove issue:
https://github.com/kframework/kore/pull/1048

[2019-10-01 19:06] virgil-serbanuta commented on #1043
2. Substitutions are not useless from a backend perspective, we receive a configuration, change it with the expansion thing, then add the substitution to the result to explain why we're proving something else. I think it would be incorrect to not return it.

I think that the (frontend?) code which takes the full configuration and removes some cells that it deems unrelevant should also remove the s

[2019-10-01 20:44] yzhang90 commented on #1043
@virgil-serbanuta What you said makes sense to me. Knowing the substitution can help debugging sometimes, but it is quite annoying to see those substitutions in repl every time i want to print the config. Can we log those substitutions at the beginning and get rid of them during symbolic execution?

When we generate the proof object, we need to show that proving
[code]
is equivalent to proving
[co

[2019-10-02 11:10] virgil-serbanuta commented on #1043
After some more thinking, my short-term concern is that the user asks us to prove that
[code]
and our backend gets stuck with some configuration deriving from `Cfg(C(p))`, and there's no explanation for where that `C(p)` came from, and what happened to `S`. That can, indeed, be solved by logging the substitution separately.

Doing proofs will anyway be different enough than what we currently do, s

[2019-10-02 14:49] yzhang90 commented on #1043
@virgil-serbanuta  Glad that we are on the same page. Are you going to open a PR for this?

[2019-10-02 16:32] virgil-serbanuta commented on #1049
The issue here seems to be that `Lblundefined'Unds'WASM-DATA'Unds'Val` is a constructor of `SortVal`, which uses a constructor+inj combination. The no-junk axiom declares this correctly, but we don't handle inj yet when sending stuff to the SMT, so we consider `SortVal` to be a non-constructor sort. On the other hand, since `Lblundefined'Unds'WASM-DATA'Unds'Val` is a constructor, we expect it to b

[2019-10-03 07:05] virgil-serbanuta commented on #1043
Maybe, I need to have an explicit approval for this task, @ttuegel in case he is interested in assigning it to me.

[2019-10-03 09:11] #1013 closed

[2019-10-03 11:02] ttuegel commented on #1043
@virgil-serbanuta I put this task on the Iteration board; you don't need my approval to pick it up. (Even if it wasn't on the board, it's bugging somebody who uses the backend, we should fix it.)

[2019-10-03 13:50] ttuegel opened #1058 "Investigate time limit on sum-to-n-spec.k"
The test exceeds the time limit after #1047; is this really a performance regression, or just inconsistency on Jenkins?

[2019-10-03 18:42] yzhang90 opened #1060 "Sending SMT queries while evaluate functions (with concrete values)"
I did some profiling on sum-to-n. I generate the log through the following process:
[code]
In the attached [log.txt](https://github.com/kframework/kore/files/3687569/log.txt) line `14555`, there is a SMT query (that I don't know the meaning). The query is generated in the context of evaluating `#asmOpcodes`. However, in the spec, the arguments of `#asmOpcodes` are concrete.
The spec I used is the

[2019-10-03 19:28] yzhang90 commented on #1043
@virgil-serbanuta it seems that the extra substitution was eliminated in PR #1047, but are we keeping the substitution information in the log?

[2019-10-04 08:57] virgil-serbanuta commented on #1060
This seems to be enclosed by
[code]
starting at line 2071 and ending at line 14604.

I guess that the smt query is sent while evaluating or simplifying the above symbol, by one of these:
https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Axiom/Evaluate.hs#L100
https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Axiom/Evaluate.hs#L104

`predicate`, which is and-ed to wh

[2019-10-04 09:32] virgil-serbanuta commented on #1060
Here's my attempt to make sense of this:

1. `simplifyPredicatesWithSmt` always adds the top+children predicate and checks stuff. I think that we could skip that if (there is at most one non-top children predicate) _and_ (the current predicate is top). This is not hard to do, but also, not trivial.

2. I'm trying to understand the SMT assertion. Somehow it does not make full sense to me. It looks

[2019-10-04 09:35] virgil-serbanuta commented on #1058
Is this about `sum-to-n-spec.k` as changed in #1000 , or the HEAD one?

[2019-10-04 12:55] virgil-serbanuta commented on #1027
@yzhang90 I cannot reproduce this, I think it was fixed by https://github.com/kframework/kore/pull/1047, could you confirm?

[2019-10-04 14:01] #1049 closed

[2019-10-04 14:10] virgil-serbanuta commented on #1043
I looked into this, it seems that you were right, @yzhang90 , #1047 removed the substitutions. I created #1062 to finish the entire substitutions issue.

[2019-10-04 16:27] virgil-serbanuta commented on #1058
I'm not sure this is related do #1047. This seems more like random noise. Here are the stats on my computer:

The unchanged sum-to-n-spec.k test:

before #1047: 3m4s
after #1047: 3m6s
at HEAD: 3m4s

sum-to-n-spec.k with the changes in #1000 patched in:
at HEAD: 15m12s
before #1407: 15m33s

Second claim in patched sum-to-n-spec.k:
at HEAD: 15m 44s
before #1407: 15m23s

[2019-10-04 16:56] yzhang90 commented on #1060
yes. your explanation makes sense.
1. `#asmOpcodes` does have `owise` rules.
2. we have `JUMPDESTS ==K #computeValidJumpDests(sumToN)` in the top level constraint and
[code]

[2019-10-06 17:23] yzhang90 opened #1065 "Function evaluation without configuration splitting"
Here is how we evaluate functions:

[code]
But the current approach doesn't fully take the advantage of passing top level predicate down and it will still split the configuration when doing function evaluation.

@ttuegel and I have the following proposal (also related to #945 ):
suppose we have two function eval rules:
[code]
the current config is `C(f(x)) /\ \top`.
`f(x)` can potentially have two

[2019-10-07 13:39] ttuegel commented on #1058
Whoa, why do the changes from #1000 slow it down so much?

[2019-10-07 13:56] ttuegel commented on #1065
We *should* check that `Pt ∧ ¬Ps` is unsat, but *do* we?

I don't understand what "we don't need to consider the side condition when evaluating `sigma`" means. What side condition?

I'm not sure what is being proposed here. Is it to evaluate function rules using a different method than semantic rules? That seems to be what (1) suggests.

[2019-10-07 14:03] virgil-serbanuta commented on #1058
Because in #1000 we do a real proof. I think that, before, we were just doing the loop proof for a single iteration (i=0), with #1000 we have the full program proof and the loop proof for all i>=0 (I think that the full program proof is fast, the loop proof is slow, I'm investigating why).

[2019-10-07 14:11] #1058 closed

[2019-10-07 14:58] yzhang90 commented on #1065
1. I changed the words: `we are checking` => `we should check`
2. I update the text. Based on what virgil describes, when evaluating `sigma`, we need to consider top level predicate `Pt(x, y)`, side condition `Ps(x, y)` for applying rules related to `sigma` and child predicates related to its arguments `Pf(x)` and `Pg(y)`. Now, we only need to consider `Pt(x, y)` and `Ps(x, y)`
3. yes. we should u

[2019-10-07 15:03] ttuegel commented on #1065
To clarify, when you say we do not need to consider `Pf` and `Pg`, that is because they are both `\top`.

[2019-10-07 15:06] yzhang90 commented on #1065
Yes. because when evaluating f(x), we already showed that Pt(x,y) -> Pf(x)

[2019-10-07 15:11] ttuegel commented on #1065
Supersedes: #793.

One useful comment there:

[2019-10-07 15:11] #793 closed

[2019-10-07 15:13] ttuegel opened #1066 "Function evaluation with top-level predicates"
We need to send top-level predicates into the function evaluator for #1065.

---

- [x] Test for renaming bound variables to avoid capturing the top-level predicate.
- [x] Use top-level predicate to evaluate function rules.

[2019-10-07 15:14] ttuegel commented on #1065
Needs: #1066

[2019-10-07 15:19] #1060 closed

[2019-10-07 16:11] yzhang90 commented on #1065
Suppose we have
[code]
The top level predicate is `true`, then in the proposed approach, we can not further evaluate `f(x)` and just keep `f(x)` in the term. Later, when we need to check the defineness of `f(x)`,  `f(x)` is more or less an uninterpreted function to the backend and the backend may get stuck. I think it this situation, we can require users to add defineness lemmas for `f(x)`.

[2019-10-07 18:10] ttuegel commented on #1065
That seems like a reasonable approach.

[2019-10-07 18:27] ttuegel opened #1069 "Do not discard entire substitution upon simplifiable cycle"
Consider a substitution with a simplifiable cycle, such as

[code]

Although applying the substitution for `x` would not terminate, we could apply the substitution for `y`. Presently, we convert this entire substitution to a predicate and apply none of it. This blocks further simplification because we cannot apply the rest of the substitution.

See also: #998, #1002, #1052

---

- [x] Factor a fun

[2019-10-07 18:34] ttuegel commented on #1014
This was related to some build failures on `evm-semantics`, but I haven't heard any complaints about that.

[2019-10-07 18:34] #1014 closed

[2019-10-07 18:37] ttuegel opened #1070 "Do not apply simplifier to fully-simplified patterns"
The simplifier should be idempotent, so there is no need to re-apply it to fully-simplified patterns.

See also: #1052

---

- ~Property tests for simplification (@virgil-serbanuta, #1081 )~
  - [x] Generator for well-formed patterns in a fragment of a definition
- [x] Skip simplification for patterns which are marked `Simplified` (@ana-pantilie)

[2019-10-07 18:57] ttuegel commented on #1069
This is also related to some proofs sending too many queries to Z3.

[2019-10-07 19:21] yzhang90 opened #1071 "Remove trivial branches when simplifying claims at startup"
I'm debugging the `https://github.com/kframework/wasm-semantics/blob/memory-spec/tests/proofs/memory-spec.k` under memory-spec branch in wasm-semantics.
I found that in `0449856d84f82eea8df31f8510ed5ed1066cdb36`, after simplifying the LHS, it split the original claim into 2. One of them is
[code]

- [x] `#Ceil (... modInt ...)` is simplifiable.
- [ ] We should simplify the predicate to remove triv

[2019-10-07 19:55] ttuegel commented on #998
I cannot reproduce this. @virgil-serbanuta Could you send me (on Slack) the version of the SDIV proof you are using?

[2019-10-07 21:39] yzhang90 opened #1072 "KWASM memory proofs"
spec:
https://github.com/kframework/wasm-semantics/blob/memory-spec/tests/proofs/memory-spec.k
(please use memory-spec branch)
command:
[code]
After executing 1 step, the result config is:
[code]
Here, i'd like to write lemmas like `#Ceil(K|->V REST) => notBool (K in_keys REST)`to simplify the `#Ceil` constraint. However, the backend doesn't support applying this lemma yet (see #1045).
After execu

[2019-10-07 23:45] ttuegel commented on #1007
Superseded by: #1072

[2019-10-07 23:46] ttuegel commented on #1072
To clarify: #1045 is good to have, #1044 is absolutely necessary. @virgil-serbanuta This should give the example you need for #1044.

[2019-10-07 23:55] ttuegel commented on #1045
I closed #1028 because the approach suggested there is too naive to work, but the following might work for matching abstract Map and Set patterns. Recall that matching is asymmetric: we want substitutions for variables in the **matching** pattern to make it equal to the **matched** pattern.

1. Match all the concrete keys in the matching pattern to the matched pattern. If any concrete key is missi

[2019-10-08 00:37] yzhang90 commented on #1071
We saw similar not(a) #and not(not(a)) in #1060

[2019-10-08 11:36] virgil-serbanuta commented on #1044
My guess is that this is about matching, not unification, but I'm still investigating.
Besides, I still have to figure out what that `#In` is doing there.

[2019-10-08 12:09] virgil-serbanuta commented on #1065
I think we do...

[2019-10-08 12:32] traiansf commented on #1066
The second task seems to have been implemented by PR #924.
PR #1074 adds tests and addresses the first task.

[2019-10-08 13:22] virgil-serbanuta commented on #998
I can't reproduce with the current master either, so I didn't send the file, but I'll send it if you think it provides some value.

[2019-10-08 13:53] ttuegel commented on #998
No, that's alright. I will open a pull request for rejecting non-trivial predicates in a simplified `term`, and otherwise we will consider this closed unless it occurs again.

[2019-10-08 13:58] ttuegel commented on #1044
There are two separate, but related, issues (this and #1045). This issue is about applying a rewrite rule where the left-hand side has a symbolic map,
[code]
to a configuration that also has a symbolic map,
[code]
This does not work because our unification procedure for maps does not handle the case when `M` and `M'` are both present. We do not even return the partial unification predicate.

Once

[2019-10-08 13:59] #947 closed

[2019-10-08 14:00] #1007 closed

[2019-10-08 14:15] #1027 closed

[2019-10-08 14:44] virgil-serbanuta commented on #1044
I have a guess about what's wrong here: if one of the maps is not function-like (which usually means that one of the key or values is not function-like, which usually means that one of the symbols used there is not function-like) then unification would just fail in the way described above. I can also make it work when arbitrary symbols are involved, but, before investing time in that, I'll try to

[2019-10-08 18:24] ttuegel commented on #1043
Needs #1069.

[2019-10-08 18:24] ttuegel commented on #1002
Needs #1069.

[2019-10-09 11:53] virgil-serbanuta commented on #1044
* First, I wrote some tests in https://github.com/kframework/kore/pull/1063 that should exercise this kind of unification.
* Second, as recommended on Slack, I tried the unification at step 13 in https://github.com/kframework/kore/issues/1072 , which revealed a repl issue with `try`, fixed in https://github.com/kframework/kore/pull/1075 .

@yzhang90 Is there anything else to do for this issue?

[2019-10-09 15:16] virgil-serbanuta opened #1077 "Check that (concrete) map keys are distinct."
We check whether concrete map keys are not identical patterns, but that's not enough if we have unevaluated symbols.

As an example, say we have two total function symbols from int to int, `f` and `g`, that do not have any definition. Then, when taking the ceil of `{f(1) -> 1, g(1) -> 1}` we get `top`, but the map might still be bottom if `f(1) == g(1)`.

Also see the "ceil with map domain value"

[2019-10-09 15:24] ttuegel commented on #1077
I don't know what your thoughts are about this, but instead of allowing any concrete keys, we could allow only types of patterns that we know are fully evaluated—Int, Bool, String—but this might cause problems with semantics that use Maps from identifiers to values.

[2019-10-09 15:27] virgil-serbanuta commented on #1077
We can also allow anything that has a constructor or inj at the top.

[2019-10-09 17:30] virgil-serbanuta opened #1081 "Property tests for simplification and the Simplified attribute"
Part of #1070

[2019-10-09 17:46] ttuegel commented on #1081
I'm waiting for @ehildenb to get back to me about the pattern generator he prototyped, but basically we want to use [Hedgehog.Gen.recursive](https://www.stackage.org/haddock/lts-14.8/hedgehog-1.0.1/Hedgehog-Gen.html#v:recursive) to build a `TermLike` from two lists of (respectively) non-recursive and recursive generators. The function will look something like,

[code]

[2019-10-09 20:10] ttuegel opened #1084 "Substitution coverage check too early"
`checkSubstitutionCoverage` is applied before the SMT solver has a chance to eliminate some unsatisfiable branches. For example, consider this error:

[code]

This predicate in the unifier renders the entire pattern `\bottom`:

[code]

But we call `checkSubstitutionCoverage` before filtering the impossible unifier, so the check fails.

See also: #1072

[2019-10-10 08:47] vladciobanu commented on #884
#980 should be the "Interface" part, so the next steps are:
- add at least one example (`WarnMissingHook`, note that we also need to make it so we only warn once per symbol)
- log on a separate thread

[2019-10-10 09:09] #988 closed

[2019-10-10 13:42] #1066 closed

[2019-10-10 19:04] yzhang90 commented on #1044
No. Nice! thanks a lot.

[2019-10-10 19:50] #978 closed

[2019-10-10 21:04] #950 closed

[2019-10-11 00:42] yzhang90 opened #1093 "REPL throws `Node does not exist` error"
I'm using REPL(https://github.com/kframework/kore/commit/e83e27fcaee1c2d252234a6efdde27281e1e8af2) to debug KWASM memory proof.
proof spec and command are described in https://github.com/kframework/kore/issues/1072.

I did the following in the REPL:
1. prove 1
2. stepf 3
then REPL throws the following error:
[code]

The commit before https://github.com/kframework/kore/commit/e83e27fcaee1c2d252234a

[2019-10-11 01:29] yzhang90 opened #1094 "REPL labels stuck node as Simpl/RD"
When I use kore (https://github.com/kframework/kore/commit/06c33265694ad088bab7ad102c0c7ee7f116e07b) and run
[code]
on the spec described in https://github.com/kframework/kore/issues/1072, I found that:
node 2 is at `Stuck` state
[code]
However, it is labeled as `Simpl/RD` in the graph
see attached execution graph in REPL.
![exec](https://user-images.githubusercontent.com/5641590/66618313-45356c80

[2019-10-11 09:27] #1093 closed

[2019-10-11 12:39] #1094 closed

[2019-10-11 13:46] yzhang90 opened #1097 "Marking Stuck/Unproven node in the REPL graph."
It would be really helpful if we can mark Stuck/Unproven node in the REPL graph. We can add `!` before a node number if the node is unproven or stuck

[2019-10-11 13:54] ttuegel opened #1098 "Report errors in the execution graph"
We should catch and report errors in the execution graph as a [`ProofState`](https://github.com/kframework/kore/blob/master/kore/src/Kore/Strategies/ProofState.hs#L39). That is, one possible proof state is "encountered an error rewriting the parent configuration." This will make the REPL much more usable.

[2019-10-11 14:25] ttuegel opened #1099 "Relax constraints on function memoization"
During function evaluation, we [check](https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Function/Evaluator.hs#L162) that the top-level predicate is `\top` before memoizing. However, we also only memoize if the function application is fully concrete, so the top-level predicate can't constrain the function anyway! Because the top-level predicate changes often, we will be able to mem

[2019-10-11 15:09] yzhang90 opened #1101 "Eliminate branch where argument of the configuration is undefined."
When proving WASM memory-spec.k, I met a branch has the following condition:
[code]

[2019-10-11 15:09] yzhang90 commented on #1072
We also need #1101

[2019-10-11 15:25] yzhang90 commented on #1101
whole configuration:
[code]

[2019-10-11 16:17] #1084 closed

[2019-10-11 16:53] ttuegel opened #1103 "Infer that left-hand side of claim is defined"
Given a claim,

[code]

we should immediately (at start-up) infer that `⌈φ⌉`, that is,

[code]

because the other possibility `¬⌈φ⌉` trivially satisfies the implication.

Attn: @yzhang90

[2019-10-11 18:39] yzhang90 commented on #1101
see #1103

[2019-10-14 13:14] traiansf commented on #906
PR at https://github.com/kframework/k/pull/842

[2019-10-14 15:10] #998 closed

[2019-10-14 18:18] #1099 closed

[2019-10-14 18:28] #1097 closed

[2019-10-14 20:27] yzhang90 opened #1107 "Reject predicates that contain contradiction"
We should reject unification results that contain both `p` and `not(p)`. This is simply `unsat`.

[2019-10-14 20:28] ttuegel commented on #1107
It would actually be simple to do this in the predicate simplifier: at the same time as we check idempotence (`p` occurs once in the predicate) we can just check for contradiction (`p` does not occur in the predicate).

[2019-10-15 14:21] yzhang90 commented on #1072
need #1107

[2019-10-16 19:53] vladciobanu commented on #1098
Fixed by https://github.com/kframework/kore/pull/1111

[2019-10-16 19:53] #1098 closed

[2019-10-17 14:44] vladciobanu opened #1117 "Logging: Warn about missing hooks instead of throwing an error"
Create a new logging entry, `WarnMissingHook` and replace the current error with a log message.

See #884 for details

[2019-10-18 13:53] ttuegel opened #1120 "Improved \not simplification"
Internally simplifying `\not \and` into `\or \not` would allow us to simplify predicates of the following form, which contains `\and(p, \not p)` in a way that is not otherwise obvious:

[code]

- [x] Simplify `\not(\not(φ))` to `φ` in [makeTermNot](https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Simplification/Not.hs#L177)
- [x] Simplify `\not(\and(φ₁, φ₁))` to `\or(\not(φ₁), \no

[2019-10-18 13:55] ttuegel opened #1121 "Kore.Step.Result.Results is hard to use"
The `Semigroup` and `Monoid` instances are challenging because they invite abuse (discarding remainders). With minor refactoring to `Kore.Step.Step`, we can eliminate any use of these instances.

See also: #1037

[2019-10-18 14:02] #1107 closed

[2019-10-18 20:51] #734 closed

[2019-10-21 19:19] ttuegel commented on #1101
Duplicate of: #1103

[2019-10-21 19:19] #1101 closed

[2019-10-21 19:20] ttuegel commented on #1071
Duplicate of #1103.

[2019-10-21 19:21] ttuegel commented on #890
Duplicate of: #1117

[2019-10-21 19:21] #890 closed

[2019-10-22 08:41] ana-pantilie commented on #1015
This issue should be fixed by https://github.com/kframework/kore/pull/1086

[2019-10-22 10:29] ttuegel opened #1131 "Produce a helpful error message when Z3 is missing"
Presently, the error produced when Z3 is missing is just an internal exception:

[code]

We should catch this error and re-throw a more useful exception.

[2019-10-22 10:31] ttuegel opened #1132 "Catch and log errors"
Presently an error looks like this:

[code]

It is prefixed with `kore-exec:` so at least the user knows where it is coming from, but it will not appear in the log, and there is no explicit indication that this is an error. The logger should catch errors at the top-level and insert them into the log before terminating.

Obviously, this should be done only after we fix the performance problem with

[2019-10-22 14:33] virgil-serbanuta opened #1133 "Expected all predicates to be removed from the term."
When simplifying the term at the end, we get the following error:
[code]

The term that was originally being simplified is this one:
[code]

[2019-10-22 14:43] virgil-serbanuta opened #1134 "Infinite loops, permanently growing memory"
The following examples cause infinite loops, probably all have the same underlying cause. Creating tests for these in `kore/test/Test/Kore/Step/Simplification/Integration.hs` will almost surely reproduce the issue.

[code]
***
[code]
***
[code]

[2019-10-22 14:43] virgil-serbanuta commented on #1133
Creating tests for these in `kore/test/Test/Kore/Step/Simplification/Integration.hs` will almost surely reproduce the issue.

[2019-10-22 14:48] virgil-serbanuta opened #1135 "Term not fully simplified"
For the following term we get a "term not fully simplified" error. Creating a test  in `kore/test/Test/Kore/Step/Simplification/Integration.hs` will almost surely reproduce the issue.

[code]

[2019-10-22 14:49] virgil-serbanuta commented on #1135
The error is caused by `equalInjectiveHeadsAndEquals` not fully simplifying the returned result.

[2019-10-22 14:54] virgil-serbanuta opened #1136 "Ceil term not fully simplified"
The following term is not marked as being simplified after simplification. Creating a test in `kore/test/Test/Kore/Step/Simplification/Integration.hs` will almost surely reproduce the issue.

[code]

[2019-10-22 14:56] virgil-serbanuta commented on #1135
Needs https://github.com/kframework/kore/pull/1118

[2019-10-22 15:11] #1117 closed

[2019-10-22 15:21] virgil-serbanuta commented on #1081
Depends on #1133 #1134 #1135 #1136

[2019-10-22 20:21] #1134 closed

[2019-10-22 21:18] vladciobanu opened #1140 "Handle log scopes for any log entry"

[2019-10-23 13:37] ttuegel opened #1146 "Function rules with partial heads are unsound"
The translation of K function rules as equalities in Kore is unsound if the left-hand side of a function rule may be undefined. Consider this K definition,

[code]

This definition is translated to the following Kore (approximately):

[code]

(I am misusing the Kore syntax slightly; there is no syntax for maps, nor infix operators, but I hope the meaning is clear.)

Note the universal quantificati

[2019-10-23 15:15] yzhang90 commented on #1146
i think it should be OK to generate the following equation:
[code]
basically we need to make sure all the arguments are defined. Most of the time, the arguments are just variables and the frontend can omit generating Ceil(V)

[2019-10-23 18:11] virgil-serbanuta opened #1148 "Term not fully simplified (2)"
For the following term we don't properly set the "simplified" bit. Creating a test in `kore/test/Test/Kore/Step/Simplification/Integration.hs` will almost surely reproduce the issue.

[code]

[2019-10-23 21:18] vladciobanu opened #1149 "Add MAP.values hook"

[2019-10-23 22:25] yzhang90 opened #1151 "Simplifiable cycle in a substitution"
We met the following situation in the KWASM semantics:
[code]
f is a constructor.
Now the current config is `<k> f(X:Int) </k> <a> X |-> VAL </a>`.
The unification will produce the following constraint:
[code]
The haskell backend will get stuck while there is clearly a solution here. We need to find a general way to solve it.

[2019-10-23 22:36] yzhang90 commented on #1151
One possible solution is that:
1. We first divide the substitution into two groups: non-simplifiable head and simplifiable head. If there is cycle in the non-simplifiable group, we  just return `unsat`. If all substitutions are in simplifiable group, we just throw error. In the above example, non-simplifable group is `TFID = inj{X}` and simplifiable group is `X = #compute(TFID)`
2. We apply the su

[2019-10-24 00:28] ttuegel commented on #1072
Fixed by #1130.

[2019-10-24 00:28] #1072 closed

[2019-10-24 00:28] ttuegel commented on #1036
Fixed by #1126.

[2019-10-24 00:28] #1036 closed

[2019-10-24 08:47] virgil-serbanuta commented on #1151
1 - Why do we return unsat for non-simplifiable stuff? I understand why we would do that for, say, constructors and inj (unless we can have two sorts `S1` and `S2` with injections both from `S1` to `S2` and from `S2` to `S1`, and, if we assume that this does not happen, we should actually check that's true during verification), but not for unsimplifiable stuff in general. If we have `x=f(x)` where

[2019-10-24 09:24] virgil-serbanuta commented on #1146
@ttuegel This might be an immediate problem for the backend: Consider applying this axiom to `unsound(1->2 N)`. We would get `1`, but we could later have a branch where `N=1->2` (or we could discover it on the main branch). If so, then we have applied the axiom in an invalid case, losing information in the process.

[2019-10-24 10:05] #1136 closed

[2019-10-24 10:36] ana-pantilie commented on #1071
I think 1. is fixed on the latest `kore` master, could you please double check?

[2019-10-24 11:06] #1140 closed

[2019-10-24 11:50] #1133 closed

[2019-10-24 12:56] #1149 closed

[2019-10-24 13:22] yzhang90 commented on #1151
1 - @virgil-serbanuta I thought non-simplifiable symbol means the constructor and inj, because they can not be further implemented. if `f` is a function symbol, it will be put into the simplifiable group. (My understanding of the term `non-simplfiable symbol may be wrong. You get the idea)

2- You are correct, I'll update the text

[2019-10-24 13:49] ttuegel commented on #1151
Sorry, I think I introduced the "non-simplifiable" terminology in my discussion with @yzhang90 yesterday. In the substitution simplifier, we already use this terminology to refer to constructors and sort injections: we have axioms for these symbols that say they cannot be simplified.

[2019-10-24 15:50] virgil-serbanuta commented on #1148
This is the failing example:
[code]

[2019-10-24 16:30] ttuegel commented on #1146
@virgil-serbanuta I think we apply the pre-condition that all of the arguments are defined when we evaluate functions, so in that example, we would carry the condition `\ceil(1->2 N)`.

[2019-10-24 16:34] ttuegel commented on #897
The field was added, but we do not recognize the form of the rule produced by the frontend.

[2019-10-24 17:12] virgil-serbanuta opened #1153 "Incomplete simplification error"
For the term below we get an "Incomplete simplification! Expected all patterns to be fully simplified." error. Creating a test in kore/test/Test/Kore/Step/Simplification/Integration.hs will almost surely reproduce the issue.

[code]

[2019-10-24 21:28] ttuegel commented on #1071
Yes, the `Ceil(... modInt ...)` problem is definitely fixed.

[2019-10-24 21:31] ttuegel opened #1155 "Warn when introducing suspicious Implies"
We should emit a warning when a new node in the execution graph has an `\implies` predicate that does not occur as a subterm of the parent configuration. These predicates are intermediate states which should be simplified away; in every case we have seen, the persistence of such a predicate indicates a simplification error.

Suggestion from @yzhang90

[2019-10-24 23:14] #1034 closed

[2019-10-25 07:40] #1148 closed

[2019-10-25 08:01] virgil-serbanuta commented on #1146
Ok, interesting. Where are we doing that?

[2019-10-25 08:05] virgil-serbanuta commented on #1155
BTW, do we have a way of telling whether our tests generate warnings? If yes, do we fail the test on warnings?

[2019-10-25 13:57] ttuegel opened #1160 "instance Entry SomeEntry"
There should be a trivial (delegate) instance of `Entry` for `SomeEntry`.

[2019-10-25 14:01] vladciobanu commented on #1160
Should be pretty easy to fix, just add the instance and grep the source for all usages of the `SomeEntry` constructor/pattern match. All (or at least, most) of them should be replaced.

[2019-10-25 17:27] virgil-serbanuta commented on #1153
This bug works something like this:

We have an `equals (OrPattern [predicate1 predicate2]) top`. `OrPattern [predicate1 predicate2]` gets transformed to a pattern with a top term and the obvious `or` as the predicate (this pattern will be called `or-predicate` in the following). Since the initial `equals` becomes an `equals` between predicates, it is simplified as an `iff or-predicate top`. The `

[2019-10-25 21:29] ehildenb opened #1164 "Simple proof about all-path reductions fails non-intuitively"
With the following K definition (`simple.k`):

[code]

and the following specification (`simple-spec.k`):

[code]

I am able to successfully do `kompile --backend java simple.k` and then `kprove simple-spec.k`. But doing `kompile --backend haskell simple.k` followed by `kprove simple-spec.k` gives the following crash:

[code]

I believe it should be able to prove this property fairly easily. I've

[2019-10-28 11:50] #1071 closed

[2019-10-28 13:19] virgil-serbanuta opened #1165 "Term not fully simplified error (3)"
For the following term we get a "Incomplete simplification" error. Creating a test in kore/test/Test/Kore/Step/Simplification/Integration.hs will almost surely reproduce the issue.
[code]

[2019-10-28 13:20] virgil-serbanuta opened #1166 "Term not fully simplified (4)"
For the following term we get a "Incomplete simplification" error. Creating a test in kore/test/Test/Kore/Step/Simplification/Integration.hs will almost surely reproduce the issue.
[code]

[2019-10-28 13:22] virgil-serbanuta opened #1167 "Term not fully simplified (5)"
For the following term we get a "Incomplete simplification" error. Creating a test in kore/test/Test/Kore/Step/Simplification/Integration.hs will almost surely reproduce the issue.
[code]

[2019-10-28 15:42] virgil-serbanuta commented on #1166
Duplicate of #1167

[2019-10-28 15:42] #1166 closed

[2019-10-28 16:03] #1153 closed

[2019-10-28 16:48] virgil-serbanuta opened #1170 "Solve the simplified bit through iteration"
Also see: https://docs.google.com/document/d/18fWqzbZEWP9Rk2Cs8WAmLo_xASHs5snATC2Rqc6bXoI/edit#heading=h.x6oeobrwwvom

[2019-10-28 16:49] virgil-serbanuta commented on #1165
Blocked on #1170

[2019-10-28 20:01] #1167 closed

[2019-10-29 16:29] ana-pantilie opened #1174 "Add NonSimplifiable attribute for patterns"
This is needed for https://github.com/kframework/kore/issues/1077.

A pattern is `NonSimplifiable` if it's a:
1. `BuiltinBool` or `BuiltinInt` or `BuiltinString`
2. a constructor applied over a `NonSimplifiable` pattern
3. a sort injection applied over a `NonSimplifiable` pattern `pat`, where `pat` does not also have a sort injection at the top

See https://runtimeverification.slack.com/archives/C

[2019-10-29 17:48] virgil-serbanuta opened #1176 "Stop emitting no-junk axioms for simplifiable symbols"
In the generated kore code for https://github.com/kframework/kore/blob/master/src/main/k/working/tests/set-vars/setvars.k#L16 the symbol for `i()`, `Lbli'LParUndsRParUnds'SETVARS'Unds'KItem'Unds'Int`, is included in the no-junk axiom for `KItem`. Most likely it should not be there, given that it has a simplification axiom.

[2019-10-29 19:57] ttuegel commented on #884
We should pick this up again ASAP because it has significant observability benefits. For example, right now even warnings are silenced by default.

[2019-10-29 20:01] ttuegel opened #1177 "Missing hook: KRYPTO.sha256"
This hook is needed for the Beacon Chain spec.

See also:

- Java backend [hook](https://github.com/kframework/k/blob/master/java-backend/src/main/java/org/kframework/backend/java/builtins/BuiltinCryptoOperations.java#L74)

[2019-10-29 20:14] ttuegel opened #1178 "kore-repl: Output file not specified"
If the output file is not specified (`--output`), use standard output.

[2019-10-29 20:17] ttuegel opened #1179 "kore-repl: Simplify claims after start-up"
`kore-repl` simplifies all the claims before start-up. This is very confusing for the user, and not very useful: if all claims are trivial, the user cannot load them to inspect. It is also confusing because the claims may be split, and therefore do not correspond to the claims in the spec file. We should postpone this simplification to the first step of the strategy.

[2019-10-29 20:17] ttuegel opened #1180 "kore-exec: Take extra options from environment"
It would be useful to set an environment variable such as `KORE_EXEC_OPTS` with extra command line arguments to `kore-exec`.

[2019-10-30 12:56] #1002 closed

[2019-10-30 12:56] #1069 closed

[2019-10-30 14:56] ttuegel opened #1183 "Matching to iterate over Map and Set"
We need to support matching for functions to iterate over the keys of a Map or Set, as seen [here](https://github.com/kframework/evm-semantics/pull/532/files#diff-494b4c66d4128fe395a8c9607fab3629R1180-R1181).

~A sufficient and simple implementation is given [here](https://github.com/kframework/kore/issues/1045#issuecomment-539253453).~

The only thing we need to support right now is matching a si

[2019-10-30 16:26] ttuegel opened #1185 "Reject sentences with `hook` attributes that are not `hooked-`"
It is illegal to have a `hook` attribute on a sentence that is not `hooked-` and the backend will ignore the attribute, to the detriment and confusion of the user.

[2019-10-30 16:48] ttuegel opened #1186 "Missing hook: LIST.update"

[2019-10-30 17:20] ttuegel opened #1187 "Clean up logging options"
These are user interface bugs:

- [ ] `--log none` makes no sense; the user should not be able to suppress error reporting.
- [ ] The default `--log-level` should be `warning`.
- [ ] `--log stdout` should be `--log stderr`.
- [ ] Fix the `--help` to explain how to use `--log` to specifying a filename.

[2019-10-30 18:54] #1177 closed

[2019-10-31 13:56] #1070 closed

[2019-10-31 13:57] ttuegel commented on #1006
Needs #1151

[2019-10-31 15:13] ttuegel opened #1191 "Unit tests should capture logged warnings"
The unit test runner should not use an empty logger, but should ensure that no test makes a log entry more severe than warning.

[2019-10-31 15:13] ttuegel opened #1192 "Command line option to turn warnings into errors"
`kore-exec` should have the equivalent of `-Werror`.

[2019-10-31 16:49] #1043 closed

[2019-10-31 19:32] nishantjr opened #1193 "Haskell: Rewrite a term to a constrained symbolic variable"
Whats the correct way to create a symbmolic Int bounded above and below, using the Haskell backend?I'm trying this:

[code]

But I see `kore-exec: Quantifying both the term and the predicate probably means that there's
an error somewhere else.`I tried requires as well

[2019-11-01 15:41] #1174 closed

[2019-11-01 16:55] ttuegel commented on #1193
When a rule variable ends up in the term and condition of the configuration, it usually indicates that the backend has tried to execute past the end of the `<k>` cell. We could relax this check so that variables only appearing on the right-hand side of the rule are allowed to appear quantified in the term and condition. @virgil-serbanuta, what do you think?

[2019-11-01 16:56] ttuegel opened #1196 "Outdated Unparse instances for rules"
For example, the instance for [RewriteRule](https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Rule.hs#L238) is missing several fields.

[2019-11-01 19:35] ttuegel opened #1198 "Evaluate sort injections when concretizing Map and Set keys"
When `Kore.Builtin.AssociativeCommutative.renormalize` normalizes a Map or Set after substitution, it does not simplify sort injections, so it may think that two equal keys are actually distinct.

See also: #1169

[2019-11-01 19:37] #1033 closed

[2019-11-04 12:07] virgil-serbanuta commented on #1193
I don't remember all the details about why we didn't want to allow quantifying both the term and the predicate, but what you say seems reasonable regardless of those details.

[2019-11-04 12:10] virgil-serbanuta commented on #1196
I propose to match function the arguments with `Constructor _ _ _ ... ` form more often in order to make sure that we don't forget updating the function when a struct changes. I.e. we should ask ourselves if we expect to change that function if we add a new field to the struct, and, if we do, we should match as mentioned above.

[2019-11-04 15:35] #1178 closed

[2019-11-04 17:03] #1186 closed

[2019-11-04 18:31] ttuegel commented on #1196
I agree, in fact that's what I did in my draft branch.

[2019-11-04 18:41] ttuegel commented on #1193
So it looks like:

- [ ] [`unwrapAndQuantifyConfiguration`](https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Step.hs#L162) should fail if it would quantify a variable that only appears on the left-hand side of the configuration
- [ ] The error condition in [`quantifyPattern`](https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Simplification/Exists.hs#L352) should be

[2019-11-05 11:43] ttuegel opened #1207 "Incorrect set variable de-duplication"
During substitution normalization, we de-duplicate element variable substitutions in this way:

[code]

Set variables are de-duplicated in the same way, which is not correct. Set variables should be de-duplicated this way:

[code]

These transformations are equivalent for element variables.

See also: https://runtimeverification.slack.com/archives/CC360GUTG/p1572914597064200

[2019-11-05 18:16] ttuegel opened #1211 "Missing hook: Int2Bytes and Bytes2Int"
In the time since we started on #936, KEVM has grown to depend on `Int2Bytes` and `Bytes2Int` as well.

---

- [x] `Endianness` and `Signedness` constructors
  - [x] Hard-code symbol names in backend. (Or look at `klabel` attribute?)
  - [x] Require `symbol'Kywd'{}()` attribute.
- [x] `Int2Bytes`
- [ ] `Bytes2Int`

Check for `Endianness` and `Signedness` in builtin evaluator.

[2019-11-05 18:48] #936 closed

[2019-11-05 19:59] #1165 closed

[2019-11-05 22:16] #1135 closed

[2019-11-06 00:27] #1160 closed

[2019-11-06 00:27] #1081 closed

[2019-11-06 00:27] #897 closed

[2019-11-06 15:08] #1170 closed

[2019-11-06 15:10] ttuegel opened #1215 "Property test: Simplifier idempotence"

[2019-11-06 16:07] #1015 closed

[2019-11-07 15:05] ttuegel opened #1221 "Generate elementMap with non-simplifiable keys for tests"

[2019-11-07 15:20] ttuegel commented on #1207
During the iteration planning meeting, we discussed this issue, but could not come to a resolution. We don't actually need to implement set variable deduplication right now because it is not required by any semantics. We should implement an error message in case it is required.

In [`Kore.Step.Simplification.SubstitutionSimplifier.deduplicateSubstitution`](https://github.com/kframework/kore/blob/m

[2019-11-07 16:22] #1006 closed

[2019-11-07 16:22] #1151 closed

[2019-11-08 00:16] hjorthjort opened #1223 "LIST.in hook not implemented in Haskell symbolic execution"
Working on a proof for wrc20, the Haskell backend fails at what the Java backend can do:
[code]

Reproducible from this commit: https://github.com/kframework/wasm-semantics/tree/2e3ffbfde3ffab4b87d05c5eab7ebff47fae37f0

[2019-11-08 00:31] #940 closed

[2019-11-09 00:05] #1180 closed

[2019-11-11 14:26] yzhang90 opened #1233 "Long REPL startup time"
I noticed that REPL took a long time (~5mins) to start on KEVM sum-to-n proof.
I evaluated several commits with the following command:
[code]
here is the result:
1. running on https://github.com/kframework/kore/commit/f0cc4f4f0f3e3bec10cc7f65627465a673f6c196 takes 0m4.811s
2. running on https://github.com/kframework/kore/commit/56bfafc88c4b8e1f4526d03060b07cbe239e7f0f takes 1m53.401s
3. running on

[2019-11-11 15:59] ttuegel commented on #1179
Related: #1233

[2019-11-11 16:02] ttuegel commented on #1164
I removed the `bug` label because this is actually a `feature` request. We would need to instantiate the `S:S` variable in the `<k>` cell with all the rules to prove the claim. This is intentionally not yet implemented.

[2019-11-11 20:43] #1223 closed

[2019-11-11 22:05] #1233 closed

[2019-11-12 13:59] traiansf commented on #1193
I started looking into this issue today, and so far, I have two comments (thanks @virgil-serbanuta for helping figuring them out):

1. the current encoding of `?` variables in KORE is incorrect because they are encoded as free variables, which should be implicitly universally quantified, although they are clearly meant to be existential.
2.

[2019-11-12 14:39] traiansf commented on #1193
Additional comment:

If the above rule is changed into a definitional rule, then it kind of works:

[code]

Rewriting `foo` produces the output
[code]

So, no error. The ensures seems to have been lost in the output, but I think this is dues to our imperfect interface with the frontend.

[2019-11-12 18:33] #1221 closed

[2019-11-12 20:22] ttuegel commented on #1207
Fixed in #1224.

[2019-11-12 20:22] #1207 closed

[2019-11-12 20:40] #1187 closed

[2019-11-13 11:24] #1077 closed

[2019-11-13 21:25] #1131 closed

[2019-11-14 14:33] ttuegel commented on #1193
This is definitely a bug.

[2019-11-14 14:55] ttuegel commented on #872
Fixed in #1187.

[2019-11-14 14:55] #872 closed

[2019-11-14 14:56] ttuegel commented on #884
Fixed in #1187.

[2019-11-14 14:56] #884 closed

[2019-11-14 15:34] ttuegel commented on #1065
1. [ ] Make the change to evaluate functions without splitting, see what breaks, and report back. (estimate: XS)
2. ???

[2019-11-14 15:51] ttuegel opened #1243 "Functions with ensures"
A function rule's `ensures` clause is currently, and incorrectly, ignored.

See also: #1193

[2019-11-14 20:04] ttuegel commented on #699
See also: https://runtimeverification.slack.com/archives/CLK6UUTNE/p1573761340082900

[2019-11-14 20:33] ttuegel opened #1245 "Matching with \or patterns is not right"
For example,

[code]

This rule is intended to say,

[code]

but it actually says `\equals(toC(A) ∨ toC(B), C)`, which could be satisfied if `toC(A) = ⊥` or `toC(B) = ⊥`. That is not what the user wanted!

See also: #699

[2019-11-15 02:31] ttuegel opened #1247 "Log applied rules"
We need to log applied rules with the substitution used to instantiate them. By default, they should be logged at `debug` level, with an option to display rules for specific symbols regardless of the `--log-level`.

- [x] Add an instance of `Entry` for applied rules (`AppliedRuleEntry`?)
- [x] In [`Kore.Step.Step.finalizeRule`](https://github.com/kframework/kore/blob/master/kore/src/Kore/Step/Step

[2019-11-15 10:33] vladciobanu commented on #1185
This has changed to "warn about unhooked symbols", see https://runtimeverification.slack.com/archives/CC360GUTG/p1573726962193100

[2019-11-15 12:29] virgil-serbanuta commented on #1245
So, the problem is that the axiom is not translated properly, right?

[2019-11-15 14:12] ehildenb opened #1250 "KEVM: merkle-failing-spec.k"
On `master` branch of KEVM, the proof `tests/specs/functional/merkle-failing-spec.k` is newly failing. This proof used to be run on CI with the Haskell backend.

It contains two proofs:

[code]

One which is failing with:

[code]

And the other which I think is hanging.

To reproduce:

[code]

[2019-11-15 14:34] ttuegel commented on #1245
Yes. I don't know if we want to change the translation of functions in general, or just split the rule in the frontend, but the existing translation doesn't mean what the user wants it to mean.

[2019-11-15 16:34] ttuegel commented on #1245
To elaborate, for a rule (neglecting `requires` and `ensures`)

[code]

the translation is

[code]

but the user meant

[code]

These axioms are equivalent when all the patterns are functional; I think this is why there is a breakdown between the user's intuition and the logic.

[2019-11-15 16:48] ttuegel commented on #1065
As a stop-gap, after disabling configuration splitting, we can introduce an axiom attribute to allow certain function rules to split the configuration.

[2019-11-15 16:49] ttuegel opened #1252 "Detect diverging function evaluation"
Some divergences are easy to check, e.g. if we are evaluating `f(φ)` and encounter a sub-term which is literally `f(φ)`, evaluation will surely diverge. Other cases are not so simple.

Implementing #1065 will reduce the tendency to diverge during symbolic execution because we will not take branches speculatively.

[2019-11-15 16:52] ttuegel opened #1253 "Evaluate isKResult with hybrid attribute"
In the presence of the `hybrid` attribute, the frontend generates a `isKResult` function with a recursive predicate. The recursive predicate diverges, even is concrete execution. We will have a separate issue about solving the recursive predicate. As a workaround, we should not evaluate `owise` rules when another rule is recursive, unless the term is a non-simplifiable concrete term.

[2019-11-15 16:55] ttuegel commented on #1253
We should finally refactor the symbol simplifiers to support this, too.

[2019-11-15 17:06] yzhang90 commented on #1245
[code]
gives less information than
[code]
as previous definition doesn't say toC is defined on A.
I would say we should not allow user to write `#Or` in function definition rules or do some transformation in the frontend...

[2019-11-15 17:21] ttuegel commented on #1245
@dwightguth @traiansf How do you feel about disallowing `#Or` on the left-hand side of function rules?

[2019-11-15 19:43] dwightguth commented on #1245
If the conclusion is that we don't want to try to come up with a translation to kore for or patterns in function rules, it would be much better to desugar everything in the frontend than to simply disallow it. But I'm not opposed to that as a solution. That's essentially what the llvm backend does anyway, just at a slightly later phase.

[2019-11-15 20:50] ttuegel opened #1255 "Cannot resolve inequality of overloaded constructors and domain values."
An overloaded constructor does not resolve to a domain value injected from a lower sort.

Perhaps related: because we do not apply the actual overloading axioms, sort injections may not be split correctly.

See also: #1254

[2019-11-15 20:51] ttuegel opened #1256 "Missing unification cases no longer produce errors"
At one time, it was an error if a particular unification case was not recognized when applying rules. Now it seems that we promote unknown cases to equalities in a (likely) futile attempt to continue.

See also: #1255

[2019-11-15 21:32] ttuegel commented on #826
We should also do something similar for associative operators like `concatList`.

[2019-11-17 04:05] #1185 closed

[2019-11-17 06:55] traiansf commented on #1245
My only concern is that we shouldn't allow equality rules like the one above to reach KORE, as once it is in KORE we cannot "desugar" it into two rules.

[2019-11-18 11:41] ttuegel opened #1258 "Solve recursive predicates with Mu"
In the presence of the `hybrid` attribute, the frontend generates a `isKResult` function with a recursive predicate which diverges during evaluation. We should resolve this issue by translating the `isKResult` function to a sort-like symbol `KResult` defined with `\mu`, and implementing proper support for unification with `\mu`.

See also: #1253

[2019-11-18 12:14] virgil-serbanuta commented on #1258
Just curious: so we really want unification with mu or is matching going to be good enough?

[2019-11-18 12:50] #1247 closed

[2019-11-18 14:52] ttuegel commented on #1258
This would definitely require unification with `\mu`. I'm not sure that we definitely want to go this way, but @yzhang90 and I were going to discuss the design. We can decide if this is the right way to go once we have some particular design in mind. There is a suitable work-around (#1253) so this should not be neede in the near-term.

[2019-11-18 14:56] ttuegel opened #1259 "KWASM: memory-concrete-type-spec.k"
This spec is proven with the Java backend, but not with the Haskell backend.

See also: [memory-concrete-type-spec.k](https://github.com/kframework/wasm-semantics/blob/master/tests/proofs/memory-concrete-type-spec.k)

[2019-11-18 15:15] ttuegel opened #1260 "Fix claim-detection algorithm in frontend"

[2019-11-18 16:49] xc93 commented on #1245
I'm overall not in favor of allowing users to write `rule toC(A #Or B) => C` when they actually mean two rules `rule toC(A) => C` and `rule toC(B) => C`. The reason, as pointed out by @ttuegel and @yzhang90  , is that it is not logically correct unless `C` is a total function.
Given that said, if we do have such `#Or` rules in the frontend, then the best way to translate them into backend would be

[2019-11-18 18:20] ttuegel opened #1261 "Idempotent unification of Lists"
Unify list patterns of the form

[code]

See also: #1246

[2019-11-18 18:34] ttuegel opened #1262 "Boundary pattern matching"
We would like to accept a pattern, generated by the frontend, to match the current proof goal and immediately perform the implication check. Usually, this will be a pattern to match certain cells in the source and target configurations, such as:

[code]

I would like for the frontend to output the pattern to match the entire goal (rather than only the configuration) because it saves us from having

[2019-11-18 18:41] ttuegel opened #1263 "Debug function evaluation"
- [x] Log every attempted function, even (especially) if no rules apply.
- [x] Log beginning and end of each function to give context to recursive calls.
- [ ] Option to select functions by `klabel` instead of symbol.
- [ ] Display source location (very useful to distinguish semantic rules from lemmas).

[2019-11-18 18:42] yzhang90 commented on #1262
I'm not sure that I understand the subtlety of the boundary pattern. In the current backend, we have a `removeDestination` step, which unifies the current configuration and the RHS of the claim. If unification succeed, then we will remove the destination from the proof goal (similar to check implication, but more general). If fail, we will continue the symbolic execution. Could you elaborate more

[2019-11-18 18:44] ttuegel opened #1264 "Configurable proof search order"
By default, proof search is breadth-first, but we also support a depth-first mode for the bounded model checker. We would like a command-line option to select the search order for reachability proofs, too; this is useful for debugging.

---

- [ ] `--search-order=breadth-first` (no behavior change, just add the option)
- [ ] `--search-order=depth-first`

[2019-11-18 18:46] ttuegel opened #1265 "Limit number of concurrent branches"
A useful debugging option is to limit the number of concurrent branches in a proof. Basically, we are limiting the size of the frontier set. This is extremely important when debugging loop invariants.

---

- [ ] `--breadth LIMIT` option (opposite `--depth`)

[2019-11-18 18:50] ttuegel commented on #1262
I think the `removeDestination` step is rather expensive and we should not do this until the boundary pattern matches. At least, we should have the _option_ to postpone it until the boundary pattern matches.

[2019-11-18 18:55] ttuegel opened #1266 "Structured logs"
We need to turn Kore patterns back into K patterns for logs and errors. This is one important reason to log _structured data_: the conversion back to K patterns can be handled in the logging apparatus so that the symbolic execution engine does not become complicated with such concerns.

[2019-11-18 18:59] ttuegel opened #1267 "Complete solver transcript"
It is important for proof engineers to be able to extract the current state of the solver to tinker with the queries we send. We should keep a complete transcript of our interaction. The transcript should be in a file separate from our main log so that it can be loaded directly by the solver. We should insert comments with unique references (UUIDs?) corresponding to entries in the main log.

---

[2019-11-18 19:01] ttuegel opened #1268 "Distinguish path conditions by origin"
We should distinguish the following classes of path conditions for proof debugging:

- Initial conditions
- New conditions (added in the last step)
- Existing conditions (none of the above)

[2019-11-18 19:56] ttuegel commented on #1266
After discussion with @ehildenb, I think it would be ideal to expose as much structured log information as possible and rely on post-processing to digest it into something acceptable to the user. Keeping structured information as long as possible in the analysis pipeline increases the number of things we can do with it, and the number of people who can create new analysis tools.

### Prototype des

[2019-11-18 19:59] ttuegel commented on #1245
That's interesting. Can you explain how that helps? I'm not really in favor of this approach; we don't implement enough matching to do this, and I'm sure the LLVM backend doesn't either, but I am intrigued.

[2019-11-18 21:06] hjorthjort opened #1269 "KWASM: wrc20-spec.k"
The WRC20 reverse-bytes proof passes on the Java backend, but not on the Haskell backend. Attaching output with `--debug` flag.

Reproducible with `make tests/proofs/wrc20-spec.k.prove PROVE_OPTIONS=--debug` on [the `reverse-bytes-spec` of KWasm branch](https://github.com/kframework/wasm-semantics/tree/reverse-bytes-spec)

[code]

[2019-11-18 21:42] ttuegel commented on #1269
@virgil-serbanuta This looks like an incomplete Map unification problem. I guess ideally, it would be an `UnsupportedPatterns` error. Could you please take a look?

[2019-11-19 02:45] ttuegel commented on #1266
I hid my earlier comment because @vladciobanu talked me out of re-implementing SQLite badly. We should just emit structured logs to a SQLite database using something like `persistent-sqlite`. It's as easy as using `aeson`, but would enable us to develop very rich tools on the other end. It's also fast and compact.

[2019-11-19 02:54] ttuegel opened #1270 "RemoveDestination should try unification first"
@yzhang90 points out that the `RemoveDestination` predicate has the form `¬⌈t₁ ∧ t₂⌉ ∨ ¬(P₁ ∧ P₂)` where `tᵢ` are the terms and `Pᵢ` are the path conditions, respectively. If the unification of terms `⌈t₁ ∧ t₂⌉` is `\bottom` then we know removal predicate is `\top` without evaluating the path conditions. This is important because computing `⌈t₁ ∧ t₂⌉` is usually much faster than computing `¬(P₁ ∧

[2019-11-19 04:39] xc93 commented on #1245
Suppose the goal is to compress two rules `toC(A) = C` and `toC(B) = C` into one.

The problem with `toC(A \/ B) = C`, or by distribution law, `toC(A) \/ toC(B) = C`, where `_\/_` is the normal logical disjunction, is that `toC(A)` and `toC(B)` may overlap. In other words, the union between `toC(A)` and `toC(B)` is not disjoint, so it is not clear who "contributes" towards becoming `C`.

To solve

[2019-11-19 07:55] traiansf commented on #1245
@xc93 nice trick!  I think something similar was used in the Scala prover to avoid splitting the configurations when doing symbolic execution.

[2019-11-19 13:45] traiansf commented on #1260
PR opened at https://github.com/kframework/k/pull/920

[2019-11-19 14:47] grosu commented on #1245
@xc93 @traiansf @tomtomjhj yes, we planned to use this trick to replace the in-backend indexing implementation with a mathematically clean, probably correct theory transformation.  You can, in fact, replace all the rules with just one huge rule, but one which does matching optimally, without re-doing any work across rules.  For example, the two rules for `ite` become:
[code]
This is still in the c

[2019-11-19 14:56] grosu commented on #1245
@tomtomjhj regarding your original question (which is what brought me here, thanks for pointing it out on slack), I may not be the right person to have an opinion about that.  After spending so many months working on matching logic, it is impossible for me to see any connection between
[code]
and
[code]
The first thing that strikes is that `A` can itself be  `⊥` while `B` and `C` not; then the fir

[2019-11-19 15:09] traiansf opened #1272 "Frontend confuses some rules for claims"

[2019-11-19 22:58] #1259 closed

[2019-11-20 14:28] ttuegel opened #1274 "Narrowing"
@xc93 brought [this paper](https://www.sciencedirect.com/science/article/pii/S1567832612000707) to my attention. Specifically, on page 734, it describes how we should do narrowing such that we do not accidentally invent programs (in the rewriting case) or get stuck in a symbolic loop (in the equality case).

This isn't immediately actionable, but we should investigate.

See also: https://runtimeve

[2019-11-20 15:01] #1272 closed

[2019-11-20 17:15] ttuegel commented on #1019
I don't think this is likely to be necessary.

[2019-11-20 17:15] #1019 closed

[2019-11-20 17:24] ttuegel opened #1275 "Memoize functions with non-simplifiable arguments"
Function memoization is currently restricted to the case when there is no top-level constraint, which is very limiting. @yzhang90 brought this up with me, and we think that the top-level constraint can be ignored when the function's arguments are concrete and non-simplifiable.

[2019-11-20 17:26] ttuegel opened #1276 "Only apply concrete rules to constructor-like arguments"
When the user gives a rule the `concrete` attribute, they mean that the arguments are concrete and non-simplifiable. The backend currently interprets "concrete" to mean "no variables", but for the purpose of applying rules (at least) we should take a more restrictive interpretation.

[2019-11-20 17:52] dwightguth commented on #1245
For what it's worth, I did not realize the difference logically between `A #Or B` and two rules when we implemented this feature. Given that fact, I am not opposed to changing the syntax of or-patterns in K so that it's different from the ML disjunction, but we do still need to support or patterns.

[2019-11-20 19:36] ttuegel opened #1277 "Resume in-progress proofs"
The output of `kprove` should not be a single pattern, but rather an update spec module where

- Each claim that was proved appears with the `trusted` attribute.
- For each claim in progress,
  - For each unproven configuration, there is one claim from that configuration to the claim target.
  - There is one `trusted` claim from the original source of the claim to the disjunction of all unproven c

[2019-11-20 19:52] ttuegel commented on #1277
Clarification from @yzhang90:

We do not need to output any un-`trusted` claims into the updated spec module. We should output only the `trusted` claims to recover the current proof state. The current proof state should be represented as a Kore module of trusted claims and applied by the backend _once_ at start-up. We do not want to apply the trusted claims as circularity rules.

[2019-11-20 19:59] yzhang90 commented on #1277
what you described looks good to me. One thing that I'm not sure is that whether we should trust the frontend or not. Tom thinks that the frontend may not be consistent between runs. As a result, we need to convert the generated module back to K and use the frontend to compile the whole thing again.

[2019-11-20 20:01] ttuegel commented on #1277
As I said, I don't think we should actually do that, I think we should just invalidate the trusted claims file whenever the definition changes.

[2019-11-20 20:05] ttuegel opened #1278 "Simplify right-hand side of claims"
Should we simplify the right-hand side of claims at startup? Does it matter, if we implement #1270?

[2019-11-20 20:05] yzhang90 commented on #1277
If users only add some lemmas, would that be considered as definition changes? Note that all the semantic rules and lemmas will be combined into a single vdefinition.kore file.

[2019-11-20 20:40] yzhang90 commented on #1278
Suppose we have a claim
[code]
and semantics rule
[code]
In the `removeDestination` step after applying the semantics rule, even if we do unification first, and the unification in the <k> cell fails, we still need to evaluate  `#fun2(X)`, is it correct?

But in most cases, #fun2 would be either unsimplifiable or its argument is concrete. If it is the latter case, function memoization should be hel

[2019-11-20 20:52] ehildenb commented on #1277
If we are going with adding `trusted` claims to the spec, then I think it needs to be done by the frontend (because there is no reason for this to be backend specific).

If we use a structured proof log, the trusted claims can remain as Kore and be backend specific, which means we're not limited to interactions that the frontend supports.

[2019-11-20 21:08] ehildenb commented on #1277
Discussed with @ttuegel IRL, and it sounds like a good approach (different than what I expected). Here is a summary of my understanding:

-   Haskell backend has extra option `--save-proofs` or something.
-   If that option is turned on, all proofs are saved in a `trusted-claims.kore` file which the frontend never sees.
-   If `--save-proofs` is turned on in a subsequent run, then once at startup

[2019-11-20 21:10] ehildenb commented on #1277
I also agree with not using `trusted-claims.kore` as circularities, because that will be way too expensive.

[2019-11-20 22:13] yzhang90 commented on #1277
I'm also on the same page.

[2019-11-21 08:59] #1243 closed

[2019-11-21 14:24] ttuegel commented on #1245
I think this solution keeps everyone happy.

[2019-11-21 14:35] ttuegel commented on #1245
@xc93 Can we think of a way to do the axiom translation locally? I mean, we have this, which is in some sense a global transformation (at the axiom's top-level):

[code]

but we would really prefer to write something like this,

[code]

where `\disjoint_union` is some alias. This would, I think, minimize the changes necessary in the LLVM backend because we would just be swapping `\or` out for anot

[2019-11-21 14:57] #1196 closed

[2019-11-21 16:44] dwightguth commented on #1245
In terms of the llvm backend, either desugaring everything in the frontend or else replacing \or with simply another symbol would be the two preferred approaches.

[2019-11-22 14:59] #906 closed

[2019-11-22 16:05] #1211 closed

[2019-11-22 19:55] ttuegel commented on #1253
This will also be required for KEVM with the Bytes hooks.

[2019-11-25 14:23] ana-pantilie opened #1289 "One-path spec from all-path suite that fails"
The following `one-path` spec should pass. Right now only https://github.com/kframework/kore/blob/master/src/main/k/working/all-path/03-unification/set-select/provable/one-path-b-or-c-spec.k passes.

[code]

[2019-11-25 15:13] ttuegel commented on #1193
See also: #1278

[2019-11-25 15:58] yzhang90 opened #1290 "Attribute to suppress `No evaluators for function symbol` warning"
It is very common to have constant functions that have no evaluators in the spec. It is very annoying to see a list of warning `No evaluators for function symbol: ...` in the command line.

[2019-11-25 17:23] #1253 closed

[2019-11-26 17:22] virgil-serbanuta commented on #1215
This will not be fixed by the `or` PR, so, as discussed in the meeting, I'm unassigning myself from this bug. Here's the PR with the test, may be gone at some point in the future: https://github.com/kframework/kore/pull/1219/files

For whoever is interested in continuing this, the next issue seems to be an `and` stability error for this pattern, it should be easily reproducible in `Simplification/

[2019-11-26 21:33] ttuegel opened #1296 "Hold symbol and alias arguments in arrays instead of lists"
A linked list uses `3n+1` pointers to hold `n` elements, whereas an array uses `n+1` pointers. This improves memory use slightly.

[2019-11-27 08:28] ana-pantilie commented on #1250
(From @ehildenb )
On commit e29564f3 of haskell-backend and commit 3cecbb6b of evm-semantics:
[code]

[2019-11-28 19:56] virgil-serbanuta commented on #1256
Technically speaking, we still produce errors when we don't know how to unify things. However, we have a fallback case for unifying functional stuff, so, in practice, we think we know how to all things that we actually see in our input files.

Producing an error for this case does not work out of the box, since we have rules that (roughly) work like this:
```if true then A else B => A```
which we

[2019-11-28 20:00] virgil-serbanuta commented on #1256
@ttuegel I'll unassign this bug since it's Thanksgiving, which means that I can't ask the people for which this was annoying to see if item 1 would be good enough for them.

[2019-11-28 20:12] #1255 closed

[2019-12-02 15:19] ttuegel opened #1304 "Is remove-destination alright with non-function-like configuration or destination?"

[2019-12-02 15:22] ttuegel opened #1305 "Representation for rewrite rules with existentially-quantified variables on the right-hand-side"
- [ ] Refactoring `RulePattern` to allow existential quantification (see PR #1336)
- [ ] Creating a separate structure dedicated to equational rules

[2019-12-02 17:06] yzhang90 opened #1306 "Print warning when concrete hooks evaluate to bottom"
I found an issue where a semantics rule is not applied because a function in RHS evaluates to bottom. it will be useful to give a warning in this case to speed up debugging. When defining a (partial) function, those undefined input usually means exceptions.

[2019-12-02 17:46] ttuegel commented on #1290
@yzhang90 If the warning is not displayed by default, then there is no point in having it at all. How do you feel about these alternatives?

1. A symbol attribute that turns off the warning for the associated symbol.
1. Turn off the warning (always) for constant functions.

[2019-12-02 17:48] ttuegel commented on #1278
Related: #1278, #1304

[2019-12-02 18:08] ttuegel commented on #1256
We could probably identify subterms of the conditions involving the missing variables.

Another option, which I mentioned in the daily meeting, would be to allow `function = non-simplifiable` equalities to be created during unification. This would allow `f(x) = 1` for example, but forbids `f(x) = f(y)`, which is not usually what we want (and is in fact the case causing problems for us now).

[2019-12-02 18:16] xc93 commented on #1245
I cannot think of a short solution to that for now.

[2019-12-02 18:17] ttuegel commented on #1266
The first task is to evaluated different libraries for interacting with the database. The most popular library is `persistent`, but it is designed for the database to be used only by the Haskell program, which does not agree with our purposes. Therefore, we should compare it with other options.