[2022-02-14 09:01] ana-pantilie commented on #2972
Hi @amelieled. These questions are more suited for the K repository, since that's where the translation from K to Kore and back happens. I'm going to close this, and I suggest it's best if you ask in the `k-public` Slack channel if you have access to it. If you don't, then ask the questions in https://github.com/runtimeverification/k. Thank you.

[2022-02-14 09:01] #2972 closed

[2022-02-14 09:04] ana-pantilie commented on #2973
The same as the other issue.

[2022-02-14 09:04] #2973 closed

[2022-02-14 09:07] ana-pantilie commented on #2946
@andreiburdusa Thanks for double checking. Could you make sure that the proofs pass on all downstream test suites?

[2022-02-14 09:57] amelieled commented on #2973
The code of the translation from K to Kore isn't here.
See: https://stackoverflow.com/questions/71109645/computation-of-dependencies-related-to-the-k-prelude

[2022-02-14 10:02] ana-pantilie opened #2974 "Add regression tests from all downstream projects"
Currently, our test suite only has tests from KEVM and KWASM. The backend is also used by KElrond and MKR-MCD-SPEC, and we should select some tests from those projects which finish in reasonable time to add to our test suite.

This will also help with testing simplifier experiments.

[2022-02-14 10:12] amelieled commented on #2972
Hi @ana-pantilie .
OK, I see, thanks! The code of the translation from K to Kore isn't here.
Where is the link to the Slack channel?

[2022-02-14 12:19] ana-pantilie commented on #2972
@amelieled There's a riot room bridged to it, so you can chat and ask questions from: https://riot.im/app/#/room/#k:matrix.org

[2022-02-14 12:32] andreiburdusa commented on #2946
The `evm-semantics` proofs pass (`loops-spec.k`, `memory-spec.k`, `functions-spec.k`, `wrc20-spec.k`, `locals-spec.k`, `simple-arithmetic-spec.k`). I'm also discussing with Virgil to see how his proofs are affected.

[2022-02-14 13:02] ana-pantilie commented on #2947
My linked PR implements function application as discussed and creates a new Pattern simplifier: `simplifyPatternX`. This just applies the function evaluation procedure.

As a first experiment, when `--simplifierx` is turned on, the Pattern simplifier is replaced with this new `simplifyPatternX`. Running the integration tests, `test/assume/test-spec.k` fails with the following output:
[code]
Note t

[2022-02-14 14:22] ana-pantilie opened #2976 "New #Ceil simplifier"
Ceil simplification is currently really complicated and hard to reason about. Also, it's pretty slow as well. I might be misreading things, but I remember seeing on profiles that we're doing double the work: simplifying the term and then simplifying the #Ceil of the term, which includes simplifying the term again. Even if this is not accurate, we don't always need to simplify the argument of the #

[2022-02-14 14:36] ana-pantilie opened #2977 "CheckImplication and calls to the simplifier"
The `CheckImplication` transition in our reachability loop contains some awkward calls to the simplifier:

- it constructs this `TermLike` with `mkIn` at the top (so it should actually be a `Predicate`) and calls the `Pattern` simplifier on it https://github.com/kframework/kore/blob/272a2e528bd556b15d12f29de9c779de0c6d7a54/kore/src/Kore/Reachability/Claim.hs#L554
- it calls the `Exists` simplifier

[2022-02-14 14:57] ana-pantilie commented on #2947
I'm going to continue by actually replacing the current function evaluator, effectively integrating the new function evaluator into the old term simplifier. For this I will need to add hook evaluation as well.

[2022-02-14 15:52] JKTKops commented on #2976
I thought there were more examples in this paper (I must be remembering them from somewhere else) but perhaps it's still useful. The paper is Grigore's paper [here](https://arxiv.org/pdf/1705.06312.pdf). `\ceil` patterns are introduced on page 21 and discussed briefly. Another relevant section is also that on functional patterns (beginning page 27). Whenever we have a pattern like ⌈σ(x1,...,xn)⌉,

[2022-02-15 09:33] ana-pantilie commented on #2976
I think `⌈σ(x1,...,xn)⌉` with `σ` functional can be simplified directly to `⌈x1⌉∧...∧⌈xn⌉` without having to evaluate `σ(x1,...,xn)` first, right? @virgil-serbanuta @JKTKops

[2022-02-15 13:44] virgil-serbanuta commented on #2976
Yes, that's correct.

[2022-02-16 09:50] andreiburdusa commented on #2946
Virgil confirmed the changes in [`simplifyPatternScatter`](https://github.com/kframework/kore/blob/2c10cb2f9af9e73a34ecca324a19d4eee0ffe657/kore/src/Kore/Simplify/Simplify.hs#L312) don't affect his proofs.

[2022-02-16 09:51] andreiburdusa commented on #2946
Also, here's the performance comparison from the first pull request https://github.com/kframework/kore/pull/2953
[code]

[2022-02-16 14:05] andreiburdusa commented on #2946
It looks like there are three cases when replacing the [Pattern simplifier in Kore.Simplify.SubstitutionSimplifier](https://github.com/kframework/kore/blob/2c10cb2f9af9e73a34ecca324a19d4eee0ffe657/kore/src/Kore/Simplify/SubstitutionSimplifier.hs#L372) breaks tests:
- the predicate `⌈f(x)⌉ ∧ (x = f(x))` isn't simplified to `x = f(x)`
- the singleton list containing `x = (y ∧ a) ∧ y = (x ∧ b)` isn't

[2022-02-16 15:43] ana-pantilie commented on #2946
Strategy:
1. identify unit test failures
2. try integration tests
3. try KEVM if integration tests pass
4. if there are no real world failures, then the unit tests need to be adjusted
5. if there are real world failures, then replace the id simplifier with something a little more complicated
6. we need to develop a good understanding of what the simplifier handles and how

[2022-02-16 15:49] ana-pantilie commented on #2947
Another experiment:
1. call new function evaluator
2. call old pattern simplifier

[2022-02-22 08:27] andreiburdusa commented on #2946
The integration tests pass, but there are some problems with the evm tests. The log produced by the profiling script contains these lines
[code]
Which most likely mean the test timed out. I tried running the first one manually, and indeed it takes a lot of time.

[2022-02-22 14:55] ana-pantilie opened #2983 "Standardize running KEVM performance testing on simplifierx"
@andreiburdusa and @JKTKops please add ideas here.

Edit: see discussion https://docs.google.com/document/d/1rWjSSMpvMCbTLfXiK4cVYm-5A-yM7vQAyjH__I_Ed-4/edit?usp=sharing

[2022-02-23 15:27] ana-pantilie commented on #2947
Everett: get performance numbers on all tests in KEVM

[2022-02-23 15:36] ana-pantilie commented on #2947
Look into generating static call stack.

Why is `hashWithSalt` being called? Where is it called? What tools do we need to figure this out.

[2022-02-23 15:39] ana-pantilie commented on #2947
Still look into replacing the old function evaluator in-place.

[2022-02-23 15:42] ana-pantilie commented on #2946
Check if performance is better on other tests.

If new code is simpler, only 4 are timing out, Everett suggests we merge.

[2022-02-24 14:47] andreiburdusa commented on #2983
So far I wrote this script which I plan to use for generating performance reports for different backend commits:

`runTestsSimplifierX.sh`
[code]

[2022-02-24 19:46] JKTKops commented on #2974
I've tracked down how to add regression tests, but the KElrond test suite does not have an (obvious) way to get per-test profiling information the way KEVM does. I've asked Virgil if he knows a set of tests that might be a good choice and he said he can take a look tomorrow. (I could also start a test run manually using a modified Makefile that times each test, but Everett says the KElrond suite t

[2022-02-25 08:30] ana-pantilie commented on #2974
Why? @JKTKops @ehildenb

[2022-02-25 09:49] ana-pantilie commented on #2983
@andreiburdusa Are you 100% sure that the second `make` command is receiving the `--simplifierx` flag correctly? I remember having to add the `-e` option for the commands run by `make` to have access to external environment variables.

[2022-02-25 12:51] ana-pantilie commented on #2947
I've been investigating the hashWithSalt issue, and I've made some progress regarding my own understanding of the profiles, but I still haven't been able to find any direct link between the code in the new function evaluator and the increase in time/time spent in hashWithSalt , although I do have an idea on what might be going on!
First of all, the big gaps I was initially seeing in the profiles (

[2022-02-27 18:29] andreiburdusa commented on #2983
Adding
[code]
before the first `make` command causes a bug report to be produced, so I suppose the `--simplifierx` flag is also received correctly.

[2022-02-28 12:19] ana-pantilie commented on #2947
Experiments related to:
[code]

1. Tested `dsvalue...` spec with cache from `MonadSimplify` disabled, test is still not finishing
2. Tested `dsvalue...` spec with cache from `MonadSimplify` and cache from `SideCondition` disabled, test is still not finishing
3. Disabling third cache (the `Simplified` attribute) will be quite time consuming so first I will try something else

[2022-03-01 14:48] ehildenb commented on #2974
The current symbolic execution proofs for MKR are actually based on KEVM (via refinement proofs), so it's better to focus on passing the specs in `tests/specs/mcd/...` in the KEVM repository than looking at MKR right now.

The only other features of the MKR semantics independent of this are using the LLVM backend.

[2022-03-01 21:51] dwightguth opened #2987 "Don't expand anti-left patterns completely during initialization"
Right now it sounds like all aliases are completely expanded during initialization. The problem with this is that because of how aliases are used to compactly write certain constraints involving rule priority in the K frontend, this means that definitions can increase dramatically in size when initialized, on the order of a quadratic increase, which can be rather intractable in terms of memory usa

[2022-03-01 22:49] #2942 closed

[2022-03-02 22:49] JKTKops commented on #2907
I mentioned this issue in the training meeting today and Everett suggests we bump this one.

[2022-03-03 14:25] ana-pantilie commented on #2907
I don't think we've ever seen this in the integration tests, so my suspicion is that it's some property test which generates a weird enough pattern which the backend can't handle. I wouldn't bump the priority on this unless we start seeing this behavior in practice as well.

[2022-03-03 16:10] #2987 closed

[2022-03-07 11:43] ana-pantilie opened #2993 "Script for performance testing a new test suite"
@ehildenb provided a test suite of 130 proofs here: https://runtimeverification.slack.com/archives/CC360GUTG/p1645750056420389

~~We should write a script for performance testing it, similar to the KEVM performance test script.~~

See the comment below; the suite has been uploaded to a sharable Google Drive folder, along with a readme and a script to run all the tests in the folder. The original b

[2022-03-09 15:17] #2983 closed, assigned to andreiburdusa

[2022-03-10 15:27] andreiburdusa commented on #1825
You can run ```rlwrap kore-repl ...```. This will give you the up-arrow functionalitty.

[2022-03-10 17:06] ChristianoBraga opened #2995 "An example that runs on llvm backend but does not on the Haskell backend."
Guys, I know you are all overloaded with work, over 200 issues! But please take a look at the situation below.

The following K description runs just fine in the llvm backend but either loops or takes quite a while to finish in the Haskell backend.
This example is a simplification of Plutus semantics in K that arose while running the ML Proof Checker. Could you shed some light?
[code]

In LLVM:
[c

[2022-03-10 17:20] dwightguth commented on #2995
I believe the issue is that #if is not short circuiting, so it is always evaluating the recursive call even if the string is empty. This is not really a simple fix at all, even though it is unintuitive. I would recommend rewriting that rule as two rules with a side condition rather than a single rule with `#if`.

This is probably not going to get fixed anytime soon.

[2022-03-10 17:25] ChristianoBraga commented on #2995
Thank you

On Thu, Mar 10, 2022 at 2:20 PM Dwight Guth ***@***.***>
wrote:

[2022-03-11 09:39] denis-bogdanas opened #2997 "No split on KEVM JUMPI"
Steps to reproduce:
[code]

Expected behavior: should pass

Actual behavior: Execution gets stuck with the following content of `k` cell:
[code]

It should split on `JUMPI` insteadm, based on these rules:

[code]

[2022-03-11 10:32] andreiburdusa commented on #2997
I already investigated this some time ago, but couldn't solve it. From what I see, the proof does branch, like this
![Screenshot from 2022-03-11 12-09-51](https://user-images.githubusercontent.com/53746396/157847506-9a07d4ce-c137-4452-ad29-42239d9e4683.png)

Axiom 42 is
[code]
Axiom 43 is
[code]
The configuration on node `1763` contains the following
[code]
which basically says that `maxUInt160 &I

[2022-03-11 10:55] ana-pantilie commented on #2997
@andreiburdusa So is this a problem in the Haskell backend or is it a problem with KEVM in the sense that it's missing some simplification rules?

[2022-03-11 11:08] andreiburdusa commented on #2997
I think it's a problem with the backend because some rules that me and Everett expected to make the proof advance didn't help

[2022-03-14 19:12] ehildenb commented on #1825
Why is this not built into the repl itself? Maybe `kore-repl` can take care of lauching with that command?

Users do not invoke `kore-reple` themselves, they use the K frontend with `--debugger`.

Maybe the frontend should take care of adding this command then? Maybe via another option to the frontend with `--rlwrap`.

Please let me know why we can't just support this directly in the repl. It seem

[2022-03-15 10:58] andreiburdusa commented on #1825
Perhaps we could run `rlwrap` in a similar way to how we run `z3`, but it doesn't look like a trivial task for me. I could give it a try, but I assume we want to wait until the "only high priority bugs" phase is over.

[2022-03-15 13:53] JKTKops opened #3001 "Use Existing Haskell REPL Package"
`kore-repl` currently uses a hand-rolled REPL interface which leads to strange behaviors in some cases (especially noticeable are arrow keys). We should use [the same REPL package used by GHC](https://hackage.haskell.org/package/haskeline) instead. We would also be able to implement basic tab-completion for the different repl commands.

[2022-03-15 19:36] JKTKops commented on #2974
After making some progress we've realized that `bazel` (the build tool used by `elrond-multisig`) uses the version of the Haskell Backend in the global K package and won't use the version of `kore-exec` on the path. This is currently blocked until we have a way to extract just the kore files and `kore-exec` command from that project.

The current idea is to use `--bug-report` to generate the files

[2022-03-18 12:08] ana-pantilie opened #3004 "Simplification property test failure"
The pattern generator in our property tests has made the simplifier fail, and we need to see:

- [ ] Look at the pattern and try to identify why it's failing.
- [ ] Is the issue regarding this pattern something that can happen in real life cases as well?
- [ ] If yes, fix the bug. If no, can we make the pattern generator in the property tests not generate this sort of pattern?

[code]

[2022-03-24 14:38] ana-pantilie opened #3008 "Investigate new profiling options"
~Blocked on `co-log`.~

- [ ] Build with GHC 9.2.3, open branch with this experimental version
- [ ] Investigate the ghc-debug package

[2022-03-24 17:58] ehildenb opened #3010 "Haskell backend supports functional claims directly"

[2022-03-24 18:03] ehildenb opened #3011 "Infrastructure for new tool `kore-simplify`"
`kore-simplify` should just take in an ML pattern, validate it, and then try to simplify it as much as possible, and print back out the kore term for the frontend.

Part of https://github.com/runtimeverification/pyk/issues/12

[2022-03-24 18:04] ehildenb commented on #3011
The simplifier used here can start out very basic, by just having:

- [ ] Equation application using new equation application engine.
- [ ] SMT solver integration.

To start, maybe nothing else fancy is needed.

[2022-03-24 19:36] ChristianoBraga opened #3012 "Hooks for two new crypto functions"
The KPlutus projects needs two new crypto function hooks for SHA3 support and the signature scheme Ed25519. They are already supported by the LLVM backend. Kindly see below the output of the haskell backend for them. The first is for  Ed25519 support.
[code]
The next one is for SHA3.
[code]
[code]

[2022-03-29 11:29] #2946 closed

[2022-03-29 18:21] #2848 closed

[2022-03-30 18:16] dwightguth opened #3022 "Add test for unicode code point 0x10ffff"
We recently fixed an issue where the lexer for the kore parser was unable to lex string literals that contained the 0x10ffff code point due to an off-by-one error. @ehildenb suggested that we add a regression test for this case since it was exposed only via randomly generated input in a fuzzed property test. I will take care of this in a follow-up PR since the original bugfix PR has already been m

[2022-03-31 00:08] ehildenb opened #3025 "Adjustments to CI"
As per thread: https://runtimeverification.slack.com/archives/CC360GUTG/p1648673575711919

- Should not run Integration Tests on GitHub provided runners, which provide very few VCPUs. Perhaps move to self-hosted runners: https://github.com/runtimeverification/devops/issues/46
- Quiet down the performance measurements, not needed for every commit.
- Why do integration tests start so late? Can they

[2022-03-31 08:42] ana-pantilie opened #3026 "Training list"
Inspired by the general training list (which you should go through first), I've decided to centralize a list of resources I consider helpful for Haskell backend devs. This list is open to suggestions, of course, and it's not yet complete. Also, some of the items on the list need more thorough reviewing.

### Theoretical Foundations
1. [Matching Logic](https://fsl.cs.illinois.edu/publications/rosu-

[2022-04-11 16:56] ehildenb opened #3029 "Add option to keep substitution constraints during execution/simplification"
Sometimes during execution we get constraints that look like `X ==K P(Y)` (for `P` some functional pattern), and the backend replaces every occurrence of `X` with `P(Y)` instead, then discards the constraint.

First I wonder if this actually makes sense to do, because we will almost always be making the term size larger by doing this. I would think we would want to do the opposite, that is to repl

[2022-04-11 18:09] virgil-serbanuta commented on #3029
I agree with not discarding the constraint (though I don't know the tradeoffs involved), but it probably makes sense to do the replacement.

A simple example is the following: Let's say that you have a simplification rule `f(g(X)) => 0`, and you have `f(Y)` somewhere in your term/predicate. If you know that `Y = g(X)`, but you don't replace it everywhere, then it may be hard to apply the simplific

[2022-04-11 21:03] ehildenb commented on #3029
For https://github.com/runtimeverification/erc20-verification/issues/297 it's important that we also do not actually substitute the constraint back into the original configuration, which is slightly different than just keeping those constraints around. I think both are useful options, but the one which does not do the back-substitution into the configuration might be called `--no-substitute-constr

[2022-04-13 19:59] dwightguth opened #3032 "SMT Lemma not being added to solver"
I am working on getting the C semantics working with the haskell backend and have run into a problem where a branch is not being pruned because it is unable to prove that a particular path constraint is unsatisfiable. It ought to be able to do this, but for some reason two of the four smt lemmas I wrote are not actually making it to the solver.

Here is part of the path constraint that ought to si

[2022-04-13 20:03] dwightguth commented on #3032
This is the definition of addressOfEntity:

[code]

[2022-04-14 10:00] ana-pantilie opened #3033 "Log better explanation of why the claim is stuck"
`WarnStuckClaimState` currently does have two distinct cases, but I believe the messages displayed to the user are too vague and don't contain enough information.

[2022-04-14 10:01] ehildenb commented on #3033
If would be great to make sure this is printed to the command-line too. Most people aren't turning on logging options.

[2022-04-14 12:07] ana-pantilie commented on #2997
Most likely an issue with sending the condition to SMT. Possibly a duplicate of https://github.com/runtimeverification/haskell-backend/issues/3032

[2022-04-14 12:19] ehildenb commented on #3033
![Screenshot from 2022-04-14 11-28-48](https://user-images.githubusercontent.com/12721972/163389124-50390b42-390d-42d0-b2c0-d4be90d9b2ab.png)

Output example from Pyk that is useful (for the structural matching failure)

[2022-04-14 12:28] ana-pantilie commented on #3033
Make it clear if unification failed, and execution is stuck.

If unification didn't fail, output substitution and print out failing implication.

Future work: which constraints make the implication fail?

[2022-04-14 14:34] JKTKops commented on #2977
The first bullet point was a simple change and was fixed in #3009.

The other two are more complicated. It should be that we just want to construct a particular pattern (`#Not { #Exists X1. #Exists X2. ... }`) and call the simplifier on that. However, using `mkExistsN` and calling the simplifier on it appears to behave differently than using `Exists.makeEvaluate` with a list of bound variables. I

[2022-04-14 15:41] #2977 closed

[2022-04-14 18:59] ehildenb opened #3035 "Proofs that reach RHS at depth bound are not discharged"
With this definition:

[code]

I run:

[code]

And I get:

[code]

But I expect `#Top`.

Are we not checking the final implication at the depth bound? Maybe it's for the same reason we don't prune branches in the kore-repl which are infeasible before the user steps into those branches?

I've attached a bug report.

[bug.tar.gz](https://github.com/runtimeverification/haskell-backend/files/8491591/b

[2022-04-14 19:02] ehildenb commented on #3035
This is causing situations in the summarizer where the proof is not discharged and it should be, because we symbolically execute basic blocks directly. It doesn't affect overall soundness, but leaves the user with a sense of overwhelming dread as they think that they haven't discharged the proof on that branch.

The workaround is to execute for one more step.

[2022-04-18 10:18] ana-pantilie commented on #3035
This is because one rewrite step is comprised of the following transitions internal to the backend:
https://github.com/runtimeverification/haskell-backend/blob/e56004ded38532213aaa3d6986dd24d97e299b12/kore/src/Kore/Reachability/Claim.hs#L374

What happens here specifically is in the second to last step `ApplyAxioms` will rewrite the configuration to `3`, and the next rewrite step will discharge th

[2022-04-19 14:11] JKTKops commented on #3035
When using a depth bound, I think it should be possible to just add one `CheckImplication` transition only on the last step. The depth bound tells us when to stop, so it must be available somewhere. I'm going to take a look at this.

[2022-04-20 09:44] ana-pantilie opened #3040 "Apply simplification rules to \\equals"
Right now simplification rules only apply on terms with symbol applications at the top or with \\ceil at the top. We need to extend this feature to other ML connectives as well, starting with \\equals which is currently blocking the c semantics.

[2022-04-20 17:54] nishantjr opened #3041 "Unsatisfiable side conditions in the initial configuration cause the backend to get stuck."
The bug occurs when the initial configuration is not satisfiable because of a side condition.
I'm not sure how to reproduce it with a program without an initial side condition. I expect the entire configuration to simplify to `#Bottom`.

[code]

I argue that this behaviour should be supported so that it is consistent
with the following equivalent configurations:

[code]

[code]

This also happens

[2022-04-20 18:00] nishantjr commented on #3041
Attached kore input files.

[simplifies-to-unsat-2.kore.txt](https://github.com/runtimeverification/haskell-backend/files/8524126/simplifies-to-unsat-2.kore.txt)
[simplifies-to-unsat.kore.txt](https://github.com/runtimeverification/haskell-backend/files/8524127/simplifies-to-unsat.kore.txt)
[unsat-side-confition.kore.txt](https://github.com/runtimeverification/haskell-backend/files/8524128/unsat-s

[2022-04-21 10:14] #3035 closed

[2022-04-21 14:01] #3011 closed, assigned to JKTKops

[2022-04-21 15:59] dwightguth commented on #3032
This turns out to be because of the presence of ==K, which the smt translator doesn't currently support. The best fix would be to modify the frontend and llvm backend so that ==K is parametric in its argument sort.

[2022-04-21 18:16] #2943 closed

[2022-04-28 12:50] denis-bogdanas opened #3045 "Expression not simplified in all contexts"
With the attached files, you can reach the state that illustrates the issue with command:
[code]
The files `s0.k` and `s0.kore` contain the initial state. There are 2 nested `hashedLocation` expressions there that should be simplified but they don't. They should be simplified by the rule in `definition.kore` line 17552 (original source code hashed-locations.md line 63).
For the inner `hashedLocati

[2022-04-28 13:48] ehildenb commented on #3045
Same as this problem, I think: https://github.com/runtimeverification/haskell-backend/issues/2785

[2022-04-29 16:59] ana-pantilie commented on #3010
Requires modifying `kore-exec` to detect "functional claims", which will be encoded as `REQ -> (LHS #Equals (RHS #And ENS))` (in order to be very similar to actual simplification rules) inside spec modules. If the proof fails, return the claim as part of the stuck claims conjunction (as we do with the other type of claims).

See https://github.com/runtimeverification/haskell-backend/blob/master/ko

[2022-04-29 17:00] ana-pantilie commented on #3010
If implication simplification works as expected for this feature this should be small

[2022-04-29 17:21] ana-pantilie commented on #3033
If unification succeeds, just print out condition implication as remaining proof obligation.

As much clarity as possible between unification issue or implication issue.

[2022-04-29 17:27] ana-pantilie commented on #2993
Add instructions on how to run these, and what should happen: optimize performance, output shouldn't change. Move tests to Google Drive so that they can have access to them.

[2022-04-29 17:40] ana-pantilie commented on #2969
We need to measure how much time is spent in semantic rule application, specifically the unification phase.

One idea is to log before and after attempting unification, here: https://github.com/runtimeverification/haskell-backend/blob/bcb605bf1980d621a83126fa438621c4d0e5cf37/kore/src/Kore/Rewrite/Step.hs#L152

Log entries: `DebugSemanticRuleUnificationStart` and `...End`, with one-line entry forma

[2022-04-29 17:40] ana-pantilie commented on #2969
Move back to triage after we get ^ done.

[2022-04-29 17:45] ana-pantilie commented on #3032
Look into if the backend supports ^.

[2022-04-29 17:50] ana-pantilie commented on #2995
Not clear if there's a sound way to solve this.

@xc93 Do you have any idea on how to do definedness checking on this?

[2022-04-29 17:59] ana-pantilie commented on #3041
We need to reproduce this.

[2022-04-29 18:05] #2785 closed

[2022-04-29 18:05] ana-pantilie commented on #3045
It's not the same problem as ^, the test is being run on CI.

[2022-05-02 17:52] virgil-serbanuta commented on #2995
Would this work and be good enough (I may have misplaced some parenthesis)?
[code]
This could be made to be more friendly by introducing a new ML operator/macro `#IF` which would be defined by `#IF(C, TB, FB) === (C #And TB) #Or ((#Not C) #And FB)` and which would be evaluated without expansion, in the expected way, by the Haskell backend.

[2022-05-03 18:28] JKTKops commented on #2993
The bug reports have been uploaded to [a google drive folder](https://drive.google.com/drive/u/1/folders/1RjTHTD6-I3B8kCEeOi4V41Ch6sF_NVyB) which requires access. I included a simple script that runs all the proofs (without doing individual-level profiling) as well as a README describing the contents and linking to the instructions for setting up the Haskell backend. I am happy to include anything

[2022-05-04 21:22] dwightguth commented on #2969
I discussed this idea with Everett a bit, and my gut feeling is that done properly, you ought to be able to get very similar performance gains to what you describe that are actually global to /all/ cells, not just the k cell, for most, but not all, rule applications by making use of functionality provided by the llvm backend.

A little background:

If you run `kompile -O3 --backend llvm`, the llvm

[2022-05-04 21:32] dwightguth commented on #2969
If you are interested, here's what my idea would involve technically:

1. Making a change to the llvm backend. The code in question lives in the `matching` directory and is written in scala. The entry point is in Matching.scala. You would want to create a new entry point that does the following:
   * Parses the kore definition
   * Constructs the `axioms` and `symlib` objects the same as the exist

[2022-05-05 16:03] radumereuta commented on #3040
@dwightguth please provide a trace for this issue using this documentation:
https://github.com/runtimeverification/haskell-backend/wiki/Debugging#function-evaluation

[2022-05-05 16:07] radumereuta commented on #3033
Please come up with some versions and ask for feedback from K users (maybe on the #k channel on slack).
I'm sure you will get plenty of opinions.

[2022-05-05 16:38] dwightguth commented on #3040
[smoke.tar.gz](https://github.com/runtimeverification/haskell-backend/files/8633071/smoke.tar.gz)

[2022-05-05 16:48] dwightguth commented on #3040
[smoke.tar.gz](https://github.com/runtimeverification/haskell-backend/files/8633126/smoke.tar.gz)

[2022-05-05 16:53] dwightguth commented on #3040
As I said on slack, nothing is reported in the log. This should allow you to reproduce the issue, however.

[2022-05-06 17:14] ana-pantilie commented on #2969
### How to add log entries for the Haskell backend:

We organize log entry types as follows: in https://github.com/runtimeverification/haskell-backend/tree/master/kore/src/Kore/Log we have a module for each entry type.
Each type should be made an instance of `Pretty` and `Entry`. The type then needs to be added to the [registry](https://github.com/runtimeverification/haskell-backend/blob/master/ko

[2022-05-09 17:54] dwightguth commented on #2969
Please let me know when you have a version of the tool that can be used to take these measurements. I would like to measure it on my in-progress c semantics code, which is still extremely slow currently.

[2022-05-09 18:03] dwightguth opened #3048 "--execute-to-branch requires --prove"
When you pass `kore-exec --execute-to-branch` without passing `--prove`, it reports an error. It would be nice if this just worked, as it would replace a rather cumbersome and inefficient test harness that I have for testing symbolic execution in the C semantics, and save me a lot of time and effort.

[2022-05-10 10:11] denis-bogdanas opened #3050 "Error about claim with universally-quantified var on RHS must show var names"
One of Haskell backend errors looks like this:
[code]

It would be preferred if error also mentions variable name.
Also, for all backend crashes like this we would prefer different exit codes for easy debugging and tool integration. At very least, backend crash due to out of memory must give a different exit code than a functional error.

[2022-05-10 10:12] denis-bogdanas commented on #3050
[kore-exec-flopper-kick1.tar.gz](https://github.com/runtimeverification/haskell-backend/files/8660606/kore-exec-flopper-kick1.tar.gz)

[2022-05-10 14:11] JKTKops opened #3052 "Compatibility with logict-0.8.0.0"
`logict` has [recently updated to 0.8.0.0](https://github.com/Bodigrim/logict/blob/master/changelog.md) which comes with a breaking change: `Control.Monad` and `Control.Monad.Trans` are no longer re-exported from `Control.Monad.Logic`. We should adjust our `Logic` module for compatibility.

[2022-05-11 14:50] JKTKops commented on #3048
Everett gives an example that should reproduce this:
[code]

`test.foo`:
[code]

[code]

@dwightguth does this reproduce your issue? If not, please give a minimal example.

[2022-05-11 15:09] JKTKops commented on #3041
@nishantjr Try using the branch in #3042 and adding a rule like `rule { true #Equals true } => #Top`. Does that fix the issue?

[2022-05-11 15:22] ehildenb commented on #2995
Inductively/co-inductively discharge definedness check?

As I understand the problem, we have the rule:

[code]

Then, it's trying to check `#Ceil(#if .... #then ... #else f(S', L') #fi)` in the case where the boolean condition is true (which it should have to do for soundness, even if evaluation is short-circuiting).

But in checking this `#Ceil(...)` conditino, it must also check `#Ceil(f(S', L'

[2022-05-11 15:43] #3052 closed

[2022-05-11 18:29] dwightguth commented on #2327
Here is a minimal K file that reproduces the issue:

[code]

You can then reproduce the issue with `krun -cPGM="foo(1)"`

[2022-05-11 18:58] dwightguth commented on #3048
As I said, the error occurs when you pass --execute-to-branch but not --prove. So no, that example does not reproduce my issue. But I am reasonably confident that /any/ invocation of kore-exec with those flags will reproduce the error.

[2022-05-11 19:02] dwightguth commented on #3048
I can confirm this is an option validation issue. So here's an example, although surely you could have figured this out without it:

[code]

[2022-05-11 20:24] dwightguth commented on #2995
If you have an encoding that works for the haskell backend and provides the same results on all concrete inputs as the llvm backend, I would recommend simply writing a compilation pass in the k frontend that transforms `#if` into that encoding and running it on the haskell backend only.

[2022-05-11 21:15] ehildenb commented on #2995
@xc93 with this encoding, is it still true that `#if ...` is a `function` symbol or not?

If it's not the case, then maybe we cannot using the existing equational simplification engine of the Haskell backend for simplifying rules with `#if ...` at the top.

[2022-05-11 21:19] dwightguth commented on #2995
It is not, under this encoding, because it's not a symbol. It's a macro for an \or.

[2022-05-11 21:22] xc93 commented on #2995
`#IF` is not a `function` symbol. In fact, it is not a symbol at all, but a notation. The reason is that even if the first argument is #BOTTOM, the result is not necessarily `#BOTTOM`. It is `FB`.
`#BIF`, however, does have a `function` symbol semantics. Instead of defining `#BIF` as a notation using `#IF`, I can instead define it directly as a `function` symbol with two axioms as follows:
[code]

[2022-05-11 21:23] dwightguth commented on #2995
For what it's worth, it was never treated as a regular function symbol by the llvm backend, any more than the other short circuiting boolean operators were. They were all campiled down to native branch instructions. So I don't see why we can't treat them specially in the haskell backend also.

[2022-05-11 21:26] dwightguth commented on #2995
@xc93 that doesn't sound correct; again, if k1 is bottom but b is false, the result is k2. This is not true if if is a symbol.

[2022-05-11 21:29] xc93 commented on #2995
@dwightguth You are right. I take that back. Neither `#IF` nor `#BIF` can be symbols with their intended semantics.

[2022-05-11 21:35] ehildenb commented on #2995
A better K semantics wolud then be?

[code]

[2022-05-11 21:35] ehildenb commented on #2995
But this would only be valid encoding to Z3 I think if we first check definedness of the entire `#ite`

[2022-05-11 22:04] xc93 commented on #2995
The [function, functional] attributes are incorrect. As @dwightguth said, we want `#ite(true, 1, #BOTTOM)` to be `1` and `#ite(false, #BOTTOM, 2)` to be `2`, meaning that `#ite` cannot be a symbol. It has to be a notation.

Here's another question about using Bool as the condition sort though. What is the intended semantics of `#ite(#BOTTOM{Bool}, K1, K2)` and `#ite(#TOP{Bool}, K1, K2)`?

As for c

[2022-05-11 22:18] ehildenb commented on #2995
Right, currently we do check the definedness of both branches, which is causing the original problem because that definedness check requires recursively evaluating a function on itself (that's what's manifesting as the original bug, or at least I thought). The current algorithm that the Haskell backend uses for doing this seems to end up looping. At least, that's my understanding of the issue, als

[2022-05-11 23:00] dwightguth commented on #2995
There is the issue of how to encode and handle the changes you are making in the backend, but I would caution you against making too many changes to the user-facing syntax declaration because that is likely to have a lot more user impact and also impact on the rest of the frontend and on the llvm backend. Like I said, I would instead recommend compiling the symbols in the frontend into whatever ko

[2022-05-12 08:37] virgil-serbanuta commented on #2995
Is it logically sound to short-circuit a symbol? It seemed to me that @xc93 said that "Neither #IF nor #BIF can be symbols" and " #ite cannot be a symbol. It has to be a notation." What did I miss?

[2022-05-12 09:14] denis-bogdanas commented on #3050
[flopper-kick-spec.k](https://github.com/runtimeverification/haskell-backend/files/8676658/gen-b9b4___-spec.k.txt)

[2022-05-12 13:16] radumereuta commented on #3050
We can talk about this at the meeting.
@JKTKops I could still use some help from the backend, since I have no idea what went wrong here just by looking at the claim.
@denis-bogdanas in order to be able to debug this in the front end I will need the entire definition. If this is part of the erc20-verification repo, then just details about how to set it up.

[2022-05-12 13:37] ehildenb commented on #2995
Sorry @virgil-serbanuta , I meant notation, not symbol.

[2022-05-12 16:40] JKTKops commented on #3048
Try the branch from #3055 when you get a chance.

[2022-05-12 22:04] nishantjr commented on #3041
@JKTKops Sorry, I'll need some more time to test this out. I spend some time debugging this, and my impression was that it was caused by negations of predicates not being considered predicates by the simplifier. Let me see if I can make a smallish example for more complex cases than the ones shown here. I'll try and get it done by Monday.

[2022-05-13 09:13] #3001 closed

[2022-05-13 10:30] goodlyrottenapple opened #3056 "kore-repl arithmetic underflow"
The current version of `kore-repl`

[code]

crashes on the following input:

First, create `foo.k`

[code]

and `spec.k`

[code]

then `kompile --backend haskell foo.k` and launch the repl `kprove --debugger spec.k`. Running `stepf 2` followed by `stepf 1` crashes the REPL with

[code]

See the full printout of the REPL session:

[code]

[2022-05-13 10:39] goodlyrottenapple commented on #3056
As suspected, the excpetion seems to be thrown from an arithmetic operation on `GHC.Natural`. WIth profiling enabled and using the `+RTS -xc` flag, getting the following stack trace on crash:

[code]

[2022-05-16 10:32] denis-bogdanas opened #3058 "Memory leak when running erc20 verifier tasks"
When running any tasks of the old erc20 verifier, kore-exec consumes all available memory and eventually crashes. It eats 128 GB of swap in less than 2 hours. This bug is blocker for erc20 verifier work.

In the attached bug report file, command must be run without `--depth 1` option.
[kevm-bug-approve-short.tar.gz](https://github.com/runtimeverification/haskell-backend/files/8699278/kevm-bug-appr

[2022-05-16 10:43] #3040 closed

[2022-05-16 12:22] denis-bogdanas commented on #3058
Details about stuck state:
- step 641 in kore-repl

- Relevant piece of configuration:
[code]

Rule for `#accessAccounts`:
[code]

The issue is related to set operations, and is the same that prevents KEVM test `create-spec.k` from passing.

[2022-05-16 12:27] denis-bogdanas commented on #3058
Duplicate of  #2928

[2022-05-16 12:27] denis-bogdanas commented on #3058
Duplicate of https://github.com/runtimeverification/haskell-backend/issues/2928

[2022-05-16 12:27] #3058 closed

[2022-05-16 12:30] ana-pantilie commented on #2928
We should attempt to reproduce this again.

[2022-05-16 12:39] denis-bogdanas commented on #2928
K frontend commit: `0b58d4778`
backend commit: `7eb8cdd39`

[2022-05-16 15:43] #3056 closed

[2022-05-17 15:42] #3048 closed

[2022-05-18 10:05] goodlyrottenapple opened #3060 "Haskell backend fails to simplify `==Int` equality"
In the following version of K and `kore-exec`:
[code]

The following [proof](https://github.com/runtimeverification/evm-semantics/blob/dd5e8522c9029c3fb3a57a906ae014ebd6d4532d/tests/specs/mcd/flipper-bids-pass-rough-spec.k) from the evm-semantics repo fails to discharge this final equality:

[code]

specifically, it gets stuck trying to prove

[code]

Given that the claim contains the following cl

[2022-05-18 11:20] goodlyrottenapple opened #3061 "JSON-RPC for driving symbolic execution"
This is a proposal to switch to using the JSON RPC protocol to talk with kore-repl/kore-exec. The main proposed change would be to remove the current REPL and replace it with a JSON RPC server which would handle the "core" functionality of the current REPL, namely all the functionality such as step/stepf, config, select, etc. excluding any complex commands like piping or appending to file, which w

[2022-05-19 09:58] goodlyrottenapple commented on #3061
# Implementation details

We could use [servant-jsonrpc](https://hackage.haskell.org/package/servant-jsonrpc-1.1.1/docs/Servant-JsonRpc.html) to pull out the current functionality of the REPL into the following API

[code]
_The `Step` method expects an Int argument and either returns a `Text` error or a list of new states in case of branching. Maybe instead of `[Int]` we should return a hash of th

[2022-05-19 10:48] goodlyrottenapple commented on #3061
Actually I found a different library https://hackage.haskell.org/package/json-rpc-1.0.4/docs/Network-JSONRPC.html which may be more suited if we want to support bi-directional communication, e.g. when having debugging enabled. The servant-jsonrpc library assumes a client-server architecture, where the client always initiates a request and then waits for the response. However, we might want to add

[2022-05-19 11:29] goodlyrottenapple commented on #3061
Here is the proposed API implementation agnostic view:

## Messages from client to the kore-exec JSON RPC server
| Method name     | Parameters   | Return type    | Message type  | Notes             |
| ---------------- | ------------- | ------------- | --------------- | ------------- |
| step                     | Int                  | [Int]                | client-server | The `Step` method exp

[2022-05-19 14:11] ehildenb commented on #3061
rule <k> X:Int => a ... </k> requires X <Int 3

[code]

[2022-05-19 14:13] ehildenb commented on #3061
Let's make the architecture so that there is one main server thread which accepts/sends requests. Add a cancel command which can cancel a given command running.

[2022-05-19 14:16] ehildenb commented on #3061
Optional bonus that makes things way easier later:

[code]

The added axiom should be able to be injected at any priority. The axiom should be able to be a normal semantic `rule`, or a `simplification` rule.

The response should just be "true" for "it worked"

[2022-05-19 15:28] radumereuta commented on #2928
@ana-pantilie please open a front-end issue with the changes required to make this work.
We should need to add similar axioms to what we do for Maps here: https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/backend/kore/ModuleToKORE.java#L179

[2022-05-19 15:32] radumereuta commented on #3033
Just make a better error message:
- this failed because of unification!
- this failed because implication check!
An incremental change for now should be fine for now.

[2022-05-23 15:00] ana-pantilie commented on #3061
### Server start-up

The configuration looks like:
[code]

Start-up will load and initialize the definition, meaning it will basically do the same thing as https://github.com/runtimeverification/haskell-backend/blob/22b637981b4b5ff86963fe9fbc8322e7b65b26ed/kore/app/exec/Main.hs#L662 until line 665. This only does syntactical validation of the kore definition but it doesn't internalize the definiti

[2022-05-23 15:43] #3033 closed

[2022-05-23 15:53] ana-pantilie opened #3066 "Kore-server: setting up the JSON-RPC server"

[2022-05-23 15:56] ana-pantilie opened #3067 "Kore-server: dedicated initalization procedure"
We currently run the simplifier initialization as part of the action which actually executes the Kore pattern, so that needs to be separated and stored some way globally, together with the rest of the initialized definition in order for the worker thread of the kore server to have access to it each time it reads a request.

[2022-05-24 01:28] ehildenb commented on #2993
I've added the bug reports for KEVM on commit 9855ffbd to the google drive as well.

[2022-05-25 14:53] ana-pantilie commented on #3061
Next steps:
- review https://github.com/runtimeverification/haskell-backend/pull/3068
- see if it's possible to restrict to one session
- initialize server by spawning SMT process and initializing and internalizing the definition, basically doing everything up until https://github.com/runtimeverification/haskell-backend/blob/dea085939a1c1005fb3216f7e7a0890c3e34a3a6/kore/app/exec/Main.hs#L695 and u

[2022-05-26 09:14] #3067 closed

[2022-05-26 11:12] virgil-serbanuta opened #3073 "stepf does not skip splits with succesfull nodes"
To reproduce:

Versions:
[code]

test.k
[code]

proof.k
[code]

Command line:
[code]

Repl:
[code]

Expected result: the current node should be '1'.
Actual result: the current node is '0'.

[2022-05-27 17:19] nishantjr opened #3074 "kprove fails to prove claim where circularity can apply at first step (but can still take a semantic step)"
I think this claim should succeed.
First, the claim cannot be applied as a circularity, so a semantic step must be taken, reaching `<k> foo(N - 1) </k> #And N > 0`.
This  partially unifies with the RHS of the claim, leaving `<k> foo(N-1) </k> #And N > 0 #And not(N-1 == 0)` to be proved.
This unifies completely with the LHS of the claim, so applying it as a circularity it should succeed.

[code]

[2022-05-28 05:13] ehildenb commented on #3074
I think I am seeing the same problem manifest in the KEVM summarizer when attempting the verify the generated claim for the basic block of a small loop.

I think it perhaps has to do with the heuristic that the Haskell backend uses to determine when it should stop and check for subsumption into the RHS of the proof. Because the terms are "similar enough" (perhaps because they only differ on functi

[2022-05-30 18:15] nishantjr commented on #3074
Changing the semantics to:

[code]

and the claim to:

[code]

still causes things to get stuck too early:

[code]

The `--min-depth 1` option won't be enough in this case (we'd need something like `--min-depth 3`).
The error message is also very confusing, "The proof has reached the final configuration, but the claimed implication is not valid",
making me thing that it stopped rewriting due to ge

[2022-05-30 18:21] ehildenb commented on #3074
Hmmmm, I guess the `--min-depth` option will solve my problem, but not the general problem.

Is there a use-case where we cannot compute the min-depth needed ahead of time?

[2022-05-30 18:27] ana-pantilie opened #3077 "Compact error/segmentation fault"
[code]

[code]
[kore-exec.tar.gz](https://github.com/runtimeverification/haskell-backend/files/8800179/kore-exec.tar.gz)

- [x] #3085
- [x] #3086

[2022-05-30 19:08] nishantjr commented on #3074
@ana-pantilie is there a way to disable this heuristic? I'm actually not sure how I can prove this claim (or something similar) without disabling it.

[2022-05-31 11:14] #3029 closed

[2022-05-31 20:52] dwightguth commented on #3077
I think I know what is causing this. Let me explain the sequence of steps I took to reproduce the issue:

1. Install the kframework 5.3.65 ubuntu package for focal
2. Check out the `_update-deps_runtimeverification_k` branch of the haskell backend
3. cd to `test/owise-1` and run `make test`

This does in fact fail. But it's not a bug in the haskell backend, it's a bug in the test harness. The issu

[2022-06-01 12:24] dwightguth commented on #3077
What you suggest could work as a validation mechanism. Right now we call `writeCompact` and `unsafeReadCompact`. Instead we could call `hPutCompact` and `hUnsafeGetCompact` and just write the file hash immediately prior to calling `hPutCompact`. We would have to slightly tweak the code that checks whether a file is a Compact during deserialization, but that wouldn't be much of a change.

I'm fairl

[2022-06-02 16:11] radumereuta opened #3080 "Parallel build of kore libraries"
Currently, on my machine (AMD 5950x 16c32t) it takes `3m15s to build the haskell backend from a clean state.
With `ghc-options: -j` that dropped to ~2m25s.
Can we improve on this even more?
Maybe break up some dependencies in the code to allow GHC to parallelize even more?

P.S. The linked PR tried to add the `-j` option but CI broke for some reason. Local builds were fine.

[2022-06-02 19:27] dwightguth commented on #3080
I doubt we can improve much on the 2m25s time. The reason why it doesn't parallelize more than it already does is that if module A in Haskell depends on module B, then module B must be compiled first. This severely limits the amount of parallelism that is even theoretically possible, and reorganizing the code might not help much. Everett did comment that the haskell backend sometimes has a tendenc

[2022-06-07 11:15] ana-pantilie commented on #3060
I'd try to minimize the spec again, which means doing a "run-lemma/done-lemma" style proof:

[code]

You can then use https://github.com/runtimeverification/haskell-backend/wiki/Debugging#function-evaluation to see if that simplification rule is actually getting applied or not.

We need to get this minimized before we can figure out if it's a Haskell backend bug or not.

[2022-06-07 11:17] ana-pantilie commented on #3050
The backend needs to give more information. After that is done, transfer issue to the frontend.

[2022-06-07 11:42] ana-pantilie commented on #3080
Things to check:
1. see if the linked PR is still failing
2. are the Haskell backend executables being built sequentially? can they be built in parallel?

Idea for the future: not use Maven as much, use Nix instead? This would be a bigger task.

[2022-06-07 11:56] ana-pantilie commented on #3077
@jberthold suggests to have my own type which puts together the program hash and the serialized data and define a Binary instance for that.

[2022-06-08 13:30] goodlyrottenapple commented on #3077
So after some investigation along with @PetarMax, it appears that the issue might not simply be a mismatch between `kore-exec` binaries, or at least that's not the only issue. We have tested and confirmed that the calls to `kompile` and `krun` on my M1 machine used the exact same version of `kore-exec`, still resulting in failure

[code]

[2022-06-08 14:09] ana-pantilie commented on #3077
After implementing the executable hash check, see if the issue above is specific to M1 macs, if yes, just disable serialization on M1 macs for now.

[2022-06-08 15:11] ana-pantilie opened #3085 "Add option to disable serialization"

[2022-06-08 15:11] ana-pantilie opened #3086 "Make the errors with reading the serialized data more user-friendly"

[2022-06-09 01:50] dwightguth opened #3087 "Evaluate laziness of logging"
As part of my profiling efforts with the new unification algorithm, I discovered that an abnormal amount of time was being spent in `traverseVariables`, seemingly as a result of constructing arguments to log entries that the log was suppressing. This is wasted work, obviously. It happens because we enabled strictness globally in our package config, and so we end up fully evaluating the arguments t

[2022-06-09 08:43] #3022 closed

[2022-06-10 09:28] goodlyrottenapple commented on #3008
there is now a bytesmith PR adding support for GHC 9.2 https://github.com/byteverse/bytesmith/pull/23

[2022-06-10 09:34] goodlyrottenapple commented on #3008
Graphviz seems to also need this PR merged for GHC 9.2 support https://github.com/ivan-m/graphviz/pull/53

[2022-06-11 10:16] ana-pantilie opened #3095 "Remove NoSMT"
Needed for https://github.com/runtimeverification/haskell-backend/issues/3061

[2022-06-13 13:55] radumereuta commented on #3085
This is not needed anymore, right?

[2022-06-15 12:38] dwightguth opened #3098 "Fix axiom simplifier lookup mechanism for \equals and \ceil"
Right now, there is a bug in the way we look up axioms to use to simplify \ceil and \equals terms. In particular, if the simplification rule we wrote has a \equals or a \ceil on the lhs whose child is something for which `matchAxiomIdentifier` returns Nothing, then configurations which would match these rules will skip applying any axioms, even though such an axiom could apply. I have extended the

[2022-06-15 14:13] #3095 closed

[2022-06-15 14:29] ana-pantilie opened #3099 "MultiAnd and MultiOr: replace inefficient representation with HashSet"
https://github.com/runtimeverification/haskell-backend/blob/master/kore/src/Kore/Internal/MultiOr.hs

https://github.com/runtimeverification/haskell-backend/blob/master/kore/src/Kore/Internal/MultiAnd.hs

@jberthold points out some possible issues regarding building MultiAnd/MultiOrs in respect to filtering elements which are `isTop`/`isBottom`.

[2022-06-15 14:39] ana-pantilie opened #3100 "Fix Makefile test infrastructure"
Our CI integration tests should use our kore-exec build when running kompile instead of the one shipped with the frontend.

This should use the new K dependency: https://github.com/runtimeverification/haskell-backend/pull/3043. That PR also requires this change to the test infrastructure for it to pass. The new frontend adds the `--haskell-backend-command` option to kompile which we should use wit

[2022-06-15 16:16] virgil-serbanuta commented on #3098
Re: "Why do the Equals/Ceil etc. constructors of AxiomIdentifier have arguments?" - When this was implemented, we thought that at least one of the following is/will be true:
1. there are/will be semantics in which a large number of the symbols have `ceil` simplification rules
2. a significant number of configurations (will) have unsimplified `ceil`s in the predicate

If any of the above is true, i

[2022-06-16 02:20] JESSENIA1983 opened #3102 "| name | diff_allocated_bytes | diff_max_live_bytes |"
| name | diff_allocated_bytes | diff_max_live_bytes |
| --- | --- | --- |
| test/regression-evm/test-mul0.sh | -0.000001 | -0.000032 |
| test/regression-evm/test-sha3_bigSize.sh | -0.000001 | 0 |
| test/regression-evm/test-addu48u48.sh | 0.000003 | -0.001523 |
| test/regression-evm/test-straight-line.sh | 0.000000 | -0.000000 |
| test/regression-evm/test-add0.sh | 0.000000 | 0.000032 |
| test/regr

[2022-06-16 02:20] #3102 closed

[2022-06-16 10:14] ana-pantilie commented on #3085
Yes, I'll close it. Thanks!

[2022-06-16 10:14] #3085 closed

[2022-06-16 11:10] #2993 closed

[2022-06-16 12:06] ana-pantilie opened #3103 "Improve compilation time of the Haskell backend"

[2022-06-16 12:17] radumereuta commented on #3103
Documenting some things we talked about:
- adding option -j6 dropped the compilation time from 3m15 to 2m12 on my AMD5950x
- executables are built in series, we could investigate if there is a way to parallelize that.
- we could also ask the Serokell guys if they have ideas about how to improve compile performance. It's not in the initial list of tasks, but maybe they have some pointers.
- install

[2022-06-18 08:14] #3086 closed

[2022-06-19 15:24] ana-pantilie commented on #3077
Closing this because we have improved the error message for the case when the executables differ and the frontend provides an option to disable serialization.

[2022-06-19 15:24] #3077 closed

[2022-06-20 09:43] #3074 closed

[2022-06-20 14:18] ana-pantilie commented on #3050
Probably is a syntax validation error https://github.com/runtimeverification/haskell-backend/tree/master/kore/src/Kore/Validate

[2022-06-20 19:29] denis-bogdanas opened #3107 "rule for #Ceil(@Set1 @Set2) not working"
I'm trying to define a rule for `#Ceil(Set1 Set2)` operation using `intersectSet`. It doesn't seem to apply.
Example:
[code]

Expected result:
[code]

Actual result:
[code]

Full working example here: https://github.com/runtimeverification/k/pull/2670

Also it looks like side condition for `requires intersectSet(S1, S2) ==K .Set` is not created.

Is there a better way to define `#Ceil(Set1 Set2)`,

[2022-06-20 19:31] denis-bogdanas commented on #3107
Haskell version: `9c8b14f`

[2022-06-21 08:50] ana-pantilie commented on #3107
I have investigated this issue and the problem is that this simplification rule doesn't apply because we don't support that kind of matching. Now, unless you have a good reason not to, I'd suggest writing the #Ceil rule for Set concat similarly to how it's written for Map concat:

[code]

I have checked, and this gets applied successfully by the Haskell backend.

[2022-06-21 11:00] goodlyrottenapple commented on #3008
I've added a preliminary document outlining the profiling options for haskell programs here https://github.com/runtimeverification/haskell-backend/blob/ghc9/docs/profiling.md

since there are many options and tools, please let me know what to focus on when writing this up. I would like this to be a useful lookup guide when we want to do profiling

[2022-06-21 11:02] denis-bogdanas commented on #3107
Problem is some operations require generalized set concatenation.
we have this rule in domains.md:
[code]

Apply this to:
[code]
ans we get:
[code]

[2022-06-21 11:29] ana-pantilie commented on #3008
Check the error in speedscope to figure out what is going on with kore-prof on this version of GHC.

[2022-06-21 11:31] ana-pantilie opened #3108 "Investigate switching to hs-speedscope for kore profiling"
@jberthold use https://github.com/runtimeverification/haskell-backend/wiki/Profiling#kore-profiling on your proof on 8.10.7, see if there's any difference between kore-prof and hs-speedscope

@goodlyrottenapple see what the issue with kore-prof and 9.2.3 is, if this will become a blocker for us when we want to update or not

[2022-06-21 11:39] #3103 closed

[2022-06-22 14:46] ana-pantilie opened #3110 "Serokell: specialization of SMT"
We attempted to solve the problem of specialization and inlining by changing the abstract monad MonadSimplify simplifier to SimplifierT SMT. This could not be done easily because of the application architecture.
The base monad is determined dynamically:
[code]
For the purposes of the investigation we simply removed the support for NoSMT. A proper solution would be to use a concrete base monad (e.g

[2022-06-22 14:48] ana-pantilie opened #3111 "Serokell: remove BuiltinAndAxiomSimplifier"
### Progress until 07/10/2022
- [x] Specialize BuiltinAndAxiomSimplifier to a concrete monad
- [x] Call builtin evaluator functions statically
- [ ] Remove BuiltinAndAxiomSimplifier by doing https://github.com/runtimeverification/haskell-backend/issues/3111#issuecomment-1210727293

[2022-06-22 14:49] ana-pantilie opened #3112 "Serokell: finish interning strings"
### Progress until 07/10/2022

- [x] add string interning to the whole codebase
- [x] fix unit test failures coming from different hashable versions
- [ ] serialize interned table
- [ ] fix the rest of the unit test failures

------

Note: Code for this is currently on the `intern-ids` branch (commit 2574d0d287dfab77ef3e5350ee6ef1d51ad5fa82).

Identifiers are isolated in the `Kore.Syntax.Id` modul

[2022-06-22 14:51] ana-pantilie opened #3113 "Serokell: hashing is a top consumer"
We found that the cache in attemptEquation enjoys the hit ratio of over 95%, so it is well-placed. However, the lookupCache is expensive because a lot of time is spent hashing and comparing keys.

Suggestion:
1. compute the hash in advance
2. investigate using a different datastructure for less comparisons (like a trie)

[2022-06-22 14:54] ana-pantilie opened #3114 "Serokell Engagement"
Task order:
1. https://github.com/runtimeverification/haskell-backend/issues/3112
2. https://github.com/runtimeverification/haskell-backend/issues/3110
3. https://github.com/runtimeverification/haskell-backend/issues/3113 and https://github.com/runtimeverification/haskell-backend/issues/3111

[2022-06-22 15:43] #3100 closed

[2022-06-22 22:48] ehildenb commented on #2934
Some data supporting that we should be failing unification fast:

[code]

[2022-06-22 22:49] ehildenb commented on #2934
We can see that we have 3.5% productivity across all proofs:

[code]

Where productivity means "total time succeeding to apply a rule / total time trying to apply rules".

[2022-06-23 12:50] jberthold opened #3116 "kore-repl finds \not\ceil in stuck state"
While testing an evm proof in the kore-repl in evm-semantics[1], kore-repl reported the following error:

[code]
This happened twice in the debugger when running `stepf 2000` on the claim in question.
Full output: [notceilbug-output.txt](https://github.com/runtimeverification/haskell-backend/files/8967241/notceilbug-output.txt)

To reproduce:
[code]

[1] Repo state tagged, https://github.com/runti

[2022-06-23 15:36] radumereuta commented on #2934
We should have a log entry saying `unification failed` so we can better measure where time is being spent.
We might be able to statically detect if a rule preserves definedness. If it's functional on the RHS we don't need to do certain verification steps.
@ehildenb @dwightguth please add more to this issue.

[2022-06-23 15:45] ehildenb commented on #2934
It seems that we think that the unproductive time is broken into two different categories:

- Time spent failing to unify with the LHS of a rule.
- Time spent re-checking definedness conditions after applying a rule.

We can, as discussed above, speed up failing to unify with rules.

As far as re-checking definedness, we definitely should not have to do this after every rewrite step. Many rules sh

[2022-06-23 15:52] dwightguth commented on #2934
There actually already is a log entry for when unification fails, it is called DebugUnifyBottom. I am not sure if it is correctly including the rule location though, and if unification branches, it will be logged once per branch. But I wanted to make you aware of it.

As far as definedness goes, with respect to top level rules, we already are asserting that the substitution from unification is fun

[2022-06-24 11:52] jberthold opened #3119 "kore-exec should output a count of unexplored leaves when it terminates"
When a proof fails, `kore-exec` will output a counterexample (or more than one, with `--max-counterexamples`). However, the output of counterexamples does not provide information about how many branches/leaves remained unexplored and might therefore yield additional counterexamples.

This can be found out in debugger mode by calling `leafs`.
The CLI could output this information when `kore-exec` t

[2022-06-27 10:55] PetarMax opened #3121 "Cannot test simplifications with ML connectives"
K Version
---------

[code]

Description
-----------

`kore-exec` throws error when attempting to test a simplification that uses ML connectives (e.g. `#Equals` instead of `==Int`).

Input Files
-----------

`ml-conn.k`:

[code]

`ml-conn-test.k`:

[code]

Reproduction Steps
------------------

[code]

Output:

[code]

Bug report: [kore-exec.tar.gz](https://github.com/runtimeverification/haskell-b

[2022-06-27 11:57] ana-pantilie commented on #3121
This should be supported once https://github.com/runtimeverification/k/issues/2491 is done.

[2022-06-27 11:58] ana-pantilie commented on #3010
@JKTKops We need to make sure that https://github.com/runtimeverification/haskell-backend/issues/3121 is supported in this feature. A similar test should be added when implementing this.

[2022-06-27 14:19] ana-pantilie commented on #3108
@goodlyrottenapple or @jberthold please modify https://github.com/runtimeverification/haskell-backend/wiki/Profiling with the clarifications.

[2022-06-27 14:19] #3108 closed

[2022-06-28 11:28] goodlyrottenapple commented on #3121
@goodlyrottenapple @ana-pantilie  add a note on the possible ambiguity of `=>` in a claim, i.e. it could be an implication or a reachability, which desugar into different things in kore. Is this a potential issue?

[2022-06-28 13:18] denis-bogdanas opened #3124 "Side condition for #Ceil(Set SetItem) should be generated before function evaluations"
Looks like haskell backend first applies function rules, then generates `#Ceil` constraints. This could lead to information loss when result of function evaluation no longer needs `#Ceil` constraints.

Example code: https://github.com/runtimeverification/k/pull/2685
`ceil-order.k`:
[code]
`ceil-order-spec.k`
[code]

The test passes with current master, but fails with this Haskell backend: https://

[2022-06-29 08:40] ana-pantilie commented on #3124
The two simplification rules are unsound, they should be:

[code]

The idea is that currently users have to make sure that the definedness of the LHS is preserved on the RHS as well.

[2022-06-29 08:49] ana-pantilie commented on #3121
@goodlyrottenapple @radumereuta The frontend needs to apply the same kinds of constraints to these non-reachability claims it does to simplification rules. What is not allowed in simplification rules, shouldn't be allowed in non-reachability claims. I would assume that ambiguity isn't an issue in this case, right?

Also, I don't like "non-reachability" as a name, @JKTKops suggested "equational cla

[2022-06-29 08:51] goodlyrottenapple commented on #3061
from @nishantjr:

We noticed while looking at the logs, that when executing up to a branch point, the backend may be calculating the states immediately after the branch point as well. If that's the case, could the JSON RPC also return those states?
We'd like to change the result of the `execute` action from:
[code]
Where `KORE_TERM` is the final term, and `REASON_FOR_HALTING` is one of:

[code]
to

[2022-06-29 08:56] ana-pantilie opened #3126 "Avoid unnecessary \\ceil simplification"
- [x] Refactor Ceil simplifier https://github.com/runtimeverification/haskell-backend/pull/3209
- [ ] Reimplement Ceil caching
- [ ] Top-down Ceil simplification
- [ ] TODO: other improvements?

[2022-06-29 08:56] ana-pantilie commented on #2934
Ok, thank you Everett and Dwight for the explanation. I opened https://github.com/runtimeverification/haskell-backend/issues/3126 to track this.

[2022-06-29 08:58] goodlyrottenapple commented on #3121
@ana-pantilie Would they use `=` instead of `=>`? With calling them equational, we imply they are symmetric (which in theory they are) but I'm assuming we want to use them directionally in other claims as `rule ... [simplification]`?

[2022-06-29 09:10] ana-pantilie commented on #3121
Simplification rules currently use `=>`, so I'm guessing that we'd want to preserve that in the claims as well.

[2022-06-29 10:33] denis-bogdanas commented on #3124
That sounds very strange to me. My understanding is that at any time the engine encounters a partially defined functional expression, it should generate `#Ceil` predicates. It would be extraordinary unintuitive and error-prone if besides `#Ceil` rules one have to additionally assert definedness with `ensures` clauses. Is this a bug after all?

@ehildenb what's your thought on this?

[2022-06-29 12:12] ana-pantilie commented on #3124
The backend does generate Ceil predicates for the configuration being rewritten. What I'm saying is that simplification rules apply equational transformations to terms which could invalidate the definedness of a term if users aren't careful enough. We want to make this easier for users in the future, but currently this is the encoding we have for simplification rules.

[2022-06-29 12:31] denis-bogdanas commented on #3124
1. Please confirm if this is a bug.
2. How the rules in my example invalidate definedness? Please explain.

[2022-06-29 14:56] ana-pantilie commented on #3010
What would be the best way to represent `EquationalClaim`s?

It's an implication, always of the form `\\implies(requires, \\equals(leftTerm, \\and(rightTerm, ensures)))`.

`simplify :: Pattern -> OrPattern`

`checkImplication :: claim -> LogicT m (CheckImplicationResult claim)`

We want `trans1 :: EquationalClaim -> Pattern` and `trans2 :: OrPattern -> EquationalClaim`

For now let's go with `Equa

[2022-07-01 18:28] gtrepta opened #3129 "A simplification rule not applying when it should"
## Definitions
`noeval.k`:
[code]

`proof.k`
[code]
## KORE Repl output
[code]

## Description
The configurations in nodes 1 and 2 in the proof have the ML expressions `#noeval(V1) #Equals #noeval(V2)` for which there is a simplification rule in the `NOEVAL` module, but it doesn't seem to be applying.

[2022-07-04 13:51] ana-pantilie opened #3132 "Change behavior of #if ... #then ... #else unification"
Noticed by @virgil-serbanuta: `#if ... #then ... #else` currently has inconsistent semantics.

In the following example, during function evaluation`#if B #then Bottom #else g(x)` will be evaluated to `Bottom` (because a symbol with a `Bottom` argument is `Bottom`) while when unifying this term, say `unify(stuff, #if B #then Bottom #else g(x) #fi)` this will result in `((B == true) and (stuff == Bo

[2022-07-05 09:09] ana-pantilie opened #3133 "Investigate definedness condition generation issues for AC structures"
The tests in https://github.com/runtimeverification/k/pull/2695 show some issues in the generation of AC definedness conditions.

We need to do the following:

- [x] Add the tests to the backend repository as integration tests and reproduce
- [x] Check the generated Kore for the tests
- [ ] Minimize tests even more: reproduce as unit tests in https://github.com/runtimeverification/haskell-backend/

[2022-07-05 09:21] ana-pantilie commented on #3124
@denis-bogdanas If you have `rule (S1 SetItem(E)) -Set S2 =>  S1 -Set S2 requires ...`, the set on the LHS can potentially be undefined if `E in S1`. You need to add that condition to the rule, otherwise, if your configuration has a set like `(SetItem(E) SetItem(E)) -Set SetItem(E)` the simplification rule will rewrite this to `SetItem(E) -Set SetItem(E)`, essentially transforming a `Bottom` confi

[2022-07-05 11:06] ana-pantilie commented on #3133
Internal representation of AC structures: https://github.com/runtimeverification/haskell-backend/blob/c86e9d2c0a2d7800a3cb49443d962463f88175d1/kore/src/Kore/Internal/NormalizedAc.hs#L164

[2022-07-05 11:33] ana-pantilie opened #3134 "Kore <-> JSON"

[2022-07-06 06:08] jberthold commented on #3087
All logging-related data structures and helper functions in `Kore.Log.*` are now lazy.
Call sites have been checked to not introduce any strictness exclusively for logging.

[2022-07-06 06:08] #3087 closed

[2022-07-06 06:24] denis-bogdanas commented on #3124
I got that much. But is this a correct and desired K behavior? You still didn't reply if this is a bug.

[2022-07-06 07:44] ana-pantilie commented on #3124
@denis-bogdanas It's not a bug, this is the current design dictated by the encoding of simplification rules. If we want a different behavior then we'd need to think of a proposal to change the encoding of these rules in a way which would give us the desired features.

[2022-07-06 10:42] denis-bogdanas commented on #3124
Thanks! I already wrote the rules in this manner, but assuming this is a workaround not expected behavior.

@ehildenb What's your opinion of this issue?

[2022-07-06 10:45] denis-bogdanas commented on #3124
Also, if this is expected behavior, then K needs a test for it, to prevent future confusion.

[2022-07-06 14:29] ana-pantilie opened #3135 "Serokell: release flag and -o2"
Enable specialization and o2 optimisation flag.

We first need to check if --o2 has any impact on some larger proofs. We have only checked on the short-running proofs from KEVM.

If it doesn't have any impact, just remove the release flag and recommend --fast to users who desire a fast build

If it does improve performance, add --o2 and specialization to the release flag and make it the default in

[2022-07-07 11:38] 17451k opened #3137 "Binary mode segfaults on macOS / x86"
K Version
---------

[code]

Description
-----------

In the [lesson 1.20](https://kframework.org/k-distribution/k-tutorial/1_basic/20_backends/) there is the following exercise: "Try running the program 0 in this K definition on the Haskell Backend". It fails with segmentation fault.

Input Files
-----------

[code]

Reproduction Steps
------------------

What to run:
[code]

Resulting output:

[

[2022-07-07 15:22] ehildenb opened #3136 "Skip definedness checks by analyzing definition"
KEVM has the property that it "preserves definedness".

We should be able to take advantage of that to have to _only_ check that the initial configuration is defined, and very rarely (if ever) after that check it again.

Maybe we can analyze the definition ahead of time, and mark certain rules as "definedness preserving"? That way after those rules apply we don't have to check definedness.

[2022-07-07 15:26] ehildenb commented on #3061
No need for frontend or LLVM backend support here, we already have good textual/binary format for frontend/backend talknig to each other.

Maybe later we need it, and we can add it then. Currently we only need pyk/haskell-backend to talk to each other.

[2022-07-07 15:29] ehildenb commented on #3061
We actually don't need support for `patterns` in `execute-to-branch` anymore, instead we can support `cut-point-rules` and `terminal-rules`.

`cut-point-rules` is a set of string rule labels/identifiers (like `rule [my-rule-name]: ....`), which if one of these rules applies, we want the state _before_ the rule applied to be returned. `terminal-rules` is a set of string rule labels/identifiers (lik

[2022-07-08 09:24] Baltoli commented on #3137
@ana-pantilie I've transferred this issue over so you guys can triage it as appropriate - I don't know what the current state of the compact issue is.

[2022-07-08 11:29] 17451k commented on #3137
Clean and rebuild with `--no-haskell-binary` indeed helps!

[2022-07-09 21:26] ehildenb opened #3138 "Rule not applied to simplify semantic rule unification"
I've attempted to add the following rule to a KEVM proof:

[code]

I can see in `definition.kore` (bug report attached), that the rule makes it into the backend. I've also marked several other rules with labels. I'm calling the backend with `export KORE_EXEC_OPTS="--debug-equation VERIFICATION.fast-unification-failure --debug-equation VERIFICATION.test1 --debug-equation VERIFICATION.test2 --debug-

[2022-07-12 11:14] #3107 closed

[2022-07-12 11:35] ana-pantilie commented on #3138
Meeting notes:

This will definitely not work like this because it's a simplification rule and it won't have the desired effect on unification.

There are two issues here:
1. we need faster unification failure (by checking the K cell first), we already have an issue for that https://github.com/runtimeverification/haskell-backend/issues/2969 and we discussed that we need to do some profiling to see

[2022-07-12 11:36] #3008 closed

[2022-07-12 12:07] ana-pantilie opened #3142 "Remove commit message history on final commit"
Automerge should just take the PR description and add that as the body of the commit message.

[2022-07-12 12:41] virgil-serbanuta commented on #3138
My two cents about 2 - I think that Grigore liked this idea (well, he liked the idea of defining everything in K and having as few specialized algorithms in the backend as possible). I would think that it's hard for users without good knowledge of ML to write reasonable unification rules. I'm not sure how useful it would be right now (i.e. after Dwight's rewrite of AC unification), but in the past

[2022-07-12 13:12] ana-pantilie opened #3143 "Overhaul graph traversal/execution strategy"
- [x] #3168
- [x] Design work towards JSON-RPC new functionality
- [x] Create a front-end ticket when this is done, so we can update the pyk library

[2022-07-12 13:12] ana-pantilie opened #3144 "New simplifier"
TODO

[2022-07-13 12:39] jberthold opened #3145 "Kore <-> JSON: Implement round-trip tests using textual kore and json"
Part of [k#2626](runtimeverification/k/issues/2626)

Using tests from [`test/parser`](https://github.com/runtimeverification/haskell-backend/tree/master/test/parser)
* add files with json format corresponding to the textual kore files (separate directory)
* implement round trip testing between textual and json format

And some small changes to the JSON format
* provide a shell script to generate t

[2022-07-13 17:37] ehildenb commented on #3138
The question here is whether the unification algorithm can take these simplification rules into account. Not sure why it would not be able to, unless it's transforming the unification problem into something that is not a `{ ... #Equals ... }`

This is a way to achieve faster rule unification failure, without having to hack it directly nito the backend. So I'm proposing it as an alternative to #296

[2022-07-14 03:19] jberthold commented on #3145
Unfortunately all test data files in `test/parser` contain _entire modules_ instead of simply _patterns_.
Will implement a way to extract all patterns from modules so we can still work with the files.

[2022-07-14 16:00] radumereuta commented on #3138
1. documentation about how the backend works
2. do we support adding custom unification rules with the current implementation, if not, how can we add it
3. do we want to add this heuristic inside the backend, or do we want should they be provided by the user?
Everett wants them provided by the user. Might speed up unification.

[2022-07-14 16:21] goodlyrottenapple opened #3148 "Define a `TermLike` -> `KorePattern` function"
We need this conversion in the `kore-rpc` server, to send back a JSON representation of a kore pattern, namely `KorePattern`, whereas the executor/simplifier/etc. all return a `TermLike` type.

Probably easiest to go via `Kore.Syntax.Pattern` as we alrady have a function to turn that into a `KorePattern`. As per @JKTKops suggestion, we probably need to define
[code]
and then use [hoist](https://ha

[2022-07-15 04:13] #3145 closed

[2022-07-18 15:13] ana-pantilie commented on #3061
Meeting discussion with @goodlyrottenapple:
- check implication should return true/false and an optional substitution and predicate
- return dummy responses for each command
- prioritize wrapping up the API

Future work:
- https://github.com/runtimeverification/haskell-backend/issues/3148 is highest priority after getting the API merged
- discuss with Pyk team about giving us examples

[2022-07-19 11:04] ana-pantilie commented on #3061
@goodlyrottenapple just export types from the Kore JSON module.

[2022-07-19 12:01] ana-pantilie commented on #3119
@jberthold Let's timebox this: let me know at the end of your day tomorrow what your progress has been and we'll decide what to do with it.

[2022-07-20 13:55] gromakovsky commented on #3110
I believe it was resolved by https://github.com/runtimeverification/haskell-backend/pull/3156 and can be closed now.

[2022-07-20 19:07] ehildenb commented on #2993
More tests: https://drive.google.com/file/d/1iu6PoELlApktAKHbR2cGTWZqvsZzSx7Z/view?usp=sharing

[2022-07-20 22:52] nwatson22 opened #3162 "Option to adjust the number of solver query retries"
Currently if a z3 query returns unknown, the haskell backend can rerun it once. We could add a command-line option, something like `--max-solver-retries [number]`, to specify how many times the user is willing to retry these, where on each successive retry the timeout would be doubled. This could give the user more control over the z3 timeout and make it easier to figure out how long an expensive

[2022-07-21 03:34] ehildenb commented on #3162
The default should be `1`, and on that retry the default timeout should be 80ms. But this gives the user an easy way to say "maybe the problem is solver timeouts, let's try and get it passing by just giving the solver more time".

[2022-07-21 08:52] int-index commented on #3111
## Background

`BuiltinAndAxiomSimplifier` is a data type defined in `Kore.Simplify.Simplify` as follows:

[code]

Those simplifiers are stored in a map:

[code]

And there's a function to look up an appropriate simplifier for a termlike:

[code]

This machinery is then used in `maybeEvaluatePattern` (in `Kore.Rewrite.Function.Evaluator`):

[code]

This is important because our profiling data indi

[2022-07-21 11:12] jberthold commented on #3162
Suggest to not _double_ the timeout but instead only _add_ the default value, to avoid astronomic values when users use a large number.

[2022-07-22 12:42] goodlyrottenapple commented on #3111
## A few more notes on the inlining of `BuiltinAndAxiomSimplifierMap`

The bulk of initialization of  `BuiltinAndAxiomSimplifierMap` seems to happen here:

https://github.com/runtimeverification/haskell-backend/blob/eb60e9b80faab374c648aaf71285186ddc3b9c77/kore/src/Kore/Simplify/Data.hs#L260-L279

### Removing `builtinEvaluators`

We want to remove the `builtinEvaluators` map from the code below.

[2022-07-25 10:58] #3110 closed

[2022-07-25 11:20] ana-pantilie commented on #3111
They can definitely have user defined evaluators. We have many simplification rules for arithmetic operations (`+Int` etc.) or for map/set functions. It's actually a widespread practice to add simplification rules for when those hooked symbols are applied to symbolic terms.

[2022-07-25 15:23] ana-pantilie commented on #3162
@JKTKops This is where we retry failed queries: https://github.com/runtimeverification/haskell-backend/blob/fd06257c53e761d93a81a760a03fdd28195ea11d/kore/src/Kore/Rewrite/SMT/Evaluator.hs#L185

[2022-07-25 18:54] JKTKops commented on #3010
Status update posted [on the PR](https://github.com/runtimeverification/haskell-backend/pull/3128#issuecomment-1194477390).

[2022-07-26 11:54] ana-pantilie opened #3165 "Revise GitHub runner cache to accelerate partial rebuilds"
Observation from @jberthold : we are rebuilding all modules all the time, even though we have a build cache.

[2022-07-26 14:40] #3135 closed

[2022-07-26 19:18] #3148 closed

[2022-07-26 20:57] JKTKops commented on #3162
I went with (nearly) this plan. I recorded the `TimeOut` setting before starting to do any retries and use multiples of it for each retry. The first retry uses the original timeout (this matches the old behavior^1) then twice it, then 3x, then 4x, etc. A new option `--smt-retry-limit` can be used to configure how many times we will retry.

----------

^1: Previously, we had SMT retries because som

[2022-07-26 23:37] jberthold commented on #3119
Status: This feature required modifications to how the execution graph is explored (`leavesM` in `Kore.Rewrite.Strategy`) and instigated a rewrite of the graph traversal functionality that `leavesM` provides. Code is in #3163 (closed for archiving), and will be cleaned up so it can be merged and used for `kore-exec`.

[2022-07-27 04:34] #3162 closed

[2022-07-27 12:26] ana-pantilie opened #3170 "Detect if equational rules are unsupported"
See https://github.com/runtimeverification/k/issues/2750#issuecomment-1196618502

Right now we support equational rules where the LHS has a function(al) symbol, `\\equals` or `\\ceil` at the top. The backend should abort execution if it detects anything else in this spot and provide an appropriate error message containing the source location of the rule.

[2022-07-27 14:27] ana-pantilie commented on #3112
Issue: serialization is not compatible with the way interned ids are generated

Ideas:
1. pass table of ids explicitly throughout codebase -> not exactly feasible, I think it would require changes throughout the whole codebase
2. don't generate new interned ids when reading serialized definition; when serializing definition, serialize hashmap of interned ids as well; ~we'd probably have to build o

[2022-07-27 14:34] ana-pantilie commented on #3113
For this issue, please prioritize providing some ideas and documentation for how to tackle this issue.

[2022-07-27 14:39] ana-pantilie opened #3172 "Remove --simplifierx"
The CL option, the type and https://github.com/runtimeverification/haskell-backend/blob/e39ec77530f3c032d56c50a4d298f02c3ea28b18/kore/src/Kore/Simplify/Simplify.hs#L229 need to be removed.

[2022-07-28 10:25] ana-pantilie opened #3173 "Add regression tests from other downstream projects"
Currently, the backend is only running some KEVM tests and some KWASM tests on its CI. We'd like to add a few tests from other downstream projects as well.

https://github.com/runtimeverification/haskell-backend/pull/2996 is an old PR which attempted to add tests from the elrond-multisig project, but its build system wasn't compatible at the time and the PR got stalled.

- [ ] Make a list of proje

[2022-07-28 11:05] ana-pantilie commented on #3170
We might want to add this to https://github.com/runtimeverification/haskell-backend/blob/e39ec77530f3c032d56c50a4d298f02c3ea28b18/kore/src/Kore/Equation/Sentence.hs#L107, but we need to see what we do with the error where this is called. I think this issue requires a bit of investigation.

[2022-07-30 16:42] ehildenb opened #3175 "Simple symbolic execution with definedness checking turned off"
This proof suite used for profiling: https://drive.google.com/drive/folders/1MxmKtx6sHkkGQPlruptj5vAwr4JfV6Uc?usp=sharing

Is a bunch of really short KEVM executions, that I suspect do not need definedness checking turned on at all past the original check for the LHS of the proof. I think the only rule they should be exercising that has any potentially undefined symbols on the RHS is this one:

[c

[2022-07-31 01:38] ehildenb commented on #3175
In fact, we may be able to just statically compute, for each rule, the minimal definedness check it needs to do. Maybe we can just compute `#Ceil(RHS)` for each rule in the semantics, and attempt to simplify it ahead of time. For many rules, which have purely functional or constructor RHS, it can probably statically simplify out to `#Top`. For rules with potentially undefined portions, we'll get a

[2022-08-01 12:44] #3119 closed

[2022-08-02 16:44] #3172 closed

[2022-08-02 17:00] dwightguth opened #3182 "Improve performance of symbolically executing C semantics"
I am working on getting symbolic execution working for the C semantics, but progress is very slow because symbolic execution is incredibly slow, to the point of taking hours on even incredibly basic C programs.

I am sharing two C programs for reference in the attachments, in the form of bug reports containing the definition.kore and initial kore configurations. The first is simply `int main() { r

[2022-08-03 06:36] jberthold commented on #3182
Some leads have already been identified for why the programs are so slow, see the related Slack discussion.
Key postings:
* [Program takes 30 seconds with `Ceil` simplification forcefuly disabled](https://runtimeverification.slack.com/archives/CC360GUTG/p1659467777654899).
  Issue #3136 was created to address this.
* A possible short term solution is to have [a front-end flag that omits all rules

[2022-08-03 09:03] dwightguth commented on #3182
Note: there are two programs here. I have not tested the second one with ceil simplification fully disabled; but the short term fix pr I created only optimizes the second program up to about 100 steps; after that, each step starts taking over a minute, even with no ceil simplification axioms.

[2022-08-03 16:05] ehildenb commented on #3182
Also note that the flag `--disable-ceil-simplification-rules` does not work for any non-trivial proofs, so it's not a long term fix and I don't think is even worth merging actually. It's good to have for experiments.

As far as I understand it, the problem is this (@dwightguth please confirm):

1. Simplification is called on some term, which triggers the equation application.
2. Equation applicati

[2022-08-05 07:44] jberthold commented on #3182
As discussed, profiles for the programs here show that much time is spent in `hashWithSalt @ TermLike`.
An initial experiment with a `SimplifierCache` that used a simple (`Ord`-based) `Map` still showed `hashWithSalt @ TermLike` as the biggest eater in the profile (`smoke` program), most likely due to `SideCondition` whose contents could not be converted easily to use `Map/Set` instead of `HashMap

[2022-08-07 05:58] ehildenb commented on #3182
Are we able to delay simplifying the generated `#Ceil` conditions, instead of immediately discharging them? Could we store them in a list, and then cycle over them all afterwards one at a time separately? Then we could have a simpler rewriter used for that last pass of simplification of the Ceil conditions, which would probably be enough for a lot of cases.

[2022-08-08 04:18] jberthold commented on #3143
## Analysing the JSON-RPC API vs. `execute` requirements

### JSON RPC API data for `execute`
(Description in docs/2022-07-18-JSON-RPC-Server-API.md)

* Request data (exemplified)
[code]

* Responses (for successful execution)
[code]
  with
  * `REASON`:
    string, one of { `final-state`, `branching`, `stuck`, `depth-bound`, `cut-point-rule`, `terminal-rule`}
  * LIST_OF_RESULT_STATES:
    a list

[2022-08-09 11:09] ana-pantilie commented on #3136
Duplicate of [#3175](https://github.com/runtimeverification/haskell-backend/issues/3175)

[2022-08-09 11:09] #3136 closed

[2022-08-09 11:11] ana-pantilie commented on #3175
One thing we need to understand properly before designing this feature is why KEVM needs #ceil simplification rules and what impact that has on this issue.

[2022-08-09 11:25] ana-pantilie opened #3188 "Move all equation-related unification to start-up"

[2022-08-09 11:25] ana-pantilie opened #3189 "Simplifier cache: instead of (equation, term) -> cachevalue have equation -> term -> cachevalue"

[2022-08-09 11:41] ana-pantilie commented on #2934
Jost has determined that this change doesn't have much impact.

[2022-08-09 11:41] #2934 closed

[2022-08-09 11:43] ana-pantilie opened #3190 "Tool for visualising timing state machines"

[2022-08-10 02:09] jberthold commented on #3143
## Amended JSON RPC API data for `execute`
(Description in docs/2022-07-18-JSON-RPC-Server-API.md)

* Request data (exemplified)
[code]

* Responses (for successful execution).

  **CHANGES:**
  - added current state field
  - added rule field
  - renamed states to `next-states` (optional now)
  - moved `depth` field outside `next-states`

[code]
  with the following contents:

  * `reason` contai

[2022-08-10 07:03] PetarMax opened #3193 "[Simplification request] Top-level existential elimination"
Simplification
--------------

Existential quantification in top-level positive constraints can be eliminated and the bound variables can be replaced with some fresh variables.

Example: ```#Exists X. { P(X) } => P(X0)```, for some `X0` fresh.

I am assuming that this is a sound simplification when doing matching-logic proofs since it is sound when doing first-order logic proofs, and matching logi

[2022-08-10 07:08] PetarMax opened #3194 "[Simplification request] Existential elimination from equality"
Simplification
--------------

Existentially quantified variables can be eliminated if they appear as a left-hand or right-hand side of an equality within the related statement.

Example: ```#Exists X.  { X #Equals P } #And { Q(X) } => Q(X)[P/X]```.

This simplification can be applied under negation.

**Note**: There already appears to be code in the Haskell backend that does something similar.

[2022-08-10 07:54] ana-pantilie commented on #3194
https://github.com/runtimeverification/haskell-backend/blob/ac0e3c0c403bbca4d812d921f8783f4dfcdbcb29/kore/src/Kore/Simplify/Predicate.hs#L460 is the code which should do that. We should check if this works on more complicated examples (like when there are multiple exists at the top). I'd start by writing unit tests for these examples to analyse the situation.

[2022-08-10 14:08] ana-pantilie commented on #3111
All function evaluators are known statically. Specifically for function definitions provided by the user, we don't need to store a map of Id -> FuncEval because the actual procedure which applies function is the same, more exactly it's: https://github.com/runtimeverification/haskell-backend/blob/ac0e3c0c403bbca4d812d921f8783f4dfcdbcb29/kore/src/Kore/Equation/Application.hs#L109. We should be stori

[2022-08-11 09:20] ana-pantilie opened #3196 "Provide more information when crashing on ErrorDecidePredicateUnknown"
We should tell the user where the predicate comes from and in what procedure we were when trying to evaluate the predicate.

Also mention in the error message:
- `--smt-retry-limit <n>`, which retries `unknown` queries `n` times, each time with a larger timeout; default `n=1`

[2022-08-11 09:23] ana-pantilie opened #3197 "Continue when error is thrown when attempting simplification rules"
If, for some reason, we don't know if a simplification rule applies or not, just emit a warning and continue execution. Specifically, when checking the requires of a simplification rule, if ErrorDecidePredicateUnknown is thrown, don't crash.

[2022-08-11 11:16] ana-pantilie commented on #3197
@jberthold please add some links to the code which you think is useful here

[2022-08-11 11:46] ana-pantilie commented on #3193
https://github.com/runtimeverification/haskell-backend/blob/master/kore/src/Kore/Variables/Fresh.hs for refreshing variables

[2022-08-12 02:09] jberthold opened #3198 "pyk integration test failure since new graph traversal"
The rewrite in #3168 causes a pyk integration test ( `test_get_basic_block (pyk.integration_tests.test_kprove.ImpProofTest)` in the K repository) to fail. It appears to output `#Top` where it should return an unproven configuration.

[2022-08-12 09:48] jberthold commented on #3197
The key insight here is that `decidePredicate` will only ever return `Just False` or `Nothing`, never `Just True`.
https://github.com/runtimeverification/haskell-backend/blob/master/kore/src/Kore/Rewrite/SMT/Evaluator.hs#L164-L169
`decidePredicate` is only called by `evalPredicate`, which is only called by `evalConditional`, in the same module.

`evalPredicate` can in fact return `Just True` when

[2022-08-12 10:10] #3198 closed

[2022-08-12 13:15] #3143 closed

[2022-08-12 14:21] dcastro commented on #3113
Here's a summary of what we've tried:

* Replacing `HashMap` with a trie map, see the branch `diogo/#3133-cache-hit-ratio-trie`. It didn't have a noticeable impact on performance, possibly due to the need to "linearize" the key.
* Replacing `HashMap` with a `Map`, resulted in performance degradation.
* Avoiding computing an `Equation`'s hash more than once. Negligible impact, 0.93% overall speedup

[2022-08-12 15:14] dcastro commented on #3113
A couple more details about `jb/caching-termlike-hashes`:

We ran our benchmarks against ebd826f19869725d887de3a99a727cfd97dad470 (using ac0e3c0c403bbca4d812d921f8783f4dfcdbcb29 from master as a baseline). 47 benchmarks succeeded, 23 crashed (most with an "Invalid map: duplicated keys" error).

Considering only the 47 successful benchmarks:

* Total runtime using an executable built from the targe

[2022-08-12 21:42] ehildenb commented on #2482
The rule merger is gone now.

[2022-08-12 21:42] #2482 closed

[2022-08-16 11:09] ana-pantilie commented on #3175
I want to post-pone this issue until we fix the way we do ceil simplification. After https://github.com/runtimeverification/haskell-backend/issues/3126 is done, we should re-evaluate the situation and see if a solution like this is necessary.

[2022-08-16 11:12] ana-pantilie commented on #3061
Next step as of today: additional testing, and look at `check-implication`.

[2022-08-16 16:15] #3190 closed

[2022-08-17 08:27] F-WRunTime commented on #3025
This will require further debugging a simple pointer to self hosted runners results in numerous failures some appear to be dependency driven.
[First Attempt to Test](https://github.com/runtimeverification/haskell-backend/actions/runs/2873861895)

[2022-08-17 12:17] ana-pantilie commented on #3099
Fixed by #3191

[2022-08-17 12:17] #3099 closed

[2022-08-17 16:44] #3188 closed

[2022-08-17 19:14] #3193 closed

[2022-08-18 10:58] goodlyrottenapple commented on #3194
@PetarMax this functionality is already present for predicates:
https://github.com/runtimeverification/haskell-backend/blob/ac0e3c0c403bbca4d812d921f8783f4dfcdbcb29/kore/test/Test/Kore/Simplify/Predicate.hs#L229-L279
do you have an example where this fails to apply so I could investigate further?

[2022-08-19 08:17] goodlyrottenapple commented on #3165
I believe I know what the issue is. Per github docs and confirmed by this [stack overflow answer](https://stackoverflow.com/a/66632107), a cache will only be available to the descendants of the branch int was created on. The problem is, we cache inside feature branches and not in the main branch, so when we open another feature branch unrelated to the original brnach we made the cache in, there is

[2022-08-19 10:07] ana-pantilie opened #3207 "Investigate turning off Strict"
Regarding heavy computations inside where and let clauses:

_Originally posted by @jberthold in https://github.com/runtimeverification/haskell-backend/pull/3205#pullrequestreview-1078516470_

I think this is a quick but valuable investigation. We have experimented with Strict Haskell for a while now, and we should measure how beneficial it really is. Whichever way we decide is more appropriate (St

[2022-08-19 10:16] #2976 closed

[2022-08-19 10:17] #2974 closed

[2022-08-19 10:17] #2948 closed

[2022-08-19 10:18] #2947 closed

[2022-08-19 10:20] #2484 closed

[2022-08-19 10:21] #2483 closed

[2022-08-19 10:21] #2471 closed

[2022-08-19 10:22] #2127 closed

[2022-08-19 10:22] #2866 closed

[2022-08-19 10:22] #2489 closed

[2022-08-19 10:25] #2214 closed

[2022-08-19 10:25] #2215 closed

[2022-08-19 10:25] #2216 closed

[2022-08-19 10:25] #2217 closed

[2022-08-19 10:25] #2218 closed

[2022-08-19 10:54] ana-pantilie opened #3208 "JSON-RPC: implement check-implication"

[2022-08-19 11:08] #3144 closed

[2022-08-19 15:41] ehildenb opened #3210 "kore-rpc gives back incorrect depth for stuck states"
From: https://github.com/runtimeverification/k/pull/2805#discussion_r949120009

On a transition system:

[code]

We call `execute` from the `kore-rpc`, with input `4`, and get back final result `StuckResult(state=state(6), depth=3)`, but it should be `depth=2` instead.

[2022-08-22 11:15] ana-pantilie commented on #2969
@jberthold if you have time, please go through the discussion on this issue. I have a feeling that the work you did on investigating if unifying the `k` cell first would improve performance heavily discounts any impact this work might have.

[2022-08-22 11:17] ana-pantilie commented on #3121
Duplicate of #3010.

[2022-08-22 11:17] #3121 closed

[2022-08-22 11:30] ana-pantilie commented on #3116
Needs to be reproduced.

@jberthold says this proof has been made to pass in the meantime, but we probably want to investigate why the backend is crashing instead of pointing out that the faulty rules he added aren't supported for some reason.

[2022-08-22 12:04] ana-pantilie opened #3213 "Investigate failing test update job"

[2022-08-22 16:13] ana-pantilie opened #3214 "Add support for #Not simplification rules"
This should be very similar to https://github.com/runtimeverification/haskell-backend/pull/3042.

[2022-08-23 06:56] jberthold commented on #3208
There is existing code in the prover, see https://github.com/runtimeverification/haskell-backend/blob/master/kore/src/Kore/Reachability/Claim.hs#L567-L571
(also see the [description of the algorithm](https://github.com/runtimeverification/haskell-backend/blob/master/docs/2020-06-17-Checking-Implication.md))
What prevents us from reusing it is that this algorithm is focused on _checking_ the implic

[2022-08-23 07:01] jberthold commented on #3208
Sketch of an alternative procedure, by @ehildenb :

[2022-08-23 16:49] ehildenb opened #3216 "Long KEVM proof"
This is a simple Solidity program:

[code]

I am generating a KEVM proof from it, and running said proof. It takes too long (8m52s s on my machine). I want it to take 20s.

Attached is the bug report.

[foundry.tar.gz](https://github.com/runtimeverification/haskell-backend/files/9405196/foundry.tar.gz)

[2022-08-25 11:36] jberthold opened #3218 "`checkImplicationWorker` returns something different from the stuck proof state"
When inspecting [a unit test](https://github.com/runtimeverification/haskell-backend/blob/master/kore/test/Test/Kore/Reachability/Claim.hs#L159-L167), two problems surfaced:

1) The backend should be able to determine that this condition is `\bottom` (`\exists Y. x == y` is true for element variables `x`)
2) this state is returned and printed to the user, but it is not the proof state which is stu

[2022-08-25 11:37] jberthold commented on #3218
https://github.com/runtimeverification/haskell-backend/blob/master/kore/test/Test/Kore/Reachability/Claim.hs#L149-L177

[2022-08-25 11:38] jberthold commented on #3218
https://github.com/runtimeverification/haskell-backend/blob/master/kore/test/Test/Kore/Reachability/Claim.hs#L159

[2022-08-25 12:19] jberthold opened #3219 "`checkImplicationWorker` unable to simplify out a false predicate"
When inspecting [a unit test](https://github.com/runtimeverification/haskell-backend/blob/master/kore/test/Test/Kore/Reachability/Claim.hs#L159-L167):

This state is returned and printed to the user, but it is not the proof state which is stuck. It is an artefact from the checking algorithm. In case of `NotImplied`, the check routine returns the original `claimPattern`, whereas here (`NotImpliedSt

[2022-08-25 12:30] jberthold commented on #3208
From stand-up discussion:
* When stuck, we should return the simplified implication (paraphrased `\implies (LHS, \exists(existentials, RHS))`) (possibly even in all cases, as the unifier we return relates to this simplified implication)
* A few of the unit tests are obsolete because we now simplify the input patterns before trying to check the implication.

[2022-08-27 04:52] ehildenb commented on #3216
Do we have a standard testing harness that can run these bug reports through the profiler? If not, what are the default first profiling steps we should do with these bug reports? Let's write the instructions down, and then we can figure out a way to automatically collect that profiling information and attach it to the issue here.

@ana-pantilie @jberthold and @goodlyrottenapple , when you get a "p

[2022-08-27 13:35] ana-pantilie commented on #3216
Not really, you just need to configure cabal to build the backend with profiling, and then run the test with some RTS options which will output profiling info. For time profiling, the steps are described here: https://github.com/runtimeverification/haskell-backend/wiki/Profiling#haskell-profiling.

I usually do eventlog profiling, as described in the link above. One thing to mention here, is that

[2022-08-27 16:32] ehildenb opened #3221 "Automated profiling of user-submitted bug reports"
A given bug report has all the needed information to reproduce the execution of the haskell backend. There are standard ways we have of profiling these executions.

See here: https://github.com/runtimeverification/haskell-backend/issues/3216#issuecomment-1229193911

In particular, we have a way to setup cabal to do this type of profiling: https://github.com/runtimeverification/haskell-backend/wiki

[2022-08-27 16:33] ehildenb commented on #3216
Issue made: https://github.com/runtimeverification/haskell-backend/issues/3221

[2022-08-27 16:58] ana-pantilie commented on #3216
Thanks @ehildenb !

[2022-08-28 16:45] ehildenb commented on #3175
Ok, what is the progress of ceil simplification fix?

[2022-08-28 16:58] ehildenb commented on #3221
@F-WRunTime can help with setting up the CI side of things.

[2022-08-29 09:53] ana-pantilie commented on #3175
It's WIP. The reason I'm focusing on that is that ceil simplification _should not_ take that long. The fact that it does is a bug, so I believe it to be avoidable.

[2022-08-29 11:14] ana-pantilie commented on #3221
@jberthold @goodlyrottenapple @ana-pantilie please add a comment describing how you generate profiles and what info you'd like to get automatically when someone opens an issue like this.

[2022-08-29 11:17] ana-pantilie commented on #3216
We should just profile and report what we find.

[2022-08-29 11:33] ana-pantilie opened #3223 "JSON-RPC: support cut-point and terminal rule options in execute endpoint"
We have discussed that since our implementation of `execute` was done with having `cut-point/terminal rules` and not `patterns` in mind, we will go forward with using rules. In the future, if more generality is needed, we can reassess.

[2022-08-29 13:39] ana-pantilie commented on #3221
### An overview of my workflow when first profiling a bug report

Requirements: cabal, [hs-speedscope](https://github.com/mpickering/hs-speedscope)

With a fresh copy of the project:
[code]
That should output `kore-exec.eventlog.json` which can be loaded into https://www.speedscope.app/ and viewed.

[2022-08-29 15:26] ehildenb commented on #3216
Yes, this can be used as an exercise to inform the steps we want to use for #3221 .

[2022-08-29 15:26] ehildenb commented on #3216
Running new profiles should be very simple, ideally the build system would have a direct way to consume the tarball and produce the profiles.

[2022-08-29 23:16] yurivict opened #3328 "[Bug] - Fails to build: Could not resolve dependencies for project"

[2022-08-30 00:48] jberthold opened #3224 "Measure performance of check implication"
Follows up on #3208

The current implementation(s) (both for JSON-RPC and for the prover) of the implication check rely mostly on the SMT solver.
Explore if the algorithm could be simpler/faster by breaking up the constrained terms involved into their components and applying targeted simplifications first.

A couple of example ideas (for implication `(t(X) /\ P(X)) => (t'(X) /\ P'(X, Y))`:
* If yo

[2022-08-30 00:54] #3208 closed

[2022-08-30 13:44] #3210 closed

[2022-08-30 16:26] ehildenb commented on #3175
Well that's fine, but if it's a WIP for 6 weeks, and we could have had some improvement with 2 days of work, then we should do the 2 day fix. We cannot block immediate progress on potential future progress, that is falling into the trap of "the perfect is the enemy of the good". https://en.wikipedia.org/wiki/Perfect_is_the_enemy_of_good

Getting a faster backend 6 weeks earlier because we did some

[2022-08-31 00:33] dwightguth opened #3226 "Remove dependence of `stack build` on `git`"
Someone recently filed an issue on the k frontend repository who appears to be trying to get a kframework package into the main package manager of FreeBSD. I think we should try to encourage this since it will help K become more widely used.

Their issue amounts to the fact that most linux distros deliberately forbid downloading from the internet when building packages. However, we have dependenci

[2022-08-31 00:57] jberthold commented on #3221
For convenience, I am usually using `stack install --profile` and have the binary output directory on the path.

With `GHCRTS='-p'` alone, one gets a textual time/memory profile which is what I usually use in the first place.
I haven't worked much with speedscope yet but I guess it is useful for _partial_ profile data from a timed-out program run.
According to the speedscope manual, it can import

[2022-08-31 12:24] goodlyrottenapple commented on #3221
I have set up some targets in nix for profiling, especially for GHC9 which has some new profiling features. I usually do
[code]
or
[code]
if i am already in the haskell-backend repo and then something similar to @ana-pantilie's
[code]

[2022-08-31 13:49] ana-pantilie commented on #3175
Sure, that's definitely true, I just didn't think this is a 2 day task. "Disabling definedness checking" is not that simple. I think something like this has some design considerations which take more time than we can allocate for quick experiments.

Some questions that need to be answered:
- Each step we assume that the configuration is defined. Would having a "preserves definedness" attribute be

[2022-08-31 16:28] #3165 closed

[2022-09-01 02:53] jberthold commented on #2969
An experiment with the evm-semantics was done in #3167, and the tool integrated in #3187. It shows that unification already fails very quickly (~28.16μs in the measurement) without a "fast path".

What is suggested by @dwightguth above is to use precomputed information to discard rules that can never apply. This might have some value but we would need to thread the (index into a) rule blacklist th

[2022-09-01 08:23] #2969 closed

[2022-09-01 11:28] ana-pantilie commented on #3221
We need to write a script which builds the latest master with profiling and generates:
- textual/json profile
- eventlog profile
- standard heap profile (cost centres)

Can we do the above in the same run? Will the eventlog profile contain different information depending on the other profiling options?

Can we view the html files directly from eventlog2html? Should we just post the picture of the

[2022-09-01 11:39] ana-pantilie commented on #3224
We'll put this on hold until we fix ceil simplification which seems to be the main bottleneck at the moment.

@jberthold can you please add the graphs which measure this?

[2022-09-01 12:08] ana-pantilie commented on #3189
We didn't see any performance improvement, allocation seems to have increased a bit so we're going to close this.

[2022-09-01 12:08] #3189 closed

[2022-09-01 18:43] ehildenb commented on #3221
We want to be able to run it anywhere, which means that it should be incorporated into the build system committed to the repo.

But we also want a "default" template, with a series of simple-to-run commands, which can be run on CI, so that we can automate the first round of collecting that performance information. That way, without having to do anything, you can already have a discussion as a team

[2022-09-01 18:44] ehildenb commented on #3221
Who will take this? I think it's high priority @ana-pantilie. Collecting profiles should be as low-friction as possible.

[2022-09-02 16:47] goodlyrottenapple opened #3236 "Flaky nix shell check in CI"
The CI Nix shell check action often errors out with

[code]
This is most likely due to https://github.com/NixOS/nix/issues/6572
The options to fix are:
* separate this step in the run into its own action and run via an older version of nix
* downgrade nix for the whole action (tho this may not be feasible if this behaviour occurs in nix >2.4)
* or drop the shell check entirely

[2022-09-05 11:12] jberthold commented on #3236
Suggestion:
* leave `nix-shell` check commented
* make `nix develop` support `fourmolu` and integration tests
* remove old-style `nix-*` commands completely and update the `README.md`

[2022-09-05 20:44] #3112 closed

[2022-09-07 09:09] goodlyrottenapple commented on #3196
I'm not sure what is meant by "where the predicate comes from", do we mean the kore/k file location. Is this information stored anywhere or would we need to modify things such that this information gets carried around?

Also, there is only one place where this error is thrown, namely `Kore.Rewrite.SMT.Evaluator`'s `decidePredicate`

[2022-09-07 10:46] ana-pantilie commented on #3196
Most likely, yes. `decidePredicate` gets called in many situations, and those callsites should provide more context for those calls. I think we could wrap them in https://github.com/runtimeverification/haskell-backend/blob/a1959233e210f960d49a91ebe7fcec76da14ebe3/kore/src/Log.hs#L206?

Also, see https://github.com/runtimeverification/haskell-backend/pull/3238#pullrequestreview-1098941587

[2022-09-07 18:01] ehildenb commented on #3221
We should run these jobs on an isolated instance. We can tag each instance with `performance` tag, and use the old rv-master node (which should be unused now) with a single github runner taking up 95% of the capabilities of the machine.

[2022-09-08 00:10] jberthold opened #3242 "Remove `Target` type from the code"
Uses of type `Target` and friends are:
* one unnecessary internal use in Rewrite/Axiom/EvaluationStrategy.hs (pending removal by Serokell at the time of writing)
* one unused export in Rewrite/Step.hs
  Rewrite/Step.hs:315:toConfigurationVariablesCondition ::
* unused exported function in Internal/OrPattern.hs
  Internal/OrPattern.hs248:targetBinder ::

[2022-09-08 00:31] jberthold opened #3243 "Remove `Strategy` type from the code"
When rewriting the graph traversal for prover and execution , the [`Strategy` type](https://github.com/runtimeverification/haskell-backend/blob/master/kore/src/Kore/Rewrite/Strategy.hs#L96) from `Kore.Rewrite.Strategy` turned out to be largely unused, all but two constructors were removed (not counting the trivial `Continue`), making it isomorphic to a list of `prim` (`Kore.Exec.GraphTraversal` pr

[2022-09-08 01:52] jberthold opened #3244 "Rewrite kore pattern generators for the property tests"
Test runs sometimes won't terminate, or get killed (in CI, due to consuming too much memory).
Preliminary investigation points to [test_simplifiesToSimplified](https://github.com/runtimeverification/haskell-backend/blob/master/kore/test/Test/Kore/Simplify/IntegrationProperty.hs#L70).

[2022-09-08 11:02] ana-pantilie commented on #3242
Remove Target and see what breaks.

[2022-09-09 11:36] jberthold commented on #3244
In `test_simplifiesToSimplified`, the simplifier run sometimes appears to get into a loop .
 A [test case has been extracted in a new branch](./compare/3244-examine-hanging-test) but it is very large. Some manual shrinking could still reduce it.

[2022-09-12 05:49] jberthold commented on #3244
The problem appears to be related to the simplification of terms that involve maps and `Or`. This is a minimised example:
[code]

[2022-09-12 09:00] ana-pantilie opened #3247 "Add new test to KEVM regression test suite"
I guess these proofs should be added to the performance tests of the backend. Or at least, the `function-spec.k` on should be.

_Originally posted by @ehildenb in https://github.com/runtimeverification/haskell-backend/issues/3209#issuecomment-1242358429_

[2022-09-12 11:23] ana-pantilie commented on #3213
Modify evm-semantics/kevm script to add new commands which only just generate kore files for the tests.

Or figure out if the issue comes from adding [that](https://github.com/runtimeverification/evm-semantics/commit/1d5300fccfd7edb49a4583f37acdb5c1829f370e#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52R521)

[2022-09-12 11:39] ana-pantilie commented on #3244
We need to rewrite the generators for the property tests, so that it doesn't generate these very general examples we are not interested in supported.

For example, inside collections only generate terms which contain symbol applications.

We need to come up with a specification which details what kind of patterns we want to support.

[2022-09-12 16:22] amelieled opened #3249 "Add more details to kore-syntax.md"
### Add more details to kore-syntax.md
This document is a technical specification of kore's grammar. We need to make it more user friendly by adding text which describes what the kore constructs mean. We should also provide examples.

### OUTDATED:

According to the file `definition.kore`:
[code]
But, in the following `krun` output, `Lbl'Unds'Map'Unds'` has 4 arguments:
[code]

[2022-09-12 16:24] ehildenb commented on #3249
@amelieled we need more detailed reproduction steps. Can you include the commands run, and ideally a minimized input file which can be run directly with some specific commands to determine the issue. Otherwise we're just guessing about how to reproduce (and thus just guessing about how to fix).

[2022-09-12 16:34] dwightguth commented on #3249
This is actually fine. See the documentation for \left-assoc

[2022-09-12 16:34] ana-pantilie commented on #3249
@amelieled @ehildenb This is not a bug, it's a binary symbol which is preceeded by `left-assoc`. This means that the list of arguments will be threaded to the symbol application in a left associative way.

[2022-09-12 16:47] amelieled commented on #3249
Same in this case?
[code]

Sorry, @dwightguth but where is the document about `\left-assoc`?

[2022-09-12 16:57] amelieled commented on #3249
I mean, the document is here: https://github.com/runtimeverification/haskell-backend/blob/master/docs/kore-syntax.md:

[code]
But what is the semantics of a `\or` with only one argument?
And how it is possible to generate one symbol with many different types?

Btw, which attribute generates this `\left-assoc` thing? It's because the `Map` is the K standard library is `assoc`?

[2022-09-12 16:58] dwightguth commented on #3249
The syntax is documented here: https://github.com/runtimeverification/haskell-backend/blob/master/docs/kore-syntax.md

I'm a little surprised this document doesn't have more details about the meaning of each type of pattern it declares though. @ana-pantilie are these documented elsewhere? If not, we should create a task to add some text to that file, and then link to that file from the k user manu

[2022-09-12 17:00] dwightguth commented on #3249
Fwiw this is not a symbol; it's a parser directive.

[2022-09-12 17:02] amelieled commented on #3249
OK, but according to the grammar, it's ML pattern. So, I'm confused.

[2022-09-12 17:05] dwightguth commented on #3249
It's a grammar. It defines the syntax of an intermediate language. It doesn't define the semantic concepts of the language that are referred to by the syntactic constructs. Many programming languages have multiple ways of referring to the same piece of code. It's not the responsibility of a grammar to explain what the ast used by the application that parses the grammar looks like.

[2022-09-12 17:22] amelieled commented on #3249
I don't understand: `\left_assoc` is a ML pattern, but which one?
If it's just a parser indicator, the grammar seems to be incorrect.

[2022-09-12 17:27] dwightguth commented on #3249
You seem fundamentally confused. It's not my responsibility to explain to you what a grammar. As I said, \left-assoc is not a symbol and it's not part of matching logic, it's a parser directive. Please don't tell me that confuses you because I can't make it any clearer than that. If you're still confused, just wait until we get the documentation written and then read it.

[2022-09-13 09:43] ana-pantilie opened #3251 "Refactor new pattern matcher and unifier"
The new pattern matching code is fast, but should be cleaned up. The team has added several suggestions to https://github.com/runtimeverification/haskell-backend/pull/3206, many of which aren't trivial to do. We need to address these concerns.

[2022-09-13 10:34] ana-pantilie commented on #3244
I think we should just restrict the `TermLike` generator to only generate terms which contain only function/functional/constructor symbol applications or builtins.

That should fix the issues we're seeing with these property tests.

I don't think we see other kinds of terms in practice, let me know if you think this is too restrictive.

[2022-09-13 11:11] ana-pantilie commented on #3251
@dwightguth are you currently doing more work on the pattern matcher? Asking because we want to pick this one up and we don't want to create any conflicts with any work you're currently doing.

[2022-09-13 11:34] ana-pantilie commented on #3236
@goodlyrottenapple found that the third bullet point (`remove old-style nix-* commands completely and update the README.md, except for nix-build test.nix`) is not possible to do currently.

https://github.com/runtimeverification/haskell-backend/pull/3245 fixes the rest.

[2022-09-13 11:34] #3236 closed

[2022-09-13 11:43] dwightguth commented on #3251
All that's left for me to do is fix the conflict in the GitHub workflow and merge it; I intend to get both those steps done today. Refactor away! Let's just make sure to be careful not to introduce too severe of overhead unless it makes the code significantly easier to understand.

[2022-09-13 12:00] amelieled opened #3253 "Some symbols from the K standard library are just symbols, not hooked one"
Hi everyone!

After running `kompile imp-lib.k` (See [imp-lib.zip](https://github.com/runtimeverification/haskell-backend/files/9556777/imp-lib.zip)), the symbols `freshInt` and `dividesInt` are generated from the K standard library, but there aren't `hooked-symbol` (just `symbol`).

[2022-09-13 12:06] dwightguth commented on #3253
This is also not a bug. Neither of these functions are hooks.

[2022-09-13 12:31] amelieled commented on #3253
Why these symbols aren't?

For my understanding, the K standard library is an interface that each backend needs to implement.
There are just syntax sugar?

[2022-09-13 13:59] ana-pantilie commented on #3253
@amelieled `freshInt` is defined in [domains.md](https://github.com/runtimeverification/k/blob/master/k-distribution/include/kframework/builtin/domains.md#implementation-of-integers). So it's a regular function symbol, with the implementation given by the rule beneath it.

I'm not sure why you think this should be hooked.

By the way, https://github.com/runtimeverification/k is the right repositor

[2022-09-13 13:59] #3253 closed

[2022-09-13 14:13] ana-pantilie commented on #826
This is done directly in K with simplification rules.

[2022-09-13 14:13] #826 closed

[2022-09-13 14:14] ana-pantilie commented on #898
Not relevant because we don't use the `antiLeft` in any way.

[2022-09-13 14:14] #898 closed

[2022-09-13 14:17] ana-pantilie commented on #1045
If you have a #Ceil rule which doesn't apply, open a new issue with that example

[2022-09-13 14:17] #1045 closed

[2022-09-13 14:18] ana-pantilie commented on #1120
Adding #Not simplification rules is WIP. If you have an example where this doesn't work, open an issue with it.

[2022-09-13 14:18] #1120 closed

[2022-09-13 14:23] ana-pantilie commented on #1176
Most likely this is the new link: https://github.com/runtimeverification/haskell-backend/blob/6b37a7de8cd977d2640cfcdef84510288f30f8a7/test/setvars/setvars.k#L17

We  need to check if this is still happening or not.

[2022-09-13 14:23] #1179 closed

[2022-09-13 14:25] radumereuta commented on #3080
This was mitigated by #3083 but recent changes make it so a clean build takes over 3 minutes again.
I'm reopening this to explore more ways of improving the compilation time.

[2022-09-13 14:26] #1252 closed

[2022-09-13 14:27] #1258 closed

[2022-09-13 14:29] #1267 closed

[2022-09-13 14:30] #1274 closed

[2022-09-13 14:33] ana-pantilie commented on #1369
Should we still simplify semantic rules at start-up?

[2022-09-13 14:35] ana-pantilie commented on #1377
Kore-rpc server should make this possible.

[2022-09-13 14:35] #1377 closed

[2022-09-13 14:35] #1384 closed

[2022-09-13 14:36] #1449 closed

[2022-09-13 14:37] ana-pantilie commented on #1467
Re-open if this appears again.

[2022-09-13 14:37] #1467 closed

[2022-09-13 14:39] ana-pantilie commented on #1490
Needs to be reproduced.

[2022-09-13 14:43] #1526 closed

[2022-09-13 14:45] ana-pantilie commented on #1550
If profiles indicate this is a problem we'll open a new issue about this.

[2022-09-13 14:45] #1550 closed

[2022-09-13 14:45] #1585 closed

[2022-09-13 14:46] #1625 closed

[2022-09-13 14:47] ana-pantilie commented on #1627
We need to see if we're doing this or not.

[2022-09-13 14:47] #1629 closed

[2022-09-13 14:50] #1684 closed

[2022-09-13 14:57] #1929 closed

[2022-09-13 15:00] #1941 closed

[2022-09-13 15:00] #1955 closed

[2022-09-13 15:04] ana-pantilie commented on #1963
@jberthold do you think this is still relevant?

[2022-09-13 15:05] ana-pantilie commented on #1978
Do we still need this?

[2022-09-13 15:09] #2113 closed

[2022-09-13 15:11] ana-pantilie commented on #2115
Do we actually want to support this?

[2022-09-13 15:13] #2116 closed

[2022-09-13 15:15] #2119 closed

[2022-09-13 15:16] #2123 closed

[2022-09-13 15:17] #2131 closed

[2022-09-13 15:23] ana-pantilie commented on #2144
Is this blocked on https://github.com/runtimeverification/haskell-backend/issues/2184?

[2022-09-13 15:24] #2186 closed

[2022-09-13 15:25] #2201 closed

[2022-09-13 15:27] #2229 closed

[2022-09-13 15:32] ana-pantilie commented on #2371
Blocked on https://github.com/runtimeverification/haskell-backend/issues/2250

[2022-09-13 15:32] ana-pantilie commented on #2250
Blocked on https://github.com/runtimeverification/haskell-backend/issues/2371

[2022-09-13 15:47] ana-pantilie commented on #2430
Switching to having user-defined simplification rules instead.

[2022-09-13 15:47] #2430 closed

[2022-09-13 15:49] ana-pantilie commented on #2474
Duplicate of #3111

[2022-09-13 15:51] ana-pantilie commented on #2501
This was attempted but was not successful.

[2022-09-13 15:51] #2501 closed

[2022-09-13 15:52] ana-pantilie commented on #2511
We might just want to rewrite the Exists simplifier

[2022-09-13 15:58] #2521 closed

[2022-09-13 16:04] #1791 closed

[2022-09-13 16:07] #1828 closed

[2022-09-13 16:09] ana-pantilie commented on #1840
Will this be solved externally (by using pyk)? Do we want to do this in kore-exec?

[2022-09-13 16:09] #1851 closed

[2022-09-13 16:13] #2265 closed

[2022-09-13 16:19] ana-pantilie commented on #2545
Related to https://github.com/runtimeverification/haskell-backend/issues/2511

[2022-09-13 16:20] #2545 closed

[2022-09-13 16:20] #2593 closed

[2022-09-13 16:25] #2669 closed

[2022-09-13 16:33] ana-pantilie commented on #2698
Duplicate of #3126

[2022-09-13 16:34] ana-pantilie commented on #2708
Duplicate of #3242

[2022-09-13 16:34] #2708 closed

[2022-09-13 16:34] #2709 closed

[2022-09-13 16:36] ana-pantilie commented on #2721
@jberthold I think this is similar to your most recent PR.

[2022-09-13 16:40] ana-pantilie commented on #2730
I recall fixing this created a large performance regression. We need to see if this is still the case.

[2022-09-13 16:42] #2747 closed

[2022-09-13 16:43] #2748 closed

[2022-09-13 16:43] #2749 closed

[2022-09-13 19:37] amelieled commented on #3253
Thanks @ana-pantilie .
I don't understand something about hooked thing, so I will ask on the K Slack channel.
(Another example: `SortBool` is hooked, but not `SortId`.)

[2022-09-14 00:27] jberthold commented on #1963
IIUC the proposed second change is to replace all constructed `Attribute.Something { isSomething :: Bool }` by (pre-allocated) constants `itIsSomething = Attribute.Something True` or `isNotSomthing = Attribute.Something False`.
Neat idea, but not sure about the actual impact.
_If we have time_ we can try it (for all wrapped booleans, of which we seem to have many).

[2022-09-14 00:40] jberthold commented on #2721
Nice, did not know `tasty` supports that.
What my code did and tasty might not do is print offending input but _continue_ the test after a timeout occurs. Also, I think the timeout would apply to the entire test, not just to one input as in my code.

[2022-09-14 02:12] #3243 closed

[2022-09-14 09:12] #2892 closed, assigned to nobody

[2022-09-14 09:14] #2906 closed

[2022-09-14 09:16] #2907 closed

[2022-09-14 09:17] #2916 closed

[2022-09-14 09:25] #3004 closed

[2022-09-14 09:40] ana-pantilie commented on #3137
Duplicate of #3077

[2022-09-14 09:40] #3137 closed

[2022-09-14 09:45] #2698 closed

[2022-09-14 09:45] ana-pantilie commented on #2313
Should we remove the BMC?

[2022-09-14 10:36] #3012 closed

[2022-09-14 12:38] ana-pantilie commented on #3032
@dwightguth The two `LbladdressOfEntity` seem to be the arguments of something. What exactly is that something? Why did you write the `smt-lemma` in that specific way, using `==K`?

Also, is this issue still blocking/relevant?

[2022-09-14 12:48] ana-pantilie commented on #3080
@radumereuta You can try `mvn package -Dstack.extra-opts='--fast'`. Re-open the issue if this is still a problem.

We need to figure out a way of building K so that builds are cached. If you're not modifying the Haskell backend when re-building, then it shouldn't recompile it. Nix, or a Nix-like build cache should be used.

[2022-09-14 12:48] #3080 closed

[2022-09-14 12:48] ana-pantilie commented on #3080
@radumereuta You can try `mvn package -Dstack.extra-opts='--fast'`. Re-open the issue if this is still a problem.

We need to figure out a way of building K so that builds are cached. If you're not modifying the Haskell backend when re-building, then it shouldn't recompile it. Nix, or a Nix-like build cache should be used.

[2022-09-14 12:49] ana-pantilie commented on #3133
Revisit after ceil simplification work is done.

[2022-09-14 12:53] ana-pantilie commented on #3173
If we're able to collect the kore files by just using the --bug-report option, this might be easier to do.

[2022-09-14 12:57] ana-pantilie commented on #713
We're not sure what "Reject constructors with variable result sorts." means. Does it mean that we should identify when 2 constructors have the same name but different sorts, or should we not accept constructors which have a sort variable as the result sort?

@ehildenb or @dwightguth or @virgil-serbanuta what do you think?

[2022-09-14 13:09] ana-pantilie commented on #713
f [function]

rule f(x) => c requires a ==K b

\implies(a ==K b, \equals(f(x), c))

rule a #Equals b => #Top
\implies(requires, \equals(lhs, rhs /\ ensures))

if lhs, rhs or ensures = \bottom, then

\implies(requires, \bottom)

if requires = \top, then the result is \bottom

Suggestion: add a check to `kore-check-functions` which simplifies the lhs, rhs and ensures of all equations in the definiti

[2022-09-14 13:42] radumereuta commented on #3080
That's just a tradeof. With optimizations:
[code]
Without optimizations:
[code]
For my workflow, I'm just moving the time from compilation to running tests. Which also makes the testing inconsistent and non-representative of the final version.
I would appreciate it if we could at least discuss possible solutions with the Serokell guys. Maybe they have some simple ideas.
If it turns out it's too co

[2022-09-14 15:27] gtrepta commented on #3129
The reproduction steps above still work for me as of K commit [16b3dc1d0d9c5418c3e91977576a6ccba747bd07](https://github.com/runtimeverification/k/tree/16b3dc1d0d9c5418c3e91977576a6ccba747bd07)

[2022-09-14 18:16] dwightguth commented on #3032
This issue is no longer relevant.

[2022-09-15 10:00] #3032 closed

[2022-09-15 10:25] ana-pantilie commented on #3080
I mean, if you're not modifying the backend then it _should not_ be rebuilt. Even if you were modifying it, the Haskell compiler would not rebuild the whole thing every time. It seems to me like the issue you're having is actually caused by K's build system.

On our side, we can, and will continue to try to improve build times. We do not, however, expect those improvements to be radical.

[2022-09-15 10:48] jberthold opened #3257 "Make Map and Set generation for ConsistentKore generator reliably succeed"
Currently [there seems to be no configuration to generate terms of sort `mapSort`](https://github.com/runtimeverification/haskell-backend/blob/master/kore/test/Test/Kore/Rewrite/MockSymbols.hs#L2339..L2344) within `Test.ConsistentKore.patternGen`.

A quick attempt to add some `MapSorts` to the mock setup did not succeed, there may be more hidden issues.

Questions:
1) Why does the implementation i

[2022-09-15 11:25] ana-pantilie commented on #1734
We need to work towards this. The code isn't mature enough to do this right now, we need to do multiple refactorings to facilitate such a change.

[2022-09-15 11:28] ana-pantilie commented on #1874
The new location of the function: https://github.com/runtimeverification/haskell-backend/blob/a9ba15843df8c8ea46437dd264294b88a3a3fb52/kore/src/Kore/Rewrite/Step.hs#L237

[2022-09-15 11:29] ana-pantilie commented on #1890
Duplicate of https://github.com/runtimeverification/haskell-backend/issues/2797

[2022-09-15 11:29] #1890 closed

[2022-09-15 11:31] ana-pantilie commented on #1824
Add a flag for this.

[2022-09-15 11:41] ana-pantilie commented on #1906
We'd want to generalise the Equation type, it would look something like:

[code]

This is also related to https://github.com/runtimeverification/haskell-backend/issues/2640

[2022-09-15 11:44] #1963 closed

[2022-09-15 11:56] ana-pantilie commented on #2144
There's practically the same code in https://github.com/runtimeverification/haskell-backend/blob/2b8b29ae57458aba49429d650ca94d70cc109b76/kore/src/Kore/Reachability/Claim.hs#L898 and https://github.com/runtimeverification/haskell-backend/blob/2b8b29ae57458aba49429d650ca94d70cc109b76/kore/src/Kore/Rewrite/Rule/Simplify.hs#L123. Also, https://github.com/runtimeverification/haskell-backend/blob/2b8b2

[2022-09-15 11:59] ana-pantilie commented on #2153
Duplicate #2144

[2022-09-15 11:59] #2153 closed

[2022-09-15 12:00] ana-pantilie commented on #2160
We need to check if this is still true.

[2022-09-15 12:09] ana-pantilie commented on #2192
We need to think about this more.

[2022-09-15 12:11] ana-pantilie commented on #2219
We can try to audit the places where `topTODO` is used. If it seems ok, just use `top`.

[2022-09-15 12:24] virgil-serbanuta commented on #713
Huh, that's interesting.

I don't know what Tom meant, but I think that there should be no constructors having a pure variable as a result, because that variable may be concretized to a hooked sort, which is undesirable. Also, this is related to the original concern of the PR he mentioned.

Having the same name for a constructor for two sorts should also not be possible, but then it should probabl

[2022-09-15 12:24] #2530 closed

[2022-09-15 12:29] #2544 closed

[2022-09-15 12:37] ana-pantilie commented on #2705
How long does it take to `reset`?

@jberthold: As long as the backend is single-threaded, we would only need 2 Z3 processes.

@goodlyrottenapple: Maybe it would be better if we'd try to optimize the interface between the backend and the SMT solver. Maybe use C bindings? We need to actually measure where time is really being spent.

[2022-09-15 12:42] ana-pantilie commented on #2918
We're getting better information from benchmarking integration tests. We would benefit from having more semantics to test with.

[2022-09-15 12:42] #2918 closed

[2022-09-15 12:45] #2269 closed

[2022-09-15 12:45] #3244 closed

[2022-09-15 12:59] ana-pantilie commented on #713
Makes sense, thank you @virgil-serbanuta !

[2022-09-15 13:07] #3114 closed

[2022-09-15 19:15] #3197 closed

[2022-09-15 20:41] F-WRunTime commented on #3221
Got First tests Executing here: https://github.com/runtimeverification/devops-actions/actions/runs/3063300591/jobs/4945220719

[2022-09-15 23:35] F-WRunTime commented on #3221
Further information How to use:
When using in a pull request a performance test can be triggered via being labeled properly FIRST, then adding a comment with to the PR with the .tar file

![Image](https://user-images.githubusercontent.com/105403280/190525125-afa3c596-31df-4b44-85ff-91f7b8ba6d80.png)

Alternatively can be triggered when adding a comment to an existing or in the issue body.
Editing

[2022-09-15 23:36] F-WRunTime commented on #3221
And it was working when I posted it ran a test again and it complains about an error that didn't exist before.
Further investigation needed...

[2022-09-16 00:41] jberthold opened #3259 "Revise different test data generators for `TermLike`"
We currently have several test data generators that generate similar things, in `Test.ConsistentKore` and in `Test.Kore`.
The `TermLike` generator in `Test.ConsistentKore` has been specialised to actual terms in #3256 but the one in `Test.Kore` continues to be provided to other modules from `Test.Kore.TermLike`.

* [x] Analyse what the different generators do differently. There seems to be a discr

[2022-09-16 05:54] jberthold commented on #3259
## `Test.ConsistentKore`
* primarily a generator for `Internal.Pattern`
* generates term and predicate using separate generators
  - predicate can be something containing terms (`\ceil`, `\floor`,
    `\in`, `\equals`)
* Many non-terms (e.g., fix point operators, implication) have been
  removed from the generator in [a recent PR](pulls/3256)
* Operates based on a `Setup` and a `Context`:
  - `Set

[2022-09-16 17:25] F-WRunTime commented on #3221
Made some progress this morning. Got a couple runs setup to go now. Made a fix with suggestion from @jberthold
Fixed an issue in the first run with thefile name. Think the Environment file is only sourced once per step (makes sense). So should see a couple successful run throughs here. Hopefully this means we can look to move this over to the haskell repository in a PR on Monday and get some auto

[2022-09-18 23:29] F-WRunTime commented on #3221
@goodlyrottenapple[ Any insight as to why this is failing](https://github.com/runtimeverification/devops-actions/actions/runs/3069572010/jobs/4958385049)

It says it passes but on step: "Run Tests" it is running the 'nix command' we discussed
And there are errors as shown below.

[code]
The current snapshot of the _work folder looks as follows:
[code]
Is there a known issue with having multiple ru

[2022-09-18 23:47] jberthold commented on #3221
Looking at https://github.com/runtimeverification/haskell-backend/blob/master/nix/run-profiling.nix#L15 (which seems to again be the first failure in the script), and your directory listing:
`-rw-r--r-- 1 github-runner github-runner    0 Sep 16 17:22 foundry.tar.gz`
This is an existing empty file. On my machine, `tar -xvzf` will respond with the error we see, `gzip: stdin: unexpected end of file`

[2022-09-19 11:23] ana-pantilie commented on #3259
@ana-pantilie take a look at ^.

@jberthold when you see the simplification timeout happening please record the pattern here.

[2022-09-19 11:24] jberthold commented on #3259
Latest observed Timeout
[code]

[2022-09-19 16:41] F-WRunTime commented on #3221
@jberthold

Added some fixes but when I run the test I'm still getting some errors, here is me running it manually with the foundry.tar.gz test file
[code]

[2022-09-19 17:36] ehildenb opened #3263 "`--bug-report` option does not handle directories for some arguments"
Blocking: https://github.com/runtimeverification/haskell-backend/issues/3221

I have the following example K definition in file `test.k` (the definition itself doesn't matter):

[code]

I run the following commands:

[code]

Note the `mkdir foo` on the first line, and the `--log foo/bar.log` on the `export` line (3rd line).

The resulting `test.tar.gz` bug report has a file `kore-exec.sh` that loo

[2022-09-19 17:43] radumereuta commented on #3080
Apparently, you can use `mvn clean -Dhaskell.backend.skip` and it will not touch the Haskell code.
This alleviates a bit my issues with the long haskell-backend long compile time.

[2022-09-19 18:29] F-WRunTime commented on #3221
@goodlyrottenapple @jberthold
Please see latest results. I am getting an error now regarding 1000 traces.
https://github.com/runtimeverification/devops-actions/actions/runs/3084571476/jobs/4986872128

Is there a configuration I'm missing?

[2022-09-19 19:45] goodlyrottenapple commented on #3196
fixed by  #3252

[2022-09-19 19:45] #3196 closed

[2022-09-19 20:58] ehildenb commented on #3216
@ana-pantilie any progress on this? Did we run the profile manually yet?

[2022-09-20 00:53] jberthold commented on #3263
An additional aspect of this is to keep things safe. Someone could craft a bug report tarball whose command script writes a log to important system files owned by the user (like `--log $HOME/.ssh/config`), or a user could just be stupid and damage his/her own system by accident.
OTOH, tweaking the `--bug-report` option does not mitigate the potential attack.
There might not be a good solution exce

[2022-09-20 02:00] jberthold commented on #3257
As it turns out, the part of the `ConsistentKore` generator is meant to generate _internalised_ maps and sets.
The generator can, in most cases, generate `mapSort` and `setSort` terms by applying suitable function symbols to produce the requested sort.

However, this goes wrong in a small number of cases (too small to reproduce with a targeted unit test), the following errors were observed:
[code]

[2022-09-20 02:44] jberthold commented on #3221
The `1000 traces` is actually a warning, emitted by the tool that post-processes a trace log into speedscope format. The tool has options to filter the trace log for specific K rules, and speedscope might have trouble loading data which has too many traces.
What errored out in the run linked above was the computation on dates (`Mon` for `Monday` , the time when this ran...)

[2022-09-20 07:15] #3214 closed

[2022-09-20 07:15] #3098 closed

[2022-09-20 10:24] ana-pantilie commented on #3216
@ehildenb https://github.com/runtimeverification/haskell-backend/issues/3221 should be done soon. When it is, I'll re-open this issue using the template from https://github.com/runtimeverification/haskell-backend/pull/3265. The team will meet and we'll look over the data together.

I did take a look at one of the profiles by myself, and I believe that we already have WIP or planned work to improve

[2022-09-20 11:15] jberthold opened #3266 "Performance runs: Reduce data and make script more robust"
Suggestions to tweak the profiling-run script in nix:
- suppress user events for heap-infotables and heap-cost-centers runs (use `l-u`) to avoid the grey markers in the graph
- make the script fail fast with `set -eu` (except the `timeout` commands, they need `|| echo "Failure .. "`)
- maybe remove the raw event logs for heap-cost-centers and heap-info-tables (saves more than 60% of the artefact s

[2022-09-20 11:22] ana-pantilie commented on #3263
Change the behavior of `--log filename.log`:
if `filename` == `/path/to/file...`, and the directory doesn't exist or if the file already exists
    then emit a warning, and default to logging everything to `exec-name-timestamp.log`
    else ...

If no `--log` option is given, then don't log to any file.

[2022-09-20 11:45] ana-pantilie commented on #1121
Let's also not import the same module 3 times just named differently: https://github.com/runtimeverification/haskell-backend/blob/5b558293cce9d8c5813560a645380863b12b1990/kore/src/Kore/Rewrite/Step.hs#L76 :D

[2022-09-20 11:50] ana-pantilie commented on #1121
New representation of `MultiOr` should have fixed the issues here.

[2022-09-20 11:50] #1121 closed

[2022-09-20 11:53] ana-pantilie opened #3267 "Removing funny stuff"
In every PR, we should look to see if we can find any of the following, and attempt to clean it up:

- Remove re-exports
- Remove multiple imports of the same module with different qualified names
- TODO: add more similar issues here

[2022-09-20 11:58] ana-pantilie commented on #1215
@jberthold points out that we are actually interested in asserting that the simplification does not loop indefinitely.
We won't find such loops with property tests.

[2022-09-20 12:06] ana-pantilie commented on #1369
This code does not exist anymore, and it's also not relevant to equational rules (this is an observation regarding the example in the comment above).

[2022-09-20 12:06] #1369 closed

[2022-09-20 14:03] ana-pantilie commented on #1443
If we decide to change the representation of Conditional, we'd need to do https://github.com/runtimeverification/haskell-backend/issues/1530 first.

[2022-09-20 15:42] F-WRunTime commented on #3025
@ana-pantilie are we addressing this issue with our recent work in performance profiling capabilities?

Going forward if we want to run tests on an unhindered hardware
12 Cores 30 GB Mem -- this is the rv-master specs of our github-runner-1 used for performance profiling.

[2022-09-20 16:25] ana-pantilie commented on #3025
This is a different kind of "profiling". Here we would like to test run times between different commits on the backend, on some test suites, in order to avoid performance regressions.

[2022-09-21 04:20] jberthold commented on #2032
The current version outputs a different remainder, but  that remainder is also infeasible and should be discarded as such:
(After replacing `rule` by `claim` in the above spec module `test-spec.k`) Running `kprove test-spec.k` yields
[code]
where `Rest` are constraints about the terms `#lookup (S, K)` , `V1`, and `V1 +Int #lookup(S, K)` being within `[0, 2^256)`.

The two maps `S[ K -> #lookup(S,K

[2022-09-21 04:52] jberthold commented on #1176
Re-tested with current K release, and using code quoted above (`haskell-backend/test/setvars/setvars.k`)

Modified module `setvars.k` contains
[code]
(the two "not yet supported" items from the original)
`kompile --backend haskell setvars.k` yields a `definition.kore` which contains (in the `generated axioms` section) axiom
[code]
i.e., `Lblf'LParUndsRParUnds'SETVARS'Unds'KItem'Unds'Int` and `Lbli

[2022-09-21 05:12] jberthold commented on #2135
Re-tested with current K release:
The functions `i` and `p` are now in the solver transcript (as `declare-fun fp` and `declare-fun fi`).

And the output is now an `#Or` of the above and this: (with the empty `k` cell as expected)
[code]

[2022-09-21 05:12] #2135 closed

[2022-09-21 10:15] ana-pantilie commented on #1176
Declaring something like `syntax Foo ::= f` makes `f` a constructor. If the `function` attribute is present then it's not a constructor but a function. The frontend should detect if we are writing simplification rules like the one for `f` there and throw an error. @radumereuta what do you think?

[2022-09-21 10:56] radumereuta commented on #1176
We have such a check but it's only active for `kprove`.
[code]

[2022-09-21 12:17] ana-pantilie commented on #1176
Additional reading material for `anywhere`: https://github.com/runtimeverification/haskell-backend/issues/2405#issuecomment-780444275

[2022-09-21 12:31] ana-pantilie commented on #2032
I think that for some reason we can't unify `#lookup ( S , K ) +Int V1 ` with `V1 +Int #lookup ( S , K )` even though we should know that `+Int` is commutative.

[2022-09-21 13:44] #3263 closed

[2022-09-21 15:44] #3266 closed

[2022-09-21 17:50] F-WRunTime commented on #3221
Okay good to know. Sounds like it's fine though just to be clear before leaving it alone?

[2022-09-22 11:03] ana-pantilie commented on #3221
Fixed by #3265

[2022-09-22 11:03] #3221 closed

[2022-09-22 11:18] ana-pantilie commented on #1443
@goodlyrottenapple suggests the following investigation: remove https://github.com/runtimeverification/haskell-backend/blob/9ea642db346c529b75cc1f7963360064c5092860/kore/src/Kore/Internal/Conditional.hs#L139 and see how many changes we'd need to do.

If the code can be refactored easily to use other functions instead of the applicative instance then we can go forward with this. If it turns out it

[2022-09-22 11:32] #1962 closed

[2022-09-22 11:35] #1978 closed

[2022-09-22 11:40] ana-pantilie commented on #2428
In https://github.com/runtimeverification/haskell-backend/blob/9ea642db346c529b75cc1f7963360064c5092860/kore/src/Kore/Rewrite.hs#L200 we should use `simplify...Defined`. We need to see if anything breaks.

[2022-09-22 15:24] ehildenb commented on #3224
We did this profile, and found out that ceil simplification is where time is being spent, so we're focusing on that before reprofiling.

[2022-09-22 15:26] ehildenb commented on #2997
Test is still failing, needs reproducing then: https://github.com/runtimeverification/evm-semantics/blob/master/tests/failing-symbolic.haskell#L1

[2022-09-22 17:44] #3213 closed

[2022-09-23 09:15] #3247 closed

[2022-09-26 02:44] #3223 closed

[2022-09-26 16:21] ana-pantilie commented on #2428
This change doesn't significantly alter performance. The numbers are the following:

New Ceil: https://github.com/runtimeverification/haskell-backend/pull/3209

### Master vs Master with modif
[code]

### New Ceil vs New Ceil with modif
[code]

[2022-09-27 00:15] jberthold commented on #3216
I am triggering a new test run by writing text that contains the sequence `.tar.gz`

[2022-09-27 04:33] jberthold commented on #3216
The profiling run above (using latest master with new ceil simplifier) produced no immediate new clues. The (non-profiled) run was cut short after 4 minutes, profiling shows `hashWithSalt` and `liftSimplifier` (as well as `ravel` from the generic lenses) to be big consumers.
On my machine (12th gen. i9 with 16 + 8 cores) the proof finishes after 3 minutes now, though.

[2022-09-27 10:53] ana-pantilie commented on #3259
I found another instance of the failing property test:
[code]

[2022-09-27 11:16] ana-pantilie commented on #3126
<k> blabla </k>
...
<memory> huge map </memory>

-------

rules <k> blabla => blabla2 </k> ensures something

[2022-09-27 14:04] Baltoli opened #3279 "Simplification rule fails to apply in the C semantics"
This issue is an attempt to collect information from several other issues and Slack discussions in one place so that it can be properly investigated.

## Context

In the C semantics, we found that our smoke test for the Haskell backend was failing intermittently. [The code under test](https://github.com/runtimeverification/c-semantics/blob/6b851f128ab046d23c4f6db1a594e2f048a1e1e0/test/smoke-test.c

[2022-09-28 12:47] goodlyrottenapple commented on #3279
@Baltoli can you please include the `definition.kore`in the tarball insead, as the `haskellDefinition.bin` file is non-portable between different `kore-exec`s

[2022-09-28 13:06] Baltoli commented on #3279
Sorry @goodlyrottenapple - didn't realise that wouldn't be portable. The file is attached: [defn.tar.gz](https://github.com/runtimeverification/haskell-backend/files/9665210/defn.tar.gz)

[2022-09-28 14:48] tothtamas28 opened #3283 "Execute endpoint of `kore-rpc` does not perform rewriting"
When running the `execute` endpoint of `kore-rpc` over a simple `imp` definition, the server fails to rewrite the configuration (i.e. respons with reason `stuck` and depth `0`). When using the same configuration as the LHS of a claim, `kprove` does the rewriting as expected.

## Resources

[code]

Files for reproducing the issue: [kore-rpc-debug.zip](https://github.com/runtimeverification/haskell-

[2022-09-28 16:37] dwightguth opened #3285 "Unexpectedly marking term with NotSimplified children as simplified"
I get this error when the program in the attached bug report is run. I'm not entirely sure why this error is occurring. I'd be happy to try to fix it if someone could give me some feedback on what the appropriate steps to debug and fix it are.
[kore-exec.tar.gz](https://github.com/runtimeverification/haskell-backend/files/9667097/kore-exec.tar.gz)

[2022-09-29 04:27] ehildenb opened #3286 "[Haskell-Performance] kevm proof slow with extra side conditions"
### Please Prepare Test Data

I have a specification on KEVM: https://github.com/runtimeverification/evm-semantics/blob/master/tests/specs/benchmarks/storagevar03-spec.k

This can be run with: `make tests/specs/benchmarks/storagevar03-spec.k.prove` after building KEVM.

It has some side-conditions for validity on the input state: https://github.com/runtimeverification/evm-semantics/blob/master/tes

[2022-09-29 04:29] ehildenb commented on #3286
@F-WRunTime it seems that it cannot detect that I'm a member of the org? https://github.com/runtimeverification/haskell-backend/actions/runs/3148634684/jobs/5119382938

[2022-09-29 04:33] ehildenb commented on #3286
Also, it seems to create too many jobs:
![image](https://user-images.githubusercontent.com/12721972/192939558-7bceb23b-4caf-439b-96f5-dda6f9a54747.png)

[2022-09-29 05:37] jberthold commented on #3283
Thanks for the detailed description, this made it much easier to debug what was going on.

There were two problems in the `request.json` input:
* It had a stray `~> .k` outside the `T` cell;
* The `generatedTop` and `generatedCounter` cell are missing. These two cells are always present and surround the user-defined or automatic configuration.

The actual state encoded in `request.json` looks appr

[2022-09-29 05:37] #3283 closed

[2022-09-29 05:54] jberthold opened #3287 "Improvements to the JSON RPC server"
From the first user experience and bug report related to the RPC server, we could make some small improvements:

- [x] The server should log requests in a compact human-readable format (like a web server logs requests in one line each). This log should probably include hints about the request data (but the full data will be too verbose for standard log level)
- [x] The output json object should ha

[2022-09-29 11:29] goodlyrottenapple commented on #2997
try to see if a simplified expression

[code]
gets automatically simplified

[2022-09-29 11:35] goodlyrottenapple commented on #820
We have a workaround for dealing with these symbolic hooks at the semantic level.

[2022-09-29 11:35] #820 closed

[2022-09-29 12:04] ana-pantilie commented on #2182
We have a document which defines common terms we use in K: https://github.com/runtimeverification/haskell-backend/blob/master/docs/glossary.md

We should improve the document by:
1. mentioning attribute names used in K
2. adding a comment that `function-like = partial function` and `functional = total function`
3. add a comment that in the Haskell backend code we have a type which represents a "st

[2022-09-29 12:30] ana-pantilie commented on #3285
This is the callstack:
[code]

Notice that it's failing at that line in the `Not` simplifier, you'll need to look at the children of the `Not` and figure out why they're not being marked simplified. Which simplifier do the children come from? That's what should have marked them as simplified in some way or another.

Hope this helps, let me know if you have any questions.

[2022-09-29 13:43] ehildenb commented on #3286
dummy comment to trigger workflow

[2022-09-29 19:28] ehildenb commented on #3286
Test me.

[2022-09-30 01:39] jberthold commented on #2928
Two simpler examples to reproduce the looping behaviour:

File `test.k`
::::::::::::::
[code]

File `spec.k`
::::::::::::::
[code]
From running with an eventlog, it is clear that both claims do not actually enter rewriting at all, they are already looping when the prover starts up (however not when claims are filtered out):
`$ kprove --claims SPEC.loop1 spec.k` loops
`$  kprove --claims SPEC.loop2

[2022-09-30 05:47] jinxinglim commented on #2997
Hi all, I have made a pull request (https://github.com/runtimeverification/evm-semantics/pull/1408) that address this issue. Basically, I added the following two rules and the proof of `ecrecoverloop00-sig1-spec.k` succeeded:
[code]

I also documented my many other attempts on the issue but only this one works as of now.

[2022-09-30 09:25] tothtamas28 opened #3289 "`kprove` and `kore-rpc` differ on well-definedness assumption"
`kprove` and `kore-rpc` seem to disagree on whether they assume well-definedness of the LHS / initial term.

Let's discuss potential solutions. Valid answers include the following.

1. `kore-rpc` should not assume well-definedness of the initial term, nothing to be done.
2. `kore-rpc` should not assume well-definedness of the initial term, but it should indicate that a branch leads to such a term.

[2022-09-30 12:18] goodlyrottenapple commented on #2997
Confirmed that the SMT solver can discharge this goal when simple enough, so likely failing to translate the condition in the actual test. The two rules above seem like a good solution as we don't want to rely on the SMT solver magic when a concrete simplification rule works.

[2022-09-30 12:18] #2997 closed

[2022-09-30 14:48] goodlyrottenapple commented on #3287
I started working on the logging, but because the RPC server is threaded, the logs look like this:

[code]

I will have to re-do the logger to run in a separate thread

[2022-09-30 19:10] ehildenb commented on #3289
@tothtamas28 what happens if we have an initial term like this: `T #And C1 #And ... #And CN`, and we first change it to this term in pyk _before_ sending it to the backend: `((T #And C1 #And ... #And CN) #as CT) #And #Ceil(CT)`, so that we are just stating, from the beginning, that the term is well-defined?

This would allow the user to decide whether they want to state that it's well defined, by

[2022-10-03 08:58] ana-pantilie commented on #3289
Why do you need the `#as`? I think if `C1 ... CN` are predicates then `#Ceil(T #And C1 #And ... #And CN)` should be equivalent to `T #And C1 #And ... #And CN #And #Ceil(T)`.

[2022-10-03 09:16] ana-pantilie commented on #3289
By the way, this issue is actually a duplicate of https://github.com/runtimeverification/haskell-backend/issues/2428.

Unless something goes terribly wrong, I can push a quick fix which should make it behave the same as `kprove` does now.

After that, we've been talking about doing https://github.com/runtimeverification/haskell-backend/issues/3175.

The question is, do we want the backend to assum

[2022-10-03 09:23] goodlyrottenapple commented on #3287
turns out this was already an issue in kore-repl and there is code which wraps any logger into an MVar, which gives us thread safety...

[2022-10-03 10:33] tothtamas28 commented on #3289
It works. :rocket:

It looks like it is translated to `\and` (at least that's what `kast` does with the term).

[2022-10-03 11:19] #3285 closed

[2022-10-03 12:19] ana-pantilie opened #3373 "[K-Improvement] Add `preserves-definedness` attribute for semantic rules"

[2022-10-03 17:48] ehildenb commented on #3289
It's not the same issue, we don't necessarily want symbolic execution and kprove to have the same behavior.

I'd rather the user be explicit about needing definedness, and the `_#as_` is the quickest pattern to build without having to sift through the configuration, so that's why I suggested that.

If it works, then it seems a good solution to me. It requires that the user explicitely tell the bac

[2022-10-03 17:53] ehildenb commented on #3289
And yes, `_#as_` is translated to `#And`, which means the predicates will be deduplicated. So if we wanted to skip that step in the backend wecould just add `#And(C)`, it just means th eterm we're passing is larger I guess.

We could also do: `CONFIGURATION #And C1 #And C1 #And ... #And CN #And FRESH_CONFIG_VAR #Ceil(FRESH_CONFIG_VAR)`

This is just two calls to `CTerm.add_constraint`, which means

[2022-10-03 20:12] ehildenb commented on #3286
Test me.

[2022-10-03 20:20] ehildenb commented on #3289
@nishantjr pointed out that `V #And #Ceil(V)` is redundant, because variables are always defined. So it should be enough to just add `... #And FRESH_CONFIG_VAR` to force the initial config to be defined.

[2022-10-03 20:36] nishantjr commented on #3289
First, note for any configuration `CT`, `CT` and `CT #and Ceil(CT)` are semantically equivalent.
If `CT` is Bottom, then Ceil(CT) is also Bottom, otherwise Ceil(CT) is Top and the conjunction equals CT.
This means that solutions 1 and 3 in the description are semantically the same.

Second, the `next2` branch here is equals Bottom and the disjunction `pretty1 \/ pretty2` is semantically equivalent

[2022-10-04 07:43] tothtamas28 commented on #3289
I tried this with

[code]

The result is the same branching response as for the original request (except now `substitution` is present in the response).

[2022-10-04 10:48] ana-pantilie commented on #1817
@radumereuta can you quickly explain what an overloaded constructor is and how it's used in K?

[2022-10-04 10:52] ana-pantilie commented on #3113
@goodlyrottenapple points out that there might be other subtle bugs created by not updating attributes (like the `Simplified` attribute) in other situations. This is related to doing optimal hashing (if we continue on the path @jberthold started).

[2022-10-04 11:15] radumereuta commented on #1817
Two productions are overloaded if they have the same KLabel, and all the nonterminals are subsorted in one direction: https://github.com/runtimeverification/k/blob/master/kore/src/main/scala/org/kframework/definition/outer.scala#L72
After a quick search through the front-end I found this [genOverloadedAxiom](https://github.com/runtimeverification/k/blob/master/kernel/src/main/java/org/kframework/b

[2022-10-04 11:27] jberthold opened #3294 "Set simplification produces wrong result"
Adding a simplification rule `intersectSet(SetItem(X) S, S) => S` produces wrong results:

File `test.k`
[code]
File `spec.k`
[code]

[code]
So the intersection gets rewritten to the wrong result `SetItem(b)` (although the simplification rule does not actually match the term at all).
When the simplification rule is removed, the result is as expected - nothing simplified.

[2022-10-04 15:27] ana-pantilie commented on #3113
Relevant branch with in progress work: https://github.com/runtimeverification/haskell-backend/commits/jb/breakerzirconia/caching-termlike-hashes

[2022-10-04 16:45] nishantjr commented on #3289
To me it looks like we need to modify `kore-rpc` to perform simplification and prune any branch that simplifies to `#Bottom` and `pretty2` should. Then, since there is only one configuration in the disjunction this point is no longer a branch point.

[2022-10-04 19:34] ehildenb commented on #3289
So you're suggestiong that the pyk exploration strategy just recognize this particular branch as "one of these is undefined", and store it separately/specially?

[2022-10-05 09:31] ana-pantilie opened #3296 "Hook: implement IO.write"
We need to implement https://github.com/runtimeverification/k/blob/master/k-distribution/include/kframework/builtin/domains.md#write-to-file. We will probably need to do something a bit hacky to implement this one, as it requires doing IO, so a bit of investigation is required.

[2022-10-05 10:11] ana-pantilie commented on #3294
This happens on Haskell backend master (which contains `in` and `difference` builtin simplification) and also on the branch where those two simplifications are removed.

Idea: test what happens in the llvm backend.

[2022-10-05 10:16] ana-pantilie opened #3297 "Debugging tool for simplification"
We can run the prover itself incrementally, by running one rewrite step at a time.

We should architect the new simplifier to be able to do something similar. This will make it much easier for both developers and users to debug the backend/their semantics.

[2022-10-05 10:21] ana-pantilie commented on #3294
Having https://github.com/runtimeverification/haskell-backend/issues/3297 would make it much easier to debug this issue.

[2022-10-05 10:21] ana-pantilie commented on #3297
@goodlyrottenapple and @jberthold please add any ideas you have to this issue.

[2022-10-05 10:32] ana-pantilie commented on #3124
Let's add the test to the failing directory of https://github.com/runtimeverification/k/pull/2920/files and close this issue.

[2022-10-05 11:24] jberthold commented on #3124
^^^ The test actually _passes_ on the PR, we can close this as soon as it is merged

[2022-10-05 11:48] tothtamas28 opened #3298 "Implement the `simplify` endpoint for `kore-rpc`"

[2022-10-05 12:04] ana-pantilie commented on #3298
This should just call the pattern simplifier and return the result.

[2022-10-05 13:45] ehildenb commented on #3296
Do we already support the system hooks already: https://github.com/runtimeverification/k/blob/master/k-distribution/include/kframework/builtin/domains.md#shell-access

If so, then IO.write should be implementable using that directly, though there is probably a more efficient way.

[2022-10-05 14:16] ana-pantilie commented on #3296
Not that I know of, so this will probably be more involved.

[2022-10-05 14:28] ana-pantilie commented on #3289
@nishantjr is right, one of the branches in the example for some reason does not get simplified away by the backend and it should.

Basically, in practice, if we don't have https://github.com/runtimeverification/haskell-backend/pull/3290 or the user supplying `\\ceil(term)` as a condition, the backend will branch on every partial configuration. One of these branches will be immediately pruned the

[2022-10-05 15:35] nishantjr commented on #3289
@ehildenb That would be one way, though as @ana-pantilie says, we're probably never interested in these configurations that simplify to bottom or the corresponding branch points, and we can always assume the definedness conditions of the configuration. I don't think it makes sense to give users the choice of whether or not to add the definedness condition, because it is equivalent to not having th

[2022-10-05 15:41] ehildenb commented on #3289
I do not think we are "not interested" in them, just "not as interested". We should let the user know that there was a portion of their initial configuration that was undefined, because that is likely not their intention, and the divide-by-zero error is one example that is important, but also in KEVM we have conditions like "account exists" and such which are important (map definedness, set define

[2022-10-06 00:35] jberthold opened #3301 "Set simplification of `|Set` confuses set contents"
The following definition (with a simple simplification rule involving set matching) produces wrong simplifications and bogus side conditions:

`test.k`
[code]
`spec.k`
[code]
The state dump for this "proof" contains a wrong side condition introduced by the simplification rule.

[code]
**Note the result without `{a}` and the bogus side condition `! ( _X ∈ { b }` at the bottom**,  which I can only e

[2022-10-06 00:42] jberthold commented on #3301
This bug is also observable when flipping the arguments to `|Set`, i.e. with a rule
[code]
and a claim
[code]
Result is
[code]
inventing the `! (_X == a)`

[2022-10-06 02:57] jinxinglim opened #3302 "KEVM proof finds terms not function-like after adding simplification rules"
[kevm-bug-requires01-a0gt0.tar.gz](https://github.com/runtimeverification/haskell-backend/files/9720697/kevm-bug-requires01-a0gt0.tar.gz)

After adding the following two rules to debug `ecreoverloop00-sig1-invalid-spec`:
[code]
one other proof of the KEVM suite, `requires01-a0gt0-spec` fails with the following error:
[code]

When going through the printed configuration, we found a term `\top{SortB

[2022-10-06 10:14] ana-pantilie commented on #3301
This should be fixed by doing https://github.com/runtimeverification/haskell-backend/issues/2739

[2022-10-06 10:16] #3124 closed

[2022-10-06 10:35] ana-pantilie commented on #3302
There are two problems here:
1. why is `\\top` not function-like?
2. why is `\\top` appearing inside the term? is there a `A  <Int B` inside the term which is getting rewritten to that predicate? shouldn't predicates like this be pushed to the top and moved to the condition part of the configuration?

[2022-10-06 10:48] ana-pantilie opened #3303 "[Haskell-Performance] Testing for issue 3286 (please ignore)"
Running a performance test for #3286

EDITED This is now [the first test tarball (with-conditions)](https://github.com/runtimeverification/haskell-backend/files/9670919/kevm-bug-storagevar03-with-conditions.tar.gz) from #3286

[2022-10-06 11:37] virgil-serbanuta commented on #3302
1 - According to the glossary, a function-like pattern can have at most one value. \top{SortBool{}} has two values, true and false.
2 - `<=Int` and `<Int` are `function` and `functional`, which means that the following rules are invalid, since the RHS evaluates to either top or bottom, none of which has exactly one element (top is not function-like, bottom is not functional-like):
[code]

[2022-10-06 12:31] #2928 closed

[2022-10-06 14:41] #3302 closed

[2022-10-06 15:48] #1627 closed

[2022-10-06 18:53] treeowl commented on #3113
I've taken a look at the draft implementation, and I have a few concerns.

### Salt
The approach to salting is bogus. That might be okay, but I don't know enough about how the `Hashable` instance is used to say. If it's just used for `HashMap`, then something bogus is fine (though we might want to tweak things slightly for better performance). Similarly, as long as we're not using anything that tr

[2022-10-06 19:08] treeowl commented on #3113
I think approach (3) above is really the one to beat. It restricts hash variant maintenance to just a couple places, and it doesn't break the use of polymorphic traversals and such on the base functor.

[2022-10-06 23:59] jberthold commented on #3303
And this is the [first file, kevm-bug-storagevar03-with-conditions.tar.gz](https://github.com/runtimeverification/haskell-backend/files/9670919/kevm-bug-storagevar03-with-conditions.tar.gz)

[2022-10-07 00:55] treeowl opened #3305 "Kore.Unification.NewUnifier takes a long time to build"
I find it takes multiple minutes, even with `-O0`. Is there something to be done about that? I haven't dug into whether it takes a long time to typecheck or if something else is going on, but it's not wonderful.

[2022-10-07 01:21] jberthold commented on #3305
Seriously _minutes_ ? (I am compiling the entire project in <3min) However, this module is a noticeable bottleneck.

[2022-10-07 02:05] treeowl commented on #3305
Yes. My computer isn't very speedy.

[2022-10-07 02:50] ehildenb commented on #3305
What perccentage of the overall time is it?

May be worth investigating further what's taking time, Haskell backend compile times are a frequent complaint among K devs.

Also, make sure that new issues get added to the K development project board.

[2022-10-07 02:59] treeowl commented on #3305
I don't know about the percentage. Is there an easy way to get Cabal or Stack to tell me that? I just know it takes a long time, and seems to take many times as long as any other module. I haven't learned how to use the development board yet.

[2022-10-07 03:08] jberthold commented on #3286
Ran the two tarballs in a separate ticket #3303 . Nothing immediately suspicious in the profiles, but the top consumers differ to significant extent:

`with-conditions`

| COST CENTRE |                  MODULE                                 | SRC|                                                            %time | %alloc |
|------------|------------|------------|------------|------------|
| hashWi

[2022-10-07 06:10] jberthold commented on #3113
You are definitely right about the salting issue in the current draft. This code branch started as a quick time-boxed hack for an afternoon to see how much I would get done and what the profiles would look like.

I like the idea of approach 3 and smart `TermLike` constructors. IMHO one should never have to edit the attributes unless the  underlying `TermLikeF` has changed (in principle, these attr

[2022-10-07 06:21] treeowl commented on #3113
The salting issue is pretty much inherent to hash caching. I believe the whole concept is a no-go if salt is essential to the application.

[2022-10-07 06:26] treeowl commented on #3113
Maybe that was slightly too strong. In principle, we could cache a wide, cryptographically strong hash, and salt that, but I wouldn't expect that to perform terribly well.

[2022-10-10 08:45] ana-pantilie commented on #3126
Moving on with https://github.com/runtimeverification/k/issues/2943 and other attempts to do ceil simplification ahead of time.

[2022-10-10 08:47] ana-pantilie commented on #3279
I believe this is related to inconsistencies regarding the `Simplified` attribute. I don't think there is a quick fix for this. We will be investigating issues regarding attribute updates here: https://github.com/runtimeverification/haskell-backend/issues/3113#issuecomment-1266764275. There is also https://github.com/runtimeverification/haskell-backend/issues/2729

[2022-10-10 09:52] ana-pantilie opened #3309 "Audit \\ceil simplification"
Several experiments have shown that the backend relies on "ceil magic" internally. This is the list of experiments we ran so far, and they either result in the backend looping or the backend returning very wrong results:
- https://github.com/runtimeverification/haskell-backend/pull/3304
- disabling `\\ceil` simplification from inside the code (which means making `\\ceil` simplify to `\\top`)
- add

[2022-10-10 10:09] ana-pantilie commented on #2739
See also: https://runtimeverification.slack.com/archives/CTXRMGL58/p1625731908004900

[2022-10-10 10:11] ana-pantilie commented on #2739
See also: https://runtimeverification.slack.com/archives/CTXRMGL58/p1625754556006400

[2022-10-10 10:30] ana-pantilie commented on #3305
We probably would need to do https://github.com/runtimeverification/haskell-backend/pull/3304 first before we can think about how to split this module up to improve build performance times

[2022-10-10 10:36] ana-pantilie opened #3310 "Upgrade to GHC 9.x"
Related to https://github.com/runtimeverification/haskell-backend/issues/3226.

We need to check if the forks we relied on have been upstreamed before we can fully upgrade to GHC 9.

[2022-10-10 10:41] ana-pantilie commented on #3303
Retrying automatic profiling: [first file, kevm-bug-storagevar03-with-conditions.tar.gz](https://github.com/runtimeverification/haskell-backend/files/9670919/kevm-bug-storagevar03-with-conditions.tar.gz)

[2022-10-10 10:52] ana-pantilie opened #3311 "`addConditionWithReplacements` is a top consumer"
See https://github.com/runtimeverification/haskell-backend/issues/3286#issuecomment-1271061494.

We need to rethink this, maybe this function is getting called too often again?

Also see https://github.com/runtimeverification/haskell-backend/issues/2454.

[2022-10-10 19:33] ana-pantilie commented on #3309
I don't think that's right, the `\\in` simplifier does this: https://github.com/runtimeverification/haskell-backend/blob/9cb95b15504016b858bf586a4a773b494d0342fd/kore/src/Kore/Simplify/In.hs#L96

Might be worth trying to replace it with the unification procedure maybe?

[2022-10-10 19:45] amelieled opened #3312 "Claims are pre-processed, we might not always want this"
With the semantics (`simplify-test.k`):
[code]
and the KProver claim (`simpl-func.k`):
[code]
I obtained, with the following command:
~$ KORE_EXEC_OPTS='--trace-rewrites simpl-func.yaml' kprove simpl-func.k
[code]
This warning is expected but the obtained claim in the file `simpl-func.yaml` has the shape `phi -> wAF phi` where `phi` = `<k> false ~> . </k>`.
So, the claim in the YAML file isn't the

[2022-10-10 20:10] goodlyrottenapple commented on #3309
ah you are right. i was thinking i migth open a new branch and make commits for each of the changes, e.g removing the dead code, replacing the ceil simplifier with the unifier above, etc. then running the kevm profile after each change for correctness and performance stats. we could then cherry pick which commits to keep?

[2022-10-10 21:53] treeowl commented on #3113
There's a definite tension between caching hashes and the fusion benefits of laziness. For example, the documentation of `fromConcrete` states that

composes with other tree transformations without allocating intermediates.

The same is true of `Kore.Internal.TermLike.TermLike.mapVariables`. These functions work lazily from the top down. Hashing, on the other hand, works strictly from the bottom u

[2022-10-11 03:44] jberthold commented on #3303
Trying automatic profiling again: [first file, kevm-bug-storagevar03-with-conditions.tar.gz](https://github.com/runtimeverification/haskell-backend/files/9670919/kevm-bug-storagevar03-with-conditions.tar.gz)

[2022-10-11 08:37] goodlyrottenapple commented on #3113
The sole purpose of hashing is for the use of hash sets/maps for caching. As previously investigated by Serokell, we get good caching, i.e. high cache hits, but at the cost of expensive hash computation at every lookup. We have investigated the use of unordered containers in a more localised part of the code, namely the MultiAnd/MultiOr data structures and believe we found them roughly on par with

[2022-10-11 10:12] goodlyrottenapple commented on #3309
should this maybeTermEquals be in Kore.Simplify.Equals?

[2022-10-11 12:08] treeowl commented on #3113
I don't understand. `unordered-containers` uses hashing.

[2022-10-11 12:15] treeowl commented on #3113
The alternative container type that comes to mind is the trie. Something like `generic-trie`, maybe. I can't say if that would be better than `HashMap`, but it has a much better chance than `Map`.

[2022-10-12 12:49] F-WRunTime opened #3320 "New Private Issue for Haskell"

[2022-10-12 14:40] goodlyrottenapple commented on #3309
- [KEqual evaluator](https://github.com/runtimeverification/haskell-backend/blob/9cb95b15504016b858bf586a4a773b494d0342fd/kore/src/Kore/Builtin/KEqual.hs#L277): hmm, this one is dubious because it calls `\\ceil(\\and(...))`, so it might actually rely on unification
- [The new unifier](https://github.com/runtimeverification/haskell-backend/blob/9cb95b15504016b858bf586a4a773b494d0342fd/kore/src/Kore

[2022-10-12 19:21] F-WRunTime commented on #3303
[kevm-bug-storagevar03-with-conditions.tar.gz](https://github.com/runtimeverification/haskell-backend/files/9768082/kevm-bug-storagevar03-with-conditions.tar.gz)

[2022-10-12 23:27] jberthold opened #3322 "Upgrade github action helpers before support for node12 ends (Summer 2023)"
Github actions in our workflows need to be revised to use actions in their latest version, to avoid using an outdated `node-js`. See
https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/, we started getting these warnings in our github actions.

The open question is whether haskell-specific actions will be available in node16 based vers

[2022-10-13 00:43] jberthold commented on #3297
(Summarising points I remember from brainstorming during stand-up:)
* The simplifier iterations are currently not observable , and it is hard to observe the simplifier _alone_ at all.
* As a _debugging tool_ we could think about logging the term during simplifier iterations (where applicable) to a file, similar to the recent change #3284  to log rewrite rule applications to a yaml file.
* A stand-

[2022-10-13 10:34] jberthold opened #3323 "On-demand performance (timing) test with KEVM proofs"
In the style of the on-demand profiling run using a provided tarball, create a github action which runs KEVM proofs with timing results (see https://github.com/runtimeverification/evm-semantics/issues/1165) using HS backend code from the given PR branch.
The timing run and the comparison script (python) are provided as a nix derivation. In addition to actually running the proofs with the branch, w

[2022-10-18 08:36] jinxinglim commented on #2997
Hi all. I just want to update the attempts I have made and am asking for suggestions to debug this proof.

#### Attempt 1
As pointed out in https://github.com/runtimeverification/haskell-backend/issues/3302, although the following rules allow the proof of `tests/specs/benchmarks/ecrecoverloop00-sig1-invalid-spec.k` to pass, it causes some other proof/s to fail and are considered as invalid due to

[2022-10-19 10:18] fiedlr commented on #2997
Just a few ideas:

The situation is very analogous to my attemps for `collectToken-spec.k`. I can also make the proof pass with a stronger side condition, the problem is that branches for failing asserts are not pruned. It is likely because `chop` cannot be simplified further for some reason in the condition for the given assert.

Some of the simplifications in `verification.k` are defined for `ch

[2022-10-19 10:30] ana-pantilie opened #3324 "Remove Jenkins jobs"
We already run the integration tests in GitHub workflows, and we also run the unit tests using both Stack and Cabal in separate workflows as well. We should remove the jobs which do the same things on Jenkins.

Also take a look at:
- [x] rename workflows to be more descriptive
- [x] we shouldn't be building twice in the Stack unit test workflow
- [x] ~what does the documentation stage in the Jenki

[2022-10-19 10:30] ana-pantilie commented on #3298
Blocked on https://github.com/runtimeverification/haskell-backend/issues/3324

[2022-10-19 10:37] ana-pantilie opened #3325 "Serokell: monomorphisation + specialization"

[2022-10-19 14:03] ana-pantilie commented on #3312
The claim is proven immediately (without taking any rewrite steps) because the LHS is bottom. I'm not sure what you expected to happen.

[2022-10-19 15:27] ana-pantilie commented on #3309
One other thing is that we need to replace the old unifier with the new one everywhere.

[2022-10-19 15:45] dwightguth commented on #3309
As far as the old unification algorithm goes, the same basic principle applies; I would be ecstatic if it could be replaced with the new unifier, but I spent a huge amount of time on it and was unable to get a version that passed tests, so eventually I gave up. You might have more success, hopefully.

[2022-10-20 09:18] goodlyrottenapple commented on #3312
There seem to be two issues here:

1. `function-and` being a function, we are not rewriting but the tracing only logs rewrite steps. The example could be modified to use a custom type instead of bool and not use the function attribute, so that `function-and` rules are rewrites
2. All claims are simplified before attempting all rewrites, printing the un-simplified/original claim would need some re-

[2022-10-20 09:44] ana-pantilie commented on #3286
Blocked on https://github.com/runtimeverification/haskell-backend/issues/3113, because the highest cost center is hashing. After that is fixed, we should reinvestigate.

[2022-10-20 09:55] ana-pantilie commented on #2313
Let's remove the BMC rather than maintain the code. This should also remove the `--bmc` option from kore-exec.

[2022-10-20 10:01] ana-pantilie commented on #3226
We need to remove two dependences in order to do this:
1. SQLite logs
2. kore-prof should be rewritten to not depend on the external packages

We need to wait for co-log (at least) to be properly released for GHC 9.

[2022-10-20 10:01] ana-pantilie commented on #3226
We need to remove two dependences in order to do this:
1. SQLite logs
2. kore-prof should be rewritten to not depend on the external packages

We need to wait for co-log (at least) to be properly released for GHC 9.

[2022-10-20 10:17] ana-pantilie commented on #2927
The kore-rpc server does this, but the input is restricted to a certain form. In order to do the same for kore-exec, we have found that returning such a substitution is incompatible with our current algorithm. We would need to redesign check implication with this requirement in mind.

Relevant code: https://github.com/runtimeverification/haskell-backend/blob/39eaeb84601d5934bf4a5cfc9c977bdd04c4f01

[2022-10-20 10:23] ana-pantilie commented on #2707
We don't actually use Mu and Nu, we should look into completely removing the Binding module. The next step would be to remove the Mu and Nu nodes in our internal AST representation of Kore patterns (TermLike).

[2022-10-20 10:24] #2706 closed

[2022-10-20 10:26] ana-pantilie commented on #2704
Related to https://github.com/runtimeverification/haskell-backend/issues/3226, because we want to reimplement kore-prof anyway, this would be a nice feature to have.

[2022-10-20 10:30] ana-pantilie commented on #2782
Note: this is a regular Haskell profile (not a kore-prof one). We need to see if this is still happening.

[2022-10-20 10:41] #2780 closed

[2022-10-20 10:42] ana-pantilie commented on #2780
This was done. Continuing work in https://github.com/runtimeverification/haskell-backend/issues/3026

[2022-10-20 10:42] #2732 closed

[2022-10-20 10:48] ana-pantilie commented on #2729
Having Simplified as an attribute currently means that simplification must be done bottom-up, and this should not be a limitation. We also don't want to remove Simplified as an attribute, so some re-design is necessary here.

[2022-10-20 10:48] #2729 closed

[2022-10-20 10:49] #2717 closed

[2022-10-20 10:51] ana-pantilie commented on #2716
We might end up dealing with this in #3309, because we need to remove the old unification algorithm as part of our clean-up there.

[2022-10-20 10:51] #2716 closed

[2022-10-20 10:58] ana-pantilie commented on #2691
Most of these are either done, or WIP. If we find out we need to de-munge labels in kore-prof or we need to implement tail recursion optimisations we can open new issues for them when the time comes.

[2022-10-20 10:58] #2691 closed

[2022-10-20 11:04] ana-pantilie commented on #3111
We need the server to be set up in order to do accurate performance testing for this one. Blocked until that is done.

[2022-10-20 11:16] ana-pantilie commented on #3325
Currently GHC emits warnings for some of the specialize pragmas, this will prevent us from measuring the effect of this. Where possible, it might be better to monomorphise from the bottom-up.

[2022-10-20 12:22] ana-pantilie commented on #3309
Thanks for the response @dwightguth !

[2022-10-20 22:42] jberthold commented on #3328
This particular error is caused by
1) the haskell source code containing unicode, like `φ ∈ Σ` in comments
2) the machine that runs the built using a locale that does not support unicode.

[2022-10-21 04:44] amelieled commented on #3312
The trace says that the claim is  <k> false ~> . </k> => wAF  <k> false ~> . </k>, but this is not the initial claim.
I don't understand why the LHS is bottom.

[2022-10-21 04:47] amelieled commented on #3312
Hi @ana-pantilie and @goodlyrottenapple !
Thanks for your answer.
Indeed, the trace says that the claim is `false ~> . => wAF false ~> .` , but this is not the initial claim. For me, this is the main problem because the information generated by the trace is not true.

@ana-pantilie , I don't understand why the LHS is bottom.

[2022-10-25 10:20] ana-pantilie commented on #2700
Blocked on #2739

[2022-10-25 10:41] ana-pantilie commented on #3298
Fixed by https://github.com/runtimeverification/haskell-backend/pull/3307

[2022-10-25 10:41] #3298 closed

[2022-10-25 10:45] ana-pantilie commented on #3312
@amelieled Please provide the actual trace (the yaml file), there isn't any provided in the issue.

[2022-10-25 10:48] ana-pantilie commented on #3328
Blocked on #3226

[2022-10-25 11:05] ana-pantilie commented on #2610
(t1 /\ p1 /\ s1) \/ (t2 /\ p2 /\ s2) \/ (t3 /\ p3 /\ s3)
= (T /\ P /\ S)

T = ?
P = ?
S = ?

-----------

Only relevant for #Equals simplifier, because we don't actually use #Floor simplification in practice.

Other question: how do #Or and #Equals interact in ML?

[2022-10-25 15:31] ana-pantilie commented on #3113
Questions:
- TermLike.toConcrete: does this actually rely on laziness?

[2022-10-25 16:42] ehildenb commented on #3113
Following the discussion today, we concluded that using the Trie data-structure will be optimizing for the cache-miss case (throwing out potential cache hits earlier), _not_ for the cache-hit case. Because our cache-hit ratio is 95% already, it seems unlike to be an optimization, and will mean we're using some non-standard (or less-standard) datastructures.

Seems to me it's better to pursue the i

[2022-10-25 16:56] virgil-serbanuta commented on #2610
I don't think that `T` can be a term, or, to be specific, I didn't figure out how to transform `1 or 2 or 3` to `T and P and S` where T is a term, P is a predicate and S is a substitution.

I don't know if `T = 1 or 2 or 3` may resemble a term well enough to be acceptable, but if it does, how about this for the general case?

`T = ((p1 and s1) implies t1) or ((p2 and s2) implies t2) or ((p3 and s3

[2022-10-25 18:29] amelieled commented on #3312
Hi @ana-pantilie
This is the trace:
[code]

[2022-10-26 01:30] ehildenb opened #3331 "New symbolic rewriter in haskell backend"
We need a new symbolic rewriter to take care of "bulk" execution for semantics: execution that is not interesting and is just shuffling around state and checking simple conditions.

As an experiment, on branch `_ehildenb` of KEVM, there is a new rewriter implemented which has a much simpler algorithm for rewriting and can handle most of KEVM execution (>95% of K execution steps). We should impleme

[2022-10-26 02:12] ehildenb commented on #3331
Here is an example execution using the pyk rewriter:

![image](https://user-images.githubusercontent.com/12721972/197918186-30bf6578-91fc-476f-96a8-0f457f0517d6.png)

It goes back and forth between using the pyk rewriter and the haskell backend. So it takes 62 steps with pyk rewriter, then 1 step with haskell backend, then 44 steps with pyk rewriter, then 1 step haskell backend, etc...

[2022-10-26 10:11] ana-pantilie commented on #2610
We can call `toPatterns` and match on whether there are multiple patterns or not at the call site. I'd like to run an experiment which tests whether we actually have multiple patterns in practice.

[2022-10-26 10:45] #3294 closed

[2022-10-26 11:48] ana-pantilie commented on #2610
Thank you @virgil-serbanuta, you're probably right about that in theory, but it's not what we're looking for in practice. We might not actually need that much generality so I'm suggesting we do ^ to assess the situation.

[2022-10-27 00:14] jberthold commented on #3301
Fixed in #3334 (with a related integration test), closing this as duplicate

[2022-10-27 00:14] #3301 closed

[2022-10-27 15:44] ehildenb opened #3372 "New binary `haskell-kompile` for doing compile-time optimizations"

[2022-10-27 15:44] ehildenb opened #3799 "New binary `haskell-kompile` for doing compile-time optimizations"
Requirements:

- Kore -> Kore transformation, works in both text form and binary form. The reason is so that LLVM backend can benefit from these optimizations too.
- Does the existing kompile-time validation that `kore-parse` does (replace all calls into haskell backend at kompile time with call to this binary).
- Implement the _same simple algorithm_ for preserves-definedness that is implemented

[2022-10-27 15:47] ehildenb opened #3340 "Implement FFI with LLVM backend. Specifically, the first interface we need exposed is: "simplify this term of sort `Bool`"."

[2022-10-27 15:50] ehildenb commented on #3340
Next step: @goodlyrottenapple and @theo25 do some investigation, and select library for doing the FFI from Haskell -> C.

[2022-10-27 17:06] ChristianoBraga opened #3341 "[Haskell-Performance] <Title>"
### Please Prepare Test Data

While proving with KPlutus I get this low productivity warning which tells me to open a bug report at the Haskell backend.
I created a branch with the problem (which is on the master at this time anyways): https://github.com/runtimeverification/plutus-core-semantics/tree/prod-drop

The following steps should be enough to reproduce the problem:
1. Clone KPlutus repo `h

[2022-10-27 19:31] goodlyrottenapple commented on #3324
Still need to migrate some jobs from Jenkins

[2022-10-28 00:38] jberthold opened #3344 "Set simplification rule not applied (incomplete AC matching)"
With simplification rules in this `test.k` module:
[code]
we would expect this claim in `test-spec.k` to be provable
[code]
(i.e., the set is simplified as expected, using `set-2` and then `set-3` above)

Equation debugging shows that rule `set-2` is not applied because of an incomplete AC matching implementation.

[2022-10-28 04:54] ehildenb commented on #3331
### The effect of rule indexing

Here is an example where the rule indexer chosen for KEVM does really well, and gives back one rule which could apply (< 3ms to pick a rule and apply it):

![image](https://user-images.githubusercontent.com/12721972/198505218-89402eff-0756-49f1-80d2-eec90520b9bc.png)

And an example where it does less good, and gives back 88 rules which could apply (~70 ms to pick

[2022-10-28 05:23] ehildenb commented on #3331
### Constraint Solving

Each step of execution, you may generate new constraints in the form of `requires` and `ensures` clauses. These constraints are usually of the form of boolean predicates about components of your state. When rules apply, the constraints are instantiated, and need to be checked if they go to `false`. The more states we can send to `false`, the fewer branches we need to explor

[2022-10-29 17:20] ehildenb commented on #3331
### Improvements to rule indexing

I improved the rule indexing as [this comment describes at the end](https://github.com/runtimeverification/haskell-backend/issues/3331#issuecomment-1294455871), and it shaved 3s off the overall time. So now the Python rewriter is spending ~14s to do 66 K steps, with ~10s of that spent in queries to the LLVM backend. For reference, the current haskell backend take

[2022-10-31 02:05] jberthold commented on #2700
Small update: After making some progress with set simplification, the given example still does not simplify to the desired output.
One problem preventing this is the program itself, though:
`pred(X) => false requires 1 <Int X andBool X <=Int 9` actually applies to `X == 1`, therefore `SetItem(1) -Set SetItem(X` cannot be simplified with the rule `SetItem(A) REST) -Set SetItem(B) => SetItem(A) requ

[2022-10-31 10:06] ana-pantilie commented on #3340
https://github.com/runtimeverification/llvm-backend/blob/master/include/kllvm/ast/AST.h

[2022-10-31 15:01] ehildenb commented on #3331
Some responses:

- I'm in favor of decoupling the backend from the old one, emphasizing:
  - No committment to maintain the same interfaces/data-structures.
  - Fast FFI to LLVM backend (there are some simplifications, like `#computeValidJumpDests` in KEVM, which are always fully concrete and always massive data-structure manipulations (no reason to do this with rewriting).
- The LLVM backend FFI

[2022-10-31 22:05] ehildenb commented on #3331
Here are the requirements:

- New backend is being invoked in KEVM master by holiday closure (not necessarily the newest version of the backend, but some version, with a clear path to bringing the newer version in).
- Handling at least 50% of KEVM rule steps (not necessarily the version KEVM master is using).
- Taking more rewrites/second than the old backend (not necessarily the version KEVM mast

[2022-10-31 22:28] #3344 closed

[2022-11-01 10:16] ana-pantilie commented on #2739
@jberthold please add what you found here.

[2022-11-01 11:37] ana-pantilie commented on #3331
Questions:
- is this a replacement for kore-exec or just for kore-rpc? will this eventually need to have feature parity with the old Haskell backend? (I'm guessing that the answer is yes here, but it needs to be made explicitly clear what's the goal here); what modes will the new kore-exec need to have?
- will the new repository be public or private?
- do we need the old code to support preserves-

[2022-11-01 14:08] ana-pantilie opened #3349 "New representation of Kore"
We need to design new datatypes for representing Kore internally in the new Haskell backend. The implementation we use has to be fast and simple, but general enough to ensure soundness and a satisfactory level of completeness.

Below I provide a rough approximation of their semantics, for more details we need to closely consult the old implementation
, https://github.com/runtimeverification/haskel

[2022-11-01 14:14] ehildenb commented on #3331
- The goal by Holiday is the have this integrated into `kore-exec --prove`. Let's not worry about RPC for the moment.
- Private to start.
- I don't think the old code should need to support preserves-definedness anymore.

What do we need an effect stack for? Can we try to avoid getting into the polymorphic/monomorphic mess that we got into for prior backend? The Monad stacks seemed to be a source

[2022-11-01 14:21] ana-pantilie commented on #3331
That's just the way you write meaningful Haskell programs. We can avoid the polymorphic/monomorphic mess by not using [MTL](https://hackage.haskell.org/package/mtl).

[2022-11-01 16:01] ehildenb opened #3351 "Revive old CI publication jobs"
We used to have jobs which did:

- [ ] Published master releases to GH pages about Kore.
- [ ] Triggered updating the regression tests on CI.

These were removed is this PR: https://github.com/runtimeverification/haskell-backend/pull/3350

[2022-11-01 16:31] ana-pantilie commented on #3325
Investigate issue with nested `UnifierT`:
- experiment with the limits in the simplifiers
- figure out a way to see the concrete types before and after we make calls to the simplifiers

Relevant code:
https://github.com/runtimeverification/haskell-backend/blob/0cc2eb046101cba0080b63e04a5b5a0f1374a99f/kore/src/Kore/Simplify/Predicate.hs#L119

https://github.com/runtimeverification/haskell-backend/b

[2022-11-01 22:39] jberthold commented on #2739
I consulted several papers about AC (and other non-free) matching algorithms, most prominently [Boudet(1993)[(https://link.springer.com/article/10.1007/BF00881905) (which is about _unification_, not matching) and [Eker(2003)](https://link.springer.com/chapter/10.1007/3-540-44881-0_3).
The techniques presented in these papers (based on diophantine equations) apply directly to ASTs with AC symbols (

[2022-11-01 22:59] jberthold commented on #2739
Another issue is that the AC matching algorithm in use picks one arbitrary match out of potentially many.
This is somewhat inherent to the use case: The matching code is used for simplifications and conceptually returns a single result. Some code fragments in the simplifier exists to cater for simplifications having multiple results (see [`runSimplifier` vs `runSimplifierBranch`](https://github.co

[2022-11-02 07:08] jberthold commented on #3349
I wrote this proposal as [actual code in the new repo](https://github.com/runtimeverification/hs-backend-booster/blob/main/library/Kore/Pattern/Base.hs).

* Added type aliases to distinguish between variable/symbol/sort names. We could use newtypes but it might not pay off.
* Added a simple `Sort` type (application of (sort) symbol to sort arguments or sort variable
* I like the idea of a custom t

[2022-11-02 08:55] goodlyrottenapple commented on #3349
newtypes?

https://github.com/runtimeverification/hs-backend-booster/blob/70ba26cd6a49472782c76f795ad910acf701d922/library/Kore/Pattern/Base.hs#L56-L58

[2022-11-02 11:09] ana-pantilie commented on #3349
1. It turns out we need to represent domain values that are not of builtin sorts (e.g. `\dv{SortId{}}("gp_offset")`). We should implement an invariant that states that if the sort is builtin, the domain value should be internalized to one of our builtin types. In practice, domain values are `(Sort, String)`.
2. We can remove `StringLiteral` from the internalized representation of `Term`.
3. We sho