[2021-04-12 14:24] MirceaS commented on #2523
[code]

[2021-04-12 16:47] ttuegel opened #2544 "Remove or document NoStrict modules"
We should remove `NoStrict` and `NoStrictData` from the modules where they appear because the need for these extensions may indicate a thunk leak. Where it does not indicate a problem, we should document the need for these extensions.

Follow up to #2491.

---

- [ ] `Kore.Attribute.Pattern.Simplified`
- [ ] `Kore.Internal.SideCondition.SideCondition`
- [ ] `Log.Entry`

[2021-04-12 17:49] #2283 closed

[2021-04-13 13:27] MirceaS commented on #2523
simplifyTermLike is called at one point with:
[code]

[2021-04-13 14:49] MirceaS opened #2545 "Investigate why we need to do matching in both directions"
At [this location](https://github.com/kframework/kore/blob/e0614507f2172e8d161fa8e8eddd844dba724eae/kore/src/Kore/Step/Simplification/Exists.hs#L251) we do matching in both ways, but this shouldn't be necessary if the input predicate is simplified.

[2021-04-13 16:57] MirceaS commented on #2523
@virgil-serbanuta It looks like a symbol you introduced has no evaluators:
[code]
Is this intentional?

[2021-04-13 17:35] ttuegel opened #2546 "STRING.String2Base should not return \bottom where unimplemented"
`STRING.String2Base` should emit a warning when it is not implemented for a particular base, instead of returning `\bottom`.

[2021-04-13 18:45] virgil-serbanuta commented on #2523
Yes, it is intentional. I think I also added a "no-evaluators" attribute on it.

The Haskell backend does not send terms that might be undefined to the SMT solver, even if the side condition implies their definedness. In order to work around that, I needed a constructor-like symbol for maps, and an unevaluated function worked just fine.

[2021-04-13 20:42] MirceaS commented on #2523
@virgil-serbanuta The error that you see appears to be a consequence of the fact that the simplifier is unable to match your symbol with a map when applying the rule that I posted here yesterday. How exactly should this rule work?

[2021-04-13 21:50] virgil-serbanuta commented on #2523
Before answering:
The Haskell backend error message instructed me to file a bug report, so, I guess, anything that does not produce an assertion failure would probably be better.

Also, this rule looks something like this:
[code]
so I'm not sure why is this matching attempted. Is it part of the `owise` condition?

The actual answer:
I think that this rule should simply fail to apply to a `countCan

[2021-04-14 10:34] kheradmand opened #2549 "Backend crashed during rewriting with exit code 1"
[code]

[kore-exec.tar.gz](https://github.com/kframework/kore/files/6310049/kore-exec.tar.gz)

K version (installed from Homebrew)
[code]

Source code:
https://github.com/kframework/p4-semantics/blob/master/src/cli/cli-symbolic.k

Command to kompile:
[code]

Command to run:
[code]

Input files:
[a.p4](https://github.com/kframework/p4-semantics/blob/master/test/semantics/basic_routing/basic_routing

[2021-04-14 14:25] ttuegel commented on #2523
Yes, the `owise` generates `\not \exists` clauses in the rule.

[2021-04-14 14:31] ttuegel commented on #2523
Because we [rename equation variables](https://github.com/kframework/kore/blob/e0614507f2172e8d161fa8e8eddd844dba724eae/kore/src/Kore/Equation/Application.hs#L166) before matching, it is safe to remove [this assertion](https://github.com/kframework/kore/blob/e0614507f2172e8d161fa8e8eddd844dba724eae/kore/src/Kore/Equation/Application.hs#L195).

[2021-04-14 14:52] ttuegel opened #2552 "Remove package.yaml"
We continue to have seemingly endless problems with hpack.

[2021-04-14 15:32] andreiburdusa commented on #2515
I reshaped [this case](https://github.com/kframework/kore/blob/e0614507f2172e8d161fa8e8eddd844dba724eae/kore/src/Kore/Step/Simplification/TermLike.hs#L335) of `returnIfResultSimplifiedOrContinue` like this so I could use `trace` on intermediate results:
[code]
The result looks like this:
[code]
Note that it's marked as fully simplified on top although it contains partially simplified children

[2021-04-14 16:49] ttuegel commented on #2515
I don't think this is important.

The unsimplified conditions are mostly substitution-like. I think the problem is that we ended up here without ever calling the condition simplifier.

[2021-04-14 18:07] MirceaS commented on #2523
@ttuegel It's not that assertion that's failing though; it's [this one](https://github.com/kframework/kore/blob/e0614507f2172e8d161fa8e8eddd844dba724eae/kore/src/Kore/Equation/Application.hs#L156)

[2021-04-15 01:20] ttuegel opened #2554 "Fully implement hooks String2Base and Base2String"
We should fully implement the hooks `STRING.String2Base` and `STRING.Base2String` for `2 <= base <= 36`.

[2021-04-15 13:25] andreiburdusa commented on #2515
The predicate given to `TermLike.simplify`:
[code]
The predicate not completely simplified that causes the error:
[code]

[2021-04-15 21:33] #2552 closed

[2021-04-16 12:04] kheradmand commented on #2549
Increasing ` --smt-timeout` eliminates the crash, so probably the crash is related to handling SMT query timeout.

[2021-04-16 14:20] ttuegel commented on #2549
The result from the SMT solver indicates that the solver crashed because it didn't handle the timeout correctly. There is really nothing that the backend can do, other than report that error and terminate.

[2021-04-16 14:20] #2549 closed

[2021-04-16 14:26] ttuegel commented on #2152
This task includes writing a new `Predicate` simplifier.

[2021-04-16 14:30] ttuegel commented on #2400
1. [`simplifyTermLike`](https://github.com/kframework/kore/blob/caeff6481218760d8f4975b6465049bf90c21b25/kore/src/Kore/Step/Simplification/Simplify.hs#L148) should go away. We can replace it with a `simplifyPattern` method.
2. `Pattern.simplify` may call `TermLike.simplify` directly.
3. Most calls to `simplifyTermLike` should become `simplifyPattern` instead.
4. Move `Condition.simplifyPredicate`

[2021-04-16 14:33] ttuegel commented on #2515
This would be fixed by #2400.

[2021-04-16 14:40] ttuegel commented on #2501
In [`internalize`](https://github.com/kframework/kore/blob/e0614507f2172e8d161fa8e8eddd844dba724eae/kore/src/Kore/Builtin/Map.hs#L504) there is a lot of logic to work around the last case of `toNormalized`. So, we just shouldn't have that case in the first place.

[2021-04-16 20:28] radumereuta opened #2557 "make test-k randomly breaks in new installation"
I tried running `make test-k` for the first time today and some tests fail.
Example:
[code]
A few others as well. If I go into that directory and run make again, the tests pass. On other tests, they didn't.

@ttuegel suggested running the same script used by CI `./scripts/integration-k.sh`. This time all tests passed.
One difference I noticed is the script exports some paths which I'm pretty sure

[2021-04-17 17:25] ehildenb commented on #2508
The failing test (and performance regression) was fixed enough for the update to go through. There is still a large regression though in this update to K https://github.com/kframework/evm-semantics/pull/980:

[code]

It looks like `ds/totalSupply` is the only real sufferer, but on my own machine this means that proofs run 4 at a time go from taking 1640s to 2280s.

[2021-04-19 14:14] ttuegel commented on #2557
The `integration-k.sh` script is just supposed to be an optimization: it sets some variables once so that they aren't repeatedly set by each recursive call to `make`. But it seems that the settings in the `Makefile` were lost at some point.

[2021-04-19 14:20] ttuegel commented on #2546
Here is an example of a warning log entry: https://github.com/kframework/kore/blob/master/kore/src/Kore/Log/WarnIfLowProductivity.hs

We can copy that to make a `WarnNotImplemented` and log it whenever we have a built-in function that is partially-implemented.

[2021-04-19 16:09] ttuegel commented on #2454
This was actually not fixed. The problem is related to the way `SideCondition.andCondition` disassembles the existing `SideCondition`, combined with the way that `simplifyPredicates` breaks apart a `Predicate` and constructs a new `SideCondition` at every step; the effect is that `andCondition` is used in a quadratic way. The problem is not with hashing per se, that is just a symptom of it.

[2021-04-19 16:29] ttuegel commented on #2454
We have been brainstorming ways to improve the performance of `andCondition`. Essentially, we would like the cost of adding each new clause to be constant (with respect to the size of the existing `SideCondition`), while maintaining the invariants of a `SideCondition`.

One option, suggested by @ana-pantilie, is to use a dynamic topological sort algorithm. Such algorithm can keep a graph topologic

[2021-04-19 18:48] ttuegel commented on #2454
I left a [comment](https://github.com/kframework/kore/pull/2551#issuecomment-821229362) with a troublesome example, which I will reproduce here:

Suppose we already have the side condition:

[code]

and then we want to add:

[code]

[2021-04-19 19:30] ttuegel commented on #2454
Actually, I have thought of an algorithm that is reasonably efficient and can be made incremental.

We begin with a (denormalized) set of generalized substitutions:

[code]

We will topologically sort these substitutions so that they can be applied linearly.
Connect the pairs in a graph with edges

[code]

Here, `subterms(_)` denotes _strictly_ the subterms, not including the term itself. The (sta

[2021-04-19 20:07] ttuegel commented on #2454
I forgot to say, this can be made incremental by observing that, to add a substitution to the normalized set, we only need to consider the substitutions that intersect the new one, so: Calculate edges in and out of the new pair. If it creates a loop, set the new pair aside. Otherwise, apply all relevant substitutions to it. Then, apply it everywhere that it is relevant.

[2021-04-20 05:34] nishantjr opened #2561 "kprove: Crashes when a rule using #Bottom occurs"
K Version
---------

[code]

Description
-----------

kprove crashes with message "cannot assume a \bottom pattern is defined"

Reproduction & input files
-----

[code]

Expected Behavior
-----------------

`kprove` should return `#Top`.

[2021-04-20 13:01] andreiburdusa commented on #2501
I tried taking care of the case of sets first because it breaks less unit tests.

If we remove that last case of `toNormalized`, there will be a problem with set concatenation. For example, in the case of
[code]
`toNormalized` will be called recursively for each child, returning `Nothing` for the second, therefore making the whole result `Nothing`.
Allowing wrapping "bare" set terms if they are ch

[2021-04-20 21:07] ttuegel commented on #2454
At the meeting this morning, we discussed the incremental algorithm for normalizing a set a generalized substitutions, and I realized it's not quite clear from my comments above how to do that. Here is the procedure, presented inductively.

### Definitions

A **generalized substitution** is a pair `Lᵢ :-> Rᵢ` where `Lᵢ` and `Rᵢ` are arbitrary terms (hence, "generalized"). Logically, this is equiva

[2021-04-20 21:07] ana-pantilie commented on #2454
This is my first attempt at piecing together an algorithm for our issue. It might be wrong, or make wrong assumptions, or it might actually be horribly inefficient, so I need to double check it with a rested mind.

Initial remarks:
- In the following comment, substitution means generalized substitution.
- Removing an edge from the graph doesn't change its topological sort.
- As described in detail

[2021-04-21 14:03] virgil-serbanuta opened #2564 "Infinite loop when evaluating function"
I'm not sure how to generate a bug report for an infinite loop, so here are my reproduction steps:

Haskell backend: 29126d9ee10f8f589af36b59949729ddfe7510ff
K: 7a6cf026fde61ea0ea2ef960ad6b94802e1c05d0

-- EDIT: SEE BELOW FOR A SIMPLER EXAMPLE!

tmp.k:
[code]

proof-tmp.k
[code]

sh:
[code]

REPL:
[code]

[2021-04-21 15:39] virgil-serbanuta commented on #2564
Here is a simpler and saner example for reproducing this issue:

tmp.k
[code]

proof-tmp.k:
[code]

[2021-04-21 15:48] ehildenb opened #2565 "Haskell backend crashed on proof with uninformative error"
K version: 5.0.24
Kore version:

[code]

This example comes from https://github.com/makerdao/mkr-mcd-spec.

The unhelpful output is:

[code]

I've attached the generated [kore-exec.tar.gz](https://github.com/kframework/kore/files/6352241/kore-exec.tar.gz).

[2021-04-21 15:51] ana-pantilie commented on #2565
This looks like the same issue as https://github.com/kframework/kore/issues/2523.

[2021-04-21 19:16] ttuegel commented on #2565
This is exactly the same as #2523.

The error is exactly as helpful as it is supposed to be, because it led you to file this bug report. There is no intervention that the user could do to avoid this error.

[2021-04-21 19:16] #2565 closed

[2021-04-21 20:35] ehildenb opened #2566 "Seemingly infinite loop in equation simplification"
This bug report is generated by running a simplified Maker MCD Spec (https://github.com/makerdao/mkr-mcd-spec) through the kore-repl, and killing it after it hangs for a while.

[kore-exec.tar.gz](https://github.com/kframework/kore/files/6353753/kore-exec.tar.gz)

If you run the `kore-repl`, take 6 steps, it works just fine. But then you do `stepf` one more time, and it seems to hang. I turned on

[2021-04-21 21:01] ttuegel commented on #2566
That being the only log entry is extremely suspicious. `DebugAttemptEquation` should log the individual steps of attempting the equation: matching, instantiation, checking requirements. If we really don't see any of that, then we must never get far enough to even _match_ the equation.

[2021-04-21 22:46] virgil-serbanuta commented on #2564
Here's what happens, as far as I can tell:

The `ensures` clause in the rule that rewrites `makeConcreteValue2` creates a substitution `M=X->?Value ?Remainder`, which is applied to `f(_, Key |-> 0 keysMap(M))`, producing `f(_, Key |-> 0 keysMap(X->?Value ?Remainder))`.

Normally, `keysMap(X->?Value ?Remainder)` should be evaluated to `X->0 keysMap(?Remainder)`, but, for some reason, it's not (bug?

[2021-04-22 10:12] ana-pantilie commented on #2566
Whatever the issue is, it doesn't seem related to `simplifyPredicates`: if I disable it, the loop is still there. I'll continue looking to see if it's in the term simplifier.

[2021-04-22 10:33] kheradmand opened #2567 "[Bug] [krun] - unexpected result with --backend haskell"
K Version
---------

Tell us what version of K you are using.

Example:

[code]

Description
-----------

Running `krun` results in an unexpected output with the haskell backend.

Input Files
-----------

Examples:

File: `test.k`

[code]

File: `input.test`

[code]

Reproduction Steps
------------------

[code]

Expected Behavior
-----------------

[code]

[2021-04-22 10:52] ttuegel commented on #2564
If `keysMap( X |-> ?Value  ?Remainder )` is unevaluated, it's probably because the backend can't infer at that point that `X` is not in `?Remainder`. I know, there is enough information in the `ensures` from `makeConcreteValue2` to infer that, but at the point where `keysMap` is unevaluated, it seems likely that the backend can't pull that information in. If it wasn't getting stuck on `f(_, _)`, i

[2021-04-22 10:58] ttuegel commented on #2454
Any approach that we take here needs an efficient way to calculate dependencies between generalized substitutions. For ordinary substitutions, we track the free variables of each term in the pattern attributes. To handle generalized substitutions, I suggest we track the free sub-terms in the pattern attributes. We need to study the feasibility of this approach; will tracking the sub-terms degrade

[2021-04-22 12:11] kheradmand opened #2568 "Crash on `checkSubstitutionCoverage`"
[code]

[kore-exec.tar.gz](https://github.com/kframework/kore/files/6358058/kore-exec.tar.gz)

[2021-04-22 12:45] virgil-serbanuta commented on #2564
This is a minimized example, whose purpose is to reproduce this error. In my semantics, there are two (I think) base cases. This specific rule is useful only to help the backend make the right inference when working with symbolic values.

Thanks for the performance tip, I'll try to find a replacement for this rule. BTW, in practice, the last argument has at most two explicit keys, which limits the

[2021-04-22 14:17] ehildenb commented on #2566
Well, I only turned on `DebugAttemptEquation`. I can turn on more log entries and post results if you like?

[2021-04-22 15:14] ana-pantilie commented on #2566
@ttuegel I've identified the loop: [simplifyPredicate](https://github.com/kframework/kore/blob/e4cf982400b4e760b1787d925952b7e4694d7116/kore/src/Kore/Step/Simplification/Condition.hs#L87) doesn't return, so, indeed, it's the term simplifier.

[2021-04-22 20:40] ttuegel opened #2570 "Overhaul predicate simplifier"
This issue is the first part of addressing the issues raised in #2400. See also: #2566.

We will move `Condition.simplifyPredicate` to its own module and implement a `Predicate.simplify` similar to `TermLike.simplify`. It must not call `simplifyCondition` or `simplifyTermLike`. `Predicate.simplify` will simplify a `Predicate` from the bottom up; at each level, it will iterate until the predicate d

[2021-04-22 20:41] ttuegel commented on #2570
@ana-pantilie I would appreciate your thoughts on this.

[2021-04-22 21:05] ttuegel commented on #2570
As for the return type of `Predicate.simplify`, I'm inclined to return the disjunction of `MultiAnd (Predicate _)` for these reasons:

- I can't think of any reason the `Predicate` simplifier shouldn't return something that isn't basically a predicate.
- The implementation will be simpler.
- The `Condition` simplifier that calls `Predicate.simplify` can easily break down a `MultiAnd (Predicate _)`

[2021-04-23 11:05] ana-pantilie commented on #2570
I think that from the point of view of the `Condition` simplifier, a disjunction of `MultiAnd (Predicate ..)` would be fine. We already go back and forth between `Condition` and `MultiAnd` there.

One thing is that the ML pattern simplifiers return disjunctions of `Pattern`s or of `Condition`s, so we'd still have to turn that into a `MultiAnd (Predicate _)` at the end, unless there's something nic

[2021-04-23 11:49] #2410 closed

[2021-04-23 13:49] #2546 closed

[2021-04-23 15:49] #2523 closed

[2021-04-24 19:49] #2100 closed

[2021-04-26 14:22] ttuegel commented on #2561
- Refactor [`simplifyTopConfiguration`](https://github.com/kframework/kore/blob/e0614507f2172e8d161fa8e8eddd844dba724eae/kore/src/Kore/Step/Simplification/Pattern.hs#L70) so that it takes the `TermLike` from the `Pattern` as the defined term.
- Return `Maybe` from [`assumeDefined`](https://github.com/kframework/kore/blob/39a42a5a7d2245086d31fa2a0b5fa1a84e40f456/kore/src/Kore/Internal/SideCondition

[2021-04-27 15:49] #2508 closed

[2021-04-28 12:49] #2561 closed

[2021-04-28 14:14] ttuegel commented on #2538
We can add a flag to the Makefile:

[code]

If we run `make KEEP_OUTPUTS=true`, it will skip `rm`.

[2021-04-30 18:10] ttuegel commented on #2554
Extend [`evalString2Base`](https://github.com/kframework/kore/blob/b199d52511407ba30e17467c2c47aa4865598350/kore/src/Kore/Builtin/String.hs#L304) so that it can parse bases 2 through 36. The documentation is [here](https://github.com/kframework/kore/blob/master/docs/hooks.md#stringstring2base).

[2021-05-03 14:07] ttuegel commented on #2557
We did find one issue with the master branch, but otherwise we weren't able to reproduce this problem.

[2021-05-03 14:07] #2557 closed

[2021-05-03 14:16] ttuegel commented on #2554
To implement `Base2String`, we need to add a function `evalBase2String` like [`evalString2Base`](https://github.com/kframework/kore/blob/cb2c54e82996963595e1d9f25a592351a07db6f1/kore/src/Kore/Builtin/String.hs#L303), but the [`input arguments`](https://github.com/kframework/kore/blob/cb2c54e82996963595e1d9f25a592351a07db6f1/kore/src/Kore/Builtin/String.hs#L307) will be two integers:

[code]

[Here

[2021-05-03 15:46] sskeirik opened #2586 "Unsatisfiable state containing `==String` not pruned by backend"
I have a proof which generates the following conjunction in its path condition as it executes:

[code]

I expect that the backend will prune this state, but currently, this functionality is not implemented.

Please note that this check is a blocker for us on our dexter proof.

[2021-05-03 16:15] ttuegel commented on #2586
We need to determine why [`Kore.Builtin.String.unifyStringEq`](https://github.com/kframework/kore/blob/cb2c54e82996963595e1d9f25a592351a07db6f1/kore/src/Kore/Builtin/String.hs#L459) is not applied to the second clause.

[2021-05-03 21:09] ttuegel commented on #2520
The implementation actually needs to be slightly more sophisticated: we should collect all the sub-terms of the current configuration, and we should not attempt to re-simplify them. This should wait until the first part of #2454 is done.

[2021-05-03 21:12] ttuegel commented on #2518
The relevant code is in [`Kore.Reachability.AllPathClaim`](https://github.com/kframework/kore/blob/cb2c54e82996963595e1d9f25a592351a07db6f1/kore/src/Kore/Reachability/AllPathClaim.hs#L144) and [`Kore.Reachability.OnePathClaim`](https://github.com/kframework/kore/blob/cb2c54e82996963595e1d9f25a592351a07db6f1/kore/src/Kore/Reachability/OnePathClaim.hs#L168). These should use `derivePar` instead of `

[2021-05-03 21:22] ttuegel commented on #2474
While we are at it, we should get rid of the big map of evaluators. We should make known function calls whenever possible. The dispatch logic for functions should be:

1. Does the symbol have a `hook`? If so, match on the hook name and dispatch the appropriate function. (Having a big `case` with all the hook names sounds silly, but it's quite efficient and also developer-friendly.) The hook evalua

[2021-05-04 21:20] ttuegel opened #2591 "Implement hooks for string encoding"
See: kframework/k#1953.

We would like to have hooked functions `BYTES.decodeBytes` and `BYTES.encodeBytes` for creating and interpreting encoded byte strings. In particular, we need to support UTF-8, which should be easy using [`Data.Text.Encoding.decodeUtf8'`](https://hackage.haskell.org/package/text-1.2.4.1/docs/Data-Text-Encoding.html#v:decodeUtf8-39-). The hook itself should be implemented fo

[2021-05-04 21:21] ttuegel opened #2592 "Add more regression tests from evm-semantics"
We should look at what tests are run in the evm-semantics repository and import some of them to our regression tests. This will also improve performance regression testing.

[2021-05-04 21:23] ttuegel opened #2593 "Correct encoding of ensures clause"
See kframework/k#1945.

The backend uses the correct interpretation of `ensures`, but the frontend encodes the rules the wrong way. We should:

1. Document the correct encoding.
2. Modify the backend to accept either encoding.
3. Modify the frontend to emit the correct encoding.
4. Forbid the incorrect encoding in the backend.

[2021-05-04 21:32] ttuegel commented on #1962
@dwightguth reported to me that this issue has resurfaced.

[2021-05-05 11:43] ana-pantilie commented on #2586
Could you please supply a way to reproduce this issue?

[2021-05-05 13:44] hjorthjort opened #2595 "Failing to simplify equality"
At the end of execution, I have the following in my path conditions:

[code]

Basically I would want the second term of the `orBool` clause to be true (I think that would make my proof go through), and it seems clear the prover should be able to deduce that the first term is false. I don't know how I would even give it a further hint. Any ideas?

[bug-report-name.tar.gz](https://github.com/kframew

[2021-05-05 16:37] ttuegel commented on #2595
@hjorthjort Could you please also point us to the K source, so that we can try to minimize the example if necessary?

[2021-05-05 16:38] ttuegel commented on #2595
I think we have code that should trivially simplify `( Source:Address ~> . ) ==K ( Source:Address ~> . )` because the patterns are literally equal. It is possible that code is not activated because the patterns are also symbolic. We should investigate why it is not activated.

[2021-05-05 17:04] ehildenb opened #2596 "Allow formatting log options from the command-line"
From: https://runtimeverification.slack.com/archives/CC360GUTG/p1620225947427000

I'd like to be able to see (in the log to stderr) the rules that are being applied, and the timestamps associated with them. Something like:

[code]

Maybe this could be achieved using `--log-format=oneline`, which then provides a one-line format for each log entry (so omit kore output, and any extra debug info beyon

[2021-05-05 17:05] ttuegel opened #2597 "Run regression tests directly from host repositories"
Right now, our workflow for regression tests is:

1. Once weekly, automatically clone the host repositories and capture the Kore files that would be executed when the tests run.
2. On every pull request and branch, run the tests captured in the Kore files (without using the frontend).

We adopted this workflow because it was difficult to clone a repository and replace the backend for one build, bu

[2021-05-05 17:07] sskeirik commented on #2586
Repro steps:

[code]

Or if you want I can paste the backend output. What is the flag to cause `kore-exec` to dump its final state?

[2021-05-05 21:20] MirceaS commented on #2564
@ttuegel I can confirm that the issue with the original example goes away when we get rid of the `as` pattern (` #as _:Map`)

[2021-05-05 21:39] ttuegel commented on #2564
1. That means we have a problem in [`matchAnd`](https://github.com/kframework/kore/blob/b0e48e43c0785afa12abf88f7d87d87ad969becf/kore/src/Kore/Step/Axiom/Matcher.hs#L436). Please add a name to that equation (_with_ the `#as` pattern) and debug it with `--debug-equation` to confirm that only one of the constraints is solved.
2. Is there still a problem with the equation if we remove the `simplifica

[2021-05-05 21:59] MirceaS commented on #2564
@ttuegel To quickly answer your second point, yes, removing the `simplification` attribute also gets rid of the issue.

[2021-05-06 02:49] #2494 closed

[2021-05-06 12:29] MirceaS commented on #2564
If I try to trace the equation usage, I get the following log, which after a while stops before going into the infinite loop:
[code]

[2021-05-06 13:49] #2538 closed

[2021-05-06 15:22] MirceaS commented on #2586
@sskeirik I get this error when I try to reproduce the issue with your steps:
[code]

[2021-05-06 15:40] sskeirik commented on #2586
I missed a `git submodule update --init --recursive` originally and that added that back in my comment later. Please try that. Thanks. @MirceaS

[2021-05-06 17:49] #2455 closed

[2021-05-07 01:32] ttuegel opened #2605 "\next simplifier should distribute \or"
The `\next` simplifier calls `OrPattern.toPattern` to remove `\or` when it faces a pattern of the form:

[code]

However, `\next` is a symbol, so it distributes over `\or` thus:

[code]

This should be respected in `Kore.Step.Simplification.Next`.

[2021-05-10 10:25] virgil-serbanuta commented on #2520
I'm sorry, I'm re-reading this after my vacation, after losing a lot of context - what do you mean by "The side condition can only change when we apply a rewrite rule or a claim"?

My first reading was that it can't happen during simplification, but that would not be completely true since simplification rules can have `ensures` clauses (e.g. this one https://github.com/kframework/k/blame/master/k-

[2021-05-10 11:22] andreiburdusa commented on #2595
I'm not able to reproduce the error (anymore) using the bug report because I get
[code]
This is probably related to #2585.

And when I clone the repository from the [previous comment](https://github.com/kframework/kore/issues/2595#issuecomment-833510980) link and run the command I get  `#Top`.

[2021-05-10 16:31] ttuegel opened #2610 "Remove Kore.Internal.OrPattern.toPattern"
The function `toPattern` should not exist. Start by removing it from the tests, then from `kore-repl`, and finally remove it from the main library. This is necessary for #2152.

[2021-05-11 10:49] #2605 closed

[2021-05-11 14:09] ehildenb commented on #2586
From the frontend, you can do `--haskell-backend-command "kore-exec --bug-report YOUR_NAME"` to get the haskell bakcend to generate the correct report.

[2021-05-11 23:06] gelisam opened #2617 "display all steps"
I currently run `krun` with `--depth=0`, `--depth=1`, ..., `--depth=N` to see each step of the execution. This takes about a second each time, regardless of the depth, which indicates that most of the cost is in the startup time and not in the execution itself (at least for my small examples). In order to display step N, the execution must go through each of the previous steps, so I assume it woul

[2021-05-11 23:13] sskeirik commented on #2586
Here is a bug report that I created from the branch: [2586.tar.gz](https://github.com/kframework/kore/files/6462434/2586.tar.gz)

It should be reproducible using the following instructions:

[code]

[2021-05-12 00:35] ehildenb commented on #2617
Which backend are you using? If it's the LLVM (default), or Haskell, you can use `--debugger` to step through the execution interactively.

If it's the Java backend, you can use the state-logger and KLab to do the same.

[2021-05-12 02:53] gelisam commented on #2617
Thanks! I'm currently using the Haskell backend, but I could switch to a different one if that's easier. So far, it doesn't look easy at all!

In particular, I see that the `--debugger` flag drops me in C's `gdb` debugger, not Haskell's `ghci` debugger, so I don't think I can step through the Haskell code from there. But that gave me an idea: I can use `--dry-run` to get the `kore-exec` command, a

[2021-05-12 04:45] sskeirik commented on #2586
Adding the following simplification rule appears to solve many issues I have with string equality. Is it sound and does it make sense? @ttuegel

[code]

[2021-05-12 13:49] #2516 closed

[2021-05-12 14:00] MirceaS commented on #2564
Term that the condition simplifier tries to simplify over and over in the infinite loop:
[code]

[2021-05-12 14:06] MirceaS commented on #2564
Point of divergence:
Good run:
[code]
Bad run:
[code]

[2021-05-12 14:21] sskeirik commented on #2586
@MirceaS @ttuegel  I would appreciate you looking at the lemma above and also at the bug report I created. This issue is blocking us on a proof for a client.

[2021-05-12 14:23] ttuegel commented on #2564
The next thing we need to check is why this term is not simplified, in the bad case:

[code]

[2021-05-12 14:54] ttuegel commented on #2586
@sskeirik The rule is sound. The `anywhere` attribute doesn't do anything, because this is not a constructor rule. That is the same as the rule I cited above which is implemented internally by the backend. We will investigate why that is not effective, but it sounds like you have a workaround for your specific issue.

[2021-05-12 19:29] Boarders commented on #2152
In the TODO in the code it says:
[code]

Is this still a preferred solution or should a flexible sort always be passed as an extra argument as suggested above?

[2021-05-12 19:47] ttuegel commented on #2152
That TODO is out of date, but neither should a flexible sort be passed as an extra argument. A _fixed_ sort should be passed as an argument wherever it may be required; the backend should use fixed sorts everywhere.

[2021-05-12 19:48] #2554 closed

[2021-05-12 20:59] Boarders commented on #2152
I'm still unclear on what is wanted for example in `Kore.Sort` is a function:
[code]
along with other functions that implicitly make use of this sort. Should such functions no longer exist or should they take predicateSort as an argument that is deferred to the call site in each instance?

[2021-05-13 11:40] hjorthjort commented on #2595
@andreiburdusa Did you checkout the branch linked, or did you run on `master`? Because on the branch linked, called `==k-simplification-bug`, I'm still getting this error.

[2021-05-13 11:55] andreiburdusa commented on #2595
That was the problem indeed. I cloned the repository but didn't checkout the branch.

[2021-05-13 16:06] ttuegel opened #2623 "Do not convert OrPattern to TermLike in Rewrites simplifier"
The `Rewrites` simplifier shall not convert `OrPattern`s into `TermLike`s. If necessary, the `Rewrites` alias should be de-sugared instead.

[2021-05-13 16:13] ttuegel opened #2624 "Fix failing KWASM regression test"
A regression test is [failing](https://github.com/kframework/kore/pull/2616/checks?check_run_id=2569294736) after update, but there haven't been any relevant changes to the semantics or the backend. It is likely due to changes in the test harness, i.e. we are now running that proof from the wasm-semantics Makefile.

[2021-05-13 16:15] ttuegel commented on #2564
@virgil-serbanuta We will continue to debug this, but I recommend removing the `#as` pattern as a workaround.

[2021-05-13 17:07] virgil-serbanuta commented on #2564
Thanks

[2021-05-13 17:49] #2481 closed

[2021-05-13 19:39] ttuegel opened #2625 "Does Z3 support rules with ensures?"
See: https://runtimeverification.slack.com/archives/CC360GUTG/p1620932331011900

[2021-05-13 19:43] Boarders commented on #2152
When trying to remove `predicateSort` I then remove the various `mkFoo_` methods that rely on it. I'm not quite sure what to do with the method in `Kore.Internal.Predicate` e.g.
[code]
 I don't think I can have any `Sort` available at this point so should I remove such methods or something else?

[2021-05-13 21:01] ttuegel opened #2626 "Update SMT encoding documentation"
The SMT encoding documentation needs to be updated:

- [upstream](https://github.com/kframework/k/blob/master/pending-documentation.md#smt-lemma-lemma-and-trusted-attributes), and
- in the [design decisions](https://github.com/kframework/kore/blob/master/design-decisions/2018-11-05-Translating-predicates.md) by making a document which reflects the _current state_ of SMT encoding.

[2021-05-13 21:07] ttuegel opened #2627 "Show test details on CI with Cabal"
The Cabal job should run with `--test-show-details=direct`.

[2021-05-14 15:20] hjorthjort opened #2628 "Backend exits with ErrorDecidePredicateUnknown when Z3 reports "unknown""
It seems the Haskell backend crashes with  `Error (ErrorDecidePredicateUnknown)` when Z3 returns `unknown` and the prover can't proceed because of it. This means that certain tricky (non-linear) integer expressions can cause the backend to crash, when it instead could split and proceed. For example, I have the following assertion which, together with the rest of the assertions, makes `(check-sat)`

[2021-05-14 15:52] ttuegel commented on #2628
This is expected, and we have no intention of changing this behavior. The backend cannot possibly tell the difference between these scenarios:

1. The result is `unknown`, but the path condition could split on some variable and continue to make meaningful progress.
2. Z3 needs more time or memory.
3. There is a real problem with the lemmas sent to Z3.

Only the user can distinguish these scenarios

[2021-05-14 15:52] #2628 closed

[2021-05-14 16:10] ttuegel commented on #2152
This instance is very suspicious to me. Where is it used?

[2021-05-14 19:04] Boarders commented on #2152
I'm not sure quite yet, I'm removing the relevant functions first and then working out using type error, but I'll see if that instance can just be deleted later on.

[2021-05-14 21:14] ehildenb commented on #2628
Well I think we need to discuss the best way to solve the issue that prompted this one, which was about how the backend is halting when checking the initial state for feasibility, and everything is getting sent to Z3 which cannot make a decision because some non-linear arithmetic is involved. Rikard can explain better, but my understanding is the initial state has a sub-constraint that looks like

[2021-05-17 13:54] hjorthjort commented on #2628
Yes, that's correct. I should add that the assertion from sub-constraint is reported as satisfiable if it is stated on its own in a z3 session, but it becomes unknown when taken together with the other assertions for the semantics

[2021-05-17 14:25] hjorthjort commented on #2628
It seems to me that the best course of action depends on what the user concludes.

If (2) is the case, I can increase time and memory for Z3 with a flag.
If (3) is the case, the backend does the right thing and halts and I can inspect the situation.
But if (1) is the case, I don't really have any option. I need to treat it as (3) and massage Z3 into reasoning about things it's not great at reasoni

[2021-05-17 15:15] ttuegel opened #2631 "kore-prof: Add option --not-matching-children"
`kore-prof` has an option `--not-matching` which omits any event that matches a given string. We should add an option `--not-matching-children` which omits any event with a matching _parent_ on the call stack. That is, `--not-matching computeValidJump` omits `computeValidJump` and all its children, but `--not-matching-children computeValidJump` omits _only_ the children. This will make profiles ea

[2021-05-17 16:31] ttuegel commented on #2454
We have determined that tracking subterms as an attribute of `TermLike` is not feasible because it creates circular dependencies.

We also examined `Kore.Step.Simplification.Condition.simplify` and `simplifyPredicates` and found that these functions do not really work together as intended. We believe we can improve performance by simplifying this interaction, with some changes to the behavior of `

[2021-05-17 20:18] Boarders commented on #2152
I aim wondering if a `Implication` has a natural sort. It is defined [here](https://github.com/kframework/kore/blob/dfbaeed02fb9327a08089969c160d5931118ed89/kore/src/Kore/Step/Implication.hs#L96). The left field has a `Pattern RewritingVariableName` which has a sort but I don't know if that is the same sort as the `right` sort (when it has one).

[2021-05-18 14:10] ttuegel commented on #2595
We can handle this by separating the code [here](https://github.com/kframework/kore/blob/dfbaeed02fb9327a08089969c160d5931118ed89/kore/src/Kore/Builtin/KEqual.hs#L157) for `==K` and `=/=K`. These functions can always return `true` (or `false` respectively) when the input patterns are exactly equal, even if the patterns are not constructor-like.

[2021-05-18 14:16] MirceaS commented on #2564
Term we see:
[code]

[2021-05-18 14:23] ttuegel commented on #2623
Basically, don't call `toTermLike` [here](https://github.com/kframework/kore/blob/dfbaeed02fb9327a08089969c160d5931118ed89/kore/src/Kore/Step/Simplification/Rewrites.hs#L74).

[2021-05-18 15:26] ttuegel commented on #2628
How would you like to do that?

[2021-05-18 16:47] ttuegel commented on #2617
You are using the LLVM backend, not the Haskell backend. Although, using `--debugger` will not get you `ghci`, but rather our own debugger for Kore.

If you are using `krun`, you can pass the `--search-all` to see all the states, though they will all be printed at once and not incrementally.

[2021-05-18 18:25] virgil-serbanuta commented on #2564
FWIW, I got two more proofs that seem to get stuck in the same way (though I can't be sure without minimizing the example, which takes a lot of time).

I guess I'll wait to see what happens to the two issues mentioned above...

[2021-05-19 12:29] hjorthjort commented on #2628
I was thinking a flag, like `--split-on-decide-predicate-unknown` or similar, unless we want to make the `ErrorDecidePredicateUnknown` into a warning instead, in which case the existing `--warnings-to-errors` and `--error-entries` flags could be used to turn it back into an error when preferred.

[2021-05-19 15:52] hjorthjort commented on #2628
Here's a minified Z3 script that reports unknown. Seems the issue is with the big assertion for "Add Liquidity Params".

So it seems related to the helpers we use in this file:
https://github.com/runtimeverification/michelson-semantics/blob/master/tests/proofs/dexter/dexter.md#putting-it-all-together

Basically, in order to run the proofs without having to specify the side conditions that the inpu

[2021-05-19 15:54] hjorthjort commented on #2628
Here's the full, unminified transcript
[transcript_full.smt2.txt](https://github.com/kframework/kore/files/6510152/transcript_full.smt2.txt)

[2021-05-19 18:37] ttuegel opened #2639 "Remove explainBottom"
The function `explainBottom` is a no-op, and it should be removed. We should replace it with a log entry that captures the match data, after #2396.

[2021-05-19 18:45] ttuegel commented on #2628
I am using Z3 4.8.9, and I cannot reproduce this `unknown`. The minified and full transcripts you provided return `sat`.

[2021-05-19 19:31] ttuegel opened #2640 "Separated parsed, valid patterns from TermLike"
The data type `TermLike` is used to represent all patterns after parsing and validation, and for terms during execution. Because of it is used for all patterns after validation, the type admits many terms which should never appear during execution, such as:

- `\rewrites`
- `\next`
- `\implies`
- `\floor`
- `\ceil`
- `\equals`
- `\in`

We should create a separate type for valid patterns, and restr

[2021-05-20 11:16] virgil-serbanuta opened #2642 "There should be a way to make map unification work "properly"."
To reproduce:
tmp.k:
[code]
tmp-proof.k:
[code]
bash:
[code]
Expected:
[code]
Actual:
[code]

This should also work when commenting the `rule b(N) => .K requires 1 in_keys(N)` line and uncommenting one of the following three lines.

If making this work is not feasible (better unification for maps was proposed before), there should be a way to change the semantics to make this work, see the next po

[2021-05-20 11:24] virgil-serbanuta commented on #2642
It would be acceptable to change tmp.k to the following
[code]
where `Map ::= concretizeKey(Map, KItem) [function, functional]` is a builtin that always returns the map given as parameter. Additionally, when the following are true:
* `Key in_keys(M)`
* the side condition implies that the key is none of the concrete or symbolic keys in the internal representation
* The opaque part of the map is a v

[2021-05-20 15:38] ttuegel commented on #2642
The proper way to implement existential variables in functions is in the frontend, using uninterpreted functions. Even without explicit support, we can simulate this:

[code]

With these changes, your specification passes. I would like if the frontend supported this better, but hopefully this is enough to get you unblocked.

[2021-05-20 15:49] #2591 closed

[2021-05-20 17:48] virgil-serbanuta commented on #2642
That almost works :) I'm sorry, I can't copy-paste the entire semantics in here, so the previous example was incomplete. Here is a new one, that may also not include everything that matters. The third claim does not pass.

The tmp.k file includes your rules with some changes that were needed, e.g. the second claim would not pass without adding `rule K1 in_keys((K2 |-> _) M) => K1 ==K K2 orBool K1

[2021-05-20 17:49] #2595 closed

[2021-05-20 18:31] virgil-serbanuta commented on #2642
BTW, the intermediate configurations look better if I replace `revealKey's` definition with
[code]

since the predicate contains an equality for `M`, i.e.
[code]

However, for some reason, although `M` is substituted in the configuration, it is not substituted in the predicate (e.g. in the `valuesAreBool(M)` part), which makes the third claim fail. While I have previously seen similar `ensures` cl

[2021-05-20 18:44] hjorthjort commented on #2628
That's good news. I'm using Z3 4.8.7, will try an upgrade

[2021-05-20 19:37] virgil-serbanuta commented on #2564
I'm not sure how to work around this one, it seems stuck in the same way and has no `#as` pattern in functions (there is one in the claim, but removing it does not help):
tmp.k:
[code]
tmp-proof.k:
[code]

[2021-05-21 14:46] hjorthjort opened #2644 "Impossible path condition due to not applying function"
A claim that executes fully fails because it can't prove the final implication. However, in the generated path condition we find the following:

[code]

It seems the function `#TokenTransferData` should apply. That would immediately take this path condition to `#Bottom`:
[code]

[michelson-bug.tar.gz](https://github.com/kframework/kore/files/6523276/michelson-bug.tar.gz)

[2021-05-22 06:37] nishantjr commented on #2644
@hjorthjort Functional rules aren't applied by default when some arguements are symbolic. You need the `simplification` attribute.

[2021-05-24 13:42] hjorthjort commented on #2644
Thanks for the catch @nishantjr

[2021-05-24 13:42] #2644 closed

[2021-05-25 18:13] ehildenb opened #2648 "Allow specifying max number of counter-examples"
This is low priority, because it only affects the generation of automatic optimizations, which is not a _needed_ feature. However, there is no workaround that I'm aware of.

Currently, I'm running a proof like this:

[code]

On `exp-spec.k` which looks like this:

[code]

I happen to know (out of band) that there are _two_ failure cases, one for `W0 ==Int 0` and one for `W0 =/=Int 0`.

Currently,

[2021-05-25 19:03] dwightguth opened #2649 "Binary to apply search patterns to disjunction of configurations"
Right now, the llvm backend is capable of search if you don't specify any search pattern. However, it is a nontrivial effort to make a tool to deal with search patterns on the llvm backend because the search patterns are dynamically generated by user input after the semantics has been installed on the machine, but currently the only way to match a pattern in the llvm backend is to compile some cod

[2021-05-26 14:13] ttuegel commented on #2625
We should check with the `--solver-transcript FILENAME` option, to make sure that the lemma with an `ensures` clause is sent to the solver the way we expect.

[2021-05-26 14:48] andreiburdusa commented on #2625
I replaced
[code]
in `test/smt-lemma/smt-lemma.k` with
[code]

In the solver transcript file, the line
[code]
was replaced with
[code]

[2021-05-26 16:57] nishantjr commented on #2407
@ttuegel  It looks like `:rlimit` does not terminate the solver, at least on version 4.8.8 and 4.5.1
I looked through the Release notes and Issue tracker for Z3 but wasn't able to find any mentioning the possible regression you found. Even if there is a regression on some version I feel this is a valuable feature to have.

Test for 4.5.1:

[code]

[2021-05-27 14:09] ttuegel commented on #2625
Can you update [this section](https://github.com/kframework/k/blob/master/pending-documentation.md#smt-lemma-lemma-and-trusted-attributes) of the frontend documentation? It says that side conditions are not supported for `smt-lemma` rules, but that isn't true.

[2021-06-02 10:49] #2625 closed

[2021-06-03 14:24] ttuegel opened #2658 "Can we build with -eventlog by default?"
We want to know if we can build the executables with `-eventlog` by default without a performance penalty.

[2021-06-04 09:49] #2454 closed

[2021-06-04 14:28] ttuegel commented on #2520
For the `Simplify` step, we will not make any assumptions about what functions are evaluated. For `ApplyClaims` and `ApplyAxioms`, we will assume that the left-hand side of the current claim (goal) is fully simplified and add any non-constructor-like function terms to the metadata field in the `SideCondition`.

In [`evaluateApplicationFunctions`](https://github.com/kframework/kore/blob/c2ce560a2e3

[2021-06-04 19:12] emarzion commented on #2627
This flag seems to be working now so closing for the time being.

[2021-06-04 19:12] #2627 closed

[2021-06-07 14:38] ttuegel commented on #2596
1. `shortDoc` should be called `contextDoc`, because it's completely unclear what it's used for.
2. Add `oneLineDoc :: entry -> Maybe (Pretty.Doc ann)` that prints a one-line entry.
3. Modify `makeKoreLogger` to take a format option, and print using the appropriate format.

[2021-06-07 20:52] ttuegel commented on #2624
I just checked [wasm-semantics](https://github.com/kframework/wasm-semantics) and it is up-to-date with the latest frontend and backend releases. Therefore, the problem must be with the test harness. @MirceaS please do not debug this further, I need to take this issue elsewhere.

[2021-06-08 14:18] ttuegel commented on #2593
Actually, this one is not ready because we also need to change the LLVM backend.

[2021-06-08 14:22] ttuegel commented on #2610
Part of this will be completed in #2623 and part in #2570. The remaining part is to remove it from `Kore.Step.Simplification.Iff`. When there are multiple children under `\iff(_, _)`, we should expand it to `\and(\implies(_, _), \implies(_, _))`. The simplifiers for `\and` and `\implies` don't use `toPattern`, so this will take care of it.

[2021-06-10 09:20] ana-pantilie commented on #2623
I think I have a vague recollection of what we discussed about this issue, that we basically shouldn't ever get to simplifying `\\rewrites`. So I believe the next step here would be to remove the `Rewrites` simplifier entirely and just not simplify `Rewrites` in the term simplifier (maybe call `doNotSimplify` like [here](https://github.com/kframework/kore/blob/dfbaeed02fb9327a08089969c160d5931118e

[2021-06-10 14:32] ana-pantilie commented on #2592
@emarzion I think we can start with adding one of each type of test from this issue: https://github.com/kframework/kore/issues/2508. They're tests which have been (and might still be) impacted by performance regressions in the past, so I think they're good candidates for having them run on our CI as well.

I was thinking something like:
[code]

I think we should make sure they run under ~5m. If an

[2021-06-10 15:28] ehildenb opened #2669 "Slow proof on Haskell backend"
The attached proof takes 56s on the Java backend, but 4000s on the Haskell backend.

Can we get a profile of it to see what the bottleneck is? I suspect that the builtin Bytes type by the Haskell backend is really inefficient, given that this proof manipulates bytes directly and we know that `computeValidJumpDests` (another bytes manipulation algorithm) is also slow.

[kevm-bug-bytes00.tar.gz](htt

[2021-06-11 17:18] JKTKops opened #2670 "Poor Productivity Warnings"
While working on migrating `evm-semantics` proofs to the Haskell backend, we started seeing some warnings like these:
[code]

The mentioned verification file is [here](https://github.com/kframework/evm-semantics/blob/0cb565e85b54a9d9e5c12acfb38f5236d039a303/tests/specs/benchmarks/verification.k) and the specs are [storagevar01-spec](https://github.com/kframework/evm-semantics/blob/0cb565e85b54a9d9

[2021-06-14 10:06] andreiburdusa commented on #2407
I added the `:rlimit` option but didn't remove `:timeout`. Can this issue be closed?

[2021-06-14 13:53] andreiburdusa commented on #2407
I added the `:rlimit` option but didn't remove `:timeout`.

[2021-06-14 13:53] #2407 closed

[2021-06-14 14:42] ana-pantilie commented on #2639
We should turn `explainBottom` into a log entry instead.

In kore-repl we should temporarily turn on this log entry [here](https://github.com/kframework/kore/blob/77f99c0e6c8ad19f06c7f4c34e64c838bdf91cb0/kore/src/Kore/Repl/State.hs#L622).

[2021-06-14 16:30] ttuegel opened #2673 "Regression testing"
This is a conversation to brainstorm and evaluate methods to reduce the burdens that regression testing puts on team and technology.

## Needs

The team needs low-latency feedback on potential regressions to performance and correctness in downstream projects.

## Status

We maintain our own regression test suite for minimal, feature-oriented examples. This discussion does not concern these tests.

[2021-06-14 16:36] ttuegel commented on #2673
There are mitigations for the disadvantages of Proposal 1, but they require global cooperation with the other teams:

1. We can mitigate the loss of detailed performance information by exporting that feature from our repository into the downstream projects.
2. We can reduce overall latency by addressing sources of latency elsewhere in the system. A large source of latency is updating the frontend

[2021-06-14 16:47] ehildenb commented on #2673
## Proposal 1

This is closer to how the existing setup is. I think the problem that comes up the most often is not diligence, because in our case we are automatically opening PRs into downstream projects and testing them, and those get checked fairly frequently. The biggest problem is competing demands, AFAICT. Some changes which improve the KWasm situation end up breaking KEVM, for example, in a

[2021-06-14 16:52] ehildenb commented on #2673
One thing we could do to shorten latency of the current update process is to have the automerger force-merge update PRs which:

- Are up to date.
- Are passing tests.
- Have not had any modifications to any files in the repo except the submodule.

I think we would see slightly higher merge-rate using this approach, which would help a bit.

I also am personally of the opinion that this problem cann

[2021-06-14 17:02] ehildenb commented on #2673
## Proposal 3

Staging branch for Haskell backend.

- New pull requests are opened into `develop` branch, which triggers automatic submodule updates on a few key downstream projects (K, KEVM, KWasm, etc...) also on their `develop` branches.
- Once all the listed downstream projects ("in scope") pass CI on that branch, the backend `master` branch is pushed to be equal to `develop` branch.
- If a ch

[2021-06-14 18:30] ttuegel commented on #2673
Proposal 3 is the same as Proposal 1, except for changing the names. At present, we have:

- kframework/k submodule -> `<hash>`
- kframework/kore -> `master`

Proposal 3 would change this to:

- kframework/k submodule -> `master`
- kframework/kore -> `develop`

The frontend/backend combination is already tested with downstream projects whenever it is updated, which is practically every commit of t

[2021-06-14 22:13] ehildenb commented on #2673
The hotfixes argument is a red-herring. If you don't do hotfixes now I don't think you need to start. I was just providing that as a way to mitigate the problem that "time from PR being opened to it being available in `master` gets longer". Yes it is more integration work, but if your goal is to make sure that changes don't get merged which break downstream projects, you will have to take on more

[2021-06-14 22:15] ehildenb commented on #2673
Anyway, let me know if you need a feed of downstream CI commit release tags setup from the devops repo, and which you would be interested in having.

[2021-06-15 11:49] #2658 closed

[2021-06-15 14:14] ana-pantilie commented on #2639
Replace the default logger [here](https://github.com/kframework/kore/blob/5fddbb087dedd928b08414a23bca6c13dd672d59/kore/test/Test/Kore/Repl/Interpreter.hs#L708) with some implementation of `MonadLog` which records the logs.

[2021-06-15 14:24] ana-pantilie commented on #2624
https://github.com/kframework/kore/blob/5fddbb087dedd928b08414a23bca6c13dd672d59/scripts/generate-regression-tests.sh#L92

[2021-06-15 16:34] ttuegel commented on #2670
I don't think there is any problem here. First, 89% is really borderline (the cut-off to see the warning is 90%). Second, these warnings are happening on Jenkins. If there is any resource contention on Jenkins, for example anything that would slow down Z3, then I would expect the value to drop. You can re-open the issue if you can reproduce it locally.

[2021-06-15 16:34] #2670 closed

[2021-06-15 17:15] ana-pantilie opened #2675 "Profiles are hard to read"
The (Profiteur) profiles are hard to read because of some laziness issues. In order to fix this, @ttuegel  suggested we rewrite the following:
- [whileReachability](https://github.com/kframework/kore/blob/2076934d030c1cd2b5a498104aed5481b841ac19/kore/src/Kore/Log/InfoReachability.hs#L39) so that all of the arguments are named and using do-notation
- [withDebugProven](https://github.com/kframework/

[2021-06-15 17:41] JKTKops commented on #2669
The proof takes 321 steps, so at Everett's recommendation I started looking at --depth 100.

A profile of the first 100 steps doesn't looks suspicious (there's no long calls to any particular functions deeper than `Log.>>=`) and it takes ~8 minutes which seems... slightly high (assuming 4x profiling overhead), but not necessarily unreasonable.

I'm currently logging --depth 150 and it's at >30m (e

[2021-06-15 21:12] ttuegel commented on #2669
That assumption is low; I would assume at least 6x overhead, and probably more like 10x.

Unfortunately, this isn't an interesting result: it only means that the backend spends most of its time simplifying patterns, which is expected.

[2021-06-16 16:49] #2596 closed

[2021-06-16 16:57] ttuegel commented on #2673
Just for the purpose of focusing the discussion, I want to remark that preventing breakage is not one of the goals of this discussion or of our current testing regime. We don't have regressions in downstream projects because we they have mandatory testing policies: updates aren't merged until the tests pass. What we have are potential regressions, and the concern here is lowering the latency of th

[2021-06-16 17:07] ttuegel commented on #2673
This entire scenario is trivially avoided with [feature flags](https://www.martinfowler.com/articles/feature-toggles.html).

[2021-06-17 15:24] JKTKops opened #2682 "Additional Log Entries for Tracking Progress"
It would be great if we could get a log entry for when the prover starts working on a proof (e.g. `DebugStartedProveClaim`) and also when it succeeds or fails.

On the KEVM proof suite we're trying to use the new one-line logs to collect data about which rules (or sequences of rules) are used frequently and how long they take (see kframework/evm-semantics#1048). To separate different proofs in the

[2021-06-17 19:23] JKTKops commented on #2682
According to @ttuegel, our methodology misattributes quite a bit of time to rewriting. In order to do better, we would also want a log entry immediately before rewriting starts.

[2021-06-18 10:32] ana-pantilie commented on #2682
What exactly are you interested in timing? Basically, the backend goes through the following loop every rewrite step:
1. We simplify the LHS and the RHS of the claim we are currently proving
2. We check the implication
3. We apply claims
4. We apply axioms
5. We simplify the LHS and the RHS again

So, are you interested in only timing 3. and 4. (the actual rewriting), or is simplification time of

[2021-06-18 11:21] virgil-serbanuta opened #2684 "Haskell backend not fully evaluating predicate"
The following part of a predicate is not fully evaluated. This started happening at commit https://github.com/kframework/kore/commit/74d28e09382cb0206cb8e087dc172cd5539b7e68 .

[code]

To reproduce:

Unpack [bug.tar.gz](https://github.com/kframework/kore/files/6676686/bug.tar.gz)
[code]

In the repl:
[code]

[2021-06-18 11:36] ana-pantilie commented on #2684
What should this evaluate to?

[2021-06-18 12:54] ehildenb commented on #2682
I'm interested in (1) and (4).

Specifically, I want to know if a given rule causes a lot of time to be spend in (1) the next step, or if a given rule takes a lot of time to unify/simplify side-conditions (4).

[2021-06-18 14:00] ttuegel commented on #2684
This is not something that the backend should be able to evaluate. It is plausible that Z3 could show that this is infeasible, but the `in_keys` complicates matters. It's also possible that this state is infeasible for some reason not shown here. @virgil-serbanuta Could you show the entire output?

[2021-06-18 14:33] ana-pantilie commented on #2626
1. Document that we send terms we know are defined.
2. Document the initialization process (during which we also send `smt-lemma`s).

[2021-06-18 14:35] ana-pantilie commented on #2474
The issue description is out of date, see comment.

[2021-06-18 14:41] ana-pantilie commented on #2682
We should also remove `DebugClaimState` separately which kind of does this but is not useful.

[2021-06-18 14:59] ana-pantilie commented on #2648
Keep list of stuck claims, modify https://github.com/kframework/kore/blob/23c6c22f91ddd491e2e7c0669fb112822d674665/kore/src/Kore/Reachability/Prove.hs#L162 to keep State as well.

[2021-06-18 15:49] virgil-serbanuta commented on #2684
Sure, but first let me say that this issue started occurring at an earlier commit, most likely this one (though it can't be reproduced with the spec above, see below for another example): https://github.com/kframework/kore/commit/67d4d23698551ba29228864fdff55a15d86f3d55

Also, note that this seems to be a rather drastic change in the Haskell backend behaviour.

The new example: [bug1.tar.gz](https

[2021-06-19 16:14] ttuegel commented on #2684
@ana-pantilie Here is a key clause I think we should consider:

[code]

Why isn't the second equality used to generate a substitution into the first? That is necessary for simplification to proceed.

[2021-06-19 16:16] ttuegel opened #2686 "Incorrect unification result for LIST.concat"
The backend incorrectly gives `\bottom` for this unification problem:

[code]

Instead, the result should be

[code]

[2021-06-22 09:16] ana-pantilie commented on #2684
How? The second equality contains `address ( UserAddress0 ) in_keys ( _AddressToUserId )`, not `address ( CallerAddress0 ) in_keys ( _AddressToUserId )` so I don't understand how that would work.

[2021-06-22 13:28] ana-pantilie commented on #2321
Will this issue still be valid after https://github.com/kframework/kore/issues/2520?

[2021-06-22 13:40] ttuegel commented on #2684
You're right, I think I mis-read that term.

So, I actually can't think of any reason that the backend should be able to simplify this further, and I think that the "proof" using the earlier commit is incorrect.

[2021-06-22 13:43] ttuegel opened #2689 "Sort injections marked "conditionally" simplified"
Simplified sort injections are incorrectly marked "conditionally" simplified, so that they are re-simplified every time the side condition changes. The side condition is not considered when simplifying sort injections, so these simplifications are redundant.

[2021-06-22 14:31] ana-pantilie commented on #2593
We should see if we have to modify https://github.com/kframework/kore/blob/master/design-decisions/2020-05-02-function-rules.md as well.

[2021-06-22 15:31] virgil-serbanuta commented on #2684
@ttuegel While the previous proof may be incorrect, please note that `invariantStateFull` should probably be evaluated regardless of what happens to the predicate. Also, consider this:

The backend can, in principle, automatically add `#Ceil(LHS)` to the predicate. I think it used to do that, maybe it still does. When simplified, `#Ceil(LHS)` should contain, among others `#Ceil(_AddressToUserId

[2021-06-22 17:02] JKTKops commented on #2682
Any more information on this? I'll go ahead on a branch and start adding the infrastructure for some new log types, but I'd need some guidance as to (1) what new things are worth logging to measure 1 and 4 above and (2) where to actually invoke the logger.

[2021-06-22 17:49] #2623 closed

[2021-06-23 12:54] ana-pantilie commented on #2682
Sorry, my understanding was that @ttuegel already discussed what the next steps are, I probably just misunderstood.

So, I was thinking about `DebugClaimState`. Right now, this logs every transition (meaning step from the list in the comment above, we call these steps transitions) _after_ it was executed, together with the previous configuration and the new configuration. This information is too v

[2021-06-23 14:30] ana-pantilie commented on #2684
Why can't `invariantStateFull` be evaluated now?

[2021-06-23 14:57] ana-pantilie commented on #2675
@emarzion I was profiling `test/regression-wasm/test-wrc20-spec.sh` using the generated `.prof` file in Profiteur. Inside Profiteur, I was looking at alloc information.

[2021-06-23 15:33] JKTKops opened #2691 "Usability for KEVM"
Everett suggested I keep an issue here to keep track of our ideas for improving usability from the KEVM team. Starting next week, I'll be working more on the Haskell backend directly with the goal to "Make KEVM faster."

So far, our ideas mostly revolve around making it easier to profile proofs.
- [x] #2682, for getting timing data about particular `rule`s from log entries
- [ ] Possible options f

[2021-06-24 03:39] ehildenb opened #2695 "Master branch fails KEVM proof-suite"
On K master (* 72d33ae0e0 - Update dependency: haskell-backend/src/main/native/haskell-backend (#2016)), which is immediately after merging this PR: https://github.com/kframework/k/pull/2016

I have a proof that loops. This comes from KEVM, prior to this it takes about 25s for this proof to run, but now it times out with a time limit of 50min.

Here is the minimized example `test.k`:

[code]

To r

[2021-06-24 03:42] ehildenb opened #2696 "Using `--bug-report` does not work for proofs which loop in initial simplification step"
If you have a proof which loops in the initial simplification step, even if you supply `--bug-report FILE_NAME`, if does not produce a bug report. Or if the user kills the process prematurely (eg. a `timeout NNN kprove ...` command, or `Ctrl+C`), no bug report is produced.

So I guess we should produce the bug report _first_ if the user supplies the `--bug-report` option, _then_ do the execution.

[2021-06-24 13:48] ana-pantilie commented on #2695
Since this passes with a version of the backend which is ~1 month old, I'm not that sure anymore that this is related to the predicate simplification loop (this is an older issue). So I think we could take a look at this before we get the predicate simplifier fixed. We should at least identify the version of the backend this starts failing, or check that this isn't actually an issue with the spec/

[2021-06-24 14:45] ana-pantilie commented on #2696
@ttuegel suggests we could add a separate tool which just generates the bug reports without doing any execution.

[2021-06-24 19:03] ttuegel opened #2698 "Ceil simplification could be lazy"
At present, the child terms of predicates are always simplified before the predicate itself; for example, in the predicate `\ceil(T)`, `T` is always fully simplified before trying to evaluate its `\ceil`. That makes sense for most of the predicates, but it may be wasteful for `\ceil`. Consider a pattern such as `\ceil(f(X₁, X₂, ...))` where `f(...)` is a total function that is expensive to compute

[2021-06-25 14:49] #2689 closed

[2021-06-25 15:56] JKTKops commented on #2682
If I'm understanding correctly, to do this we'd want to lift the `look` function from `Control.Monad.Trans.Accum.look` and then specialize `debugClaimStateBracket` to `TransitionT`. Does that sound right?

We'd probably want to modify `DebugClaimState` so that it only carries one `Maybe (ClaimState SomeClaim)`^1 and additionally carries a list of rules (specifically, their source locations are pro

[2021-06-25 16:52] virgil-serbanuta commented on #2684
FWIW: If I define a new function `not_in_keys(KItem, Map)` and I use that instead of  `in_keys` everywhere, this issue seems to go away (`invariantStateFull` is evaluated, and the predicate looks more or less as expected).

I think that this happens because the `orBool` expression mentioned here: https://github.com/kframework/kore/issues/2684#issuecomment-864426036  (which is produced by a custom

[2021-06-25 19:10] JKTKops commented on #2682
I went ahead in the draft PR and tentatively tried to do this.

Lifting `Control.Monad.Trans.Accum.look` isn't good enough, because in this case we actually do want the behavior of `MonadWriter.listen`. Instead, I implemented a `Transition.record` function which behaves like `listen`, giving only the rules which were added during that action.

[2021-06-25 21:39] #2686 closed

[2021-06-26 02:57] ehildenb opened #2700 "Set simplification not working"
On K master commit (72d33ae0e0), the following very simple spec does not work. This affects some KEVM proofs which are being ported.

[code]

To reproduce the failure:

[code]

[2021-06-26 19:37] ttuegel opened #2701 "Remove duplicated code between ==K, ==Int, and ==String"
There is a lot of duplicated code between the unification handlers for `==K`, `==Int`, and `==String`. The implementation of these unification handlers should be identical.

[2021-06-27 00:45] rod-lin opened #2703 "Add log and document prover behavior when claim has `\\bottom` RHS"
Hello! This is probably an edge case but I think kprove is supposed to validate the `A-SPEC` spec below:
[code]

[code]

But instead it gets stuck at
[code]

I think perhaps it applied the semantics rule first before applying the claim inductively?
The java backend is able to prove this.

[2021-06-27 21:46] ttuegel commented on #2400
Even after we remove `simplifyTermLike`, we will have to modify the particular simplifiers it delegates to, so that they return unsimplified predicates. All predicate simplification should be handled in the outer `Pattern` simplification loop.

[2021-06-27 21:49] ttuegel commented on #2520
As an intermediate step toward removing the `Simplified` attribute, we can remove the `SideCondition` argument it stores, in favor of the changes described above. That way, we get a lot of the performance benefit of removing the attribute without all of the behavior changes at once. We would just have to reset the `Simplified` status of any conditionally-simplified attributes after each rewrite st

[2021-06-27 21:52] ttuegel commented on #2327
The reason that we originally implemented the top-down unification solver instead of a traditional unification algorithm is that Matching Logic `\and` corresponds to unification and the top-down solver makes it easy to reconstruct the term which is the unification solution. We can use the traditional algorithm for `\in` and `\equals`, which are the bulk of unification problems the backend solves.

[2021-06-27 21:54] ttuegel commented on #2624
Unless we can make progress on a solution here very soon, we should just switch to running the regression tests from a clone of the upstream repositories, invoking the frontend every time.

[2021-06-27 21:57] ttuegel opened #2704 "kore-prof: Simple text report"
It is difficult to analyze large `kore-prof` reports with Speedscope because it cannot handle such large files. We should add an output mode for `kore-prof` which prints a table of entries with the name of each entry, the number of times it appears, and the total time spent in that entry. This would allow many hot spots to be identified without using Speedscope, but it would also allow users to ea

[2021-06-27 22:13] ttuegel opened #2705 "Investigate optimisations related to Z3 usage"
### New description
Whoever picks up this issue should:

- [ ] measure if time spent in Z3 interaction/parsing/unparsing is relevant
- [ ] audit Z3 interaction code
- [ ] research alternatives and report

Relevant code:

https://github.com/runtimeverification/haskell-backend/blob/master/kore/src/SMT.hs
https://github.com/runtimeverification/haskell-backend/tree/master/kore/src/SMT
https://github.c

[2021-06-27 22:26] ttuegel opened #2706 "Automatically update Stackage resolver"
We have a script to update the Stackage resolver. We could run it automatically each week, in the same way we automatically update the regression tests once weekly.

[2021-06-28 08:15] ana-pantilie commented on #2624
I had a similar discussion with @ehildenb on this topic. There's one problem with doing that: for tests where the expected output is a kore pattern (not `\\top`), if the backend needs to change that output we won't be able to update the backend until the downstream project updates its output, and this will turn into a circular dependency. So we'd need a solution for that, like specifying the branc

[2021-06-28 09:12] ana-pantilie commented on #2682
I was initially thinking of separating the two cases by making the new `DebugClaimState` a sum type.

We could also do that, having two types would imply the following:
1. users can choose to print only "before" or only "after" logs
2. users would have to specify both log entries when wanting to see full transitions

My concern is that people would generally want to see full transitions, so it'd b

[2021-06-28 14:00] ttuegel opened #2707 "Steps towards removing Mu and Nu"
After merging #2702, we can replace the class `Binding` with instances of `Substitute` defined over `Exists`, `Forall`, etc. We can also define `Substitute` instances over the non-binding constructors in `Kore.Syntax` to simplify the `Substitute` instance of `TermLike`.

[2021-06-28 14:02] ttuegel opened #2708 "Remove module Kore.Variables.Target"
This module is not actually used anywhere. (It's imported into `Kore.Step.Step`, but it is only used there to define a function that is not actually used.)

[2021-06-28 14:14] ana-pantilie commented on #2648
@ttuegel suggests to test if we actually need `throwUnproven`: we can write `claim a => a ensures false` and run it with depth 1 it should not report depth limit exceeded. If we do need it, just factor out common elements between `throwUnproven` and `throwStuckClaims`.

[2021-06-28 14:45] JKTKops commented on #2682
No this is a good point, I think we'd always want both. On the other hand, how would we set up specifying that we only care about the (first) simplification step and the `ApplyAxioms` step? (which is what Everett suspects we want) Perhaps the best way is to say "you don't get to specify that, but you can pull it out of the logged information." This seemed to be the conclusion in today's standup, s

[2021-06-28 14:59] ana-pantilie commented on #2321
@ttuegel suggests we profile `specs/benchmarks/encode-keccak00-spec.k` and `specs/benchmarks/storagevar03-spec.k`, see if we spend too much time trying to apply equations.

[2021-06-28 15:23] ana-pantilie opened #2709 "Rewrite Map and Set unification"
The [implementation](https://github.com/kframework/kore/blob/6a50966ea3f2c685f029ccdddb922fab208d02f0/kore/src/Kore/Builtin/AssociativeCommutative.hs#L699) for Map and Set unification doesn't clearly define what unification cases it's handling. We should rethink and add a design document for Map and Set unification, then reimplement based on that.

Related to https://github.com/kframework/kore/iss

[2021-06-28 15:36] ana-pantilie commented on #2624
@ttuegel suggests [feature flags](https://www.martinfowler.com/articles/feature-toggles.html) would solve this issue and give us better control.

We discussed looking into this issue one last time, since cloning the repositories would require running the regression tests only on master builds due to the increased run time.

[2021-06-28 18:40] ttuegel opened #2711 "Use Implication for all rules and claims"
We use [`Implication`](https://github.com/kframework/kore/blob/6a50966ea3f2c685f029ccdddb922fab208d02f0/kore/src/Kore/Step/Implication.hs#L96) for some types of claims, but it should be used for all claims and rules, replacing `ClaimPattern`, `RulePattern`, and the like.

This is especially important because (I think) the `Substitute` instances for `ClaimPattern` and `RulePattern` could capture va

[2021-06-29 01:29] ttuegel commented on #2684
The backend simplifies `false #Equals (X orBool Y)` to `{ false #Equals X } #And { false #Equals Y }`.

[2021-06-29 01:32] #1383 closed

[2021-06-29 01:33] ttuegel commented on #1383
We did not add `freeVariables` to the class `Substitute` because it was convenient to define `freeVariables` for types that don't have a natural `Substitute` instance. We did not add `refreshVariables` to the class because it already belongs to a class for rules, and not all patterns have a sensible notion of refreshing variable names. We also did not add `mapVariables` and `traverseVariables` bec

[2021-06-29 04:49] #2675 closed

[2021-06-29 08:49] #2639 closed

[2021-06-29 09:07] ana-pantilie opened #2713 "Reset `Simplified`attribute on `SideCondition.Representation`"
It occurs to me that in this function, we should also strip the `Simplified` attribute off every `Predicate` and `TermLike`, because those can refer back to earlier `SideCondition`s, which would be pretty inefficient.

_Originally posted by @ttuegel in https://github.com/kframework/kore/pull/2662#discussion_r660229203_

[2021-06-29 09:12] ana-pantilie commented on #2711
Looks like this is closely related to https://github.com/kframework/kore/issues/2192.

[2021-06-29 09:22] ana-pantilie commented on #2704
Right now `kore-prof` is a wrapper around `eventlog2speedscope`. I believe this feature should be added directly to `kore-prof`, as this seems out of the scope of `eventlog2speedscope`. Is this what you had in mind as well?

[2021-06-29 11:14] MirceaS commented on #2695
This issue was introduced by commit `67d4d23698551ba29228864fdff55a15d86f3d55`

[2021-06-29 11:48] ana-pantilie commented on #2695
Hmm, that's weird! Could something have been broken in `Bool` unification?

[2021-06-29 14:06] ana-pantilie commented on #2570
Equals, In -> similar to Ceil
Floor -> just desugar it to Not Ceil Not
Forall -> just desugar it, unless there's only one predicate under it (inside the Or collection)

[2021-06-29 14:22] ana-pantilie commented on #2695
@ttuegel Suggests to run with the equation debug logs and see if it gets stuck while simplifying the side condition.

[2021-06-29 15:25] ana-pantilie commented on #2703
I discussed this issue with @ttuegel, the conclusion is this: we don't support attempting to prove claims which have `\\bottom` RHSs. We currently stop the proof if we detect that the RHS of the claim is `\\bottom`. If we didn't do that, in the general case we would end up looping forever.

Thanks for opening this issue, though, because we realized that we should add a section in [K's pending docu

[2021-06-29 15:30] ana-pantilie commented on #2649
@dwightguth Do you have any input examples for this tool?

[2021-06-29 16:14] ttuegel commented on #2570
`\equals(_, _)` and `\in(_, _)` have simplifiers in `Kore.Step.Simplification`. We can use them directly as long as they already return `OrCondition`. If they don't, they could easily be changed to do it. (After we remove the old `TermLike` simplifier, we need to make these simplifiers be non-recursive.)

I think `\floor(_)` and `\forall(_, _)` need to be desugared usually. Simplifying their child

[2021-06-29 16:49] #2586 closed

[2021-06-29 19:33] ttuegel opened #2715 "Move Kore.Rewriting.RewritingVariableName"
The type `RewritingVariableName` should be used in every internal context (e.g. the simplifier) as the only variable name type. It shouldn't be called out specially; it should just live in `Kore.Internal.VariableName`.

[2021-06-29 19:50] ttuegel opened #2716 "Kore.Builtin mixes concerns"
The module hierarchy under `Kore.Builtin` mixes concerns between validation, simplification, and unification. It would be best to separate these behaviors.

There is an argument to be made that, for each built-in type, these workflows belong together. But, I think that each of the workflows happens in a different context, and we should not mix or confuse them.

[2021-06-29 21:56] ttuegel opened #2717 "Kore.Attribute mixes internal and external contexts"
The `Kore.Attribute` module hierarchy mixes internal attributes (e.g. `Synthetic` attributes) and external attributes (the kind parsed from a Kore sentence). Ideally, these would be separate in `Kore.Internal` and `Kore.Syntax`. This is an example of the kind of problem Bounded Contexts are meant to solve: the word "attribute" means different things in different contexts.

[2021-06-30 10:08] andreiburdusa commented on #2648
We only emit `WarnDepthLimitExceeded` when using `koreRun`. Should we add the warning for `koreProve` as well or remove `throwUnproven`?

[2021-06-30 10:27] ana-pantilie commented on #2321
I want to be 100% sure I understand what this issue is about. My current understanding is the following:
- the first time equation `E` gets attempted on term `T`, and it doesn't apply:
    - if it doesn't apply because it doesn't match, we store that term in `E`'s evaluator;
    - if it doesn't apply because of the side condition, we store the term and its side condition;
- the second time `E` is

[2021-06-30 12:22] ana-pantilie commented on #2648
Well, when using `koreRun` we don't really have this concept of "stuck" or "unproven" configuration. I'm not sure about adding the warning, though.

So, do we actually need `throwUnproven` there, did the test show anything?

[2021-06-30 12:30] andreiburdusa commented on #2648
The only place we call `warnDepthLimitExceeded` is in `exec`, which is called by `koreRun`. Doesn't it mean there's no way for `koreProve` to emit `WarnDepthLimitExceeded`, and therefore making the test useless?

[2021-06-30 12:31] ana-pantilie commented on #2321
Also, should this still wait until https://github.com/kframework/kore/issues/1978?

[2021-06-30 13:17] geo2a commented on #2700
I modified introduced names for all rules in the example:
[code]
To see which equations are applied by `kore-exec`, I set the `KORE_EXEC_OPTS` environmental variable:
[code]
After running `kprove`, the first entry in the log file reports an attempt to apply rule `pred.false` (line 18):
[code]
I looks like the `kore-exec` is saying that it can't infer the requirement ` 1 <=Int X andBool X <=Int 9`

[2021-06-30 13:19] andreiburdusa commented on #2648
The test doesn't emit `WarnDepthLimitExceeded`, but the only place we call `warnDepthLimitExceeded` is in `exec`, which is only called by `koreRun` from what I see, so I don't think that's relevant.

[2021-06-30 13:20] andreiburdusa commented on #2648
The test doesn't emit WarnDepthLimitExceeded, but the only place we call warnDepthLimitExceeded is in exec, which is only called by koreRun from what I see, so I don't think that's relevant.

[2021-06-30 13:23] ana-pantilie commented on #2648
Oh, got it. And actually, I just realized, this test should get stuck during the first rewrite step, so I'm confused about how it could help us figure out what's happening here.

[2021-06-30 13:59] geo2a commented on #2700
This problem is most likely related to simplification rules that operate over sort `Set`. Here is a **working** example that is similar in structure, but does not use `Set`:
[code]

[2021-06-30 14:29] ana-pantilie commented on #2626
https://github.com/kframework/kore/tree/master/kore/src/Kore/Step/SMT

[2021-06-30 14:34] ehildenb commented on #2648
These are the two rules I expect it to branch on (and both should fail):

[code]

https://github.com/kframework/evm-semantics/blob/master/evm.md#execution-gas

[2021-06-30 15:06] ana-pantilie commented on #1978
@ttuegel suggests that we add definedness conditions of the `term` [here](https://github.com/kframework/kore/blob/3173ec42e2a342e52c5f712d1ff4b6c64b2eb107/kore/src/Kore/Step/Simplification/Application.hs#L127) to the `predicate` and the `SideCondition` (in the `definedTerms` field). We need to see how this will affect performance.

[2021-06-30 15:39] ttuegel opened #2721 "Simplification integration tests are flaky"
The tests in `Test.Kore.Step.Simplification.Integration` are flaky with respect to time and memory use. We should add a timeout by applying `localOption (mkTimeout _)` to the affected tests. (See: [`localOption`](https://hackage.haskell.org/package/tasty-1.4.1/docs/Test-Tasty.html#v:localOption), [`mkTimeout`](https://hackage.haskell.org/package/tasty-1.4.1/docs/Test-Tasty.html#v:mkTimeout)`).

Re

[2021-06-30 17:56] ttuegel commented on #2321
Yes, this is exactly right.

[2021-06-30 19:37] JKTKops commented on #2704
When you typically use `kore-prof` on a semantics, do you find that the output information helps finding the bottleneck rules? Some clarity questions for this:
1) What does total time actually tell you? Self time seems much more relevant, but gathering self-time information seems harder.
2) If one _particular_ application (self-time/resulting simplification) of a rule is much slower than typical a

[2021-07-01 10:44] ana-pantilie commented on #2704
Why do you think self time is more relevant?
I think total time is pretty relevant as well, but maybe I'm wrong. If we could view each entry and its total time, if anything stands out, like simplifying a particular symbol application, we'd know where to look for possible inefficiencies.

I don't think we have any direct information on _rules_. We have information about the _terms_ which are simpli

[2021-07-01 14:28] JKTKops commented on #2704
My understanding, which could totally be wrong, is that total time includes all the time spent _under_ that symbol as well. For example, if we are trying to simplify a call to `+Bytes`, and one of the arguments is huge, then the `:simplify:Lbl'UndsPlus'Bytes'Unds'...` frame will include the time to simplify the large argument as well. Self time wouldn't. Maybe I don't understand this... or maybe I

[2021-07-01 15:14] ana-pantilie commented on #2700
@ehildenb Do you know when this issue started appearing? I think I know what's going on, but I'm confused about why this is recent (or maybe it isn't?).

[2021-07-01 16:49] #2520 closed

[2021-07-01 19:18] JKTKops opened #2724 "Wiki pages are outdated"
- [ ] Home
  - reference to "Coding Standards" page that does not exist, probably intended to point at Style Guide.
- [ ] Debugging
  - `kore-repl` seems to accept any registered log entry. Instead of listing them (as the list seems quite outdated), it should defer to `kore-repl --help`'s section on `--log-entries`.
  - Should mention `--log-format=oneline` for making log entries more palatable fo

[2021-07-01 23:35] virgil-serbanuta opened #2725 "Unevaluated function"
The predicate for one of my proofs contains an unevaluated function, and I think it should be easy to evaluate it. I'm using commit 252ff7bfeac9895d8511a4af6b7d33f4902ad749 , see below for how to reproduce. FWIW, this works at commit 1724c5c23afea515f4c58328d1f42abc5de6e15c (i.e. the function is evaluated, and, if the entire semantics is used, the proof works).

To be specific, the `countMapElemen

[2021-07-02 08:28] ana-pantilie opened #2726 "`kore-repl` log format command"
We should add a `kore-repl` command to toggle one-line logging.

[2021-07-02 09:31] ana-pantilie commented on #2704
I think if that's the case, then we'd have a similar entry for the top symbol of the huge argument, and we'd notice that there's a problem there.

After some thought, I'm not that sure anymore if self time is really that useful for profiling the semantics. I think it usually just means the backend is doing some work for which we don't emit events.

I think there is some confusion here. The log ent

[2021-07-02 10:30] ana-pantilie opened #2729 "Remove the `Simplified` attribute"
~After #2570, #2730, #2713 this should be fairly easy to do.~

This is _not_ easy to do. All attempts have produced bad performance regressions. This can only be done while also rewriting the simplifier.

[2021-07-02 11:13] ana-pantilie opened #2730 "Intermediate step toward removing the `Simplified` attribute"
After #2713.

As an intermediate step toward removing the `Simplified` attribute, we can remove the `SideCondition` argument it stores, in favor of the changes described in #2520. That way, we get a lot of the performance benefit of removing the attribute without all of the behavior changes at once. We would just have to reset the `Simplified` status of any conditionally-simplified attributes afte

[2021-07-02 13:33] JKTKops commented on #2704
To notice that problem, you'd have to know that the top symbol of the huge argument appears under the call to `+Bytes`, which wouldn't be apparent in this text format, right? I suppose this format could help you identify _potential_ problems, which can then be investigated further with `--matching-children` and speedscope.

`kast` doesn't work, because most labels we would want to de-munge take ar

[2021-07-02 16:46] ehildenb commented on #2700
It never worked as far as I know.

[2021-07-02 16:49] #2682 closed

[2021-07-05 14:22] ana-pantilie commented on #2700
Experiment: remove https://github.com/kframework/kore/blob/25c91ec03dcac3e8ded17cdad505f2e2554038c5/kore/src/Kore/Builtin/Set.hs#L369 and give this test another try.

[2021-07-06 08:00] ana-pantilie opened #2732 "Design (and change?) evaluation order"
Add design doc on evaluation order (hooks, definition rules and simplification rules).

We should also discuss some proposed changes, like attempting user-defined rules even if hooks apply. Such a discussion should be had after https://github.com/kframework/kore/issues/2321 and https://github.com/kframework/kore/issues/2474.

[2021-07-06 11:53] ana-pantilie commented on #2700
I forgot to add during our debugging meeting, @geo2a , but I think this issue actually describes two separate issues:
1. Find a way to make user-defined `Set` simplification rules get attempted, here we should focus on removing the symbolic case from the backend and see what support we need from the frontend
2. Figure out why the concat rule doesn't apply when it's marked [simplification]; you not

[2021-07-06 12:51] #2648 closed

[2021-07-06 15:55] JKTKops opened #2734 "Log command in REPL does not properly toggle settings"
The `log` command in `kore-repl` behaves unexpectedly:

- the logType field is required, meaning it must be specified every time you want to adjust which logs are printed
- the logEntries field is required, meaning you must repeat the logs you want printed every time you change a different setting (stderr or file? standard format or oneline? severity threshold...)
- the optional fields use a defau

[2021-07-06 17:49] #2695 closed

[2021-07-07 13:56] ana-pantilie opened #2739 "Current AC matching algorithm is ad-hoc and incomplete"
Our current Map and Set matching algorithm is incomplete.

We should consider replacing the current way we do Map and Set matching with some traditional AC matching algorithm. This needs investigation as I don't know if implementing such an algorithm is compatible with our current representation of Maps and Sets, so this might end up to be a significant undertaking.

See https://runtimeverificatio

[2021-07-07 17:15] virgil-serbanuta opened #2740 "Side condition not used in ensures clause evaluation"
Tested with commit 07c0fc8e07f3fce05ffdd771cbb2a4765e1ac074

The final configuration on one of the two proof branches contains this (the other branch fails in a similar way):
[code]

The semantics has a rule for evaluating `copy` that should make this branch succeed:
[code]

and the side condition contains `true #Equals I >Int 0` since the start configuration, however, that rule is not applied. Af

[2021-07-08 14:17] ana-pantilie commented on #2734
@JKTKops suggests we also rename `GeneralLogOptions`

[2021-07-09 15:49] #2624 closed

[2021-07-09 19:49] #2726 closed

[2021-07-13 14:40] JKTKops opened #2747 "Kore profiling discussion"
It would be very helpful to output enough information to figure out which node a log entry (in general) or at least `DebugTransition` and `DebugAttemptEquation` (in specific) are emitted from. That way we can then pull up that node in the kore-repl and then use standard (not oneline) logs to look at the term the equation is being applied to. Using standard logs on the entire proof is not really an

[2021-07-14 10:01] ana-pantilie opened #2748 "kore-prof: emit information about equations"
We should emit detailed information about what happens during symbol application simplification. A large part of this is formed from equation application attempts, which have different stages of execution as well.

We have [MonadProf](https://github.com/kframework/kore/blob/7b1a0bde51bda0377447a6cfa86eb9ae9b313bb7/kore/src/Prof.hs#L38), which should give us all the tools necessary to implement thi

[2021-07-14 10:18] ana-pantilie commented on #2684
I wonder if this was fixed in f67a42d9b95ae92fd683da3dab464dd107817b56 (https://github.com/kframework/kore/pull/2714)?

[2021-07-14 10:20] #2617 closed

[2021-07-14 10:22] ana-pantilie commented on #2544
The first two should be obsolete after https://github.com/kframework/kore/issues/2729.

[2021-07-14 11:41] ana-pantilie opened #2749 "Match-unification interface clean-up"
After https://github.com/kframework/kore/issues/2396, we should clean-up the unification data types. There is some data duplication inside of them, and we should think about how we can fix this.

[2021-07-14 14:11] ana-pantilie commented on #2740
We should quickly take a look at [simplifyRightHandSide](https://github.com/kframework/kore/blob/53ff6b877bbaa5eb8953c47a3d778d38d7c9edc7/kore/src/Kore/Reachability/Claim.hs#L616), after the step where `Es #Equals empty` there should be an attempt here to simplify the ensures clause.

[2021-07-14 14:36] ana-pantilie commented on #2696
@ehildenb suggests this should be implemented in the frontend.

[2021-07-14 14:36] #2696 closed

[2021-07-15 07:04] nishantjr opened #2751 "Fix error message"
Note that the `initial.kore` is generated by a non-frontend tool. All inputs are uploaded as attachments.

When running the following initial configuration:

[code]

I see the following error:

[code]

It should apply the cooling rule for this construct:

[code]

[initial.kore.txt](https://github.com/kframework/kore/files/6821025/initial.kore.txt)
[kore-exec.tar.gz](https://github.com/kframework/k

[2021-07-15 08:17] ana-pantilie commented on #2751
First, we should run this with the [-xc](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/runtime_control.html#rts-flag--xc) GHC flag to see the full stack trace, and find where the error is coming from.

[2021-07-15 14:33] ana-pantilie commented on #2713
This is where we should do this: https://github.com/kframework/kore/blob/78ec7647e9b9eca9045544fe4a8c6c1fead93587/kore/src/Kore/Internal/SideCondition.hs#L450

[2021-07-15 15:35] ana-pantilie opened #2752 "The regression test generator script is broken"
After merging master on https://github.com/kframework/kore/pull/2616 and attempting to restart the job I noticed the following error. I also ran `scripts/generate-regression-tests.sh` locally to make sure that it can be reproduced.

[code]

Looks to me like the recent changes made for https://github.com/kframework/kore/issues/2624 have broken other parts of the script.

We need to fix whatever hap

[2021-07-20 11:51] ana-pantilie commented on #2610
@andreiburdusa points out that this is still used in the [equals simplifier](https://github.com/kframework/kore/blob/78ec7647e9b9eca9045544fe4a8c6c1fead93587/kore/src/Kore/Simplify/Equals.hs#L209) and the [floor simplifier](https://github.com/kframework/kore/blob/78ec7647e9b9eca9045544fe4a8c6c1fead93587/kore/src/Kore/Simplify/Floor.hs#L69).

[2021-07-20 14:19] JKTKops opened #2756 "Potential Performance Problem with LogicT"
It's a well-known potential performance problem in logic programming to frequently attempt to observe the branches and then scatter them back. This can cause quadratic slowdown. I've noticed we somewhat frequently seem to do
[code]
which could be causing slowdown. In the standup, we said we should look into this. I'm not _certain_ it causes a problem, because the real culprit tends to be `msplit`,

[2021-07-20 15:56] JKTKops opened #2757 "#computeValidJumpDests from evm-semantics"
This issue is for investigating the slow `#computeValidJumpDests` function from evm-semantics. Here it is minimized:

test.k:
[code]

test-spec.k
[code]

A typical program from KEVM (I selected one randomly) seems to be about 7000 bytes, so a 7000 character ascii string that demonstrates the problem can be found in the attached text file. Note that `[` is special and represents the EVM opcode `JUM

[2021-07-20 18:49] #2752 closed

[2021-07-21 14:00] ana-pantilie commented on #2709
Most likely related to https://github.com/kframework/kore/issues/2739 as well.

[2021-07-21 14:53] ana-pantilie commented on #2730
I've been thinking about this more, and I think we should post-pone this until https://github.com/kframework/kore/issues/2570 and the removal of the old `TermLike` simplifier is done. The reason is that I'm afraid the `TermLike` simplifier still depends too much on the `Simplified` attribute, and changing the `Condition` case of the `Simplified` attribute might have unexpected consequences.

[2021-07-21 22:16] dopamane commented on #2757
Here is a profile of test-spec.k:
[valid-jump-prof.tar.gz](https://github.com/kframework/kore/files/6859045/valid-jump-prof.tar.gz)
See kore-exec.eventlog.json for speedscope profile.
See kore-exec.prof.html for profiteur profile.

Command used to generate profile:
`timeout -s INT 10m env GHCRTS='-p -l-au' kprove test-spec.k TEST --backend haskell --format-failures`

[2021-07-22 08:37] ana-pantilie commented on #2756
One place we use `msplit` is to implement [gather](https://github.com/kframework/kore/blob/f667127d026d52403789b19003d7bcacc2525329/kore/src/Logic.hs#L18), which is used to implement `MultiOr.gather` (which we sometimes call `OrPattern.gather` or `OrCondition.gather`). I don't think this is used in too many places, but we should still investigate if it's causing problems or not.

[2021-07-22 09:41] ana-pantilie commented on #2747
I've been thinking about this for a while, and I think that, essentially, the problem is just that our `kore` configurations are really large and we just want to be able to compress and retrieve the configuration afterwards.

Off the top of my head, we could just associate ids to each configuration (hashing function maybe?), log the ids inside the `DebugAttemptEquation` one-line logs, and redirect

[2021-07-22 10:29] andreiburdusa opened #2759 "Syntax modules still refer to `Semantics of K`"

[2021-07-22 13:12] RaoulSchaffranek commented on #2751
I ran this test with the following command to record a [stack trace](https://github.com/kframework/kore/files/6862383/stacktrace.txt).

[code]

However, I don't find it particularly useful.
Since the original error message mentioned the `maximum`-function I scanned the code-base and found that we only use this function once here: https://github.com/kframework/kore/blob/78ec7647e9b9eca9045544fe4a8c

[2021-07-22 14:09] ana-pantilie commented on #2713
See https://github.com/kframework/kore/pull/2755#issuecomment-884942852.

[2021-07-22 14:09] #2713 closed

[2021-07-22 14:42] JKTKops commented on #2747
What we really want is to be able to jump to that configuration in `kore-repl`. As long as it's possible to load the configuration from the table into the repl, that sounds like a good approach.

[2021-07-22 15:07] ana-pantilie commented on #2747
What other information do we need such that using `kore-repl` is necessary?

[2021-07-22 15:50] JKTKops commented on #2747
We want to be able to get information from executing the next step, e.g. logs for specific equations (as opposed to whole transitions) but for that step only.

[2021-07-22 17:19] JKTKops commented on #2740
I'm able to reproduce this behavior with the following more straightforward proof:
tmp.k:
[code]
tmp-proof.k:
[code]

I think the `run => done` rule has to be written this way to cause branching, otherwise the backend cannot simplify the ensures clause regardless. If we write the proof without anything to branch on, it passes. I tried a few variations of smaller examples without branching but they

[2021-07-22 17:25] JKTKops commented on #2740
I can also confirm that our proposed change makes my proof pass.

@virgil-serbanuta would you mind trying your proof on the `issue-2740` branch? I'm not sure if the proof is actually incorrect, or if there's a further issue with Kore. When I try it, I see this output:
[code]
and I'm not actually sure if we expect this to get further, because I don't think we can reason about `I +Int -1` with the i

[2021-07-22 17:53] virgil-serbanuta commented on #2740
I will try it, but when I submit issues for the Haskell backend I usually (though not always) try to minimize the proof such that it still shows the issue I'm trying to report, without trying too much to make a valid minimized claim (that's hard to do anyway because I can't really test it).

IIRC the non-minimized claim worked on an older Haskell backend, but did not work at the commit mentioned a

[2021-07-22 17:54] JKTKops commented on #2740
If you don't know if it's correct, then that's fine. I'd guess that it needs further lemmas and that we have a fix for the problem demonstrated. Thanks!

[2021-07-22 17:57] virgil-serbanuta commented on #2740
I think it worked on 1724c5c23afea515f4c58328d1f42abc5de6e15c

[2021-07-22 17:58] nishantjr commented on #2751
Aaah! Looks like the issue is that the initial configuration is unsatisfiable. I can reproduce it with this definition:

[code]

and this initial configuration:
[code]

[code]

Bug report:
[kore-exec.tar.gz](https://github.com/kframework/kore/files/6864291/kore-exec.tar.gz)

[2021-07-22 18:03] virgil-serbanuta commented on #2740
FWIW, I didn't find the `issue-2740` branch on the main repository, and I didn't find any fork of the kore repository that belongs to you.

[2021-07-22 18:09] JKTKops commented on #2740
I thought I must've pushed it because at some point I switched from working locally to in a container, but perhaps not. It's all good, thanks for looking :)

[2021-07-22 19:48] Riib11 opened #2761 "Unexpected and slow interaction between #hashedLocations and #computeValidJumpDests"
(This is extracted from a slow proof from the `evm-semantics` repository.)

This is simplified example where, simplifying `#computeValidJumpDests` and `#hashedLocation` in the same configuration takes much longer than simplifying either one of these functions by themselves (on the same inputs respectively).

| enabled | time (min:sec) |
|---|---|
| both | 7:30 |
| just `#computeValidJumpDests` | 0

[2021-07-23 09:04] ana-pantilie commented on #2761
We should first look at https://github.com/kframework/kore/issues/2757 to get a better understanding of `#computeValidJumpDests` by itself.

[2021-07-23 09:22] ana-pantilie commented on #2747
If we did https://github.com/kframework/kore/issues/2748, wouldn't the profile contain that information? Maybe we could emit an event at the top of the transition loop with the configuration id?

I'm trying to move away from using the `kore-repl` here, because I still don't think we can do the node/configuration mapping accurately with the way the things are now, we'd need to completely redesign t

[2021-07-23 09:52] ana-pantilie opened #2762 "Update documentation"
For keeping track of issues related to outdated documentation. We should add any new issues on this topic to the corresponding row here.

- [x] Wiki pages (https://github.com/kframework/kore/issues/2724)
- [x] Code documentation (https://github.com/kframework/kore/issues/2759)

[2021-07-23 14:05] JKTKops commented on #2747
I think #2748 combined with a configuration ID would work.

If we want to be able to see the _exact_ term that it tried to apply an equation too (ala the DebugAttemptEquation entry) how would we map the profile entries back to the log entries (or just how would we get to that term at all, if there's another better way)? In the configuration at the top of the transition loop, the term may not even

[2021-07-23 14:31] ana-pantilie commented on #2751
I think you're right, if we fix the `maximum` call I think this should return `#Bottom`.

[2021-07-26 09:32] ana-pantilie commented on #2747
That's a very good point.

This is a tricky issue, and I agree that it would have probably been ideal to able to inspect a particular step (which we identified as slow) in `kore-repl`. The interactivity makes finding the problem easier. I guess that a profile with all this information would easily get very cluttered and very hard to read.
We'd need to do https://github.com/kframework/kore/issues/2

[2021-07-26 10:18] ana-pantilie commented on #2400
Multiple term/predicate simplifiers call `simplifyCondition` in a less obvious way: they call `Simplify.makeEvaluateTermCeil` and `Simplify.makeEvaluateCeil` which actually call `simplifyCondition`, instead of the direct `Ceil` simplifier. I don't think this is ok, the loops in the term and condition simplifiers should be explicit and visible at the top.

[2021-07-26 13:53] JKTKops commented on #2747
A log DB could be helpful. What kind of information is in there?

At the end of the day, the problem that this issue identifies is enabling log entries for only a _specific_ step of the proof that we can identify as slow. The easiest way to do that initially seemed to be via `kore-repl` to me, but it doesn't have to be.

Depending on what's in that log DB, I'd agree that a kore-exec profiler is po

[2021-07-26 15:33] ana-pantilie commented on #2747
I think it can be all of the information in the logs themselves. Currently, it basically looks like the following: for each log entry type we have a table and each row represents a specific logged event. Right now the information in the events themselves looks kind of broken but I'd imagine it could contain the timestamp and references to the data that it logged (like a `kore` term). Then there is

[2021-07-26 21:02] JKTKops commented on #2747
That sounds like it could work. It might still be a lot of information to slog through, but if it's more organized than just a text file it would be much _easier_ to slog through.

Since `DebugAttemptEquation` is used both before and after, we'd even be able to identify the application that was slow, assuming we can query the DB for timestamps of sequentially logged entries. Having the term attach

[2021-07-27 07:29] ana-pantilie commented on #2703
We should also check if the RHS is `\\bottom` [in this branch](https://github.com/kframework/kore/blob/8435409e231b847a1e0e0b85d66b8b7fbb2e2286/kore/src/Kore/Reachability/Claim.hs#L580) and log a warning.

[2021-07-27 13:52] ana-pantilie opened #2770 "Uses of `simplifyCondition`: remove call from `TermLike` simplifier"
https://github.com/kframework/kore/issues/2400 provides an audit (and discussion) on the uses of `simplifyCondition` throughout the code. This issue is the next part of https://github.com/kframework/kore/issues/2400#issuecomment-821218305, after https://github.com/kframework/kore/issues/2570 is done.

[2021-07-27 14:26] ana-pantilie commented on #2700
We've found multiple issues with our AC matching algorithm (see https://github.com/kframework/kore/pull/2737). More discussion on how to proceed is needed.

[2021-07-27 14:30] ana-pantilie commented on #2703
See https://github.com/kframework/kore/tree/8435409e231b847a1e0e0b85d66b8b7fbb2e2286/kore/src/Kore/Log for similar warning types.

[2021-07-28 08:26] ana-pantilie opened #2772 "Investigate structured logging"
The discussion in https://github.com/kframework/kore/issues/2747 has lead us to believe that organizing our logs better would help with creating tools which specifically profile `kore-exec`.

The backend currently has the `--sqlog` option, which creates a SQLite DB out of our logs. I gave it a try, and it seemed incomplete: not all log types were present in the DB and the data in the log type tabl

[2021-07-28 08:54] ana-pantilie commented on #2593
@MirceaS Since this might be blocked for a long time, let's rename [toTermLike](https://github.com/kframework/kore/blob/d3b7bd2f6e53d590b7b04728dd776d5fe41ea5ac/kore/src/Kore/Equation/Equation.hs#L8) to `toTermLikeTODO` and `toTermLikeOld` to `toTermLike`. The reason for this is that I think that, currently, the names indicate that we'd prefer to use `toTermLike`, when that's actually not true bec

[2021-07-29 08:39] #2751 closed

[2021-07-29 10:41] #2570 closed

[2021-07-29 16:10] #2740 closed

[2021-07-30 13:21] ana-pantilie commented on #2566
We expect this to be fixed, now that https://github.com/kframework/kore/issues/2570 is done. If you find that there is still an infinite loop, please re-open and let me know.

[2021-07-30 13:21] #2566 closed

[2021-07-30 13:22] ana-pantilie commented on #2564
We expect this to be fixed, now that #2570 is done. If you find that there is still an infinite loop, please re-open and let me know.

[2021-07-30 13:22] #2564 closed

[2021-08-04 08:35] RaoulSchaffranek opened #2778 "Investigate long running z3 commands."
While working on https://github.com/kframework/evm-semantics/pull/1102, I noticed that the proof takes roughly an hour to complete. About 40 minutes are spent waiting for z3.

So far, I've recorded an smt-transcript, which shows some suspicious behavior. There are multiple very long sequences of `declare-fun`-commands followed by one `assert`-command with one giant conjunction over all the declare

[2021-08-04 11:05] ana-pantilie opened #2779 "`SideCondition.definedTerms`: check if AC terms are always defined before caching them"
In [SideCondition.definedTerms](https://github.com/kframework/kore/blob/726faa4c269a70f0ad8d2045561beebb9350a829/kore/src/Kore/Internal/SideCondition.hs#L168) we keep a set of terms we assume to be defined during execution. See [assumeDefined](https://github.com/kframework/kore/blob/726faa4c269a70f0ad8d2045561beebb9350a829/kore/src/Kore/Internal/SideCondition.hs#L705) and [isDefined](https://githu

[2021-08-04 11:40] ana-pantilie opened #2780 "Discussion on documentation"
@JKTKops has brought to my attention the issue that we don't have adequate documentation. Also, multiple newcomers to the team have asked about documentation which describes how some component of the code works, like how the simplifier works, and, unfortunately we don't really have anything which gives a good overview of things.

We do have the following:
1. Each global function is documented, and

[2021-08-04 12:53] RaoulSchaffranek opened #2781 "Add `oneLineDoc` implementations to all existing `Entry`-instances"
The Haskell backend supports a short logging format that only logs the source locations of log entries, but no descriptive messages.

Log entries which relate to specific source locations should implement the following method:
https://github.com/kframework/kore/blob/29888c3567cb479fc5ee619f21a1545d88ff66e8/kore/src/Log/Entry.hs#L61-L62

However, not all `Entry`-instances implement this function ye

[2021-08-04 13:31] ana-pantilie commented on #2780
My idea would be to add a new document, similar to [K's user manual](https://github.com/kframework/k/blob/master/USER_MANUAL.md), but aimed at developers. This "Developer Manual" should describe important components in the code and their implementation. I'd prefer to not use the Wiki for this because I want changes to the manual to be reviewed.

@JKTKops suggested we should add documentation incre

[2021-08-04 14:18] ana-pantilie opened #2782 "kore-exec profile: why are there so many calls to prove?"

[2021-08-04 14:35] ana-pantilie commented on #2778
Where we translate patterns for the SMT: https://github.com/kframework/kore/blob/master/kore/src/Kore/Rewrite/SMT/Translate.hs
Where we send predicates to the SMT: https://github.com/kframework/kore/blob/29888c3567cb479fc5ee619f21a1545d88ff66e8/kore/src/Kore/Rewrite/SMT/Evaluator.hs#L179

[2021-08-04 17:56] dopamane commented on #2780
@ana-pantilie I agree and support these ideas. My only concern is that Github markdown may not be sufficient for typesetting math notation and working with a (potentially) large, growing document. In my experience, Github markdown is great for small and medium sized documents, but it becomes cumbersome to maintain for large documents with many sections, subsections, and cross-references. I suggest

[2021-08-05 14:05] ana-pantilie commented on #2778
We should still investigate what's happening here, but if a workaround in KEVM was found then we can postpone this for a bit.

[2021-08-05 14:10] #2703 closed

[2021-08-05 16:20] JKTKops commented on #2781
One line logs don't have to be source locations, they could just be the minimal information relevant for the log, designed for readability in a script as opposed to by a person. For example, `WarnDepthLimitExceeded` should print the limit that was exceeded.

If an Entry doesn't have relevant information to print, it should probably return an empty doc. `oneLineDoc`'s type can change from `Entry e

[2021-08-05 16:55] JKTKops opened #2785 "Axiom Not Used When Simplifying Side Condition"
When working on a proof in evm-semantics, we noticed this strange behavior around a `#hashedLocation` term that appears in a side condition. The requires clause for the appropriate rule can be inferred from the requires clause of the claim, but the term appears unsimplified in the configuration.

Here's a minimized version.
`test.k`:
[code]
`test-spec.k`:
[code]

As long as the `#hashedLocation` i

[2021-08-06 00:59] virgil-serbanuta commented on #2684
Yes, it seems so. Thanks!

[2021-08-06 02:40] virgil-serbanuta opened #2786 "Function in the main condition not (re-)evaluated when the main condition changes"
I think that there are two issues with the proof below, the title of the issue contains the first one that is encountered when debugging. The other issue is that rewriting stops at a random point for no apparent reason.

To reproduce:
----------------

Kore version 0.51.0.0
Git:
  revision:     0521b0ea0ca6c2f61192822edf45a2ace7a52310
  branch:       master
  last commit:  Thu Aug 5 08:10:21 2021

[2021-08-06 08:43] #2396 closed

[2021-08-06 09:25] #2684 closed

[2021-08-06 11:12] ana-pantilie commented on #2781
We should probably remove the default implementation for `oneLineDoc` and switch the type to `Entry e => e -> Doc`, as @JKTKops suggested.

[2021-08-06 11:58] andreiburdusa commented on #2780
I also agree with this plan of adding documentation, and I think LaTeX is a good alternative to Github markdown

[2021-08-06 12:40] geo2a commented on #2780
I support this idea, and I agree that using LaTeX is appropriate, since we may be looking at a rather long document after a while.

I took a look again at the `docs/` folder and there are a lot of documents that seem outdated. As a newcomer, I have found [`introduction.md`](https://github.com/kframework/kore/blob/master/docs/introduction.md) to be enlightening and I think it may be a good candidat

[2021-08-07 00:37] nishantjr commented on #2780
BTW, Pandoc allows mixing latex and markdown. It works quite well overall and is more readable than straight latex.

[2021-08-09 14:42] ana-pantilie commented on #2725
As @JKTKops pointed out, this might be a duplicate of https://github.com/kframework/kore/issues/2785.

[2021-08-09 15:23] #2649 closed

[2021-08-09 15:53] nishantjr opened #2797 "kore-repl: internalize commands from the K-printing kscript"
Motivation
----------

The basic  `kscript` that may be used for debugging is more or less standard between definitions.
It is inconvenient for users to create this for each definition. More importantly, new users would likely not be aware of this, and it increases the barriers to using K.

Example K Code
--------------

The K Front end should generate a  `kscript` based on the following template,

[2021-08-09 19:59] virgil-serbanuta opened #2793 "Unevaluated function in CheckImplication condition"
To reproduce:

tmp.k:
[code]

tmp-proof.k:
[code]

bash:
[code]

Will print:
[code]

Note that `iterateFunction ( cons ( Head , Tail ) , M )` should evaluate to `iterateFunction ( Tail , M )` when `Head:Int in_keys ( M )`. (in case you get the error on the other branch, `iterateFunction` should evaluate in the same way).

[2021-08-10 08:54] RaoulSchaffranek commented on #2778
I have implemented a [workaround](https://github.com/kframework/evm-semantics/pull/1102#issuecomment-895840984) for the issue where I first observed this behavior. However, the simplification rules that I added there are rather specific to the test case under question. I don't expect a general speed-up from these rules.

Meanwhile, @calin1304 took a look at [tests/specs/mcd/vat-move-diff-rough-spe

[2021-08-10 12:01] calin1304 commented on #2778
I was able to reproduce the issue on native Linux. I just installed a fresh copy of Ubuntu 21.04 and tried to run [tests/specs/mcd/vat-move-diff-rough-spec.k](https://github.com/kframework/evm-semantics/blob/8a07c45ca7b6d571cc114e8d9a38b612222f223f/tests/specs/mcd/vat-move-diff-rough-spec.k) and had the same issue as when running it on WSL2. After about 3-5 minutes memory usage increases past 20+

[2021-08-10 14:14] JKTKops commented on #2793
I'm at least 80% sure this is the same issue as #2785.

[2021-08-10 14:20] JKTKops commented on #2779
The KEVM proof port team observed this issue while looking at `tests/specs/mcd/cat-file-addr-pass-rough-spec.k`. Turn on any `DebugAttemptEquation` log (I had it on for a specific equation of `#hashedLocation`, but I don't think that should matter). After the initial simplification, you will be able to observe the large number of 2-element sets in the `Assumed to be defined` section.

[2021-08-10 16:39] #2759 closed

[2021-08-10 17:19] ana-pantilie commented on #2797
@ehildenb `kore-repl` can't really automatically know the path to the definition directory, right?

[2021-08-10 17:29] ana-pantilie commented on #2797
Sorry, I misread this. So, my question above should actually be: is it possible to use `kast` with the `definition.kore` file?

[2021-08-10 19:54] ehildenb opened #2798 "Prover applies rule to undefined term"
This file defines a new integer function called `#gas(_)` which represents positive infinity. Then we axiomatize it by saying that `#gas(_)` is not smaller than any number, nad is at least as big as every number.

[code]

This can be build with `kompile --backend haskell test.k --main-module TEST --syntax-module TEST`.

Then we add the claim which has a potentially undefined LHS (in the same file

[2021-08-11 08:18] ana-pantilie commented on #2793
That's possible, but, I think there was also the issue that the equation wasn't even attempted, right @virgil-serbanuta? If so, we should definitely see why that is.

[2021-08-11 09:03] ana-pantilie commented on #2798
We always assume that the LHS is defined, and generate definedness conditions for the LHS when simplifying it. I ran the spec and it ends up stuck here, as expected (since the RHS is `done(false)`):
[code]
Notice the condition formed out of the the generated definedness condition.

[2021-08-11 10:34] ana-pantilie commented on #2701
See https://github.com/kframework/kore/blob/0f992a35622bbb6d77b904a782317ef6f31b9a7d/kore/src/Kore/Builtin/Int.hs#L520, https://github.com/kframework/kore/blob/0f992a35622bbb6d77b904a782317ef6f31b9a7d/kore/src/Kore/Builtin/KEqual.hs#L272 and https://github.com/kframework/kore/blob/0f992a35622bbb6d77b904a782317ef6f31b9a7d/kore/src/Kore/Builtin/String.hs#L570

[2021-08-11 10:44] virgil-serbanuta commented on #2793
That is correct.

FWIW, the backend is at commit `0521b0ea0ca6c2f61192822edf45a2ace7a52310`. Here are the `repl` commands I used for checking that the backend does not attempt to simplify the function:
[code]

Info for myself: The original proof is, I think, `protocol-correctness/proof/lemmas/list/contains/proof-last-distinct.k`

[2021-08-11 10:53] virgil-serbanuta commented on #2793
Info for myself: The original proof is actually `protocol-correctness/proof/functions/proof-count-can-sign.k`

[2021-08-11 11:57] ana-pantilie opened #2799 "Rename `Equation.toTermLikeOld`"
@MirceaS Since this might be blocked for a long time, let's rename [toTermLike](https://github.com/kframework/kore/blob/d3b7bd2f6e53d590b7b04728dd776d5fe41ea5ac/kore/src/Kore/Equation/Equation.hs#L8) to `toTermLikeTODO` and `toTermLikeOld` to `toTermLike`. The reason for this is that I think that, currently, the names indicate that we'd prefer to use `toTermLike`, when that's actually not true bec

[2021-08-11 15:24] ana-pantilie commented on #2780
Hi @shd101wyy !

After discussing with @ehildenb during our planning meeting today, we have decided that it would be best for us to go with mixing both Markdown and LaTeX, but we're not sure if this would be feasible, so we have a couple of questions:
- Do you know if it would be possible to have a, mostly Markdown, online version of our documentation (similar to https://kframework.org/index.html)

[2021-08-11 15:32] ana-pantilie commented on #2780
@shd101wyy Oh, sorry for pinging you on Slack as well, didn't see you responded so quickly! I think, ideally, we'd want a PDF matching the structure of the website. Is that right @dopamane ?

[2021-08-11 16:26] dopamane commented on #2780
@ana-pantilie @shd101wyy I was thinking of using pandoc to generate a PDF **from the markdown** thus matching its content/structure/rendering while also providing offline viewing, portability, and distribution. If possible, I think we should follow a hub-and-spoke model for deriving documentation from markdown.

From the discussion in today's Haskell meeting, it sounds like using Github markdown i

[2021-08-11 16:28] ehildenb commented on #2798
Here is a modified definition (which introduces the potentially undefined term later in the execution than the LHS of the original claim):

[code]

This one behaves how I expect, that is it will not prove the first claim because it cannot apply the lemma for `_ <=Int #gas(_)` because it does not know that the LHS of the `_<=Int_` is undefined.

However, the message it gives as output is rather con

[2021-08-11 16:30] ehildenb commented on #2798
Note that as long as the first claim continues to reliably _fail to be proved_, then I am happy, because it means we can write much simpler lemmas for `#gas(_)` (effectively cutting in half the number of lemmas we need https://github.com/kframework/evm-semantics/pull/1109). But I want to make sure we understand _why_ it fails to be proved, and all agree that it is working as intended there.

[2021-08-11 17:17] ana-pantilie commented on #2798
This one is failing because Z3 crashes on that predicate. I don't know why, but I'm pretty sure that it's not expected behavior.

[2021-08-11 19:13] JKTKops commented on #2779
From the KEVM Proof port team, we have a suspicion that this might be the root cause of #2761, but that's just a thought. Everett thinks we may have been underestimating the impact this one has on the evm proofs.

[2021-08-11 20:00] ehildenb commented on #2798
Note that I think this relates to the design decision made a while ago which says "we expect users to write rules such that definedness is preserved between the LHS and RHS". I think though, this is too much to ask for users. For example, we have many lemmas that do not preserve this property (the above are examples). Another example would be `rule G -Int G => 0 [simplification]`, which is very in

[2021-08-13 04:34] ehildenb commented on #2798
I think at least, we should be checking for definedness of variables that show up on the LHS of the rule but not the RHS. If a variable shows up on both the LHS and RHS of a rule, it will preserved (un)definedness. But if it only shows up on the LHS, and not the RHS, then we could go from undefined to defined by applying the rule.

This check can be inserted by the frontend, so the backend doesn't

[2021-08-13 12:58] ana-pantilie opened #2802 "`Predicate.mapVariables` should have its own implementation"
We shouldn't transform to and from `TermLike` in [Predicate.mapVariables](https://github.com/kframework/kore/blob/5da531b27cce7d9a7160e0cf2a69399544a30c64/kore/src/Kore/Internal/Predicate.hs#L1221).

[2021-08-16 10:40] ana-pantilie commented on #2798
I don't think this is related to that. Those simplification rules contained partial function symbols. A rule like `rule G -Int G => 0` doesn't contain any partial function symbols, and `G` can't ever be `#Bottom` because it's an element variable.

My understanding is that we shouldn't allow `G` to match anything which isn't `function-like` and known to be defined. I took a quick look at the code a

[2021-08-16 13:16] ana-pantilie opened #2804 "Simplification property tests: separate `Predicate` and `TermLike` generators"
Context for this issue: we made the decision that the `TermLike` simplifier should not call the `Predicate` simplifier (see https://github.com/kframework/kore/issues/2770). This requires that any `TermLike` pattern should not contain children patterns which are `Predicate`s. In the future, we would like to fully disentangle the representation of `Predicate`s from `TermLike`s (see https://github.co

[2021-08-16 13:17] ana-pantilie commented on #2770
Blocked on https://github.com/kframework/kore/issues/2804.

[2021-08-17 09:24] ana-pantilie commented on #2472
@dopamane For the second part, remember that equations are grouped according to the symbol at the top. Let `[E1, E2, ..., En]` be one of these groups, we should generate all unordered pairs `(Ei, Ej)` and evaluate the predicate in the description. We need to check that all of the results are `\\bottom`, for every group of equations.

[2021-08-17 10:39] shd101wyy commented on #2780
We could build the website first then consider to generate a PDF. I have added the support to render latex math in Markdown in pull request https://github.com/runtimeverification/k-web-theme/pull/14. Inline math needs to be written in `$...$` while block math in `$$...$$`. So please let me know when we want to start building the website. Thank you!

[2021-08-17 10:55] ana-pantilie commented on #2780
That's awesome, thank you @shd101wyy !

[2021-08-17 11:04] ana-pantilie opened #2806 "Add DEVELOPER_MANUAL.md"
Following our discussion on https://github.com/kframework/kore/issues/2780, we'll add a document which will have the structure of the context map. As @dopamane suggested, we should add some sample LaTeX as well. We could probably create the document with the aforementioned structure and start writing documentation for some particular section (without worrying too much about accuracy). After this i

[2021-08-17 14:18] JKTKops commented on #2757
This investigation seems complete. We expect that #2474 will improve the performance of `#computeValidJumpDests`.

[2021-08-17 14:18] #2757 closed

[2021-08-17 16:39] #2779 closed

[2021-08-17 18:10] #2152 closed

[2021-08-18 10:10] #2592 closed

[2021-08-18 13:47] ana-pantilie opened #2809 "kore-test: Map property test fails on specific input"
`test_unifyConcrete`  from `Test.Kore.Builtin.Map` fails on this specific run: `stack test --test-arguments "--pattern TESTING --hedgehog-replay \"Size 88 Seed 17748105058069550869 14568145014328806159\""`.

The failing input can be captured in a unit test with the following test data:
[code]

[2021-08-18 14:36] JKTKops commented on #2761
#2779 appears to have fixed this issue.

[2021-08-18 14:36] #2761 closed

[2021-08-18 15:39] #2804 closed

[2021-08-19 13:30] ana-pantilie commented on #2474
I think we can avoid keeping a big map of evaluators in all cases, not just for hooks. What I mean, is that in the case of equations we could just keep the equations themselves inside the map instead of an "evaluator function" constructed from the equation. We need to see how feasible this would be, and also what would be the best design here.

The code which deals with evaluators is kind of scatt

[2021-08-19 17:50] SchmErik opened #2811 "haskell-backend test failures when running test suite with updated equation format and latest llvm-backend"
The new equation format implemented [here](https://github.com/kframework/k/pull/2061) causes several test suite issues failures. I've attached the typescript file running with the latest llvm-backend commits. This file contains the output from running make -j8 -O -k in the regression-new directory in the k repo.
[typescript.txt](https://github.com/kframework/kore/files/7016754/typescript.txt)

[2021-08-24 17:28] ehildenb commented on #2811
The new encoding format: https://github.com/kframework/k/issues/1945
The changes to ModuleToKore: https://github.com/kframework/k/pull/2061

[2021-08-25 10:25] RaoulSchaffranek commented on #2778
This performance issue is solved as a side-effect of https://github.com/kframework/kore/pull/2800.
The problem was that we were sending big concrete sets to the solver.

https://github.com/kframework/kore/pull/2814 adds the original evm-test, which revealed this behavior to our regression-test-suite.

[2021-08-30 07:48] calin1304 commented on #2785
I encountered this bug when working on `evm-semantics/tests/specs/mcd/flopper-cage-pass-spec.k`.

At `<pc>5842</pc>` there's a `JUMPI` for which the jump condition looks like:

[code]

and with the following side condition:

[code]

The prover doesn't simplify the `JUMPI` condition so it starts going on both branches and on the one where the jump was not taken it gets stuck.

The tests passes afte

[2021-08-30 14:43] ana-pantilie opened #2816 "Restart Z3 when it crashes"
Since we already reinitialize the solver after a certain number of queries I think it should be feasible to restart Z3 when it crashes. We probably should do something similar to when we retry queries which returned `unknown`: when Z3 crashes, restart the process only one time and emit a warning.

We should investigate first to see if restarting is indeed an option, I am not 100% sure that we can

[2021-08-30 14:51] ana-pantilie opened #2817 "kore-repl: don't crash when system doesn't support graph visualizer"
`kore-repl` shouldn't crash when the system doesn't support the graph visualizer for some reason. We should try to reproduce the crash on a macOS machine by running the `graph` command.

[2021-08-31 17:31] radumereuta commented on #2811
Try to replicate the issue @SchmErik found:
[code]
It might be as simple as switching the `\equals` parameters.

[2021-08-31 22:15] ehildenb opened #2822 "Prover is unable to prove a simple claim"
The following definition fails to be proven (or take any steps) with the prover:

[code]

To reproduce (K 5.1.156):

[code]

Intuitively, what I expect to happen is this:

- The prover looks for rules that can apply to the LHS of the claim. The rule `_ | IS => IS` should be able to apply, which collects the path condition that `#Exists I:Item . #Exists IS:Items . { _0:Items #Equals I | IS }`, and

[2021-09-01 09:03] ana-pantilie commented on #2811
Oh, so this failure is on the PR for updating the frontend to generate the new equation encoding, right? I initially didn't understand where the error was coming from. If that's the case, we need to make the backend accept both encodings until we get this frontend update released. @dopamane

[2021-09-01 14:13] ehildenb commented on #2797
No, but it's possible to use `kore-print` directly with some of the files in the `*-kompiled` directory, which is what we should focus on using.

We can see here: https://github.com/kframework/k/blob/master/k-distribution/src/main/scripts/bin/kore-print#L209

It needs `syntaxDefinition.kore`, so we can do:

- Make sure that with `kprove` this file is generated and copied into the temporary directo

[2021-09-01 14:26] ana-pantilie commented on #2786
This is _not_ the same issue as https://github.com/kframework/kore/issues/2785, so we should investigate separately.

[2021-09-01 16:26] ana-pantilie opened #2824 "Use new `kprovex` with our integration tests"

[2021-09-01 22:19] dopamane commented on #2811
I am able to reproduce the issue. I do not think switching the `\equals` parameters is the solution. According to the documentation it is correct; see [kore-implicits.md](https://github.com/kframework/kore/blob/master/docs/kore-implicits.md#predicates). Therefore I am working on updating the backend to support both encodings.

[2021-09-02 11:52] andreiburdusa commented on #2793
First time I tried running it on [this branch](https://github.com/kframework/kore/pull/2819) I used the wrong command and the desired backend was not actually used.
This time I gave the whole `kore-exec` path to `--haskell-backend-command` and the result was `#Top`. I got a bit confused and thought the whole path is not needed since the desired `kore-exec` was in my PATH.
[code]
Sorry for the wast

[2021-09-02 12:41] andreiburdusa commented on #2786
I tried running this on [fix-condition-simplifier branch](https://github.com/kframework/kore/pull/2819) an got
[code]
`concretizeValue ( true )` is no longer present.
I think the next step is investigating why `#listContains (...)` are not evaluated.

[2021-09-02 13:10] #2701 closed

[2021-09-02 13:19] ana-pantilie commented on #2786
Looks like the problems @virgil-serbanuta pointed out aren't there anymore, right? Virgil, did you expect the proof to pass with those issues fixed?

[2021-09-02 14:21] virgil-serbanuta commented on #2786
It's fine if the proof does not pass.

Note that one of the two issue mentioned in the initial bug report is still not fixed: the backend thinks that a non-final configuration is final, without any obvious reason about why that would be.

See this repl session (commit a53c565d2bf5c7155aac231f7ebeac8698dc3eb4 is part of the fix-condition-simplifier branch) for more details:
[code]

Note that, on ta

[2021-09-02 14:37] ana-pantilie commented on #2786
Oh, that's weird. @andreiburdusa can you investigate ^?

[2021-09-03 12:50] ana-pantilie commented on #2811
After looking through the changes made to the backend, it turned out that the backend already accepts both encodings, so this is either a bug in the frontend or in the backend.

I believe the error is coming from [assertSameSort](https://github.com/kframework/kore/blob/994c5cbcf87ac7b1526a74af41d0d72df0ddca30/kore/src/Kore/Validate/PatternVerifier/PatternVerifier.hs#L287). @dopamane can you please

[2021-09-03 14:13] ana-pantilie opened #2826 "Productivity warning on new regression test"
After https://github.com/kframework/kore/pull/2814 is merged, we should quickly investigate the productivity warning from `regression-evm/test-addu48u48.sh`:
[code]

[2021-09-06 13:11] #2778 closed

[2021-09-06 16:23] virgil-serbanuta opened #2828 "Substituted variables not removed from the rule error"
With the curerent master (ac02ece7a215aa85b32bd1cb7d4211328f3353f9) and the kore files from the
[bug report](https://github.com/kframework/kore/files/7117112/kore-exec.tar.gz), kore-exec crashes with

[code]

If I remember correctly, this worked at commit 1724c5c23afea515f4c58328d1f42abc5de6e15c .

Hopefully the bug report contains enough information, otherwise please ask.

Info for  myself: The o

[2021-09-07 09:15] virgil-serbanuta opened #2829 "Function in main condition not reevaluated after split"
To reproduce (at commit ac02ece7a215aa85b32bd1cb7d4211328f3353f9):

[Bug report](https://github.com/kframework/kore/files/7120350/no-reevaluation.tar.gz)

tmp.k:
[code]

proof-tmp.k
[code]

command line:
[code]

Expected: proof passes

Actual:
[code]

I think that `f ( X , Y )` should be evaluated using `rule f(_, _) => 1  [owise]`, and the stuck branch should be pruned.

Information for myself: T

[2021-09-07 13:58] dopamane commented on #2811
There are multiple test failures that report `Expecting sort R but got _`. Here is the axiom declaration from `regression-new/issue-1879-kproveTrans/haskell`:
[code]

Which failed with error:
[code]

[2021-09-08 14:17] ehildenb commented on #2797
I want to re-emphasize that we should use `kore-print` instead of `kast`, because `kore-print` is much faster and simpler.

[2021-09-09 14:20] ana-pantilie commented on #2785
This is blocked on https://github.com/kframework/kore/issues/2321. We need this to address the performance issue uncovered by our fix.

[2021-09-09 14:40] #2770 closed

[2021-09-10 08:50] ana-pantilie opened #2833 "`\\left-assoc`: allow over, at least, `\\or` patterns"
This is needed for integrating `kore-match-disjunction` with the llvm-backend.

Right now, `\\left-assoc` is only allowed over application patterns. We will need to modify [the docs](https://github.com/kframework/kore/blob/master/docs/kore-syntax.md) accordingly and implement the change in the [parser](https://github.com/kframework/kore/blob/master/kore/src/Kore/Parser/Parser.hs).

See also https:

[2021-09-14 09:39] #2781 closed

[2021-09-14 15:12] andreiburdusa commented on #2786
[method](https://github.com/kframework/kore/projects/8#card-68439510): After investigating what happens in [`transitionRule`](https://github.com/kframework/kore/blob/8bb992f07c28f9e115413356588fb9b274184f5f/kore/src/Kore/Reachability/Claim.hs#L304) when we run `step` from node 6, the next step would be investigating what happens in [`applyAxioms`](https://github.com/kframework/kore/blob/8bb992f07c

[2021-09-17 14:10] ana-pantilie commented on #2826
@RaoulSchaffranek found that the issues point in the direction of `TermAttributes` and `synthetic`, but we haven't been able to pin-point exactly where the problem comes from. We'll look again after we remove the outdated and slow parts of the `Simplified` attribute.

[2021-09-21 12:40] ana-pantilie commented on #2544
@RaoulSchaffranek investigated making the `Log.Entry` module strict and it resulted in multiple tests having segmentation faults.

[2021-09-21 17:25] ehildenb opened #2847 "Timeout stuck proofs"
I'd like to provide a timeout per symbolic-execution spec when invoking the Haskell backend. For example, if I do `--max-step-time 10`, and a step `A => B` takes 11s, I would like it to halt execution, and print out the state `A`.

This will assist us in finding "slow" proof steps, that we likely need to simplify some component of the state that is `A`.

It will also provide the intermediate state

[2021-09-21 17:27] ehildenb opened #2848 "Add --execute-to-branch option"
Edit: disregard description below, see https://github.com/kframework/kore/issues/2848#issuecomment-940610272 and the next comment.

------------
Given an execution, I'd like to make it easy to log (states + path conditions):

- The entry points (initial states)
- The exist points (final states, proven or unproven)
- The branch points (state before branch, each state after branch)
- Enough informat

[2021-09-21 18:01] ehildenb opened #2849 "Fail to apply equality to side-condition"
I have a side-condition that says something like `{ false #Equals PRED } #And { true #Equals (PRED impliesBool ELSE) }`, and I would expect it to replace the second `PRED` with `false` and then continue simplifying, but it does not.

K version:

[code]

Kore version:

[code]

Input K file:

[code]

Call commands:

[code]

And it gives counter-example:

[code]

In particular, we see `{ false #Equal

[2021-09-22 09:44] ana-pantilie commented on #2849
I'm pretty sure this is the same issue as https://github.com/kframework/kore/issues/2785, which has a fix ready but we need to get a performance update in first.

[2021-09-22 09:53] ana-pantilie commented on #2848
Why not use `kore-repl` for this?

[2021-09-22 10:09] ana-pantilie commented on #2847
Is this for `kore-exec` or for `kore-repl`?

[2021-09-22 20:02] ehildenb commented on #2849
Note that adding rules like `rule A andBool _ => false requires notBool A [simplification]` does not solve this.

[2021-09-23 14:26] ana-pantilie commented on #2828
This is probably because of da2c7f8c9b8e633f2e24388b254d62177b648f51. We need to investigate why that substitution didn't cover everything.

[2021-09-23 18:39] #2826 closed

[2021-09-23 18:52] ehildenb commented on #2848
I want it to be done automatically (no interaction) so I can start a run overnight, and have the summaries in the morning.

[2021-09-23 18:52] ehildenb commented on #2848
But I guess I may be able to do it using a kscript...

[2021-09-24 04:51] emarzion commented on #2817
My output when running `graph`:

[code]

[2021-09-24 10:16] ana-pantilie commented on #2786
I'm going to close this because we used it to track the second problem, and the fix for that one got merged (https://github.com/kframework/kore/pull/2842). We are tracking the first problem on https://github.com/kframework/kore/issues/2785.

[2021-09-24 10:16] #2786 closed

[2021-09-24 12:57] andreiburdusa commented on #2828
@ana-pantilie This is how the claim looks like in `applySubstitution` when the error is thrown
[code]

[2021-09-24 13:00] ana-pantilie commented on #2828
@andreiburdusa What does the substitution look like?

[2021-09-24 13:07] andreiburdusa commented on #2828
[code]

[2021-09-24 13:40] ana-pantilie commented on #2828
@virgil-serbanuta Can you show me the original K claim?

[2021-09-24 14:10] ana-pantilie commented on #2817
Test if `graph filename` works.

Catch the error when `graph` fails.

[2021-09-24 14:19] emarzion commented on #2817
Looks like `graph filename` still works for me.

[2021-09-24 14:29] ana-pantilie commented on #2817
Cool! Then I think we can just catch the error for now, and open another issue for trying to find a way to support graph visualization inside the repl for MacOS as well.

[2021-09-24 16:17] virgil-serbanuta commented on #2828
It's one of these claims, I'll try figuring out which one:

https://github.com/runtimeverification/elrond-multisig/blob/master/protocol-correctness/proof/map/proof-map-semantics.k

Do you want to be able to run it, or you just want to see it?

[2021-09-24 16:23] ana-pantilie commented on #2828
Just wanted to see it, thanks!

[2021-09-24 16:31] virgil-serbanuta commented on #2828
It's the first claim in that file: https://github.com/runtimeverification/elrond-multisig/blob/master/protocol-correctness/proof/map/proof-map-semantics.k#L11

For reference, here is how to run it (in the root of the repository mentioned above):

[code]

[2021-09-27 10:39] #2321 closed

[2021-09-27 12:10] #2806 closed

[2021-09-28 21:16] ehildenb commented on #2847
For `kore-exec` I guess, but I'm not sure why it would be different?

[2021-09-28 21:17] ehildenb commented on #2848
I'm making a `pyk` script that automates this workflow, by hacking together a bunch of commands to `kprove`. Once I have a working prototype, we can discuss how the backend can make the solution I have a little cleaner.

[2021-09-28 22:39] #2817 closed

[2021-09-29 09:17] ana-pantilie commented on #2847
I believe it's very different because of the way `kore-exec` handles making execution steps. I remember I thought about this for a while when you opened the issue and it seemed like we'd have to probably rewrite a lot of our proof strategy code to make this work.

For `kore-repl`, it should be fairly simple I think.

Stepping back a bit, I think that both this issue and https://github.com/kframewo

[2021-09-30 14:31] andreiburdusa commented on #2828
We have a variable called `ConfigVarM` inside the initial claim, in the a substitution of form "`ConfigVarM` = term". When we [apply a substitution to this substitution](https://github.com/kframework/kore/blob/8979673cfc169bab0cf81f5cfc1a0083413a7d46/kore/src/Kore/Internal/Substitution.hs#L358) only the "term" part gets affected. This way, `ConfigVarM` is still present after calling `substitute` o

[2021-10-01 09:11] ana-pantilie commented on #2797
This needs https://github.com/kframework/kore/issues/2824 to be done first.

[2021-10-05 09:48] ana-pantilie opened #2865 "Investigate performance issue after bug fix"
One important bug fix related to simplifying predicates (https://github.com/kframework/kore/pull/2819) has an unfortunate impact on performance. Equation application caching (https://github.com/kframework/kore/pull/2837) was implemented to counteract the hit on performance, but some tests were still slowed down. `specs/mcd/dsvalue-peek-pass-rough-spec.k` from `evm-semantics` is one of these tests.

[2021-10-05 10:49] ana-pantilie commented on #2793
This should be fixed on ed422630f9383b2774f1ec8ea04eee86ea0afe1e. Please let me know if you still encounter issues.

[2021-10-05 10:49] #2793 closed

[2021-10-05 10:49] ana-pantilie commented on #2725
This should be fixed on ed422630f9383b2774f1ec8ea04eee86ea0afe1e. Please let me know if you still encounter issues.

[2021-10-05 10:49] #2725 closed

[2021-10-05 10:49] ana-pantilie commented on #2849
This should be fixed on ed422630f9383b2774f1ec8ea04eee86ea0afe1e. Please let me know if you still encounter issues.

[2021-10-05 10:49] #2849 closed

[2021-10-05 13:23] ana-pantilie commented on #2829
Is this still failing after ed422630f9383b2774f1ec8ea04eee86ea0afe1e?

[2021-10-05 14:05] #2811 closed

[2021-10-06 04:24] #2472 closed

[2021-10-06 07:03] virgil-serbanuta commented on #2829
I'm currently re-running the multisig proofs with the latest Haskell backend, but it will take a while. I'll post an update when done.

[2021-10-06 12:26] ana-pantilie opened #2866 "Investigate current SQL infrastructure"
This is the first step of https://github.com/kframework/kore/issues/2772.

We need to investigate our current SQL infrastructure which was used sometime in the past to implement structured logging. The first step is to understand what information we need contained inside the DB for #2772, and figure out how we can reuse the current code to achieve that.

[2021-10-06 12:26] #2772 closed

[2021-10-06 16:54] virgil-serbanuta commented on #2829
Hm, this will take even more time than I thought - after upgrading the backend, some of the tests are branching much more, which confuses my infrastructure (usually the new branches end one step because the backend detects that they are infeasible, so I guess that everything is fine; my infrastructure checks that the number of branches does not increase because that usually means that I changed a

[2021-10-07 10:14] virgil-serbanuta commented on #2829
Sorry, the previous comment was a bit premature, I misinterpreted the last test results, I still have to run that proof manually.

[2021-10-08 11:56] ana-pantilie opened #2869 "kore-repl: try command outputs confusing messages"
The `try` command will sometimes output that two components aren't unifiable while also outputing that the unification succeeded.

Example:
[code]

We need to understand what's happening here and either fix the output or document any non-intuitive behavior.

[2021-10-11 07:58] virgil-serbanuta commented on #2489
My two cents: Having a command-line interface for the repl would make it more flexible, since people not part of the Haskell backend could develop their own tools, and they can do it in their language of choice.

As an example, it would probably be easier to develop interactive tools (e.g. a GUI), or to filter the logs through `kast` or `kore-print`. Of course, both of these are also doable with a

[2021-10-11 10:39] #2833 closed

[2021-10-12 09:15] ana-pantilie commented on #2848
I think we discussed about something similar, thanks for reminding me! We'll definitely take a look at this, I think it should be do-able.

[2021-10-12 15:33] tothtamas28 opened #2875 "Validity of simple existential pattern over map not proven"
[Bug report](https://github.com/kframework/kore/files/7331216/spec.tar.gz)

[code]

[code]

[code]

`assign.k`

[code]

`spec.k`

[code]

Expected output
[code]

Actual output
[code]

Note: The claim is proven if the property is strengthened to equality, i.e. with `ensures A ==Int ?B`.

[2021-10-12 15:40] lucasmt opened #2876 "Quiet down warning when Z3 needs to be restarted"
When Z3 needs to be restarted when running `kprove`, the resulting warning is very prominent and can obscure the final output, especially when the proof passes and the final result is just `#Top`. This might not be much of a problem for experienced users who know what to expect and look for, but can be jarring for new users. Is it be possible to quiet down this warning or make it less prominent?

[2021-10-12 15:42] lucasmt commented on #2876
@ana-pantilie Everett suggested I post this issue and tag you

[2021-10-12 21:08] SchmErik opened #2878 "Regression: Kprove hangs instead of crashing"
Test file:
------------
[code]

Commit https://github.com/kframework/kore/commit/ed422630f9383b2774f1ec8ea04eee86ea0afe1e changed the behavior of running kprove on this test case.
In order to reproduce this behavior I create a makefile with the following lines and run `make`:
[code]
Prior to this commit, the kfrontend code crashed on a pattern match error shown in https://github.com/kframework/k/i

[2021-10-13 09:06] ana-pantilie commented on #2876
If the query fails a second time, it throw an error which prints the predicate causing the issue, so I think it might be ok to just remove the predicate from the warning.

[2021-10-13 12:32] dwightguth opened #2879 "Bug: kore-match-disjunction returns \bottom when it should not"
How to run:

The --bug-report flag seems to generate an archive that is completely empty except for an empty text file, so I pushed the files involved to the search-example branch of kframework/k. You can reproduce by running cd k-distribution/tests/regression-new/imp++-llvm/; kore-match-disjunction definition.kore --module IMP --disjunction disjunction.kore --match pattern.kore

Expected behavior

[2021-10-15 09:20] #2762 closed

[2021-10-18 14:37] ana-pantilie opened #2885 "Condition.simplifyPredicates: does caching actually help?"
We [fixed a bug](ed422630f9383b2774f1ec8ea04eee86ea0afe1e) where we would not actually get to call `simplifyPredicates` while in the `Condition` simplifier. This resulted in a big performance hit, which we managed to partially mitigate with [equation application caching](53433c1920be6010ae82e8ebac24552c9a1e0336).

@andreiburdusa investigated the remaining performance issues, and it seems like we'r

[2021-10-18 21:10] #2828 closed

[2021-10-19 09:10] ana-pantilie opened #2886 "KEVM regression test has slowed down"
- [ ] See if `test/regression-evm/test-sumTo10.sh` is still giving the low productivity warning
- [ ] If above is true, profile and see if anything stands out; report findings

[2021-10-19 18:43] SchmErik commented on #2878
I added this test case to the k repo with the `--depth 0` option to get it to complete. Once this regression is resolved in the haskell backend, we should remove this option from the test. I made this change in this pull request here: https://github.com/kframework/k/pull/2279 Once this is resolved, let's merge this PR so that we can create a regression test for this.

[2021-10-20 14:25] ana-pantilie commented on #2489
David asks how much memory the DB will need to store.

[2021-10-21 14:16] ana-pantilie opened #2889 "Remove support for old encoding of equations"

[2021-10-25 12:43] dopamane opened #2892 "Improve return type of `evalPredicate` and `evalConditional`"
Currently in `Kore.Rewrite.SMT.Evaluator` both `evalPredicate` and `evalConditional` return `m (Maybe Bool)` where `m` is an instance of `MonadSimplify`. `Maybe Bool` should be a more descriptive type to avoid type blindness and improve code readability.

The `Maybe` is introduced by `decidePredicate` which runs `query` which runs the `Translator` monad transformer with `evalTranslator`. The `Tran

[2021-10-27 10:10] #2889 closed, assigned to ana-pantilie

[2021-10-29 18:25] dwightguth commented on #2879
A better question might be, why isn't the contents of the `<output>` cell in disjunction.kore being represented as an internal list? it's a fully concrete list, so I see no reason why it shouldn't be represented by whatever your internal type is.

[2021-10-29 20:55] virgil-serbanuta opened #2898 "Unevaluated predicate (#Ceil and #Equals)"
kprove produces this weird configuration, in which `#Ceil(_0)` and `_0 #Equals _0` are not evaluated, although both should be easily evaluated to `#Top`:
[code]

[bug.tar.gz](https://github.com/kframework/kore/files/7444850/bug.tar.gz)

Instructions for reproducing this issue:

I'm using this backend:
[code]

This is the semantics (tmp.k):

[code]

and this is the claim (proof-tmp.k):
[code]

The

[2021-11-01 10:41] ana-pantilie opened #2901 "Messy parsing from Validated patterns to Internal ones"
There are multiple places in the code where we parse syntactically validated Kore patterns into the more structured internal types we use during execution.

One example would be `Kore.Equation.Sentence.matchEquation`: notice that the transformation is, as expected, partial, so we deal with that using `Either` and a separate type for signalling the cause of the error.

For other types, this parsing

[2021-11-01 10:45] ana-pantilie commented on #2901
I believe this includes removing `Kore.Internal.Predicate.wrapPredicate`.

[2021-11-02 16:11] ana-pantilie opened #2902 "kore-repl: in the graph visualiser add no. of nodes on dotted edges"

[2021-11-02 16:54] ana-pantilie opened #2903 "kore-repl: if piped commands fail do not crash kore-repl"

[2021-11-03 12:30] ana-pantilie opened #2906 "Replace TermLike.mk..., Validated.mk..., Predicate.make... with From functions"
`Kore.Internal.From` contains generalized versions of the smart constructors for our pattern types. Now that we have three separate types for representing kore patterns, we can reduce duplication by using these generalized constructors instead of the `Validated.mk...`, `TermLike.mk...` and `Predicate.make...` functions we currently use. Also, `Internal.From` is currently incomplete, so naturally,

[2021-11-03 13:18] ana-pantilie commented on #2906
This needs some thinking about _if_ and _how_ we can generalize the sort type: `Predicate`s have `()` as their sort type, while `Validated.Pattern` and `TermLike` have `Sort`.

Connectives like `\\and`, `\\or` etc. should get the sort from the children, and check that the children's sorts are equal.

There's also the question of `\\equals` and other predicate-making connectives: while in `Predicat

[2021-11-03 14:14] ana-pantilie opened #2907 "Try to reproduce issue with looping unit tests"
When running `make test` inside `kore/kore` sometimes the unit tests take a very long time, it looks like they're looping. We should try to reproduce this locally and think about how we can debug this behavior.

[2021-11-03 23:44] dopamane commented on #2474
I see that `Kore.Step.Simplification` has become `Kore.Simplify`, but what happened to `Kore.Step.Function`?

[2021-11-04 08:43] ana-pantilie commented on #2474
@dopamane As I said above, the description is out of date. I don't think we need to keep any existentially quantified type for evaluators, I mean, the function for applying equations is always the same. We should be able to just switch to keeping equations in that map instead.

To detail this a bit more: right now what happens is that, for each equation, we construct an evaluator and keep that eva

[2021-11-04 09:02] andreiburdusa commented on #2489
The only time I did some database interaction, when I was learning from [HPFP](https://lorepub.com/product/haskellbook), I also used SQLite. Since it's also what we currently use I feel like this is the default option. And since I don't have experience I don't see reasons why we should switch to something else :)

[2021-11-04 13:19] virgil-serbanuta commented on #2474
If anyone knows or figures it out - I would be interested to know why a case statement would be faster than a map (I can think of several possible reasons, not sure if any of them is actually true).

[2021-11-04 15:10] #2865 closed

[2021-11-05 15:32] ana-pantilie commented on #2875
@dopamane believes this is indeed a bug, and I agree.

I would expect the rewrite rule to apply, and then, when checking the implication, the `A` and `?B` should unify. It's trivial to show that `A <=Int A`. This requires investigation.

[2021-11-05 15:51] virgil-serbanuta commented on #2875
FWIW, `Map[KItem]` is `function`, but not `functional`, so any term containing it is not sent to the SMT.

[2021-11-08 07:16] emarzion commented on #2489
On the issue of scripting, I agree that just in terms of flexibility it makes most sense to deliver the atomic commands as executables and let the users deal with scripting themselves.  And if there was any appetite for a korescript there would still be the option to implement that later without too much effort.

On the issue of databases, what features of the existing and/or anticipated code woul

[2021-11-08 09:49] ana-pantilie commented on #2489
@emarzion We already have some code which seems tied to using SQLite, but I am not certain that it isn't flexible enough to allow using another database if needed. I have https://github.com/kframework/kore/issues/2866 open for determining exactly that, among other things that will be necessary.

[2021-11-08 10:39] ana-pantilie commented on #2489
I just found the package we currently use for the SQL interaction: https://hackage.haskell.org/package/sqlite-simple-0.4.18.0/docs/Database-SQLite-Simple.html

[2021-11-08 13:37] ana-pantilie commented on #2489
We need to think about and discuss more details regarding the `kore` commands and how they interact. In the following I'm assuming we will use SQLite since this is what our current SQL interaction layer uses.

### `kore start`
I believe we first need a command which creates a new DB, let's say `kore start <args...>`. This will be the DB used by all the other commands, it will act as the memory use

[2021-11-08 13:42] ana-pantilie commented on #2489
I almost forgot: these commands sound like the bare-minimum to me. `kore-repl` has more functionality which we should try to port over to this new design. An example would be removing nodes from the execution graph. Of course, we will add all these features afterwards.

[2021-11-08 15:43] dopamane commented on #2489
Questions:
What happens if the user sends two commands simultaneously?
How to handle Z3? Reinit? Restart?
Investigate current kore-repl execution graph memory usage.
CLI libraries to handle sub-commands?

[2021-11-08 18:04] dopamane commented on #2822
@ana-pantilie @andreiburdusa Unable to reproduce when running `kompile --backend haskell test.k --main-module ITEMS`, error message:
[code]
[code]

[2021-11-09 07:53] ana-pantilie commented on #2822
That parse error is weird, it appears like there's something wrong with `domains.k`. Do you get the same error when kompiling other semantics?

[2021-11-09 12:41] andreiburdusa commented on #2822
I got the same error as David. But I'm able to `kompile` other definitions like [lesson-06-a.k](https://github.com/kframework/k/tree/master/k-distribution/k-tutorial/1_basic/06_ints_and_bools#booleans-in-k)
[code]
[code]

[2021-11-09 15:25] andreiburdusa commented on #2879
@virgil-serbanuta I see you did some work on this, three years ago. By any chance, do you remember how it should work? Should the lists be represented as `InternalList_` at that point? Can you help us answer Dwight's question?

[2021-11-09 18:14] virgil-serbanuta commented on #2879
I don't fully understand the problem, and it would take me a while to figure out all the missing details. Should we try a video conference on Hangouts or Slack tomorrow? I'll send you more details over Slack.

[2021-11-10 08:24] dopamane commented on #2489
I think we should break `kore start` and `kore init` into smaller/more primitive commands like `kore db create`, `kore db populate`, `kore smt start`, `kore smt reinit` etc. We should try to provide a clearly defined and bare-minimum set of primitive instructions and avoid exposing more complex instructions (doing multiple things) because that should be implemented at the script level. Once we hav

[2021-11-10 09:58] ana-pantilie commented on #2878
I'm going to record my progress on the issue here in order to provide a clear report of my progress but also to document the debugging process for other members of the Haskell backend team.

1. I managed to reproduce both the looping behavior and the `--depth 0` behavior on the current kore master.
2. I ran `kprovex` with `--debugger` to start the `kore-repl`. I observed that taking one single ste

[2021-11-10 11:30] dopamane commented on #2489
Also, restarting Z3 should happen automatically anytime it crashes, I do not think we should have a command for restart. If the user wants to restart, they should run `kore smt stop ; kore smt start`. However, I do think reinit should be a command (or part of a larger smt config command) so the reinit interval can be changed by the user as needed.

[2021-11-10 11:48] vasil-sd opened #2913 "Unification did not find a solution for the variables"
[code]

Commands to reproduce:
`kompile --backend haskell err1.k`
`krun -cPGM='either repeat or stop'`

Console log:
[code]

[2021-11-10 15:23] dopamane commented on #2489
How to identify database?  `kore start` outputs a DB name, what is the best way to save it in the environment for subsequent commands?

[2021-11-10 16:53] virgil-serbanuta commented on #2879
Summary of the meeting:
1. It's not 100% clear (at least to me) whether one should do matching or unification. They would work mostly the same, with differences for terms that are not fully constructor-based (including maps and sets). We assumed that unification is the right answer, since this should probably work the same way as the normal Haskell backend search, which probably uses unification.

[2021-11-11 11:03] virgil-serbanuta opened #2914 "A or B can be something else other than true or false"
To reproduce: [tmp.tar.gz](https://github.com/kframework/kore/files/7519862/tmp.tar.gz)

tmp.k:
[code]

proof-tmp.k:
[code]

command line:
[code]

Relevant part of the output:
[code]

Info for myself: The original proof is `protocol-correctness/proof/malicious-user/can-be-deleted/run-external-call-from-user/proof-recfu-discard-action-void.k` at commit `96e3cd486c33bfbc3473664d7a5533614524ff76`.

[2021-11-16 06:53] emarzion commented on #2898
Bug: `#Ceil(_0)` and `_0 #Equals _0` should be evaluating to `#Top`.

[2021-11-17 13:15] ana-pantilie commented on #2875
Sorry @virgil-serbanuta , I just saw your comment. So, you think this behavior isn't a bug?

[2021-11-17 13:25] ana-pantilie opened #2916 "Very slow execution of concrete program with simple semantics"
@dlucanu noticed that the [sum](https://github.com/kframework/kore/blob/master/test/imp/sum.imp) program from the [imp](https://github.com/kframework/kore/blob/master/test/imp/imp.k) semantics takes a much longer time to execute than expected.

To reproduce:
[code]

Comparing to the llvm backend:
[code]

Mr. Lucanu noticed that the time increases exponentially with the size of `n`. This does not h

[2021-11-17 13:50] andreiburdusa commented on #2822
Not sure if this is helpful, but I was able to reproduce the issue by removing `imports INT` and then I found a simpler example which I think shows the same behavior.

`test.k`:
[code]
How to run:
[code]

[2021-11-17 14:51] ana-pantilie commented on #2822
@andreiburdusa could you explain what you think should happen every execution step for your minimized example?

[2021-11-17 15:07] ana-pantilie commented on #2829
@emarzion https://github.com/kframework/kore/wiki/Debugging#function-evaluation

[2021-11-17 15:33] ana-pantilie commented on #2848
Test first what happens with `--breadth-limit`.

[2021-11-17 15:35] ana-pantilie commented on #2916
@dopamane suggests looking if there's any memory increase as well.

[2021-11-17 16:13] dopamane opened #2918 "Investigate Haskell benchmark libraries"
We should investigate using Haskell benchmark libraries to analyze performance. Currently we gather performance statistics by running integration tests. A benchmark library like [criterion](https://hackage.haskell.org/package/criterion), [gauge](https://hackage.haskell.org/package/gauge), [tasty-bench](https://hackage.haskell.org/package/tasty-bench), etc. would let us monitor the performance of s

[2021-11-18 01:24] virgil-serbanuta commented on #2875
Hm, I am sorry, it seems that I misread the original bug report. To be more precise, it seemed to me very similar to something I encountered, so I misread `M [ ?B:Int ]` instead of `M [ $x <- ?B:Int ]`. My previous comment was invalid, since `Map[KItem <- KItem]` is functional.

Even if it would have been valid, my comment was meant to provide a shortcut for understanding the issue, I didn't mean

[2021-11-18 09:43] ana-pantilie commented on #2918
According to this year's [Haskell survey](https://taylor.fausak.me/2021/11/16/haskell-survey-results/), Criterion is most widely used.

I haven't used benchmarking libraries before, so right now it's not clear to me even what Criterion _does_. I'll keep reading, though, and let's add any insight we have to the issue.

[2021-11-18 10:32] andreiburdusa commented on #2879
If [unificationProcedure](https://github.com/kframework/kore/blob/33c83f95f16b12170d6248d2c1525d02fa9fa031/kore/src/Kore/Rewrite/Search.hs#L134) is replaced with [matchIncremental](https://github.com/kframework/kore/blob/33c83f95f16b12170d6248d2c1525d02fa9fa031/kore/src/Kore/Rewrite/Axiom/Matcher.hs#L195) the result becomes
[code]

[2021-11-18 10:39] andreiburdusa commented on #2822
If we don't have reasoning over all the available constructors I don't see why the rule should be tried. My impression is that the current behavior is correct.

[2021-11-18 10:56] ana-pantilie commented on #2918
I found [Criterion's tutorial](http://www.serpentine.com/criterion/tutorial.html), which has been pretty useful for getting a broad understanding of what it does, and with this a realization about the actual _purpose_ of benchmarking our project.

It seems to me like the traditional usage of benchmarking is for comparing different solutions to the same problem. So, for this to make sense to our pr

[2021-11-18 11:13] virgil-serbanuta commented on #2822
I hope that what I remember is correct (though, most likely, the HB team can easily check whether most of the things below are true):

The Haskell backend does not try to continue running after the RHS of the claim unifies with the current configuration, even when it's a "partial" unification (i.e. a configuration variable becomes more concrete) like this one.

I think that I argued with Tom that

[2021-11-18 11:51] ana-pantilie commented on #2822
Thank you @virgil-serbanuta , I think you're correct. I will also point out the code which does this detection: https://github.com/kframework/kore/blob/33c83f95f16b12170d6248d2c1525d02fa9fa031/kore/src/Kore/Reachability/Claim.hs#L591. That is the case I believe is getting triggered with, at least, @andreiburdusa 's example.

Your proposal is very interesting! Let's think about it, because I agree

[2021-11-18 13:52] ana-pantilie commented on #2875
Thank you @virgil-serbanuta ! You're definitely not wasting my time, your insight is very helpful! I think the current team's knowledge of what and how we send to the SMT is a bit shaky at the moment, and this gives us a path to follow for investigating this issue.

[2021-11-18 15:22] ana-pantilie commented on #2822
@andreiburdusa https://github.com/kframework/kore/blob/master/docs/2020-06-17-Checking-Implication.md

[2021-11-19 09:59] virgil-serbanuta opened #2921 "Predicate simplification loop limit"
Sorry I didn't extract a simpler example, but I'm working from my Mac and my current setup is somewhat broken, so I can't do that in a reasonable way (e.g. kprint does not work, but that's not the only issue). I'll try to do that in a future comment.

FWIW, I'm currently working on this proof, so it's not supposed to pass.

Bug report: [predicate-loop.tar.gz](https://github.com/kframework/kore/fil

[2021-11-19 10:42] ana-pantilie commented on #2921
Thanks Virgil, this is interesting. We'll need to see if removing the limit induces looping behavior, maybe it's just the case that it eventually gets fully simplified after more iterations. If it's looping, then we can study this example to get a better idea of what exactly is looping inside the simplifier.

[2021-11-19 13:39] #2878 closed

[2021-11-22 13:06] ana-pantilie commented on #2829
Update:

The `owise` equation doesn't apply because the `SideCondition` never contains the required predicate, `X =/=K Y`. It looks like this is happening because the `MultiAnd Predicate` sent to `simplifyPredicates` (which simplifies each predicate using the others as side conditions) isn't normalized correctly.
More exactly, instead of having the `... f(X, Y) ...` predicate and the `X =/=K Y` pr

[2021-11-22 14:22] virgil-serbanuta commented on #2829
FWIW, I'm not sure if it's the same thing, but I think that one of my proof also contains `(true #And #Top)` as a single term of the main `#And` (or something like that it could have been `(true andBool #Top)`, I didn't try yet to figure out the details).

[2021-11-22 14:52] ana-pantilie commented on #2829
Unless you're observing that through adding traces to `Kore.Simplify.Condition.simplifyPredicates` I don't think it's the same thing. The splitting up of conjunctions into, basically, collections of predicates is something internal to the simplifier.

Anyway, I'm still confused about the seemingly unnormalized `MultiAnd Predicate`, but it looks like the issue is something else.

BTW, I'm adding th

[2021-11-23 13:35] andreiburdusa commented on #2879
I looked at the matchPattern, the first item of disjunctionPattern and the first item of the result and tried to understand what the result means in terms of K cells from the input patterns using pencil and paper. All the `\equals` s seem to equate variables to the coorect terms.

[2021-11-23 13:38] ana-pantilie opened #2923 "Discussion: overhaul the simplifier"
# NOTE: This issue description is a draft, WIP

## Introduction

Right now, the simplifier has reached a point where the old design clashes with newer features and it also no longer reflects the practical needs of the simplification expected to be done by the Haskell backend. Basically, the old design is too general and has acquired a lot of technical debt along the years.

What I mean by too gene

[2021-11-23 16:09] ehildenb commented on #2923
Some ideas about the simplifier:

- Many small and simple passes which only do one thing (eg. "push `#Or` down" or "pull `#And` up")
- Call many of these passes in a specific sequence to achieve a larger goal.
- Take advantage of any term/problem structure you reasonably can (don't try to make general-case simplifiers).
- Bottom up traversals are more general, but often less efficient for many sim

[2021-11-23 19:21] virgil-serbanuta commented on #2923
I'm not up to date with the current Haskell backend architecture, but one interesting issue is that, in order to simplify terms, one needs to simplify predicates, and, in order to simplify predicates, one needs to simplify terms. That leads to natural ways of looping, e.g. if one does
[code]
which is, I think, valid mathematically, one will get a loop. I'm not sure if the backend should be concern

[2021-11-24 09:51] andreiburdusa commented on #2879
I inspected all the four terms from the result and they seem correct. @dwightguth Can you also check if the result is what you expected?

[2021-11-24 10:08] ana-pantilie commented on #2923
Thanks @virgil-serbanuta, you're right about the function application loop, which I had forgotten about. The term simplifier, when encountering applications, will attempt to apply equations, and that procedure has to call the condition simplifier when checking requirements (concretely, [this is the current implementation](https://github.com/kframework/kore/blob/54dba7b204800b40b240742bd92cab5a6ae2

[2021-11-24 11:14] ana-pantilie commented on #2923
How are simplifiers implemented for other automatic provers? I know the underlying logic will be different, but there must be common problems with well-researched algorithmic solutions.

I am only slightly familiar with Maude, but I remember it has conditional equations which are probably pretty similar to the ones in K, maybe they have some literature on the algorithm used to apply them.

[2021-11-24 13:34] ana-pantilie commented on #2829
Aha! I found the culprit 😄. It's the check here: https://github.com/kframework/kore/blob/f5bed2d571628241f68c37e22d0bacb15094b6ee/kore/src/Kore/Simplify/Application.hs#L129

For some reason, the simplifier has marked the function as simplified for the `SideCondition` which contains the necessary information, so we don't actually attempt to evaluate with it. The question now is, why did it do that?

[2021-11-24 15:51] ehildenb commented on #2923
I do not think that looping is inevitable. We can do a loop like:

[code]

instead. And then build `callTermSimplifier()` and `callPredicateSimplifier()` so that they can do their own independent work without calling each other. We should _really_ avoid having simplifier call each other. For example, if the `#And` simplifier needs the `#Not` simplifier, then we should just call the `#Not` simplifi

[2021-11-24 17:04] ana-pantilie commented on #2923
I think that will avoid the loop but it won't avoid the dependency `term simplifier -> predicate simplifier`. Basically, to evaluate terms, you must evaluate predicates. Virgil's example illustrates this: the term simplifier must evaluate `f(X)` by attempting to apply one of its function definition rules. In order to check if it can apply a rule, it must call the predicate simplifier to evaluate t

[2021-11-24 17:10] ana-pantilie commented on #2923
I'm getting tired, that won't avoid the loop because of the first dependency 🤦 , the second needs to be "packed together" in order for the first to do actual work. So, yeah, I'm pretty sure the looping is inevitable here. I'll have to revisit this discussion tomorrow after some rest.

[2021-11-24 18:29] virgil-serbanuta opened #2926 "Claim not applied"
At step 2, claim 1 is not applied. I think that it should be applied, and small changes to seemingly unrelated things in the claim or the starting configuration make things work. However, I didn't manage to minimize it enough to actually understand what happens.

* The proof should not pass
* The only expected thing is that, at the second step, claim c1 is applied, perhaps together with normal rul

[2021-11-24 22:05] Bodigrim commented on #2918
As an author of `tasty-bench` I'm obviously biased, but I think it is better suited for performance regression tracking than `criterion` / `gauge`. You can save baseline measurements with `--csv`, and then feed them back with `--fail-if-slower` key, allowing `tasty-bench` to highlight benchmarks which became slower than baseline. No need to compare reports manually. More details: https://github.co

[2021-11-25 09:39] ana-pantilie commented on #2918
Thanks for the suggestion @Bodigrim ! That does sound more in line with what we're looking for, so we'll definitely take a look. 😄

[2021-11-25 12:22] ana-pantilie commented on #2926
Could you provide the K claim and the configuration you expect it to apply to?

[2021-11-25 15:42] virgil-serbanuta commented on #2926
I think these are the ones I used in the example above, but I'm not 100% sure (too many commits on my debugging branch):

Config:
[code]

Claim:
[code]

[2021-11-27 14:35] ehildenb commented on #2923
I think we should write down these ideas more algorithmically, because it's hard to understand what's going on for me. I think I'm understanding the issue with the term simplifier needing to call the predicate simplifier.

Here's my attempt at a psuedo-code algorithm for "simplifying the constrained term after a rewrite step":

[code]

Can we have the actual algorithm (as it's implemented in the c

[2021-11-29 22:07] virgil-serbanuta commented on #2923
I think that none of the approaches listed above would really avoid loops, though one could probably stop after a number of iterations or something (which just moves the problem somewhere else; arguably, that somewhere else is easier to debug).

I'll just mention an idea that is not that practical, but it's too interesting to not say anything about it. Also, maybe it's more practical than it seems

[2021-11-30 16:30] dwightguth commented on #2879
Looks fine to me.

[2021-12-01 13:51] dopamane opened #2927 "Print substitution for final implication"
@ehildenb [on Slack](https://runtimeverification.slack.com/archives/CC360GUTG/p1638179874206300) asks:

Is it possible to have the haskell backend print out the substitution for the final implication check? That is, if you have:

[code]

And we've reached a state `FINAL_STATE` such that `RHS` matches `FINAL_STATE`, and the `REQ` and `ENS` clauses hold, I'd like to know the substitution that `RHS`

[2021-12-01 21:41] ehildenb opened #2928 "Haskell backend loops on simple proof"
Given K version (v5.2.21 with only updates to pyk library, should not affect this bug) and kore-exec version:

[code]

we have an infinite loop (or seemingly), and it uses a lot of memory (OOMs my 96GB machine) on this specification:

[code]

I've looked at equation debug logs and such, and can't seem to find that it's applying equations in an infinite loop. Rather, it seems to get stuck in evalua

[2021-12-01 21:54] ehildenb commented on #2923
Well, we don't need to prove that the whole algorithm is complete or anything, we just need to improve the situation from "sometimes it loops" to "it doesn't loop on reasonable inputs". I think it's also pretty reasonable to require that it _never_ loops unless a user puts in looping K rules, and even that case should be detectable (though not without performance overhead).

In my algorithm above,

[2021-12-02 00:10] dopamane commented on #2928
Reproducible. At first I thought this might be due to f5bed2d571628241f68c37e22d0bacb15094b6ee from the broken pipe error log but the behavior is the same when reverted.

Changing `--log-level` to `debug`, it seems to get stuck after applying an equation:

<details>
<summary> Partial debug output (last attempt and application)
</summary>
<p>

[code]

</p>
</details>

[2021-12-02 00:52] ehildenb commented on #2928
Note we get the same behavior even if I remove the `==Int` lemmas present here (though those should be needed for this to work).

[2021-12-02 02:07] dopamane opened #2929 "Investigate output file handling"
@ehildenb asks [on slack](https://runtimeverification.slack.com/archives/CC360GUTG/p1638391345213700):

Hey guys! So I'm trying to debug what I think is an infinite loop in my K rules on a definition. To do this, I've stepped in the kore-repl to the point where I think this loop is happening, then turned on Equation logging:
[code]
But the file `equations.log` was not being filled after I then did

[2021-12-02 02:17] ehildenb commented on #2929
This can be reproduced by using this bug example: https://github.com/kframework/kore/issues/2928

And turning on the logging before taking the first step. Then wait a few minutes (log file does not populate), then Ctrl+C, then it will populate all at once. It would be nice to see incremental output, or at least have a way to turn it on.

[2021-12-02 06:34] ana-pantilie opened #2930 "Allow simplification rules in spec file"
See https://github.com/kframework/k/issues/2287#issuecomment-965113610

[2021-12-02 13:23] radumereuta commented on #2930
Thank you for looking into this.
I'm expecting the transition to kprovex to be a lot less painful if we can support this feature.
I've added a test that should pass once the backend can handle simplification rules in the `spec.kore` file.
Another thing that I have to check after that is if I'm applying the correct kompile steps for those rules, but that is a front-end issue, and I need support fro

[2021-12-02 13:32] ana-pantilie commented on #2829
@virgil-serbanuta Is this issue blocking you?

[2021-12-02 14:11] ana-pantilie opened #2932 "Update project LTS"

[2021-12-02 15:08] ehildenb opened #2933 "Allow users to specify `non-executable` on rule/simplification rules"
We need a way to feed lemmas to only the smt-solver, but _not_ use them as K reductions. To achieve this, I'd like to write:

[code]

This just means that the rule should not be considered for rewriting (whether it's a simplification rule or not).

This needs to also interact correctly with `no-evaluators`, that is when you put `no-evaluators` on a symbol it should only have `non-executable` rules

[2021-12-02 15:08] ehildenb commented on #2933
This is in support of smt-encoding exponentiation properly: https://github.com/kframework/k/issues/2308

[2021-12-02 15:09] ana-pantilie commented on #2921
@dopamane tried to reproduce this but failed, @andreiburdusa could you take a look as well?

[2021-12-02 15:32] virgil-serbanuta commented on #2829
TL/DR:

It's not blocking in the sense that I can still work on my Multisig project. However, I won't be able to finish them without this issue being fixed or without a workaround.

Longer answer:

I have 8 proofs that seem to be affected by this issue (I'm not 100% sure that #2829 applies to all of them; it certainly seems so, but it's hard to be sure). I have a workaround for 6 of them: I forced

[2021-12-02 16:19] ehildenb opened #2934 "Rule unification should fail fast"
Currently, the algorithm for deciding which semantic rules apply to a given term looks something like:

[code]

This is _slow_ because we are checking every rule in every priority bucket for full unification, and unification is inherently slow.

We can add a new more specific check in front that allows unification to fail much faster:

[code]

Notice we inject the call to `someFasterCheck`, which

[2021-12-02 16:34] ana-pantilie commented on #2829
https://github.com/kframework/kore/pull/2925 this branch contains the fix for this. Unfortunately it comes with a big performance regression on some tests. If the regression doesn't affect you, then I'd suggest working on this branch for the time being. If the slowdown affects you, let me know and we'll re-prioritize it.

[2021-12-03 09:00] virgil-serbanuta commented on #2923
@ehildenb I sort of agree with what you're saying, but I'm not sure about this:

The RHS of a function rule can be fairly complex, and can include ML connectives (i.e. it's not a pure term + predicate thing). E.g. you can currently define `rule f(X:Int) => (0 #And {X #Equals 0}) #Or (1 #And #Not({X #Equals 0}))`. This kind of thing is currently used for `#Ceil` rules, but I have been experimenting

[2021-12-03 09:08] virgil-serbanuta commented on #2923
@ana-pantilie Should things like `rule f(X:Int) => (0 #And {X #Equals 0}) #Or (1 #And #Not({X #Equals 0}))` still work in the new simplifier?

[2021-12-03 11:23] ana-pantilie commented on #2923
@virgil-serbanuta Thanks for pointing that out. I spent a bit investigating how we parse these kinds of equations, and indeed the RHS is parsed as an internal term structure. Since the internal term structure (the `TermLike` type) is very general right now, any kinds of ML terms can go there. I would be, however, a bit surprised if this works right now for any term because the current `TermLike` s

[2021-12-03 11:46] virgil-serbanuta commented on #2923
I'm not 100% sure what you meant, but this works with the Haskell backend at commit f5bed2d571628241f68c37e22d0bacb15094b6ee (Nov 24, I think)

tmp.k
[code]

proof-tmp.k
[code]

bash
[code]

[2021-12-03 12:10] ana-pantilie commented on #2923
That rule doesn't look like a correct function definition to me, I don't think we want to support this. Maybe we can continue to support this style of equations in simplification rules.

Anyway, it's very surprising to me that this works right now. What I mean is that `0 #And {X #Equals 0}) #Or (1 #And #Not({X #Equals 0})` is not a predicate, but it contains predicates (those `#Equals` inside the

[2021-12-03 13:04] virgil-serbanuta commented on #2923
That kind of rule is only useful when doing proofs so, indeed, it makes more sense as a simplification rule.

[2021-12-03 14:20] david-k opened #2936 "[Bug] [kprovex] - Lemma not applied to term if term contains function with side-condition"
K Version
---------

[code]

Description
-----------

If a term matches the LHS of a lemma, but the term contains a partial function that rewrites to some concrete function, then the lemma is not applied, even if the partial function is actually defined for the given arguments. This problem occurs when using the Haskell backend but not when using the Java backend.

Input Files
-----------

I found

[2021-12-03 19:07] ehildenb commented on #2923
On first glance, that rule does look malformed to me, even for a simplification rule. The LHS is exactly single-valued, and the RHS is exactly dual-valued on the term `f(Y:Int)`. But then I see that the extra `_#And_` of each part of the disjunct restricts us to be single-valued on the RHS in all cases. So I'm not sure, but I guess I would say that this particular rule should instead be expressed

[2021-12-03 19:13] ehildenb commented on #2923
An example of how extreme we could make this. The first cut of the new simplifier could just gather up all the function symbols that only have _unconditional_ rules, and apply those until completion using some efficient traversal over the current pattern. Then we call the old simplifier, but perhaps tell it not to consider those function symbols for evaluation anymore? This is just an idea.

The p

[2021-12-03 21:13] virgil-serbanuta commented on #2923
@ehildenb I'm attempting to use rules like that because `Map` handling in K and the Haskell backend is far form optimal.

To be more specific with one of the issues (certainly not the only one):
* rewrite rules can't access term structure (e.g. can't differentiate between a map variable `M:Map` and a concatenation `K |->V N:Map`).
* Equations can't introduce new variables and can split the configu

[2021-12-04 00:54] ehildenb commented on #2923
Please post specific examples of what you need @virgil-serbanuta , so that I can either suggest work-arounds/more idiomatic K, or can understand better the issue. I get the generic problem you stated above about lacking unification algorithms, but we've been able to work around that pretty successfully in KEVM using what I call an "abstract-pre concrete-post" storage model, combined with wrapper f

[2021-12-06 11:10] #2879 closed

[2021-12-06 23:39] dopamane commented on #2929
I am not able to open a repl for bug example #2928. It runs, but no REPL terminal output; CPU and Mem usage is high.

Steps taken:
1. `wget` kore-exec.tar.gz from issue discussion
2. `tar -xvf kore-exec.tar.gz`
3. Run
[code]

[2021-12-07 12:14] ana-pantilie commented on #2923
# General overview of the current simplification algorithm
The current simplification algorithm is, generally, about evaluating functions, pushing disjunctions to the top to create branches and pruning any infeasible ones. This is a very simplified description, of course, and it's probably the way we could quickly describe the future algorithm as well.

## Internal datatypes
In order to give a mor

[2021-12-07 16:52] ana-pantilie commented on #2923
Experiments:
1. And simplifier: split between Unification and And normalization, make a list with places which use And simplification, do they actually want And normalizing or And unification? Is And unification
2. Function application simplifier (which just applies equations)
3. Investigate Ceil simplifier

Concretely:
1. add --simplifierx flag which switches on calling new simplifiers in particu

[2021-12-08 10:11] ana-pantilie commented on #2933
@ehildenb In order to avoid any issues with needing to encode this on function definition rules, I'd only implement this attribute for simplification rules. Does that sound fine to you?

[2021-12-08 11:01] andreiburdusa commented on #2921
I also failed reproducing the error. All I get is some `WarnFunctionWithoutEvaluators` warnings

[2021-12-08 11:04] ana-pantilie commented on #2921
I'm going to close this since we can't reproduce it.

[2021-12-08 11:04] #2921 closed

[2021-12-08 11:08] ana-pantilie commented on #2824
Blocked on https://github.com/kframework/kore/pull/2917

[2021-12-09 11:51] ana-pantilie opened #2939 "Add infrastructure for experimental simplifier"
See https://github.com/kframework/kore/pull/2937#pullrequestreview-826184827

[2021-12-10 11:39] #2930 closed

[2021-12-10 18:11] dwightguth opened #2942 "Reach performance parity of parser with LLVM backend"
Right now, when I run speedscope on the invocation of `kore-match-disjunction` generated by running `krun tests/free-variable-capture.lambda --search --pattern '<k> V:K </k>'` on the k frontend definition `k-distribution/pl-tutorial/1_k/3_lambda++/lesson_2`, it reports that 70% of execution time is spent in `loadDefinitions`. Of that time, 30% of the overall total is spent parsing the kore definit

[2021-12-10 18:17] dwightguth opened #2943 "Separate out the definition loading and definition verifying routines"
Right now, when I run speedscope on the invocation of `kore-match-disjunction` generated by running `krun tests/free-variable-capture.lambda --search --pattern '<k> V:K </k>'` on the k frontend definition `k-distribution/pl-tutorial/1_k/3_lambda++/lesson_2`, it reports that 70% of execution time is spent in `loadDefinitions`. Of that time, 40% of the overall total is spent loading and verifying th

[2021-12-10 22:37] virgil-serbanuta commented on #2923
@ana-pantilie

Sorry to ask only now: Could you list the goals of this overhauling? The original message lists seems to imply that the goal is to make the simplifier easier to understand and maintain. Is that the only goal? How about avoiding loops, or performance gains, or other things? Are those explicit goals, or they are things that might benefit from the redesign, without being actual goals?

[2021-12-12 16:10] #2903 closed

[2021-12-13 11:13] ana-pantilie commented on #2923
@virgil-serbanuta Everett and I have been discussing this, and I agree with his philosophy: correctness is first place with simplicity being a close second. The main difference is that the old algorithm was designed with completeness in mind, which we realized is not in line with our practical purposes.

I agree, a simpler design should have as a consequence less implicit looping, and it should be

[2021-12-14 15:39] #2932 closed

[2021-12-15 09:29] ana-pantilie commented on #2933
This check should be done in the frontend, together with checking that the rule also has the `simplification` attribute.

The backend will just filter out any equations with this attribute when it builds the function evaluators during initialization. I have to make sure, though, that this doesn't have as a consequence not sending it to Z3 either, so I have to investigate this first.

[2021-12-16 11:18] ana-pantilie commented on #2933
I actually thought about this a bit more, and I think it's actually safe to allow only `non-executable` on equations (without the `simplification` attribute). That could just be another indicator that the equation is "outside the semantics", and would probably less confusing to users than if they had to specify both `non-executable` and `simplification`. I think we'd only have to make sure that it

[2021-12-16 12:26] #2939 closed

[2021-12-17 08:46] ana-pantilie opened #2946 "Add identity `Pattern` simplifier"
We should add an identity `Pattern` simplifier (which doesn't do any actual simplification) attempt to replace the old `Pattern` simplifier with this new one in the code. By running the tests, we can identify any places which don't actually need to call the simplifier, or any places where we only need a small subset of the simplifier's cases implemented.

[2021-12-17 08:53] ana-pantilie opened #2947 "Implement new function evaluation algorithm"
We already know that the way we currently do function evaluation is very slow (see https://github.com/kframework/kore/issues/2474). We now have the opportunity to completely rewrite this algorithm without worrying about the old code, and we have a pretty good idea how to do it. Note that this doesn't mean rewriting the code in `Kore.Equation.Application`, I think that can be used as is.

The main

[2021-12-17 09:01] ana-pantilie opened #2948 "Rewrite `Condition.simplifyPredicates` in an efficient way"
`Condition.simplifyPredicates` is the procedure which simplifies each `Predicate` inside a conjunction with the others assumed true (in the `SideCondition`). This allows conditional function evaluation inside the `Condition` simplifier.

The current implementation uses a naive algorithm which makes it too slow. One way to solve this would be finding a way to do a topological sort of the conditions

[2021-12-17 10:10] #2902 closed

[2021-12-17 11:24] ana-pantilie opened #2950 "Investigate and fix issue with update regression test job"
See discussion in thread: https://runtimeverification.slack.com/archives/CC360GUTG/p1639343781305400

[2021-12-17 11:26] ana-pantilie commented on #2933
Blocked on https://github.com/kframework/k/issues/2388

[2022-01-12 13:10] #2950 closed

[2022-01-12 15:15] ana-pantilie commented on #2948
https://experts.illinois.edu/en/publications/generalized-rewrite-theories-coherence-completion-and-symbolic-me

Look for sorting side conditions.

[2022-01-12 15:42] ana-pantilie commented on #2947
@ehildenb An equation with a requires and an ensures clause is encoded in kore as `\\implies(requires, \\equals(lhsTerm, \\and(rhsTerm, ensures)). When applied, it will add the new condition (from the ensures) to the configuration. Do you think that this isn't sound?

Now that I think about it, we already evaluate functions in a certain order, so if a specific evaluation adds a new condition, then

[2022-01-12 15:47] ana-pantilie commented on #2947
I guess that finding a fast way to sort conditions would be useful here as well.

[2022-01-13 13:12] ana-pantilie opened #2954 "Integration test suite: separate kompilation from execution"
We should remove the `VERIFICATION` module where it's not needed. This means we need different ways of running tests: the specs which depend on such a module will be run as they are now (by re-kompiling the definition for each spec), and those which don't should just be run simply.

[2022-01-13 14:06] andreiburdusa opened #2955 "`make test-k-simplifierx` doesn't work for `parser` and `no-injection-into-hooked` tests"

[2022-01-13 15:56] ehildenb commented on #2947
Hmmm, I guess I'm just curious what exactly `equals(lhsTerm, and(rhsTerm, ensures))` means if `ensures` is `Bottom`. Does it mean that `lhsTerm` is undefined as well? I guess that is OK....

[2022-01-13 17:58] virgil-serbanuta commented on #2947
If
* the equation is encoded as `axiom \implies(REQUIRES, \equals(LEFT, \and(RIGHT, ENSURES)))`
* `ensures` is `\bottom`
* `requires` is `\top`
you get `axiom \equals(LHS, \bottom)`, right? And `\equals(LHS, \bottom)` is not bottom itself, it just needs the LHS to be bottom.

[2022-01-13 19:10] #2824 closed

[2022-01-19 16:10] #2955 closed

[2022-01-25 12:10] #2933 closed

[2022-01-25 15:36] ana-pantilie commented on #2947
@JKTKops The main idea is that this procedure should take a `TermLike`, a `SideCondition` and evaluate the function symbol applications inside it. This evaluation is done by attempting `Equation`s, see `Kore.Equation.Application`. Basically the procedure will traverse the `TermLike` and apply `Equations`. This can be the first part. The second part would be to write a big case statement which take

[2022-01-27 10:21] andreiburdusa commented on #2946
Replacing the [`Pattern` simplifier in `Kore.Rewrite.Function.Evaluator`](https://github.com/kframework/kore/blob/2c10cb2f9af9e73a34ecca324a19d4eee0ffe657/kore/src/Kore/Rewrite/Function/Evaluator.hs#L274) with the identity simplifier would break the following unit tests:
- [Merges substitutions with reevaluation ones](https://github.com/kframework/kore/blob/2c10cb2f9af9e73a34ecca324a19d4eee0ffe657

[2022-02-03 09:31] andreiburdusa commented on #2954
We decided we're going to proceed a different way:
Change the testing infrastructure such that
- `make build-test` kompiles everything needed for the tests
- `make test-k` runs the tests without kompiling anything
- `make test-k SIMPLIFIERX=true` runs the tests without kompiling anything, with the `--simplifierx` flag

[2022-02-03 23:23] dwightguth commented on #2942
I have started working on this; I have some code that compiles and makes use of a completely standard implementation via happy and alex. The test suite still does not build, which is my current focus. Once the test suite has been fixed and all the relevant unit tests pass, I plan to clean it up, measure its performance on a pathological real world kore definition, and, if the performance is suitab

[2022-02-03 23:24] dwightguth commented on #2942
FYI, here is another back-of-the-napkin performance measurement: the llvm backend can parse the kore definition for C in less than 2 seconds. It takes the haskell backend roughly 45 seconds.

[2022-02-07 09:39] #2954 closed

[2022-02-07 20:11] JKTKops commented on #2946
I have been investigating `2 * 1 = 2 : Nat`. I'm not sure where to go from here so I'll probably switch to `2! = 2` for the rest of the day. I have more detailed notes but here is the summary:

With the identity pattern simplifier, the simplification gets stuck at `S(0*1) = S(0)` (abbreviating `Succ` as `S`). This is an intermediate result. Notably, we get through almost the entire simplification;

[2022-02-08 10:00] ana-pantilie commented on #2946
@andreiburdusa @JKTKops

For each experiment, I want to see the following:

1. Remove the `Pattern` simplifier in some spot inside the code, first _without_ checking for the `simplifierx` flag.
2. Identify what the surrounding code does, i.e. is it the function evaluator, is it some ML connective simplifier, is it the condition simplifier etc. The more you understand this surrounding code, the bet

[2022-02-08 12:39] #2816 closed

[2022-02-09 12:55] andreiburdusa commented on #2946
Using the identity simplifier in [`simplifyPatternScatter`](https://github.com/kframework/kore/blob/2c10cb2f9af9e73a34ecca324a19d4eee0ffe657/kore/src/Kore/Simplify/Simplify.hs#L312):
- One place where `simplifyPatternScatter` is used is [`simplify opaques` in `AssociativeCommutative`](https://github.com/kframework/kore/blob/38083e7520a7773b0b6f028a4d05642b162ee17e/kore/src/Kore/Builtin/Associative

[2022-02-10 12:31] ana-pantilie opened #2969 "Optimize semantic rule application"
All semantic rules have to be unified with the configuration when rewriting. Since very few rules actually apply each step, @ehildenb suggests we attempt unification first on the `k` cell (and, in general, this heuristic could be provided by the user) and only if that succeeds we continue unification on the bigger problem.

We need to test this out, and measure performance to get an idea how helpf

[2022-02-10 15:36] ehildenb opened #2971 "Haskell Backend Roadmap - 2022"
-------------------------------------------------------------

## Uses

### Current Uses

- Frontend:
  - `kore-match-disjunctions`: This is to enable search on LLVM backend.

- Semantics:
  - KEVM: proof-suite that uses extensively.
  - KWasm: ""
  - KElrond: ""
  - MKR-MCD-SPEC: ""

- Products:
  - ERC20-tool: symbolically check LTL traces over ERC20 executions. Really more like Symbolic Testing

[2022-02-11 10:19] andreiburdusa commented on #2946
I redid the profiling, this time limiting it to 4 processes at the time (`-j4`) and building (`make build-provex`) in advance.
The script was set to ignore differences less than 3.5% and all proofs that run faster than 2s.
[code]

[2022-02-12 15:42] amelieled opened #2972 "The initial structure of the K files is broken during the translation with "kompile""
There are two main questions here:
 1. Is it possible to find the initial structure of the K files, using the attributes present in Kore?
 2. Do you plan to keep the initial structure of the K files into the generated Kore files, in the future?

[2022-02-12 15:42] amelieled opened #2973 "Computation of dependencies (related to the K prelude)"
I'm particularly interested to understand the K prelude (how it is structured, why its content is like that, how "kompile" calculates dependencies, etc).
The main question is: what is the criterion for a hooked symbol from the K prelude to be copied into the generated Kore file?

Here some examples of potential problems:
1. The symbol **andBool** is copied with its associated rewrite rules, which